<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.multi.ukids.hospital.model.mapper.HospitalMapper">
	
	<select id="selectMainHospitalList" resultType="Hospital" parameterType="map">
		SELECT
		no, hpid, hpAddr, divName, hpName, tel, erTel, er,
		time1c, time2c, time3c, time4c, time5c, time6c, time7c, time8c, 
		time1s, time2s, time3s, time4s, time5s, time6s, time7s, time8s,
		post1, post2, lon, lat 
		FROM HOSPITAL
		WHERE 1 = 1
		<if test="city != null">
			AND hpAddr LIKE '%${city}%'
		</if>
		<if test="town != null">
			AND hpAddr LIKE '%${town}%'
		</if>
		ORDER BY no DESC LIMIT 5
	</select>
	
	

	<select id="selectHospitalList" resultType="Hospital" parameterType="map">
		SELECT
		no, hpid, hpAddr, divName, hpName, tel, erTel, er,
		time1c, time2c, time3c, time4c, time5c, time6c, time7c, time8c, 
		time1s, time2s, time3s, time4s, time5s, time6s, time7s, time8s,
		post1, post2, lon, lat 
		FROM HOSPITAL
		WHERE 1 = 1
		<if test="searchValue != null">
			AND hpName LIKE '%${searchValue}%'
		</if>
		<if test="city != null">
			AND hpAddr LIKE '%${city}%'
		</if>
		<if test="town != null">
			AND hpAddr LIKE '%${town}%'
		</if>
		ORDER BY no DESC LIMIT ${limit} OFFSET ${offset}
	</select>
	
	<select id="selectNightCareList" resultType="NightCare" parameterType="map">
		SELECT
			no, hpAddr, divName, hpName, tel, post1, openDate
		FROM NightCare
		WHERE 1 = 1
		<if test="searchValue != null">
			AND hpName LIKE '%${searchValue}%'
		</if>
		<if test="city != null">
			AND hpAddr LIKE '%${city}%'
		</if>
		<if test="town != null">
			AND hpAddr LIKE '%${town}%'
		</if>
		ORDER BY no DESC LIMIT ${limit} OFFSET ${offset}
	</select>
	
	
	
	<select id="selectHospitalCount" resultType="int" parameterType="map">
		SELECT COUNT(no) FROM HOSPITAL
		WHERE 1 = 1
		<if test="searchValue != null">
			AND hpName LIKE '%${searchValue}%'
		</if>
		<if test="city != null">
			AND hpAddr LIKE '%${city}%'
		</if>
		<if test="town != null">
			AND hpAddr LIKE '%${town}%'
		</if>
	</select>
	
	<select id="selectNightCareCount" resultType="int" parameterType="map">
		SELECT COUNT(no) FROM NIGHTCARE
		WHERE 1 = 1
		<if test="searchValue != null">
			AND hpName LIKE '%${searchValue}%'
		</if>
		<if test="city != null">
			AND hpAddr LIKE '%${city}%'
		</if>
		<if test="town != null">
			AND hpAddr LIKE '%${town}%'
		</if>
	</select>
	
	
	
	<select id="selectHospitalByNo" resultType="Hospital" parameterType="int">
		SELECT
			no, hpid, hpAddr, divName, hpName, tel, erTel, er,
			time1c, time2c, time3c, time4c, time5c, time6c, time7c, time8c, 
			time1s, time2s, time3s, time4s, time5s, time6s, time7s, time8s,
			post1, post2, lon, lat 
		FROM HOSPITAL
		WHERE no = #{no}
	</select>
	
	<select id="selectNightCareByNo" resultType="NightCare" parameterType="int">
		SELECT
			no, hpAddr, divName, hpName, tel, post1, openDate
		FROM NIGHTCARE
		WHERE no = #{no}
	</select>
	
	
	
	<select id="selectNearHospitalList" resultType="Hospital" parameterType="map">
		SELECT
			no, hpid, hpAddr, divName, hpName, tel, erTel, er,
			time1c, time2c, time3c, time4c, time5c, time6c, time7c, time8c, 
			time1s, time2s, time3s, time4s, time5s, time6s, time7s, time8s,
			post1, post2, lon, lat 
		FROM HOSPITAL
		WHERE LEFT(post1, 3) = LEFT(#{post1}, 3) AND no != #{no}
		ORDER BY no DESC LIMIT 9
	</select>
	
	<select id="selectNearNightCareList" resultType="NightCare" parameterType="map">
		SELECT
			no, hpAddr, divName, hpName, tel, post1, openDate
		FROM NIGHTCARE
		WHERE LEFT(post1, 2) = LEFT(#{post1}, 2) AND no != #{no}
		ORDER BY no DESC LIMIT 3
	</select>
	

</mapper>