.pink {
    background-color: #FC6C93;
}

.text-pink {
    color: #FC6C93;
}

.btn-pink {
    color: #FFF;
    background-color: #FC6C93;
}

.btn-pink:hover {
    color: #FFF;
    background-color: #FF3B6F;
}

.btn-noline {
    color: #FC6C93;
    background-color: #FFF;
    border: 0px;
}

.btn-noline:hover {
    color: #FF3B6F;
}

#claim-main-title {
    width: 300px;
    font-size: 3rem;
    border-bottom: #FF87A4 solid 5px;
}

#character {
    margin-top: -300px;
    z-index: 10;
}

#character>img {
    margin-left: 900px;
    width: 360px;
    height: 360px;
}

.notice {
    background-color: #F0F0F0;
    border-radius: .5rem
}

.notice>img {
    width: 40px;
    height: 40px;
    margin: 20px;
}

.notice>span {
    color: black;
    height: auto;
    line-height: 80px;
    margin: 0px;
    padding: 0px;
}

#claim-write-title {
    border-left: #FF87A4 solid 10px;
}

.claim-input:focus {
    border: 0px;
    box-shadow: none;
}

#claim-content {
    background-color: #FFF;
}
.file {
	color: black;
}
.file:hover {
	color: #FC6C93;
}
