.bbtn {
    display: inline-block;
    font-weight: normal;
    line-height: 1.1;
    color: #4b566b;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.625rem 1rem;
    font-size: 0.9375rem;
    border-radius: 0.3125rem;
    transition: color .25s ease-in-out, background-color .25s ease-in-out, border-color .25s ease-in-out, box-shadow .2s ease-in-out;
}

.bbtn2 {
    display: inline-block;
    font-weight: normal;
    line-height: 1.5;
    color: #4b566b;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.625rem 1rem;
    font-size: 0.9375rem;
    border-radius: 0.3125rem;
    transition: color .25s ease-in-out, background-color .25s ease-in-out, border-color .25s ease-in-out, box-shadow .2s ease-in-out;
}

.bbtn2:hover {
    background-color: #FC6C93;
    color: white;
}

.bbtn:hover {
    background-color: #FC6C93;
    color: white;
}

.btn-outline-ppink {
    color: #FC6C93;
    border-color: #FC6C93;
}


.btn-primary {
    background-color: #FC6C93;
    color: white;
}

.btn2 {
    display: inline-block;
    font-weight: normal;
    line-height: 1.5;
    color: #4b566b;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.625rem 1.375rem;
    font-size: 0.9375rem;
    border-radius: 0.3125rem;
    transition: color .25s ease-in-out, background-color .25s ease-in-out, border-color .25s ease-in-out, box-shadow .2s ease-in-out;
}

.heijude{
    height: 300px;
}
