<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>유키즈 | 추천 도서</title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="Cartzilla - Bootstrap E-commerce Template">
    <meta name="keywords" content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
    <meta name="author" content="Createx Studio">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="img/ukids/logo.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="img/ukids/logo.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="img/ukids/logo.jpg">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="vendor/simplebar/dist/simplebar.min.css"/>
    <link rel="stylesheet" media="screen" href="vendor/tiny-slider/dist/tiny-slider.css"/>
    <link rel="stylesheet" media="screen" href="vendor/nouislider/dist/nouislider.min.css"/>
    <link rel="stylesheet" media="screen" href="vendor/drift-zoom/dist/drift-basic.min.css"/>
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="css/theme.min.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">

    <link rel="stylesheet" href="css/book.css">

    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="js/book-main.js"></script>

    <!-- 폰트 -->
    <style>
      @font-face {
        font-family: 'NanumSquareRound';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
        font-weight: normal;
        font-style: normal;
      }
  
      *{
        font-family: 'NanumSquareRound';
      }
    </style>

  </head>
  <!-- Body-->
  <body class="handheld-toolbar-enabled">

    <!-- 로그인 모달 관련  -->
   <div th:fragment="modal" th:replace="~{common :: modal}"></div>

    <main class="page-wrapper">

      <!-- 헤더!!!!!! -->
      <header th:fragment="header" th:replace="~{common :: header}"></header>
      
      <!-- Page Title (Shop Alt)-->
      <section class="position-relative bg-dark bg-size-cover bg-position-center-x py-5 mb-4" style="background-image: url(img/ukids/book/book-header.jpg); height: 300px;"><span class="position-absolute top-0 start-0 w-100 h-100 bg-darker" style="opacity: .65;"></span>
        <div class="container position-relative zindex-5 mb-3">
          <div class="order-lg-2 mb-3 mb-lg-0 pt-0 pb-4">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-light fw-bold fs-md flex-lg-nowrap justify-content-center justify-content-lg-end">
                <li class="breadcrumb-item"><a class="text-nowrap" th:href="@{/index}"><i class="ci-home"></i>유키즈</a></li>
                <li class="breadcrumb-item text-nowrap text-pink" aria-current="page">추천도서</li>
              </ol>
            </nav>
          </div>
          <div class="row justify-content-center pt-4 pb-4">
            <div class="col-lg-8">
              <h1 class="text-light text-center">추천 도서</h1>
              <p class="pb-3 text-light text-center">아이에게 다양한 이야기를 들려주세요.</p>
              
            </div>
          </div>
        </div>
      </section>
      <!--  검색 -->
      <div class="container pb-5 mb-2 mb-md-4">
        <form id="bookForm" th:action="@{/book}" method="get" onsubmit="return submitCheck();">
          <div class="d-flex justify-content-between align-items-center mb-3 ">
            <div style="width: 900px;">
              <div class="input-group">
              <div class="form-inline">
                  <select class="form-select" name="searchType" id="searchType" style="border-radius: 5px; width: 200px; display: inline;">
                   <!--  <option value=" " th:selected="${#strings.equals(param.searchType, ' ')}">전체</option> -->
                    <option value="bookname">제목</option>
                    <option value="authors">저자</option>
                  </select>
              </div>
               <!--  <div class="dropdown" data-bs-toggle="select">
                  <button class="btn btn-pink dropdown-toggle" type="button" data-bs-toggle="dropdown" id="filter-btn"><i class="ci-menu me-3"></i><span class="dropdown-toggle-label">필터</span></button>
                  <input type="hidden" name="searchType" id="searchType" value="none">
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item book-search-filter" name="searchType" value="bookname"><i class="ci-edit-alt fs-sm me-2"></i><span class="dropdown-item-label">제목</span></a></li>
                    <li><a class="dropdown-item book-search-filter" name="searchType" value="authors"><i class="ci-edit-alt fs-sm me-2"></i><span class="dropdown-item-label">저자</span></a></li>
                  </ul>
                </div> -->
                <input class="form-control" type="text" name="searchValue" th:value="${searchValue}" placeholder="도서 검색">
                <button class="btn btn-secondary" type="submit"><i class="ci-search text-pink fs-base fw-bold"></i></button>
              </div>
            </div>
            <div class="form-check" style="width: 100px; margin-left: 40px;">
              <input class="form-check-input" type="checkbox" id="age0" name="age" value="0">
              <label class="form-check-label" for="age0">유아</label>
            </div>
            <div class="form-check" style="width: 100px; margin-right: 100px;">
              <input class="form-check-input" type="checkbox" id="age6" name="age" value="6">
              <label class="form-check-label" for="age6">아동</label>
            </div>
          </div>
        </form>
        <!-- 검색 끝 -->
        
        <!-- Products grid-->
        <div class="row pt-3 mx-n2 mb-4">

         
          <th:block th:if="${count == 0}">
	        <div class="col-lg-12">
              <h3 class="text-center">검색 결과가 없습니다.</h3>
            </div>
	       </th:block>
            
         
          
          <!-- 도서-->
         <th:block th:if="${list != null}">
		     <th:block th:each="book : ${list}">
          <div class="col-lg-6 col-md-4 col-sm-6 px-2 mb-4" >
            <div class="card book-card">
              <div class="row">
                <div class="col-sm-4">
                  <img class="rounded-start book-img" th:src="${book.bookImageURL}">
                </div>
                <div class="col-sm-8">
                  <div class="card-body py-2 ps-0">
                    <div class="fs-xs text-info">[[${book.class_nm}]]</div>
                    <h5 class="card-title mb-1"><i class="ci-book fs-md me-1"></i>[[${book.bookname}]]</h5>
                    <p class="card-text fs-sm text-muted mb-1">'도깨비를 빨아 버린 우리 엄마'의 흥미진진한 이야기를 통해 아이들의 창의력, 상상력 뿐만 아니라 어휘력 향상에 도움을 줄 수 있습니다.</p>
                    <div class="d-flex fs-sm"><div class="book-info-title">저자</div><div>[[${book.authors}]]</div></div>
                    <div class="d-flex fs-sm"><div class="book-info-title">출판사</div><div>[[${book.publisher}]]</div></div>
                    <div class="d-flex fs-sm"><div class="book-info-title">출판년도</div><div>[[${book.publication_year}]]</div></div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="d-sm-none">
          </div>
            </th:block>
	  	</th:block>
          
        </div>
        <hr class="mb-3">
        <!-- Pagination-->
       <nav class="d-flex justify-content-between pt-2 mb-5" aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#" onclick="movePage(1);"><i class="ci-arrow-left me-2"></i>Prev</a></li>
        </ul>
        <ul class="pagination">
          <li class="page-item d-sm-none"><span class="page-link page-link-static">1 / 5</span></li>
          <th:block th:each="num, status : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
			<th:block th:if="${status.current == pageInfo.currentPage}">
	          <li class="page-item d-none d-sm-block page"><span class="page-link">[[${status.current}]]<span
                class="visually-hidden">(current)</span></span></li>
	        </th:block>
	      <th:block th:if="${status.current != pageInfo.currentPage}">
	          <li class="page-item d-none d-sm-block"><a class="page-link" href="#" th:onclick="|movePage(${status.current});|">[[${status.current}]]</a></li>
	      </th:block>
        </ul>
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#" aria-label="Next" th:onclick="|movePage(${pageInfo.nextPage});|">Next<i
                class="ci-arrow-right ms-2"></i></a></li>
        </ul>
      </nav>
      </div>
    </main>

    <!-- ======================================= 푸터 =======================================-->
    <!-- Footer-->
    <footer th:fragment="footer" th:replace="~{common :: footer}"></footer>

    <!-- Toolbar for handheld devices (Default)-->
    <div class="handheld-toolbar">
      <div class="d-table table-layout-fixed w-100"><a class="d-table-cell handheld-toolbar-item" href="account-wishlist.html"><span class="handheld-toolbar-icon"><i class="ci-heart"></i></span><span class="handheld-toolbar-label">Wishlist</span></a><a class="d-table-cell handheld-toolbar-item" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" onclick="window.scrollTo(0, 0)"><span class="handheld-toolbar-icon"><i class="ci-menu"></i></span><span class="handheld-toolbar-label">Menu</span></a><a class="d-table-cell handheld-toolbar-item" href="shop-cart.html"><span class="handheld-toolbar-icon"><i class="ci-cart"></i><span class="badge bg-primary rounded-pill ms-1">4</span></span><span class="handheld-toolbar-label">$265.00</span></a></div>
    </div>
    <!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">   </i></a>
    <!-- Vendor scrits: js libraries and plugins-->
    <script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="vendor/tiny-slider/dist/min/tiny-slider.js"></script>
    <script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="vendor/drift-zoom/dist/Drift.min.js"></script>
    <script src="vendor/lightgallery.js/dist/js/lightgallery.min.js"></script>
    <script src="vendor/lg-video.js/dist/lg-video.min.js"></script>

    <script src="vendor/flatpickr/dist/flatpickr.min.js"></script>
    <script src="vendor/flatpickr/dist/plugins/rangePlugin.js"></script>
    <!-- Main theme script-->
    <script src="js/theme.min.js"></script>
  </body>
</html>

<script type="text/javascript" th:inline="javascript">

$( document ).ready(function() {

	var searchlist = /*[[${searchType}]]*/{};
    for(var i=0; i<searchlist.length; i++){
    	var id = searchlist[i];
    	var idd = id.replace('/', '');
    	$('#'+idd).prop("checked", true);
	}

});

	function movePage(pageUrl){
		const pageTag = $("<input type='hidden' value=" + pageUrl + " name='page' readonly>");
		$("#bookForm").append(pageTag);
		$('#bookForm').submit();
	}
</script>