<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>유키즈 | 불편사항</title>
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="img/ukids/logo.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="img/ukids/logo.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="img/ukids/logo.jpg">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="vendor/simplebar/dist/simplebar.min.css"/>
    <link rel="stylesheet" media="screen" href="vendor/tiny-slider/dist/tiny-slider.css"/>
    <link rel="stylesheet" media="screen" href="vendor/nouislider/dist/nouislider.min.css"/>
    <link rel="stylesheet" media="screen" href="vendor/drift-zoom/dist/drift-basic.min.css"/>
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="css/theme.min.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    
    <link rel="stylesheet" href="css/claim-view.css">

    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <!-- 폰트 -->
    <style>
      @font-face {
        font-family: 'NanumSquareRound';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
        font-weight: normal;
        font-style: normal;
      }
  
      *{
        font-family: 'NanumSquareRound';
      }
    </style>
  </head>
  <!-- Body-->
  <body class="handheld-toolbar-enabled">

    <!-- 로그인 모달 관련  -->
	<div th:fragment="modal" th:replace="~{common :: modal}"></div>
	
    <main class="page-wrapper">

      <!-- 헤더!!!!!! -->
      <header th:fragment="header" th:replace="~{common :: header}"></header>
      
      <!-- Page Title (Shop Alt)-->
      <!-- used for shop templates with filters on top-->
      <section class="bg-position-top-center bg-repeat-0 bg-size-cover py-5" style="background-color: #FFB9C7; height: 300px;">
        <div class="container pt-3 pb-3 pt-lg-4 pb-lg-4 my-5">
          <div class="pe-lg-4 text-center text-lg-start">
            <h1 class="h2 text-light fw-bold pb-1 mb-0" id="claim-main-title">불편 사항 신고</h1>
          </div>
        </div>
      </section>

      <section class="container pt-3 pt-lg-0 mb-4" id="character">
        <img src="img/ukids/claim/캐릭터(배경제거).png">
      </section>

      <div class="container pb-5 mb-5">
        <div class="notice mb-3 align-content-center">
          <img src="img/ukids/claim/siren.png">
          <span class="fs-5">현재 <strong>[[${name}]]</strong>은 <strong>[[${count}]]건</strong>의 불편 사항이 접수된 기관입니다.</span>
        </div>
        <!-- ========================================================================= 불편사항 글 보기 ======================================================================================= -->
        <section>
          <div class="rounded-3 shadow px-3 py-3">
            <div class="row g-4">
              <div class="col-12 fs-3 fw-bold ps-3 ms-2">
                [[${claim.title}]]
              </div>
              <div class="ps-3 pe-5 ms-2">
                <div class="d-inline-block mx-1">[[${claim.id}]]</div> | 
                <div class="d-inline-block mx-1">[[${#dates.format(claim.createDate, 'yyyy.MM.dd a hh:mm')}]]</div> | 
                <div class="d-inline-block mx-1">조회수 [[${claim.readCount}]]</div>
                <div class="d-inline-block mx-1 float-end">첨부파일 <i class="ci-image me-3"></i>
                	<th:block th:if="${claim.originalFileName != null}">
                		<a th:href="|javascript:fileDownload('${claim.originalFileName}','${claim.renamedFileName}')|" class="file">
	                		[[${claim.originalFileName}]]
                		</a>
                	</th:block>
                	<th:block th:unless="${claim.originalFileName != null}">
                		-
                	</th:block>
                </div>
              </div>
              <hr class="border-0 mt-3" style="height: 3px;">
              <div class="col-12 mt-sm-3">
                <textarea class="form-control border-0 fs-5 claim-input" rows="20" id="claim-content" readonly>[[${claim.content}]]</textarea>
              </div>
              <div class="mt-3">
              	<th:block th:if="${session.loginMember != null && (session.loginMember.id == claim.id || session.loginMember.role == 'ROLE_ADMIN')}">
              		<th:block th:if="${claim.confirm} == 'N'">
		                <button class="btn btn-secondary fw-bold float-end mx-1" type="button" th:onclick="claimUpdate([[${type}]], [[${claim.no}]]);"><i class="ci-edit fw-bold me-1"></i>수정하기</button>
              		</th:block>
	                <button class="btn btn-pink float-end mx-1" type="button" th:onclick="claimDelete([[${type}]], [[${claim.no}]]);"><i class="ci-trash me-1"></i>삭제하기</button>
	            </th:block>
              </div>
            </div>
          </div>
        </section>
        <button class="btn btn-noline fw-bold float-start mt-3 mx-1" type="button" th:onclick="goBack([[${type}]], [[${claim.knNo}]]);"><i class="ci-reload fw-bold me-1"></i>목록으로 돌아가기</button>
      </div>
    </main>
    <!-- ======================================= 푸터 =======================================-->
    <!-- Footer-->
	<footer th:fragment="footer" th:replace="~{common :: footer}"></footer>

    <!-- Toolbar for handheld devices (Default)-->
    <div class="handheld-toolbar">
      <div class="d-table table-layout-fixed w-100"><a class="d-table-cell handheld-toolbar-item" href="account-wishlist.html"><span class="handheld-toolbar-icon"><i class="ci-heart"></i></span><span class="handheld-toolbar-label">Wishlist</span></a><a class="d-table-cell handheld-toolbar-item" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" onclick="window.scrollTo(0, 0)"><span class="handheld-toolbar-icon"><i class="ci-menu"></i></span><span class="handheld-toolbar-label">Menu</span></a><a class="d-table-cell handheld-toolbar-item" href="shop-cart.html"><span class="handheld-toolbar-icon"><i class="ci-cart"></i><span class="badge bg-primary rounded-pill ms-1">4</span></span><span class="handheld-toolbar-label">$265.00</span></a></div>
    </div>
    <!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">   </i></a>
    <!-- Vendor scrits: js libraries and plugins-->
    <script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="vendor/tiny-slider/dist/min/tiny-slider.js"></script>
    <script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="vendor/drift-zoom/dist/Drift.min.js"></script>
    <script src="vendor/lightgallery.js/dist/js/lightgallery.min.js"></script>
    <script src="vendor/lg-video.js/dist/lg-video.min.js"></script>

    <script src="vendor/flatpickr/dist/flatpickr.min.js"></script>
    <script src="vendor/flatpickr/dist/plugins/rangePlugin.js"></script>
    <!-- Main theme script-->
    <script src="js/theme.min.js"></script>
    
    <script type="text/javascript" th:inline="javascript">
    	function fileDownload(oriname, rename) {
			const url = "/claim/fileDown";
			
			let oName = encodeURIComponent(oriname);
			let rName = encodeURIComponent(rename);
			
			location.assign(url + "?oriname=" + oName + "&rename=" + rName);
		}
    	
    	function claimUpdate(type, no) {
    		location.href = "/claim-update?type=" + type + "&no=" + no;
    	}
    	
    	function claimDelete(type, no) {
    		var url = "/claim-delete?type=" + type + "&no=" + no + "&knNo=" + [[${claim.knNo}]];
    		if(confirm("정말로 불편사항 신고글을 삭제 하시겠습니까?")) {
    			location.replace(url);
    		}
    	}
    	
    	function goBack(type, no) {
    		location.href = "/claim-main?type=" + type + "&no=" + no;
    	}
    </script>
  </body>
</html>