<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>유키즈 | 불편사항</title>
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="img/ukids/logo.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="img/ukids/logo.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="img/ukids/logo.jpg">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="vendor/simplebar/dist/simplebar.min.css"/>
    <link rel="stylesheet" media="screen" href="vendor/tiny-slider/dist/tiny-slider.css"/>
    <link rel="stylesheet" media="screen" href="vendor/nouislider/dist/nouislider.min.css"/>
    <link rel="stylesheet" media="screen" href="vendor/drift-zoom/dist/drift-basic.min.css"/>
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="css/theme.min.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">

    <link rel="stylesheet" href="css/claim-main.css">

    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <!-- 폰트 -->
    <style>
      @font-face {
        font-family: 'NanumSquareRound';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
        font-weight: normal;
        font-style: normal;
      }
  
      *{
        font-family: 'NanumSquareRound';
      }
    </style>
  </head>
  <!-- Body-->
  <body class="handheld-toolbar-enabled">

    <!-- 로그인 모달 관련  -->
	<div th:fragment="modal" th:replace="~{common :: modal}"></div>
	
    <main class="page-wrapper">

      <!-- 헤더!!!!!! -->
      <header th:fragment="header" th:replace="~{common :: header}"></header>
      
      <!-- Page Title (Shop Alt)-->
      <!-- used for shop templates with filters on top-->
      <section class="bg-position-top-center bg-repeat-0 bg-size-cover py-5" style="background-color: #FFB9C7; height: 300px;">
        <div class="container pt-3 pb-3 pt-lg-4 pb-lg-4 my-5">
          <div class="pe-lg-4 text-center text-lg-start">
            <h1 class="h2 text-light fw-bold pb-1 mb-0" id="claim-main-title">불편 사항 신고</h1>
          </div>
        </div>
      </section>

      <section class="container pt-3 pt-lg-0 mb-4" id="character">
        <img src="img/ukids/claim/캐릭터(배경제거).png">
      </section>

      <div class="container pb-5">
        <div class="notice mb-3 align-content-center">
          <img src="img/ukids/claim/siren.png">
          <span class="fs-5">현재 <strong>[[${name}]]</strong>은 <strong>[[${count}]]건</strong>의 불편 사항이 접수된 기관입니다.</span>
        </div>

        <!-- ========================================================================= 불편사항 목록 ======================================================================================= -->
        <!-- Basic table -->
        <div class="table-responsive mb-3">
          <table class="table" id="claim-table">
            <thead>
              <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회수</th>
              </tr>
            </thead>
            <tbody>
              <th:block th:if="${count} == 0">
	              <tr>
	                <td colspan="5">접수된 불편 사항이 없습니다.</td>
	              </tr>
              </th:block>
              
              <th:block th:if="${list} != null">
              	<tr th:each="claim, status : ${list}" class="claim" th:onclick="claimView([[${type}]], [[${claim.no}]]);">
	                <th>[[${num[status.index]}]]</th>
	                <td class="text-start">[[${claim.title}]]</td>
	                <td>[[${claim.id}]]</td>
	                <td th:text="${#dates.format(claim.createDate, 'yyyy-MM-dd')}" />
	                <td>[[${claim.readCount}]]</td>
              	</tr>		
              </th:block>
              
            </tbody>
          </table>
        </div>

        <!-- Pagination-->
        <th:block th:if="${count} != 0">
	        <nav class="d-flex justify-content-between pt-2" aria-label="Page navigation">
	          <ul class="pagination">
	            <li class="page-item"><a class="page-link" th:onclick="|movePage(${pageInfo.prevPage});|"><i class="ci-arrow-left me-2"></i>Prev</a></li>
	          </ul>
	          <ul class="pagination">
	            <li class="page-item d-sm-none"><span class="page-link page-link-static">1 / 5</span></li>
	            <th:block th:each="num, status : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
                	<th:block th:if="${status.current == pageInfo.currentPage}">
		                <li class="page-item d-none d-sm-block page" aria-current="page">
		                  <span class="page-link">[[${status.current}]]<span class="visually-hidden">(current)</span></span>
		                </li>
                	</th:block>
                	<th:block th:if="${status.current != pageInfo.currentPage}">
		                <li class="page-item d-none d-sm-block"><a class="page-link" th:onclick="|movePage(${status.current});|">[[${status.current}]]</a></li>
                	</th:block>
	            </th:block>
	          </ul>
	          <ul class="pagination">
	            <li class="page-item"><a class="page-link" th:onclick="|movePage(${pageInfo.nextPage});|" aria-label="Next">Next<i class="ci-arrow-right ms-2"></i></a></li>
	          </ul>
	        </nav>
        </th:block>
      </div>
    </main>
    <!-- ======================================= 푸터 =======================================-->
    <!-- Footer-->
    <footer th:fragment="footer" th:replace="~{common :: footer}"></footer>

    <!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">   </i></a>
    <!-- Vendor scrits: js libraries and plugins-->
    <script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="vendor/tiny-slider/dist/min/tiny-slider.js"></script>
    <script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="vendor/drift-zoom/dist/Drift.min.js"></script>
    <script src="vendor/lightgallery.js/dist/js/lightgallery.min.js"></script>
    <script src="vendor/lg-video.js/dist/lg-video.min.js"></script>

    <script src="vendor/flatpickr/dist/flatpickr.min.js"></script>
    <script src="vendor/flatpickr/dist/plugins/rangePlugin.js"></script>
    <!-- Main theme script-->
    <script src="js/theme.min.js"></script>
    
    <script type="text/javascript">
    	function claimView(type, no) {
    		location.href = "/claim-view?type=" + type + "&no=" + no;
    	}
    	
    	var url_href = window.location.href;
	    var url = new URL(url_href); // URL 객체 선언
	    
	    function movePage(page){
			url.searchParams.set("page", page);
			
			window.location.search = url.searchParams;
		};
    
    </script>
  </body>
</html>