<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>UKIDS | 커뮤니티</title>
    <!-- SEO Meta Tags
    <meta name="description" content="Cartzilla - Bootstrap E-commerce Template">
    <meta name="keywords" content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
    <meta name="author" content="Createx Studio"> -->
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="img/ukids/logo.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="img/ukids/logo.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="img/ukids/logo.jpg">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="/vendor/simplebar/dist/simplebar.min.css"/>
    <link rel="stylesheet" media="screen" href="/vendor/tiny-slider/dist/tiny-slider.css"/>
    <link rel="stylesheet" media="screen" href="/vendor/chartist/dist/chartist.min.css"/>
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="/css/theme.min.css">
    <link rel="stylesheet" media="screen" href="/css/header.css">
    <link rel="stylesheet" media="screen" href="/css/footer.css">
    <link rel="stylesheet" media="screen" href="/css/community.css">
    
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  </head>

  <!-- Body-->
  <body class="handheld-toolbar-enabled">

    <!-- 로그인 모달 관련  -->
	<div th:fragment="modal" th:replace="~{common :: modal}"></div>
	
    <main class="page-wrapper">

      <!-- 헤더!!!!!! -->
	  <header th:fragment="header" th:replace="~{common :: header}"></header>
	  


      <section class="position-relative bg-dark bg-size-cover bg-position-center py-5 mb-4" style="background-image: url(/img/ukids/notice/bo1.jpg); height: 300px;"><span class="position-absolute top-0 start-0 w-100 h-100 bg-darker" style="opacity: .65;"></span>
        <div class="container position-relative zindex-5 mb-3">
          <div class="order-lg-2 mb-3 mb-lg-0 pt-0 pb-4">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-light fw-bold fs-md flex-lg-nowrap justify-content-center justify-content-lg-end">
                <li class="breadcrumb-item"><a class="text-nowrap" href="index.html"><i class="ci-home"></i>유키즈</a></li>
                <li class="breadcrumb-item text-nowrap text-white">커뮤니티</li>
                <li class="breadcrumb-item text-nowrap text-pink" id="tc" aria-current="page">자유게시판</li>
              </ol>
            </nav>
          </div>
          <div class="row justify-content-center pt-4 pb-4">
            <div class="col-lg-8">
            	<th:block th:if="${type == 'freeboard'}">
	              <h1 class="text-light text-center">자유게시판</h1>
            	</th:block>            	
            	<th:block th:if="${type == 'notice'}">
	              <h1 class="text-light text-center">공지사항</h1>
            	</th:block>
            </div>
          </div>
        </div>
      </section>

    <!-- 구분선 이미지-->
    <div class="container-sm mt-4 mb-3">
    <img src="/img/ukids/notice/1.png">
    </div>

    <!-- 공지/게시판 버튼-->
    <div class="container-sm ">
      <div class="container py-3 ">
        <div class="row justify-content-center">
          <div class="col-xl-7 col-lg-8 col-md-10 text-center">
          
          <th:block th:if="${type == 'freeboard'}">
		        <a class="bbtn2 btn-outline-ppink d-inline-block me-2 mb-3" href="/community/notice" >공지사항</a>
		        <a class="btn bbtn3 bbtn-primary d-inline-block ms-2 mb-3" href="/community/freeboard" >자유게시판</a>
          </th:block>            	
           	<th:block th:if="${type == 'notice'}">
		        <a class="btn bbtn3 bbtn-primary d-inline-block ms-2 mb-3" href="/community/notice" >공지사항</a>
		        <a class="bbtn2 btn-outline-ppink d-inline-block me-2 mb-3" href="/community/freeboard" >자유게시판</a>
           	</th:block>
      </div>
      </div>
    </div>

      

    <!-- 게시판-->
  
  <div class="container-sm shadow">
<div class="table-responsive">
  <!-- 검색창-->
  <form action="@{/community}" method="get">
  <div class="container col-7 mt-4 mb-3" >
    <div class="input-group">
      <input class="form-control pe-5 rounded" id="searchValue" name="searchValue" type="text" th:value="${param.searchValue}" placeholder="검색어를 입력해 주세요">
      <i class="ci-search position-absolute top-50 end-0 translate-middle-y zindex-5 me-3 " type="submit"></i>
    </div>
  </div>
  </form>
  <!-- 검색창 끝-->
  <table class="table" style="color: #FC6C93;">
    <thead>
      <tr>
        <th class="col-1" style="text-align: center">번호</th>
        <th class="col-1"></th>
        <th class="col-5">제목</th>
        <th class="col-1" style="text-align: center">작성자</th>
        <th class="col-2" style="text-align: center">작성일</th>
        <th class="col-1" style="text-align: center">추천</th>
        <th class="col-1" style="text-align: center">조회</th>
      </tr>
    </thead>
    <tbody th:if="${list == null}">
    	<tr>
    		<td colspan="6">조회된 글이 없습니다.</td>
    	</tr>
    </tbody>
    
    <tbody th:if="${list != null}">
    	<tr th:each="board : ${list}">
    		<th th:text="${board.boardNo}" style="text-align: center"></th>
    		<th scope=""  class="text-center"></th>
    		<td>
    			<a th:href="|/community/view-community?no=${board.boardNo}&type=${type}|" style="color: black;">
    				[[${board.title}]]		
    			</a>
    		</td>    		
    		<td style="text-align: center" th:text="${board.id}"></td>
    		<td style="text-align: center" th:text="${#dates.format(board.createDate, 'yyyy/MM/dd')}"/></td>
    		<td style="text-align: center">[[${board.good}]]</td>
    		<td style="text-align: center">[[${board.readcount}]]</td>
    	</tr>
    </tbody>
  </table>
  <div class="text-end" th:if="${session.loginMember != null}">
    <a class="bbtn btn-outline-ppink  d-inline-block mb-3" href="/community/write" >글쓰기</a>
  </div>
</div>
</div>


 <!-- 게시판 끝-->

    <div class="container-sm">
      <!-- Pagination-->
      <nav class="d-flex justify-content-between pt-2 mb-5" aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#" onclick="movePage(1);"><i class="ci-arrow-left me-2"></i>Prev</a></li>
        </ul>
        <ul class="pagination">
          <li class="page-item d-sm-none"><span class="page-link page-link-static">1 / 5</span></li>
          <th:block th:each="num, status : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
			<th:block th:if="${status.current == pageInfo.currentPage}">
	          <li class="page-item d-none d-sm-block page"><span class="page-link">[[${status.current}]]<span
                class="visually-hidden">(current)</span></span></li>
	        </th:block>
	      <th:block th:if="${status.current != pageInfo.currentPage}">
	          <li class="page-item d-none d-sm-block"><a class="page-link" href="#" th:onclick="|movePage(${status.current});|">[[${status.current}]]</a></li>
	      </th:block>
        </ul>
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#" aria-label="Next" th:onclick="|movePage(${pageInfo.nextPage});|">Next<i
                class="ci-arrow-right ms-2"></i></a></li>
        </ul>
      </nav>
    </div>
    </div>
    
  </main>
  <!-- 풋터 -->
	<!-- Footer-->
  
  <footer th:fragment="footer" th:replace="~{common :: footer}"></footer>
  
  <!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">   </i></a>
  <!-- Vendor scrits: js libraries and plugins-->
  <script th:src="@{/vendor/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/vendor/simplebar/dist/simplebar.min.js}"></script>
  <script th:src="@{/vendor/tiny-slider/dist/min/tiny-slider.js}"></script>
  <script th:src="@{/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js}"></script>
  <script th:src="@{/vendor/drift-zoom/dist/Drift.min.js}"></script>
  <script th:src="@{/vendor/lightgallery.js/dist/js/lightgallery.min.js}"></script>
  <script th:src="@{/vendor/lg-video.js/dist/lg-video.min.js}"></script>
  
  <!-- Main theme script-->
  <script th:src="@{/js/theme.min.js}"></script>
  </body>
  </html>
<script type="text/javascript" th:inline="javascript">

$( document ).ready(function() {

	var searchlist = /*[[${searchType}]]*/{};
    for(var i=0; i<searchlist.length; i++){
    	var id = searchlist[i];
    	var idd = id.replace('/', '');
    	$('#'+idd).prop("checked", true);
	}

});

	function movePage(pageUrl){
		const pageTag = $("<input type='hidden' value=" + pageUrl + " name='page' readonly>");
		$("#cummunity").append(pageTag);
		$('#cummunity').submit();
	}
</script>