<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>UKIDS | 어린이집 비교</title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="Cartzilla - Bootstrap E-commerce Template">
    <meta name="keywords" content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
    <meta name="author" content="Createx Studio">
      <!-- Viewport-->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Favicon and Touch Icons-->
      <link rel="apple-touch-icon" sizes="180x180" href="img/ukids/logo.jpg">
      <link rel="icon" type="image/png" sizes="32x32" href="img/ukids/logo.jpg">
      <link rel="icon" type="image/png" sizes="16x16" href="img/ukids/logo.jpg">
      <link rel="manifest" href="site.webmanifest">
      <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="theme-color" content="#ffffff">
      <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
      <link rel="stylesheet" media="screen" href="vendor/simplebar/dist/simplebar.min.css"/>
      <link rel="stylesheet" media="screen" href="vendor/tiny-slider/dist/tiny-slider.css"/>
      <!-- Main Theme Styles + Bootstrap-->
      <link rel="stylesheet" media="screen" href="css/theme.min.css">
      <link rel="stylesheet" media="screen" href="css/header.css">
      <link rel="stylesheet" media="screen" href="css/footer.css">
      <link rel="stylesheet" media="screen" href="css/compare.css">
       <!-- Kakao Map API Key -->
       <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0784c083b85732bbc3f69c5259d72e38&libraries=services"></script>
       <!--jquery-->
       <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    </head>
  <!-- Body-->
  <body class="handheld-toolbar-enabled">

    <!-- 로그인 모달 관련  -->
	<div th:fragment="modal" th:replace="~{common :: modal}"></div>
	
    <main class="page-wrapper">

      <!-- 헤더!!!!!! -->
	  <header th:fragment="header" th:replace="~{common :: header}"></header>
	  
      <!-- 페이지 제목 -->
      <div id="page-title" style="background-image: url(img/ukids/compare/bgImg.jpg);">
        <div class="container">
          <div class="order-lg-1 w-100 text-center">
            <h1 class="fw-bold text-light mb-3">어린이집 비교하기</h1>
            <p class="fs-lg text-light mb-0">우리 아이에게 맞는 어린이집이 고민되세요? <br/> 쉽게 비교하고, 빠르게 결정하세요!</p>
          </div>
        </div>
      </div>

      <!-- 페이지 탭 -->
      <div id="page-tab">
        <ul class="p-3 m-5 rounded-pill shadow-sm">
          <li><a href="/compare-nursery" class="btn btn-lg btn-primary rounded-pill">어린이집 비교</a></li>
          <li><a href="/compare-kinder" class="btn btn-lg btn-outline-primary rounded-pill">유치원 비교</a></li>
        </ul>
      </div>

      <!-- 어린이집 비교 테이블 -->
      <section id="ns-table" class="compare-table mb-lg-5">
        <div class="container px-0">
          <div class="table-responsive">

            <table class="table table-bordered table-layout-fixed fs-sm" style="min-width: 45rem;">

              <thead class="navbar-sticky"> <!--navbar-sticky navbar-stuck-->
                <tr class="border">
                  <th class="align-middle">
                    <select class="form-select" data-filter-trigger>
                      <option value="all" class="ns basic-option">기본 현황 *</option>
                      <option value="all" class="ns detail-option">학급 및 교사 현황</option>
                    </select>
                    <div class="form-text">* 아래 테이블을 필터링할 기준을 선택하세요.</div>
                  </th>
                  
                  <th:block th:if="${count == 0}">
				  	<th:block th:each="num : ${#numbers.sequence(count+1,4)}">
	                  <td class="text-center">
	                  	<h4> - </h4>
	                  </td>
				  	</th:block>
				  </th:block>
                  
                  <th:block th:unless="${count == 0}">
                  	<th:block th:each="nursery, status : ${list}">
	                  <td class="text-center">
	                    <button class="btn btn-sm d-block w-100 text-danger mb-2" th:onclick="|deleteCompare(${nursery.no})|"><i class="ci-trash me-1"></i>삭제하기</button>
	                    <a class="d-inline-block mb-3" th:href="|/nursery-detail?no=${nursery.no}&i=${status.index}|"><img class="rounded" th:src="|img/어린이집/nursery${status.index}.JPG|"></a>
	                    <h3 class="product-title fs-sm"><a th:href="|/nursery-detail?no=${nursery.no}&i=${status.index}|">[[${nursery.crname}]]</a></h3>
	                    <a class="btn btn-primary btn-sm" th:href="|/nursery-detail?no=${nursery.no}&i=${status.index}|">더 알아보기</a>
	                  </td>
                  	</th:block>
                  	<th:block th:if="${count != 4}">
				  		<th:block th:each="num : ${#numbers.sequence(count+1,4)}">
					  		<td class="text-center align-middle">
		                  		<h4> - </h4>
		                  	</td>
				  		</th:block>
				  	</th:block>
                  </th:block>
                  
                </tr>
              </thead>

              <tbody id="ns-summary" class="basic-category selected-category" data-filter-target>
                <tr class="bg-secondary"><th class="text-uppercase text-dark" colspan="5">요약 정보</th></tr>
              </tbody>

              <tbody id="ns-service" class="basic-category selected-category" data-filter-target>
                <tr class="bg-secondary"><th class="text-uppercase text-dark" colspan="5">제공 서비스</th></tr>
              </tbody>

              <tbody id="ns-map" class="basic-category selected-category" data-filter-target>
                <tr class="bg-secondary"><th class="text-uppercase text-dark" colspan="5">지도로 위치 비교하기</th></tr>
                <tr>
                  <th class="text-dark d-none">지도</th>
                  <td class="text-dark p-0" colspan="5"><div id="ns-kakaomap" style="height:500px"></div></td>
                </tr>
              </tbody>

              <tbody id="ns-class" class="detail-category" data-filter-target>
                <tr class="bg-secondary"><th class="text-uppercase text-dark" colspan="5">학급 현황</th></tr>
              </tbody>

              <tbody id="ns-child" class="detail-category" data-filter-target>
                <tr class="bg-secondary"><th class="text-uppercase text-dark" colspan="5">아동 현황</th></tr>
              </tbody>

              <tbody id="ns-staff" class="detail-category" data-filter-target>
                <tr class="bg-secondary"><th class="text-uppercase text-dark" colspan="5">교직원 현황</th></tr>
              </tbody>

              <tbody id="ns-years" class="detail-category" data-filter-target>
                <tr class="bg-secondary"><th class="text-uppercase text-dark" colspan="5">근속연수 현황</th></tr>
              </tbody>

            </table> 

          </div>
        </div>
      </section>
    </main>

    <!-- 풋터 -->
    <footer th:fragment="footer" th:replace="~{common :: footer}"></footer>

    <!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">   </i></a>
    <!-- Vendor scrits: js libraries and plugins-->
    <script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="vendor/tiny-slider/dist/min/tiny-slider.js"></script>
    <script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <!-- Main theme script-->
    <script src="js/theme.min.js"></script>
    <script src="js/compare-nursery.js"></script>
    <script type="text/javascript" th:inline="javascript">
    	// 삭제
    	function deleteCompare(no) {
    		var url = "/nursery-deleteCompare?no=" + no;
    		if(confirm("해당 어린이집을 목록에서 삭제하시겠습니까?")) {
    			location.replace(url);
    		}
    	}
    	
   		nsItems = /*[(${info})]*/{};
   		
   		console.log(nsItems);
   		
 		tableSetting(nsCat, nsItemTitle, nsItems);
 		handleItemTitle(nsCat, nsItemTitle);
   		
    	/* ===== 카카오지도 ===== */
    	// 검색 결과
    	var searchList = [
    		/*[# th:if="${count != 0}"]*/
				/*[# th:each="nursery : ${list}"]*/
					{
		    			kind: '어',
		        	    type: /*[[${nursery.crtypename}]]*/{},
		        	    name: /*[[${nursery.crname}]]*/{},
		        	    address: /*[[${nursery.craddr}]]*/{},
		        	    image: null,
						
					},
				
				/*[/]*/
			/*[/]*/
    	];
    	  
    	  
    	/* ========== 카카오 지도 ========== */
    	// 지도 생성
    	var mapContainer = document.getElementById('ns-kakaomap');
    	var mapOption = {
    	  center: new kakao.maps.LatLng(37.5666805, 126.9784147), // 지도 중심좌표
    	  level: 3 // 지도 확대 레벨
    	};   
    	var map = new kakao.maps.Map(mapContainer, mapOption); 


    	// 각 객체의 주소값을 convertToLatLng() 함수의 매개변수로 넘기기
    	searchList.forEach(convertToLatLng);


    	// 지도를 재설정할 범위정보를 가지고 있을 LatLngBounds 객체를 생성
    	var bounds = new kakao.maps.LatLngBounds();


    	//주소를 좌표로 변환
    	function convertToLatLng(item) {

    	  //주소-좌표 변환 객체 생성
    	  var geocoder = new kakao.maps.services.Geocoder();

    	  //주소로 좌표 검색
    	  geocoder.addressSearch(item.address, function(result, status) {

    	    //정상적으로 검색이 완료됐으면
    	    if (status === kakao.maps.services.Status.OK) {

    	      // 좌표 생성
    	      var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

    	      //결과값으로 받은 위치를 마커로 표시
    	      var marker = new kakao.maps.Marker({
    	        position: coords,
    	        clickable: true,
    	      });
    	      marker.setMap(map);

    	      // 마커에 표시할 인포윈도우를 생성
    	      var infowindow = new kakao.maps.InfoWindow({
    	        content: 
    	          `<a id="marker-box" class="fw-bold text-dark">
    	            <span id="info-type" class="mt-1 ms-1">${item.type}</span>
    	            <div class="ms-1">
    	              <span id="info-name">${item.name}</span>
    	            </div>
    	            <span id="info-addr" class="mb-1 ms-1"><i class="ci-location fw-bold"></i>${item.address}</span>
    	          </a>`,
    	        removable: true,
    	      });

    	      // 마커 클릭하면 인포뒤도우 표시
    	      kakao.maps.event.addListener(marker, 'click', function() {
    	        infowindow.open(map, marker);  
    	      });

    	      // 검색 결과에 맞게 지도 범위 재설정
    	      bounds.extend(coords);
    	      map.setBounds(bounds);

    	    }    
    	  });
    	};
    
    </script>
  </body>
</html>