<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>UKIDS</title>
    <!-- SEO Meta Tags
    <meta name="description" content="Cartzilla - Bootstrap E-commerce Template">
    <meta name="keywords" content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
    <meta name="author" content="Createx Studio"> -->
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="img/ukids/logo.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="img/ukids/logo.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="img/ukids/logo.jpg">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="vendor/simplebar/dist/simplebar.min.css"/>
    <link rel="stylesheet" media="screen" href="vendor/tiny-slider/dist/tiny-slider.css"/>
    <link rel="stylesheet" media="screen" href="vendor/drift-zoom/dist/drift-basic.min.css"/>
    <link rel="stylesheet" media="screen" href="vendor/lightgallery.js/dist/css/lightgallery.min.css"/>
    
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="css/theme.min.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">

    <!--해당 페이지 css-->

    
    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

  </head>

  <!-- Body-->
  <body class="handheld-toolbar-enabled">

    <!-- 로그인 모달 관련  -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header bg-secondary">
            <ul class="nav nav-tabs card-header-tabs" role="tablist">
              <li class="nav-item"><a class="nav-link fw-medium active logincolor" href="#signin-tab" data-bs-toggle="tab" role="tab" aria-selected="true"><i class="ci-user me-2 mt-n1"></i>일반회원 로그인</a></li>
              <li class="nav-item"><a class="nav-link fw-medium logincolor" href="#signup-tab" data-bs-toggle="tab" role="tab" aria-selected="false"><i class="ci-book me-2 mt-n1"></i>선생님 로그인</a></li>
            </ul>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body tab-content py-4">
            <form class="needs-validation tab-pane fade show active" autocomplete="off" novalidate id="signin-tab">
              <div class="mb-3">
                <label class="form-label" for="si-email">아이디</label>
                <input class="form-control" type="email" id="si-email" placeholder="아이디를 입력해주세요." required>
              </div>
              <div class="mb-3">
                <label class="form-label" for="si-password">비밀번호</label>
                <div class="password-toggle">
                  <input class="form-control" type="password" id="si-password" required>
                  <label class="password-toggle-btn" aria-label="Show/hide password">
                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                  </label>
                </div>
              </div>
              <div class="mb-3 d-flex flex-wrap justify-content-between">
                <div class="form-check mb-2">
                  <input class="form-check-input" type="checkbox" id="si-remember">
                  <label class="form-check-label" for="si-remember">아이디를 기억하시겠습니까?</label>
                </div><a class="fs-sm login" href="#">비밀번호 찾기</a>
              </div>
              <a href="#"><img class="cgw16 cgw17 cgw18" src="img/ukids/8.png"></a>
              <button class="btn btn-login btn-shadow d-block cgw17 cgw10" type="submit">로그인</button>
            </form>
            <form class="needs-validation tab-pane fade" autocomplete="off" novalidate id="signup-tab">
              <div class="mb-3">
                <label class="form-label" for="si-email">아이디</label>
                <input class="form-control" type="email" id="si-email" placeholder="아이디를 입력해주세요." required>
              </div>
              <div class="mb-3">
                <label class="form-label" for="si-password">비밀번호</label>
                <div class="password-toggle">
                  <input class="form-control" type="password" id="si-password" required>
                  <label class="password-toggle-btn" aria-label="Show/hide password">
                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                  </label>
                </div>
              </div>
              <div class="mb-3 d-flex flex-wrap justify-content-between">
                <div class="form-check mb-2">
                  <input class="form-check-input" type="checkbox" id="si-remember">
                  <label class="form-check-label" for="si-remember">아이디를 기억하시겠습니까?</label>
                </div><a class="fs-sm login" href="#">비밀번호 찾기</a>
              </div>
              <a href="#"><img class="cgw16 cgw17 cgw18" src="img/ukids/9.png"></a>
              <button class="btn btn-login btn-shadow d-block cgw17 cgw10" type="submit">로그인</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <main class="page-wrapper">

      <!-- 헤더!!!!!! -->
      <header class="navbar navbar-expand-lg navbar-light shadow-sm">
        <div class="container">

          <!-- Brand -->
          <a class="navbar-brand d-none d-lg-block order-lg-1" href="index.html">
            <img width="65" src="img/ukids/logo.jpg" alt="ukids"/>
          </a>

          <!-- Toolbar -->
          <div class="navbar-toolbar d-flex align-items-center order-lg-3">

            <!-- 로그인 전!!!!!!!! -->

            <a href="#signin-modal" data-bs-toggle="modal">
              <button type="button" class="btn btn-primary rounded-pill" id="sign">
                <i class="ci-locked"></i>
                <span>로그인</span>
              </button>
            </a>
            <a href="join.html">
              <button type="button" class="btn btn-primary rounded-pill" id="sign">
                <i class="ci-user me-2"></i>
                <span class="jointext">회원가입</span>
              </button>
            </a>

            <!-- 로그인 후!!!!!!!!!!!! -->

            <!-- <a class="navbar-tool ms-1 ms-lg-0 me-n1 me-lg-2" href="mypage.html">
              <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-user"></i></div>
              <div class="navbar-tool-text ms-n3"><small>안녕하세요,유키즈님</small><p class="mypg">마이페이지</p></div>
            </a>
            
            <a class="navbar-tool ms-3" href="index.html">
              <div class="navbar-tool-icon-box bg-secondary">
                <i class="ci-unlocked" style="font-size: large; padding-top: 13px;"></i>
              </div>
            </a> -->

            <a class="navbar-tool ms-3" href="mypage-7.html">
              <div class="navbar-tool-icon-box bg-secondary">
                <i class="navbar-tool-icon ci-cart"></i>
              </div>
            </a>
            
          </div>

          <!-- 메뉴 -->
          <div class="collapse navbar-collapse me-auto order-lg-2" id="navbarCollapse">
            <hr class="d-lg-none my-3">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" id="nav1">어린이집/유치원</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item hmenu" href="nursery-main.html" >어린이집</a></li>
                  <li><a class="dropdown-item hmenu" href="kinder-main.html">유치원</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" id="nav2">아동관련시설</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item hmenu" href="welfare-main.html" >아동복지시설</a></li>
                  <li><a class="dropdown-item hmenu" href="playground.html">놀이시설</a></li>
                  <li><a class="dropdown-item hmenu" href="hospital-main.html">병원</a></li>

                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" id="nav3" href="toy-main.html" >장난감대여</a></li>
              <li class="nav-item"><a class="nav-link" id="nav4" href="book.html">추천도서</a></li>
              <li class="nav-item"><a class="nav-link" id="nav5" href="news.html">주요뉴스</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" id="nav6">커뮤니티</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item hmenu" href="notice.html" >공지사항</a></li>
                  <li><a class="dropdown-item hmenu" href="community.html ">자유게시판</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </header>
