<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>UKIDS | 병원</title>
    <!-- SEO Meta Tags
    <meta name="description" content="Cartzilla - Bootstrap E-commerce Template">
    <meta name="keywords" content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
    <meta name="author" content="Createx Studio">-->
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/ukids/logo.jpg}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/ukids/logo.jpg}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/ukids/logo.jpg}">
    <link rel="manifest" th:href="@{/site.webmanifest}">
    <link rel="mask-icon" color="#fe6a6a" th:href="@{/safari-pinned-tab.svg}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" th:href="@{/vendor/simplebar/dist/simplebar.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/vendor/tiny-slider/dist/tiny-slider.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/vendor/nouislider/dist/nouislider.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/vendor/drift-zoom/dist/drift-basic.min.css}"/>
    
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" th:href="@{/css/theme.min.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/hospital-main.css}">

    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <!-- 폰트 -->
    <style>
      @font-face {
        font-family: 'NanumSquareRound';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
        font-weight: normal;
        font-style: normal;
      }
  
      *{
        font-family: 'NanumSquareRound';
      }
    </style>
  </head>
  <!-- Body-->
  <body class="handheld-toolbar-enabled">

    <!-- 로그인 모달 관련  -->
    <div th:fragment="modal" th:replace="~{common :: modal}"></div>
    
    <main class="page-wrapper">

      <!-- 헤더!!!!!! -->
      <header th:fragment="header" th:replace="~{common :: header}"></header>
      
      <!-- Page Title (Shop Alt)-->
      <!-- used for shop templates with filters on top-->
      <section class="bg-position-top-center bg-repeat-0 bg-size-cover py-5" style="background-image: url('img/ukids/facility/hospital-main-header.jpg'); height: 300px;">
        <div class="pt-0 pb-5">
          <div class="container pt-0  pt-lg-0">
            <div class="mb-3 mb-lg-0 pt-lg-0">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light fw-bold fs-md flex-lg-nowrap justify-content-center justify-content-lg-end">
                  <li class="breadcrumb-item"><a class="text-nowrap" th:href="@{/}"><i class="ci-home"></i>유키즈</a></li>
                  <li class="breadcrumb-item text-light">아동 관련 시설</li>
                  <li class="breadcrumb-item text-nowrap text-pink" aria-current="page">병원</li>
                </ol>
              </nav>
            </div>
          </div>
          <div class="container pt-5 pb-3 pt-lg-5 pb-lg-4">
            <div class="pe-lg-4 text-center text-lg-start">
              <h1 class="h2 text-light fw-bold mb-0">병원</h1>
            </div>
          </div>
        </div>
      </section>

      <section class="container position-relative pt-3 pt-lg-0 mt-lg-n5" style="z-index: 10;">
        <form th:action="@{/hospital-main}" method="GET">
          <!-- Toolbar-->
          <div class="row bg-light shadow-lg rounded-3 p-4 mt-n5 mb-4">
            <div class="d-flex justify-content-between align-items-center">
              <div class="col-md-1">지역 선택</div>
              <div class="col-md-2 me-2">
                <select class="form-select" id="city" name="city" onchange="cityChange()">
                  <option value=" " th:selected="${#strings.equals(param.city, ' ')}">전체</option>
                  <option value="서울" th:selected="${#strings.equals(param.city, '서울')}">서울특별시</option>
                  <option value="부산" th:selected="${#strings.equals(param.city, '부산')}">부산광역시</option>
                  <option value="대구" th:selected="${#strings.equals(param.city, '대구')}">대구광역시</option>
                  <option value="인천" th:selected="${#strings.equals(param.city, '인천')}">인천광역시</option>
                  <option value="광주" th:selected="${#strings.equals(param.city, '광주')}">광주광역시</option>
                  <option value="대전" th:selected="${#strings.equals(param.city, '대전')}">대전광역시</option>
                  <option value="울산" th:selected="${#strings.equals(param.city, '울산')}">울산광역시</option>
                  <option value="세종특별" th:selected="${#strings.equals(param.city, '세종특별')}">세종특별자치시</option>
                  <option value="경기도" th:selected="${#strings.equals(param.city, '경기도')}">경기도</option>
                  <option value="강원도" th:selected="${#strings.equals(param.city, '강원도')}">강원도</option>
                  <option value="충청북도" th:selected="${#strings.equals(param.city, '충청북도')}">충청북도</option>
                  <option value="충청남도" th:selected="${#strings.equals(param.city, '충청남도')}">충청남도</option>
                  <option value="전라북도" th:selected="${#strings.equals(param.city, '전라북도')}">전라북도</option>
                  <option value="전라남도" th:selected="${#strings.equals(param.city, '전라남도')}">전라남도</option>
                  <option value="경상북도" th:selected="${#strings.equals(param.city, '경상북도')}">경상북도</option>
                  <option value="경상남도" th:selected="${#strings.equals(param.city, '경상남도')}">경상남도</option>
                  <option value="제주" th:selected="${#strings.equals(param.city, '제주')}">제주특별자치도</option>
                </select>
              </div>
              <div class="col-md-2 me-2">
                <select class="form-select" id="town" name="town">
                  <option>전체</option>
                </select>
              </div>
              <div class="col-md-6" style="width: 550px;">
                <div class="input-group d-none d-lg-flex">
                  <input type="text" class="form-control rounded-end pe-5" id="searchValue" name="searchValue" th:value="${param.searchValue}" placeholder="병원 검색">
                  <button class="btn btn-pink" type="submit"><i class="ci-search text-light fs-base fw-bold"></i></button>
                </div>
              </div>
              <div class="form-check form-switch col-md-2 ms-3">
                <input class="form-check-input" type="checkbox" id="nigthcare" name="nightcore" value="on" th:checked="${param.nightcore} != null ? 'checked' : null">
                <label class="form-check-label" for="nigthcare">야간 진료</label>
              </div>
            </div>
          </div>
        </form>
      </section>

      <div class="container pb-5">
        <!-- ========================================================================= 병원 목록 ======================================================================================= -->
        <!-- Products grid-->
        <div class="row pt-3 mx-n2">
        
					<!-- 검색결과 X -->
        	<th:block th:if="${count == 0}">
        		<div class="col-lg-12">
              <h3 class="text-center">검색 결과가 없습니다.</h3>
            </div>
        	</th:block> 

          <!-- 일반 병원 (소아과 진료) -->
       		<th:block th:if="${param.nightcore == null}">
       			<th:block th:if="${hpList != null}">
	          	<th:block th:each="hospital, status : ${hpList}">
	          		<div class="col-lg-3 col-md-4 col-sm-6 px-2">
			            <div class="card product-card shadow-sm mb-5 bg-body">
			              <a th:href="@{|/hospital-detail?no=${hospital.no}&img=${hpImgIdx[status.index]}&type=hp|}">
			                <div class="card-img-top"><img th:src="|img/ukids/facility/hospital/hp${hpImgIdx[status.index]}.jpg|" alt="병원"></div>
			                <div class="card-body py-2">
			                  <h3 class="hospital-name fs-lg fw-bold my-1">
			                  	[[${hospital.hpName}]]
			                  </h3>
			                  <div class="text-muted d-block fs-sm md-2">
			                  	<th:block th:if="${hospital.time1s} != '-'"><i class="ci-time text-info fw-bold me-2"></i>평일 | [[${hospital.time1s}]] ~ [[${hospital.time1c}]]<br/></th:block>
			                  	<th:block th:if="${hospital.time1s} == '-'"><i class="ci-time text-info fw-bold me-2" style="color: #B2B2B2 !important;"></i>평일 | 정보 미제공<br/></th:block>
			                  	<th:block th:if="${hospital.time7s} != '-'"><i class="ci-time text-info fw-bold me-2"></i>주말 | [[${hospital.time7s}]] ~ [[${hospital.time7c}]]</th:block>
			                  	<th:block th:if="${hospital.time7s} == '-'"><i class="ci-time text-info fw-bold me-2" style="color: #B2B2B2 !important;"></i>주말 | 정보 미제공</th:block>
			                  </div>
			                  <div class="d-flex justify-content-between"><div class="hospital-address fs-md fw-bold text-dark"><i class="ci-location text-danger fw-bold me-1"></i>
			                    [[${hospital.hpAddr}]]</div>
			                  </div>
			                </div>
			              </a>
			            </div>
			            <hr class="d-sm-none">
			          </div>
	          	</th:block>
	          </th:block>
       		</th:block>
          
          <!-- 소아 야간 진료 병원 -->
          <th:block th:if="${ncList != null}">
          	<th:block th:each="nightcare, status : ${ncList}">
          		<div class="col-lg-3 col-md-4 col-sm-6 px-2">
		            <div class="card product-card shadow-sm mb-5 bg-body">
		              <a th:href="@{|/hospital-detail?no=${nightcare.no}&img=${ncImgIdx[status.index]}&type=nc|}">
		                <div class="card-img-top"><img th:src="|img/ukids/facility/hospital/nc${ncImgIdx[status.index]}.jpg|" alt="병원"></div>
		                <div class="card-body py-2">
		                  <h3 class="hospital-name fs-lg fw-bold my-1">[[${nightcare.hpName}]]</h3>
		                  <div class="text-muted d-block fs-sm md-2"><i class="ci-moon me-2" style="color: #ffd700;"></i>야간 진료 병원</div>
		                  <div class="text-muted d-block fs-sm md-2"><i class="ci-phone me-2" style="color: #69b3fe;"></i>[[${nightcare.tel}]]</div>
		                  <div class="d-flex justify-content-between"><div class="hospital-address fs-md fw-bold text-dark"><i class="ci-location text-danger fw-bold me-1"></i>[[${nightcare.hpAddr}]]</div></div>
		                </div>
		              </a>
		            </div>
		            <hr class="d-sm-none">
		          </div>
          	</th:block>
          </th:block>
        
        <hr class="mb-3">
        
        <!-- Pagination-->
        <th:block th:if="${count != 0}">
	        <nav class="d-flex justify-content-between pt-2" aria-label="Page navigation">
	          <ul class="pagination" id="prev">
	            <li class="page-item"><a class="page-link" th:onclick="|movePage(${pageInfo.prevPage});|" aria-label="Prev"><i class="ci-arrow-left me-2"></i>Prev</a></li>
	          </ul>
	          <ul class="pagination">
	          	<th:block th:each="num, status : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
               	<th:block th:if="${status.current == pageInfo.currentPage}">
	                <li class="page-item d-none d-sm-block page" aria-current="page">
	                  <span class="page-link">[[${status.current}]]<span class="visually-hidden">(current)</span></span>
	                </li>
               	</th:block>
               	<th:block th:if="${status.current != pageInfo.currentPage}">
	                <li class="page-item d-none d-sm-block">
	                	<a class="page-link" th:onclick="|movePage(${status.current});|">[[${status.current}]]</a>
	                </li>
               	</th:block>
               </th:block>
	          </ul>
	          <ul class="pagination" id="next">
	            <li class="page-item"><a class="page-link" th:onclick="|movePage(${pageInfo.nextPage});|" aria-label="Next">Next<i class="ci-arrow-right ms-2"></i></a></li>
	          </ul>
	        </nav>
        </th:block>
        
      </div>
    </main>
    
    <!-- ======================================= 푸터 =======================================-->
    <!-- Footer-->
    <footer th:fragment="footer" th:replace="~{common :: footer}"></footer>

    <!-- Toolbar for handheld devices (Default)-->
    <div class="handheld-toolbar"><div class="d-table table-layout-fixed w-100"><a class="d-table-cell handheld-toolbar-item" href="account-wishlist.html"><span class="handheld-toolbar-icon"><i class="ci-heart"></i></span><span class="handheld-toolbar-label">Wishlist</span></a><a class="d-table-cell handheld-toolbar-item" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" onclick="window.scrollTo(0, 0)"><span class="handheld-toolbar-icon"><i class="ci-menu"></i></span><span class="handheld-toolbar-label">Menu</span></a><a class="d-table-cell handheld-toolbar-item" href="shop-cart.html"><span class="handheld-toolbar-icon"><i class="ci-cart"></i><span class="badge bg-primary rounded-pill ms-1">4</span></span><span class="handheld-toolbar-label">$265.00</span></a></div></div>
    <!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">   </i></a>
    
    <!-- Vendor scrits: js libraries and plugins-->
    <script th:src="@{/vendor/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/vendor/simplebar/dist/simplebar.min.js}"></script>
    <script th:src="@{/vendor/tiny-slider/dist/min/tiny-slider.js}"></script>
    <script th:src="@{/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js}"></script>
    <script th:src="@{/vendor/drift-zoom/dist/Drift.min.js}"></script>
    <script th:src="@{/vendor/lightgallery.js/dist/js/lightgallery.min.js}"></script>
    <script th:src="@{/vendor/lg-video.js/dist/lg-video.min.js}"></script>
    <script th:src="@{/vendor/flatpickr/dist/flatpickr.min.js}"></script>
    <script th:src="@{/vendor/flatpickr/dist/plugins/rangePlugin.js}"></script>
    <!-- Main theme script-->
    <script th:src="@{/js/theme.min.js}"></script>
    <script th:src="@{/js/address.js}"></script>
    
    <script type="text/javascript" th:inline="javascript">
			var url_href = window.location.href;
	    var url = new URL(url_href); // URL 객체 선언
	    
	    $(function() {
				const urlParams = new URL(location.href).searchParams;
				var city = urlParams.get('city');
				if(city != '') {
					cityChange();
				}
			})
	    
			function movePage(page){
				url.searchParams.set("page", page);
				
				window.location.search = url.searchParams;
			};
	</script>
    
  </body>
</html>