<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>UKIDS | 병원</title>
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/ukids/logo.jpg}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/ukids/logo.jpg}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/ukids/logo.jpg}">
    <link rel="manifest" th:href="@{/site.webmanifest}">
    <link rel="mask-icon" color="#fe6a6a" th:href="@{/safari-pinned-tab.svg}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" th:href="@{/vendor/simplebar/dist/simplebar.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/vendor/tiny-slider/dist/tiny-slider.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/vendor/drift-zoom/dist/drift-basic.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/vendor/lightgallery.js/dist/css/lightgallery.min.css}"/>
    
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" th:href="@{/css/theme.min.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/hospital-datail.css}">
    
    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <!-- 폰트 -->
    <style>
    @font-face {
      font-family: 'NanumSquareRound';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }

    *{
      font-family: 'NanumSquareRound';
    }
    </style>
  </head>

  <body class="handheld-toolbar-enabled">

    <!-- 로그인 모달 관련  -->
    <div th:fragment="modal" th:replace="~{common :: modal}"></div>

    <main class="page-wrapper">

      <!-- 헤더 -->
      <header th:fragment="header" th:replace="~{common :: header}"></header>

      <!-- Page Title-->
      <section class="position-relative bg-dark bg-size-cover bg-position-center-x py-5 mb-4" id="mainImg">
        <div class="container position-relative zindex-5 mb-3">
          <div class="order-lg-2 mb-3 mb-lg-0 pt-0 pb-4">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-light fw-bold fs-md flex-lg-nowrap justify-content-center justify-content-lg-end">
                <li class="breadcrumb-item"><a class="text-nowrap" th:href="@{/}"><i class="ci-home"></i>유키즈</a></li>
                <li class="breadcrumb-item text-nowrap"><a th:href="@{/hospital-main}">병원 검색</a></li>
                <li class="breadcrumb-item text-nowrap active" aria-current="page" style="color: #fc6c93;">병원 상세보기</li>
              </ol>
            </nav>
          </div>
          <div class="order-lg-1 pe-lg-4 text-center text-lg-start" >
            <h1 class="h1 text-light fw-bold " style="margin-top: 110px; margin-left: 70px;">병원</h1>
          </div>
        </div>
      </section>

			<!-- 아동복지시설 상세 정보 -->
      <section class="container mb-5 pb-5">
        <div class="bg-light shadow-lg rounded-3 overflow-hidden">
          <div class="row">

							<!-- 시설 이미지 + 상세 정보 -->
              <div class="pt-4 px-4 pe-lg-0 ps-xl-5">
                <div class="gallery">
                
                	<!-- 시설 이미지 -->
                  <h4 class="weltitle fw-bold"><img class="wfIcon"src="img/ukids/hospitalIcon.png">
                  	<th:block th:if="${type == 'hp'}">[[${hospital.hpName}]]</th:block>
                  	<th:block th:if="${type == 'nc'}">[[${nightcare.hpName}]]</th:block>
                  </h4>
                  <div class="welfarebox">
                  	<th:block th:if="${type == 'hp'}">
                  		<a class="gallery-item rounded-3 mb-grid-gutter" th:href="|img/ukids/facility/hospital/hp${imgIdx}.jpg|">
	                      <img class="wfImg" th:src="|img/ukids/facility/hospital/hp${imgIdx}.jpg|" alt="Gallery preview">
	                      <span class="gallery-item-caption">[[${hospital.hpName}]]</span>
	                    </a>
                  	</th:block>
                  	
                  	<th:block th:if="${type == 'nc'}">
                  		<a class="gallery-item rounded-3 mb-grid-gutter" th:href="|img/ukids/facility/hospital/nc${imgIdx}.jpg|">
	                      <img class="wfImg" th:src="|img/ukids/facility/hospital/nc${imgIdx}.jpg|" alt="Gallery preview">
	                      <span class="gallery-item-caption">[[${nightcare.hpName}]]</span>
	                    </a>
                  	</th:block>
                  </div>
                  
                  <!-- 상세 정보 -->
                  <div class="mb-3" style="width:100%">
                    <div style="display: flex; margin-bottom: 20px;"><h4 class="location fw-bold">상세정보</h4><img class="line1"src="img/ukids/2x2.png"></div>
                    <div class="detailInfo" style="display: flex;">
	                   		<!-- 
	                   		사단법인한국의료관광융합연구원부평프라임메디컬의원
	                   		전라북도 전주시 덕진구 세병남로 25, 1층 105호, 2층 전체, 3층 303호, 4층 전체 및 전주시 덕진구 세병서로 43, 2층 전체 (송천동2가)
	                   		-->
	                   		<dl>
	                        <div id="info1">
	                          <div>
	                            <dt><span><i class="ci-store"></i>병원명</span></dt>
	                            <dd>
	                            	<th:block th:if="${type == 'hp'}">[[${hospital.hpName}]]</th:block>
                  							<th:block th:if="${type == 'nc'}">[[${nightcare.hpName}]]</th:block>
	                            </dd>
	                          </div>
	                          <div>
	                            <dt><span><i class="ci-menu"></i>병원분류명</span></dt>
	                            <dd>
	                            	<th:block th:if="${type == 'hp'}">[[${hospital.divName}]]</th:block>
                  							<th:block th:if="${type == 'nc'}">[[${nightcare.divName}]]</th:block>
	                            </dd>
	                          </div>
	                          <div>
	                            <dt><span><i class="ci-phone"></i>대표전화</span></dt>
	                            <dd>
	                            	<th:block th:if="${type == 'hp'}">[[${hospital.tel}]]</th:block>
                  							<th:block th:if="${type == 'nc'}">[[${nightcare.tel}]]</th:block>
	                            </dd>
	                          </div>
	                          <div>
	                            <dt><span><i class="ci-location"></i>주소</span></dt>
	                            <dd>
	                            	<th:block th:if="${type == 'hp'}">[[${hospital.hpAddr}]]</th:block>
                  							<th:block th:if="${type == 'nc'}">[[${nightcare.hpAddr}]]</th:block>
	                            </dd>
	                          </div>
	                        </div>
	
													<th:block th:if="${type == 'hp'}">
														 <div id="info2">
		                          <div>
		                            <dt><span><i class="ci-check-circle"></i>응급실 운영 여부</span></dt>
		                            <dd>[[${formattedEr}]]</dd>
		                          </div>
		                          <div>
		                            <dt><span><i class="ci-phone"></i>응급실 전화번호</span></dt>
		                            <dd>[[${hospital.erTel}]]</dd>
		                          </div>
		                          <div>
		                            <dt><span><i class="ci-time"></i>진료시간(평일)</span></dt>
		                            <dd>
		                            	<th:block th:if="${hospital.time1s} != '-'">[[${hospital.time1s}]] ~ [[${hospital.time1c}]]<br/></th:block>
				                  				<th:block th:if="${hospital.time1s} == '-'">정보 미제공<br/></th:block>
		                            </dd>
		                          </div>
		                          <div>
		                            <dt><span><i class="ci-time"></i>진료시간(주말)</span></dt>
		                            <dd>
		                            	<th:block th:if="${hospital.time7s} != '-'">(토요일) [[${hospital.time7s}]] ~ [[${hospital.time7c}]]</th:block>
				                  				<th:block th:if="${hospital.time7s} == '-'">정보 미제공</th:block>
		                            </dd>
		                          </div>
		                        </div>
													</th:block>
													
													<th:block th:if="${type == 'nc'}">
														 <div id="info2">
		                          <div>
		                            <dt><span><i class="ci-rocket"></i>개설 일자</span></dt>
		                            <dd>[[${formattedOpDate}]]</dd>
		                          </div>
		                          <div>
		                            <dt><span><i class="ci-moon"></i>야간 진료</span></dt>
		                            <dd>운영</dd>
		                          </div>
		                          <div>
		                            <dt><span><i class="ci-time"></i>진료시간(평일)</span></dt>
		                            <dd>정보 미제공</dd>
		                          </div>
		                          <div>
		                            <dt><span><i class="ci-time"></i>진료시간(주말)</span></dt>
		                            <dd>정보 미제공</dd>
		                          </div>
		                        </div>
													</th:block>
	                      </dl>
                    </div>
                  </div>
                  
                  <!-- 지도 -->
                  <div class="mx-1 mb-3">
                    <div style="display: flex; margin-bottom: 20px;"><h4 class="location fw-bold">찾아오시는 곳</h4><img class="line2"src="img/ukids/2x2.png"></div>
                    <div id="map"></div>
                      <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0784c083b85732bbc3f69c5259d72e38&libraries=services,clusterer,drawing"></script>
                      <script th:inline="javascript">
                      	/*<![CDATA[*/
                        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                            mapOption = {
                                center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                                level: 3 // 지도의 확대 레벨
                            };  
                        
                        // 지도를 생성합니다    
                        var map = new kakao.maps.Map(mapContainer, mapOption); 
                        
                        // 주소-좌표 변환 객체를 생성합니다
                        var geocoder = new kakao.maps.services.Geocoder();
                        
                        // 주소로 좌표를 검색합니다
                        var type = /*[[${type}]]*/{};
                        var addr = "";
                        /*[# th:block th:if="${type == 'hp'}"]*/ addr = /*[[${hospital.hpAddr}]]*/{}; /*[/]*/
                        /*[# th:block th:if="${type == 'nc'}"]*/ addr = /*[[${nightcare.hpAddr}]]*/{}; /*[/]*/
                        geocoder.addressSearch(addr, function(result, status) {
                        
                            // 정상적으로 검색이 완료됐으면 
                            if (status === kakao.maps.services.Status.OK) {
                        
                              var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
                      
                              // 결과값으로 받은 위치를 마커로 표시합니다
                              var marker = new kakao.maps.Marker({
                                  map: map,
                                  position: coords
                              });
                              
                              var name = "";
                              /*[# th:block th:if="${type == 'hp'}"]*/ name = /*[[${hospital.hpName}]]*/{}; /*[/]*/
                              /*[# th:block th:if="${type == 'nc'}"]*/ name = /*[[${nightcare.hpName}]]*/{}; /*[/]*/
                              var content = `<div class="info-title">${name}</div>`;

                              // 커스텀 오버레이가 표시될 위치입니다 
                              var position = new kakao.maps.LatLng(result[0].y, result[0].x);

                              // 커스텀 오버레이를 생성합니다
                              var customOverlay = new kakao.maps.CustomOverlay({
                                  position: position,
                                  content: content   
                              });

                              // 커스텀 오버레이를 지도에 표시합니다
                              customOverlay.setMap(map);
                      
                              // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                              map.setCenter(coords);
                            } 
                        });
                        /*]]>*/
                      </script>
                  </div>

                </div>
              </div> 
              

							<!-- 근처 어린이 병원 -->
            	<div class="container" style="width: 95%; margin-bottom: 6%;">
                <div  style="display: flex; margin-bottom: 25px;">
                  <h4 class="location fw-bold">근처 어린이병원</h4><img class="line3" src="img/ukids/2x2.png">
                </div>
                <div class="tns-carousel tns-controls-static tns-controls-outside">
                  <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 2, &quot;controls&quot;: true, &quot;nav&quot;: false, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;500&quot;:{&quot;items&quot;:2, &quot;gutter&quot;: 18},&quot;768&quot;:{&quot;items&quot;:3, &quot;gutter&quot;: 20}, &quot;1100&quot;:{&quot;items&quot;:4, &quot;gutter&quot;: 30}}}">
                    
                    <!-- 일반 병원 (소아과 진료) -->
                    <th:block th:if="${nearHospitalList != null}">
                    	<th:block th:each="nearHospital, status : ${nearHospitalList}">
	                    		<div>
			                      <div class="card product-card card-static welcard">
			                        <a class="card-img-top d-block overflow-hidden" th:href=@{|/hospital-detail?no=${nearHospital.no}&img=${nearHpImgIdx[status.index]}&type=hp|}>
			                        	<img class="near" th:src="|img/ukids/facility/hospital/hp${nearHpImgIdx[status.index]}.jpg|" alt="Product">
			                        </a>
			                        
			                        <div class="card-body nearwelfare py-2">
			                          <h3 class="product-title fs-lg fw-bold toyname">
			                          	<a th:href=@{|/hospital-detail?no=${nearHospital.no}&img=${nearHpImgIdx[status.index]}&type=hp|}>[[${nearHospital.hpName}]]</a>
			                          </h3>
			                          
			                          <th:block th:if="${nearHospital.time1s} != '-'"><i class="ci-time me-2 ic"></i>
			                          	<span class="timelocation">평일 | [[${nearHospital.time1s}]] ~ [[${nearHospital.time1c}]]</span><br/>
			                          </th:block>
			                  				<th:block th:if="${nearHospital.time1s} == '-'"><i class="ci-time me-2 ic" style="color: #B2B2B2 !important;"></i>
			                  					<span class="timelocation">평일 | 정보 미제공</span><br/>
			                  				</th:block>
			                  				<th:block th:if="${nearHospital.time7s} != '-'"><i class="ci-time me-2 ic"></i>
			                  					<span class="timelocation">주말 | [[${nearHospital.time7s}]] ~ [[${nearHospital.time7c}]]</span>
			                  				</th:block>
			                  				<th:block th:if="${nearHospital.time7s} == '-'"><i class="ci-time me-2 ic" style="color: #B2B2B2 !important;"></i>
			                  					<span class="timelocation">주말 | 정보 미제공</span>
			                  				</th:block>
	
			                          <div class="product-price mb-2"><i class="ci-location ic"></i><span class="timelocation">[[${nearHospital.hpAddr}]]</span></div>       
			                        </div>
			                      </div>
			                    </div>
                    	</th:block>
                    </th:block>
                    
                    <!-- 야간 진료 병원 -->
                    <th:block th:if="${nearNightCareList != null}">
                    	<th:block th:each="nearNightCare, status : ${nearNightCareList}">
	                    		<div>
			                      <div class="card product-card card-static welcard">
			                        <a class="card-img-top d-block overflow-hidden" th:href=@{|/hospital-detail?no=${nearNightCare.no}&img=${nearNcImgIdx[status.index]}&type=nc|}>
			                        	<img class="near" th:src="|img/ukids/facility/hospital/nc${nearNcImgIdx[status.index]}.jpg|" alt="Product">
			                        </a>
			                        <div class="card-body nearwelfare py-2">
			                          <h3 class="product-title fs-lg fw-bold toyname"><a th:href=@{|/hospital-detail?no=${nearNightCare.no}&img=${nearNcImgIdx[status.index]}&type=nc|}>[[${nearNightCare.hpName}]]</a></h3>
			                          <div class="text-muted d-block fs-sm md-2"><i class="ci-moon me-2" style="color: #ffd700;"></i>야간 진료 병원</div>
		                  					<div class="text-muted d-block fs-sm md-2"><i class="ci-phone me-2" style="color: #69b3fe;"></i>[[${nearNightCare.tel}]]</div>
			                          <div class="product-price mb-2"><i class="ci-location ic"></i><span class="timelocation">[[${nearNightCare.hpAddr}]]</span></div>       
			                        </div>
			                      </div>
			                    </div>
                    	</th:block>
                    </th:block>
                  
                  </div>
                </div>
              </div>

          </div>
        </div>
      </section>

    </main>

    <!-- Footer-->
    <footer th:fragment="footer" th:replace="~{common :: footer}"></footer>
    
    <!-- Toolbar for handheld devices (Default)-->
    <div class="handheld-toolbar"><div class="d-table table-layout-fixed w-100"><a class="d-table-cell handheld-toolbar-item" href="account-wishlist.html"><span class="handheld-toolbar-icon"><i class="ci-heart"></i></span><span class="handheld-toolbar-label">Wishlist</span></a><a class="d-table-cell handheld-toolbar-item" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" onclick="window.scrollTo(0, 0)"><span class="handheld-toolbar-icon"><i class="ci-menu"></i></span><span class="handheld-toolbar-label">Menu</span></a><a class="d-table-cell handheld-toolbar-item" href="shop-cart.html"><span class="handheld-toolbar-icon"><i class="ci-cart"></i><span class="badge bg-primary rounded-pill ms-1">4</span></span><span class="handheld-toolbar-label">$265.00</span></a></div></div>
    <!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">   </i></a>
    
    <!-- Vendor scrits: js libraries and plugins-->
    <script th:src="@{/vendor/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/vendor/simplebar/dist/simplebar.min.js}"></script>
    <script th:src="@{/vendor/tiny-slider/dist/min/tiny-slider.js}"></script>
    <script th:src="@{/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js}"></script>
    <script th:src="@{/vendor/drift-zoom/dist/Drift.min.js}"></script>
    <script th:src="@{/vendor/lightgallery.js/dist/js/lightgallery.min.js}"></script>
    <script th:src="@{/vendor/lg-video.js/dist/lg-video.min.js}"></script>
    
    <!-- Main theme script-->
    <script th:src="@{/js/theme.min.js}"></script>
    </body>
    </html>