<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>UKIDS</title>
    <!-- SEO Meta Tags
    <meta name="description" content="Cartzilla - Bootstrap E-commerce Template">
    <meta name="keywords" content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
    <meta name="author" content="Createx Studio"> -->
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="img/ukids/logo.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="img/ukids/logo.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="img/ukids/logo.jpg">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="vendor/simplebar/dist/simplebar.min.css"/>
    <link rel="stylesheet" media="screen" href="vendor/tiny-slider/dist/tiny-slider.css"/>
    <link rel="stylesheet" media="screen" href="vendor/chartist/dist/chartist.min.css"/>
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="css/theme.min.css">
    <link rel="stylesheet" media="screen" href="css/header.css">
    <link rel="stylesheet" media="screen" href="css/footer.css">
    <link rel="stylesheet" media="screen" href="css/index.css">
    
    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <!-- Chart.js Script -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
    <!-- Kakao Map API Key -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0784c083b85732bbc3f69c5259d72e38&libraries=services"></script>
  </head>

  <!-- Body-->
  <body class="handheld-toolbar-enabled">

    <!-- 로그인 모달 관련  -->
	<div th:fragment="modal" th:replace="~{common :: modal}"></div>
	
    <main class="page-wrapper">

      <!-- 헤더!!!!!! -->
	  <header th:fragment="header" th:replace="~{common :: header}"></header>
	  
      <!-- 메인 검색 -->
      <section id="main-search" class="mb-lg-5 bg-faded-accent" style="background-image: url(img/ukids/index/main.JPG);">
        <div class="container py-1">

          <!-- 검색바 -->
          <div id="search-group" class="d-flex mb-5">
            <div class="input-group d-lg-flex flex-nowrap me-4">
              <select class="form-select" id="searchType">
                <option value="어린이집">어린이집</option>
                <option value="유치원">유치원</option>
              </select>
              <i class="ci-search position-absolute translate-middle-y"></i>
              <input class="form-control" id="searchValue" type="text" placeholder="어린이집·유치원을 검색하세요.">
            </div>
            <button type="button" id="search-btn" class="btn btn-primary btn-lg" data-scroll onclick="goSearch();">검색하기</button>
          </div>
          
          <!-- 어린이집/유치원 추천 -->
          <div class="col-lg-5 col-md-8 offset-lg-7 col-sm-10">
            <div id="btn-group" class="mb-1">
              <button type="button" id="ns-btn" class="act btn btn-link btn-lg">어린이집</button>
              <button type="button" id="kg-btn" class="btn btn-link btn-lg">유치원</button>
            </div>
            <!-- 어린이집 슬라이더 -->
            <div id="ns-silder" class="tns-carousel tns-nav-enabled mb-4 mx-n2">
              <div class="tns-carousel-inner" data-carousel-options="{&quot;controls&quot;: false}">
              	<!-- 어린이집 -->
              	<th:block th:each="num : ${#numbers.sequence(1,3)}">
	                <div class="px-2">
	                  <img class="rounded-3" th:src="|img/어린이집/nursery${num}.JPG|" alt="Nursery">
	                  <div class="position-relative">
	                    <div class="position-absolute start-0 bottom-0 w-100 p-md-4 p-sm-4 p-3">
	                      <div class="pt-sm-0 pt-2 px-sm-4 px-2 bg-white rounded shadow">
	                        <div class="row gx-5 align-items-center">
	                          <div class="col-sm-8 col-6 position-relative py-sm-3 py-2">
	                            <span class="h6 mb-0">[[${nursery[num].crname}]]</span>
	                          </div>
	                          <div class="col-sm-4 position-relative py-sm-3 py-2">
	                            <div class="d-flex align-items-center h-100"><a class="btn btn-sm btn-dark w-100" th:href="|/nursery-detail?no=${nursery[num].no}&i=${num}|">더 알아보기</a></div>
	                          </div>
	                        </div>
	                      </div>
	                    </div>
	                  </div>
	                </div>
              	</th:block>
              </div>
            </div>

            <!-- 유치원 슬라이더 -->
            <div id="kg-silder" class="d-none tns-carousel tns-nav-enabled mb-4 mx-n2">
              <div class="tns-carousel-inner" data-carousel-options="{&quot;controls&quot;: false}">
                <!-- 유치원 -->
                <th:block th:each="num : ${#numbers.sequence(1,3)}">
	                <div class="px-2"><img class="rounded-3" th:src="|img/유치원/kinder${num}.JPG|" alt="Kindergarden">
	                  <div class="position-relative">
	                    <div class="position-absolute start-0 bottom-0 w-100 p-md-4 p-sm-4 p-3">
	                      <div class="pt-sm-0 pt-2 px-sm-4 px-2 bg-white rounded shadow">
	                        <div class="row gx-5 align-items-center">
	                          <div class="col-sm-8 col-6 position-relative py-sm-3 py-2">
	                            <span class="h6 mb-0">[[${kinder[num].kindername}]]</span>
	                          </div>
	                          <div class="col-sm-4 position-relative py-sm-3 py-2">
	                            <div class="d-flex align-items-center h-100"><a class="btn btn-sm btn-dark w-100" th:href="|/kinder-detail?no=${kinder[num].kinNo}&i=${num}|">더 알아보기</a></div>
	                          </div>
	                        </div>
	                      </div>
	                    </div>
	                  </div>
	                </div>
                </th:block>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- 빠른 학교 찾기 -->
      <section id="school-list" class="mb-lg-5">
        <div class="container px-0" id="map">
          <div class="row g-0">
            <span class="ps-1" style="font-weight: 700;">주변 어린이집/유치원 찾기</span>
            <div class="d-flex align-items-center justify-content-between mb-sm-3 mb-2">
              <h2 class="h3 mb-0"><span style="font-weight: 700;">[[${address}]]</span> 어린이집·유치원 찾기</h2>
              <a class="btn btn-outline-accent ms-3" href="/nursery-main">더 보기<i class="ci-arrow-right ms-2"></i></a>
            </div>
          </div>

          <div class="row g-0">
            <!-- 지도 -->
            <div class="col-lg-8 iframe-full-height-wrap">
              <!-- 카카오지도 나오는 곳 -->
              <div id="kakao-map" style="width:100%;height:100%;"></div>
              <!-- 어린이집/유치원 체크박스 -->
              <div id="school-check" class="d-flex position-absolute top-0 start-0 p-md-3 p-sm-3 p-3" style="z-index: 100;">
                <div class="pt-sm-0 pt-2 px-sm-0 px-2 bg-white rounded shadow">
                  <div class="d-flex" style="width: 200px;">
                    <!-- 어린이집 체크박스 -->
                    <div class="col-sm-4 col-6 position-relative py-sm-2 py-2 flex-fill text-center">
                      <input class="form-check-input me-1" type="checkbox" id="ns-check" checked>
                      <label class="form-check-label" for="ns-check"><span class="tag ns-tag btn-wishlist btn-sm">어</span></label>
                    </div>
                    <!-- 유치원 체크박스 -->
                    <div class="col-sm-4 col-6 position-relative py-sm-2 py-2 flex-fill text-center">
                      <hr class="hr-vertical position-absolute start-0 top-0 ml-n4">
                      <input class="form-check-input me-1" type="checkbox" id="kg-check" checked>
                      <label class="form-check-label" for="kg-check"><span class="tag kg-tag btn-wishlist btn-sm">유</span></label>
                    </div>
                  </div>
                </div>
<!--                 <button type="submit" id="checkbox-btn" class="btn btn-sm btn-dark ms-2 shadow"><i class="ci-search"></i></button> -->
              </div>
            </div>

            <!-- 목록 -->
            <div class="col-lg-4 px-0 px-xl-0 py-0 border">
              <div class="d-flex justify-content-between align-items-center px-3 py-2">
                <h3 class="product-title fs-base m-1">검색 목록<span class="ms-2" style="color: #e9525a;">10</span></h3>
                <div class="d-flex align-items-center" style="gap: 1rem;">
                  <div class="d-flex align-items-center" style="gap: 0.5rem;"><span class="tag ns-tag btn-wishlist btn-sm">어</span><small>어린이집</small></div>
                  <div class="d-flex align-items-center" style="gap: 0.5rem;"><span class="tag kg-tag btn-wishlist btn-sm">유</span><small>유치원</small></div>
                </div>
              </div>
              <div class="border-top pt-0 mt-0"></div>
              <!-- 검색 목록 나오는 곳 -->
              <div class="overflow-auto" style="min-height: 400px; max-height: 400px;"></div>
            </div> 
          </div>

        </div>
      </section>

      <!-- 어린이집/유치원 현황 (그래프) -->
      <section id="graph" class="mb-lg-5">
        <div class="container px-0">
          <div class="row g-0">
            <span class="ps-1" style="font-weight: 700;">한 눈에 보기</span>
            <div class="d-flex align-items-center justify-content-between mb-sm-3 mb-2">
              <h2 class="h3 mb-0"><span style="font-weight: 700;">[[${address}]]</span> 어린이집·유치원 현황</h2>
              <a class="btn btn-outline-accent ms-3" href="/kinder-main">더 보기<i class="ci-arrow-right ms-2"></i></a>
            </div>
          </div>

          <div class="row">
            <!-- 해당 지역 어린이집/유치원 현황 -->
            <div class="col-xl-3 col-sm-6 mb-grid-gutter">
              <div class="card p-3 border shadow">
                <div class="d-flex align-items-center justify-content-center">
                  <h2 class="h4 py-3 mb-0 text-center">어린이집·유치원<br/><span class="fs-lg">개원 현황</span></h2>
                </div>
                <div class="chart-div">
                  <canvas id="pieChartCanvas" width="225px" height="225px"></canvas>
                  <div class="legend-div pie"></div>
                </div>
              </div>
            </div>

            <!-- 해당 지역 어린이집 국공립/사립 현황 -->
            <div class="col-xl-3 col-sm-6 mb-grid-gutter">
              <div class="card p-3 border shadow">
                <div class="d-flex align-items-center justify-content-center">
                  <h2 class="h4 py-3 mb-0 text-center">어린이집<br/><span class="fs-lg">국공립·사립 현황</span></h2>
                </div>
                <div class="chart-div">
                  <canvas id="barChartCanvas1" width="225px" height="225px"></canvas>
                  <div class="legend-div bar1"></div>
                </div>
              </div>
            </div>

            <!-- 해당 지역 유치원 국공립/사립 현황 -->
            <div class="col-xl-3 col-sm-6 mb-grid-gutter">
              <div class="card p-3 border shadow">
                <div class="d-flex align-items-center justify-content-center">
                  <h2 class="h4 py-3 mb-0 text-center">유치원<br/><span class="fs-lg">국공립·사립 현황</span></h2>
                </div>
                <div class="chart-div">
                  <canvas id="barChartCanvas2" width="225px" height="225px"></canvas>
                  <div class="legend-div bar2"></div>
                </div>
              </div>
            </div>

            <!-- 주요 지역별 어린이집/유치원 현황 -->
            <div id="last-graph" class="col-xl-3 col-sm-6 mb-grid-gutter">
              <div class="card p-3 border shadow">
                <div class="d-flex align-items-center justify-content-center">
                  <h2 class="h4 py-3 mb-0 text-center"><span style="color: #5172df">주요 지역별</span><br/><span class="fs-lg">어린이집·유치원 개원 현황</span></h2>
                </div>
                <div class="chart-div">
                  <canvas id="barChartCanvas3" width="225px" height="225px"></canvas>
                  <div class="legend-div bar3"></div>
                </div>
              </div>
            </div>

          </div>
         </div>
      </section>

      <!-- 아동 관련 시설 -->
      <section id="welfare" class="mb-lg-5">
        <div class="container px-0">
          <div class="row g-0">
            <span class="ps-1" style="font-weight: 700;">주변 시설 둘러보기</span>
            <div class="d-flex align-items-center justify-content-between mb-sm-3 mb-2">
              <h2 class="h3 mb-0"><span style="font-weight: 700;">[[${address}]]</span> 아동 관련 시설 추천</h2>
              <a class="btn btn-outline-accent ms-3" th:href="@{/welfare-main}">더 보기<i class="ci-arrow-right ms-2"></i></a>
            </div>
          </div>

          <div class="tns-carousel mb-3 mb-md-5">
            <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 1, &quot;mode&quot;: &quot;gallery&quot;, &quot;nav&quot;: false, &quot;responsive&quot;: {&quot;0&quot;: {&quot;nav&quot;: true, &quot;controls&quot;: false}, &quot;576&quot;: {&quot;nav&quot;: false, &quot;controls&quot;: true}}}">
              <!-- 놀이시설 슬라이드 -->
              <div>
                <div class="rounded-3 p-md-5 text-center text-xl-start" style="background-image: url(img/ukids/index/slide-img1.jpg); background-size: cover; box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.25);">
                  <!-- 기관 유형 -->
                  <div class="d-xl-flex justify-content-between align-items-center px-4 px-sm-5 mx-auto mb-3" style="max-width: 1226px;">
                    <div class="w-100 text-center">
                      <h2 class="h1 text-light">놀이시설</h2>
                      <p class="text-light pb-4">키즈카페, 놀이터, 테마파크 등 <br/> 아이들이 재밌고 안전하게 놀 수 있는 시설을 소개합니다!</p>
                    </div>
                  </div>

                  <!-- 기관 목록 -->
                  <div class="d-flex justify-content-center" style="gap: 2rem;">
                   	<th:block th:each="pg, status : ${playground}">
                    	<div class="col-sm-auto">
	                      <div class="card product-card-alt">
	                        <div class="product-thumb border border-5">
	                          <div class="product-card-actions">
	                          	<a class="btn btn-light btn-icon btn-shadow fs-base mx-2" th:href="@{|/playground?type=${pg.divM}&city=${#strings.arraySplit(pg.pgAddr1, ' ')[0]}&town=${#strings.arraySplit(pg.pgAddr1, ' ')[1]}&searchValue=${pg.pgName}|}"><i class="ci-add me-2"></i>더 보기</a>
	                          </div>
	                          <a class="product-thumb-overlay" th:href="@{|/playground?type=${pg.divM}&city=${#strings.arraySplit(pg.pgAddr1, ' ')[0]}&town=${#strings.arraySplit(pg.pgAddr1, ' ')[1]}&searchValue=${pg.pgName}|}"></a>
	                          <img th:src="|img/ukids/facility/playground/pg${imgIdx[status.index]}.png|" alt="Playground">
	                        </div>
	                      </div>
	                      <a class="facility-name" th:href="@{|/playground?type=${pg.divM}&city=${#strings.arraySplit(pg.pgAddr1, ' ')[0]}&town=${#strings.arraySplit(pg.pgAddr1, ' ')[1]}&searchValue=${pg.pgName}|}"><h3 class="h6">[[${pg.pgName}]]</h3></a>
	                    </div>
                    </th:block>
                  </div>
                  
                </div>
              </div>

              <!-- 복지시설 슬라이드 -->
              <div>
                <div class="rounded-3 p-md-5 text-center text-xl-start" style="background-image: url(img/ukids/index/slide-img2.jpg); background-size: cover; box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.25);">
                  <!-- 기관 유형 -->
                  <div class="d-xl-flex justify-content-between align-items-center px-4 px-sm-5 mx-auto mb-3" style="max-width: 1226px;">
                    <div class="w-100 text-center">
                      <h2 class="h1 text-light">복지시설</h2>
                      <p class="text-light pb-4">이제 혼자 고민은 그만, <br/> 돌봄이 필요한 아이들을 위한 복지 서비스를 제공하고 있습니다!</p>
                    </div>
                  </div>

                  <!-- 기관 목록 -->
                  <div class="d-flex justify-content-center" style="gap: 2rem;">
	                  <th:block th:each="wf, status : ${welfare}">
                    	<div class="col-sm-auto">
	                      <div class="card product-card-alt">
	                        <div class="product-thumb border border-5">
	                          <div class="product-card-actions">
	                          	<a class="btn btn-light btn-icon btn-shadow fs-base mx-2" th:href="@{|/welfare-detail?no=${wf.cwNo}&img=${imgIdx[status.index]}|}">
	                          	<i class="ci-add me-2"></i>더 보기</a>
	                          </div>
	                          <a class="product-thumb-overlay" th:href="@{|/welfare-detail?no=${wf.cwNo}&img=${imgIdx[status.index]}|}"></a>
	                          <img th:src="|img/ukids/facility/welfare/wf${imgIdx[status.index]}.jpg|" alt="Welfare">
	                        </div>
	                      </div>
	                      <a class="facility-name" th:href="@{|/welfare-detail?no=${wf.cwNo}&img=${imgIdx[status.index]}|}"><h3 class="h6">[[${wf.fcltNm}]]</h3></a>
	                    </div>
                    </th:block> 
                  </div>
                  
                </div>
              </div>

              <!-- 의료시설 슬라이드 -->
              <div>
                <div class="rounded-3 p-md-5 text-center text-xl-start" style="background-image: url(img/ukids/index/slide-img3.jpg); background-size: cover; box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.25);">
                  <!-- 기관 유형 -->
                  <div class="d-xl-flex justify-content-between align-items-center px-4 px-sm-5 mx-auto mb-3" style="max-width: 1226px;">
                    <div class="w-100 text-center">
                      <h2 class="h1 text-light">의료시설</h2>
                      <p class="text-light pb-4">도움이 필요하신가요? <br/> 우리 아이가 아프지 않도록 도와드릴게요!</p>
                    </div>
                  </div>

                  <!-- 기관 목록 -->
                  <div class="d-flex justify-content-center" style="gap: 2rem;">
                    <th:block th:each="hp, status : ${hospital}">
                  		<div class="col-sm-auto">
	                      <div class="card product-card-alt">
	                        <div class="product-thumb border border-5">
	                          <div class="product-card-actions">
	                          	<a class="btn btn-light btn-icon btn-shadow fs-base mx-2" th:href="@{|/hospital-detail?no=${hp.no}&img=${imgIdx[status.index]}&type=hp|}">
	                          	<i class="ci-add me-2"></i>더 보기</a>
	                          </div>
	                          <a class="product-thumb-overlay" th:href="@{|/hospital-detail?no=${hp.no}&img=${imgIdx[status.index]}&type=hp|}"></a>
	                          <img th:src="|img/ukids/facility/hospital/hp${imgIdx[status.index]}.jpg|" alt="Hospital">
	                        </div>
	                      </div>
	                      <a class="facility-name" th:href="@{|/hospital-detail?no=${hp.no}&img=${imgIdx[status.index]}&type=hp|}"><h3 class="h6">[[${hp.hpName}]]</h3></a>
	                    </div>
                  	</th:block>
                  </div>
                  
                </div>
              </div>

            </div>
          </div>
          
        </div>
      </section>

      <!-- 가랜드 -->
      <section class="mb-lg-5">
        <div class="container px-0">
          <img src="img/ukids/index/garland.png" alt="Garland">
        </div>
      </section>

      <!-- 장난감 대여 -->
       <section id="toy" class="mb-lg-5">
        <div class="container px-0">
          <div class="row g-0">
            <span class="ps-1" style="font-weight: 700;">추천 상품</span>
            <div class="d-flex align-items-center justify-content-between mb-sm-3 mb-2">
              <h2 class="h3 mb-0"><span style="font-weight: 700;"> 장난감 대여</span></h2>
              <a class="btn btn-outline-accent ms-3" th:href="@{/toy-main}">더 보기<i class="ci-arrow-right ms-2"></i></a>
            </div>
          </div>

          <!-- 장난감 목록 -->
          <div class="tns-carousel tns-controls-static tns-controls-outside mx-xl-n4 mx-n2 px-xl-4 px-0">
            <div class="tns-carousel-inner row gx-xl-0 gx-3 mx-0" data-carousel-options="{&quot;items&quot;: 2, &quot;nav&quot;: true, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1,&quot;controls&quot;: false, &quot;gutter&quot;: 0},&quot;500&quot;:{&quot;items&quot;:2},&quot;768&quot;:{&quot;items&quot;:3}, &quot;1100&quot;:{&quot;items&quot;:4}, &quot;1278&quot;:{&quot;controls&quot;: true, &quot;nav&quot;: false, &quot;gutter&quot;: 30}}}">
              <!-- Product item-->
              <div class="col py-3" th:if="${rcmToy != null}" th:each="rt : ${rcmToy}">
                <article class="card h-100 border-0 shadow">
                  <div class="card-img-top position-relative overflow-hidden">
                    <a class="d-block" th:href="@{|/toy-detail?no=${rt.toyNo}|}"><img th:src="${rt.toyImg}" alt="Toy"></a>
                  </div>
                  <div class="card-body">
                    <h3 class="product-title mb-2 fs-base"><a class="d-block text-truncate" th:href="@{|/toy-detail?no=${rt.toyNo}|}">[[${rt.toyNm1}]]</a></h3>
                    <span class="me-2 fs-sm text-muted">대여료 (1일 기준)</span>
                    <div class="d-flex align-items-center flex-wrap"><h4 class="mt-1 mb-0 fs-base text-darker">[[${#strings.replace(rt.toyPay,'.0','원')}]]</h4></div>
                  </div>
                  <div class="card-footer mt-n1 py-0 border-0">
                  	<div class="text-center mb-1 py-3 border-top">
                  	 <span class="rent-state" style="color: rgb(132, 219, 0);" th:if="${rt.toyType} == null">대여가능</span>
                  	 <span class="rent-state" style="color:rgb(235, 72, 72);" th:unless="${rt.toyType} == null">대여중</span>
                    </div>
                  </div>
                </article>
              </div>
              
              
            </div>
          </div>
        </div>
      </section>

      <!-- 공지사항 / 주요뉴스 -->
      <section id="notice-news" class="mb-lg-5">
        <div class="container px-0">
          <div class="d-flex justify-content-between">
            <!-- 공지사항 -->
            <div class="col-sm-6 p-4 border rounded shadow-sm">
              <div class="d-flex align-items-center justify-content-between mb-sm-4 mb-4 border-bottom">
                <h2 class="h4 fw-bold"><i class="ci-loudspeaker me-3"></i>공지사항</h2>
                <a class="btn px-0" href="/community/notice">더 보기<i class="ci-arrow-right ms-2"></i></a>
              </div>
              <ul class="list-unstyled mb-0">
              	<th:block th:if="${#lists.size(notice) == 0}">
              		<li class="mb-0 text-center">등록된 공지사항이 없습니다.</li>
              	</th:block>
              	<th:block th:if="${notice != null}">
              		<th:block th:each="notice : ${notice}">
		                <li class="mb-0">
		                  <a class="nav-link-style d-flex justify-content-between align-items-center pb-2 mb-2" th:href="|/community/view-community?type=notice&no=${notice.boardNo}|">
		                    <span class="text-truncate">[[${notice.title}]]</span>
		                    <span class="flex-shrink">[[${#dates.format(notice.createDate, 'yyyy-MM-dd')}]]</span>
		                  </a>
		                </li>
              		</th:block>
              	</th:block>
              </ul>
            </div>

            <!-- 주요뉴스 -->
            <div class="col-sm-6 p-4 border rounded shadow-sm">
              <div class="d-flex align-items-center justify-content-between mb-sm-4 mb-4 border-bottom">
                <h2 class="h4 fw-bold"><i class="ci-idea me-3"></i>주요뉴스</h2>
                <a class="btn px-0" th:href="@{news}">더 보기<i class="ci-arrow-right ms-2"></i></a>
              </div>
              <ul class="list-unstyled mb-0">
                <li class="mb-0">
                  <a class="nav-link-style d-flex justify-content-between align-items-center pb-2 mb-2" href="https://www.yna.co.kr/view/AKR20230213138000004?input=1195m">
                    <span class="text-truncate">육아고민 상담하세요"…서울시 코디네이터 120명 활동</span>
                    <span class="flex-shrink">2023-02-14</span>
                  </a>
                </li>
                <li class="mb-0">
                  <a class="nav-link-style d-flex justify-content-between align-items-center pb-2 mb-2" href="https://www.iusm.co.kr/news/articleView.html?idxno=1008672">
                    <span class="text-truncate">울산 중구육아종합지원센터, 가정양육 지원사업 홍보</span>
                    <span class="flex-shrink">2023-02-14</span>
                  </a>
                </li>
                <li class="mb-0">
                  <a class="nav-link-style d-flex justify-content-between align-items-center pb-2 mb-2" href="https://www.news1.kr/articles/4950988">
                    <span class="text-truncate">G마켓, 출산육아템 최대 70% 할인…283개 유아동 브랜드 참여</span>
                    <span class="flex-shrink">2023-02-13</span>
                  </a>
                </li>
                <li class="mb-0">
                  <a class="nav-link-style d-flex justify-content-between align-items-center pb-2 mb-2" href="http://www.knnews.co.kr/news/articleView.php?idxno=1396892">
                    <span class="text-truncate">창원시, ‘출발! 신혼부부 책드림’ 2023년 도서 배부</span>
                    <span class="flex-shrink">2023-02-13</span>
                  </a>
                </li>
                <li class="mb-0">
                  <a class="nav-link-style d-flex justify-content-between align-items-center pb-2 mb-2" href="https://www.yna.co.kr/view/AKR20230210097500054?input=1195m">
                    <span class="text-truncate">광주 일가정양립본부, 육아기 근로시간 단축 연차보상비 지원</span>
                    <span class="flex-shrink">2023-02-10</span>
                  </a>
                </li>
              </ul>
            </div>
            
          </div>
        </div>
      </section>

      <!-- 자유게시판 / 불편신고 / 추천도서 -->
      <section id="board-claim-book" class="mb-lg-0">
        <div class="container px-0">
          <div class="row pt-4">
            <!-- 자유게시판 -->
            <div id="board" class="col-lg-4 col-sm-6 mb-grid-gutter">
              <div class="card p-3 border shadow">
                <div class="d-flex align-items-center justify-content-between border-bottom pb-2">
                  <h2 class="h4 mb-0 fw-bold"></i>자유게시판</h2>
                  <a class="btn px-0" href="/community/freeboard">더 보기<i class="ci-arrow-right ms-2"></i></a>
                </div>
                <div class="card-body text-center px-1 pb-0">
                  <ul class="list-unstyled mb-0">
                  	<th:block th:if="${#lists.size(board) == 0}">
              			<li class="mb-0 text-center">등록된 게시글이 없습니다.</li>
              		</th:block>
              		<th:block th:if="${board != null}">
              			<th:block th:each="board : ${board}">
		                    <li class="mb-0">
		                      <a class="nav-link-style d-flex justify-content-between align-items-center pb-2 mb-2" th:href="|/community/view-community?type=freeboard&no=${board.boardNo}|">
		                        <span class="text-truncate">[[${board.title}]]</span>
		                        <span class="flex-shrink">[[${#dates.format(board.createDate, 'MM-dd')}]]</span>
		                      </a>
		                    </li>
              			</th:block>
              		</th:block>
                  </ul>
                </div>
              </div>
            </div>

            <!-- 불편사항신고 -->
            <div id="claim" class="col-lg-4 col-sm-6 mb-grid-gutter">
              <div class="card p-3 border shadow">
                <div class="text-center p-2">
                  <h2 class="h4 mb-0 fw-bold">어린이집·유치원 불편사항신고</h2>
                </div>
                <div class="card-body text-center py-5">
                  <p class="fs-lg pb-2" style="line-height: 1.5;">
                    유키즈에서는 <br/>
                    아이들의 안전과 쾌적한 환경을 구현하고자 <br/>
                    어린이집·유치원 신고 제도를 운영합니다. <br/>
                    <br/>
                    소중한 우리 아이가 <br/>
                    어린이집·유치원에서 불편을 겪고 있다면 <br/>
                    지금 바로 신고하세요.
                  </p>
                  <a class="btn btn-primary stretched-link mt-4 mb-2" href="/kinder-main">불편사항신고</a>
                </div>
              </div>
            </div>

            <!-- 추천도서 -->
           <div id="book" class="col-lg-4 col-sm-6 mb-grid-gutter">
              <div class="card p-3 border shadow">
                <div class="d-flex align-items-center justify-content-between border-bottom pb-2 mb-3">
                  <h2 class="h4 mb-0 fw-bold"></i>추천도서</h2>
                  <a class="btn px-0" th:href="@{/book}">더 보기<i class="ci-arrow-right ms-2"></i></a>
                </div>
                <div class="book-slide tns-carousel tns-controls-static tns-nav-enabled tns-nav-inside mb-4 mx-n2">
                  <div class="tns-carousel-inner" data-carousel-options="{&quot;controls&quot;: true}">
                    <div class="px-2"><a th:href="@{/book?searchType=bookname&searchValue=강아지똥&age=0}"><img class="border rounded-3" src="img/ukids/book/book1.JPG"></a></div>
                    <div class="px-2"><a th:href="@{/book?searchType=bookname&searchValue=구름빵&age=0}"><img class="border rounded-3" src="img/ukids/book/book2.JPG"></a></div>
                    <div class="px-2"><a th:href="@{/book?searchType=bookname&searchValue=100층짜리&age=0}"><img class="border rounded-3" src="img/ukids/book/book3.JPG"></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>          
        </div>
        <div id="footer-img"><img src="img/ukids/index/footImg.jpg" alt="Footer Image"></div>
      </section>
    </main>

    <!-- 풋터 -->
	<footer th:fragment="footer" th:replace="~{common :: footer}"></footer>
	 
    <!-- Back To Top Button-->
    <a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">   </i></a>
    
    <!-- Vendor scrits: js libraries and plugins-->
    <script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="vendor/tiny-slider/dist/min/tiny-slider.js"></script>
    <script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="vendor/chartist/dist/chartist.min.js"></script>
    <!-- Main theme script-->
    <script src="js/theme.min.js"></script>
    <script src="js/index.js"></script>
    <script type="text/javascript" th:inline="javascript">
    	 /* ========== 차트 ========== */
    	 
		 // 1. 해당 지역 어린이집/유치원 현황 그래프
		 var nurseryCount = /*[[${nurseryCount}]]*/{};
		 var kinderCount = /*[[${kinderCount}]]*/{};
		 
		 let pieChartData = {
		     labels: ['어린이집', '유치원'],
		     datasets: [{
		         data: [nurseryCount, kinderCount],
		         backgroundColor: ['#69b3fe',  '#42d697'],
		         datalabels: {
		           labels: {
		             value: {
		               formatter: function(value, ctx) {
		                 var value = ctx.dataset.data[ctx.dataIndex];
		                 return value > 0 ? Math.round(value / (ctx.dataset.data[0] + ctx.dataset.data[1]) * 100) + ' %' : null;
		               },
		               color: '#fff',
		               font: {
		                 size: 18
		               }
		             }
		           }
		         }
		     }] 
		 };
		
		 let pieChartDraw = function () {
		     let ctx = document.getElementById('pieChartCanvas').getContext('2d');
		     
		     window.pieChart = new Chart(ctx, {
		         type: 'pie',
		         data: pieChartData,
		         options: {
		             responsive: false,
		             legend: {
		                 display: false
		             },
		             legendCallback: customLegend
		         },
		     });
		 };
		
		
		 var publicCnt = /*[[${publicCnt}]]*/{};
		 var privateCnt = /*[[${privateCnt}]]*/{};
		 // 2. 해당 지역 어린이집 국공립/사립 현황 그래프
		 let barChartData1 = {
		   labels: ['국공립', '사립'],
		   datasets: [{
		       data: [publicCnt[0], privateCnt[0]],
		       backgroundColor: ['#f34770',  '#fea569'],
		       datalabels: {
		         labels: {
		           display: false
		         } 
		       }
		   }] 
		 };
		
		 let barChartDraw1 = function () {
		   let ctx = document.getElementById('barChartCanvas1').getContext('2d');
		   
		   window.barChart1 = new Chart(ctx, {
		       type: 'bar',
		       data: barChartData1,
		       options: {
		           responsive: false,
		           legend: {
		               display: false
		           },
		           scales: {
		             xAxes: [{
		               display: false,
		               barPercentage: 0.4,
		               
		             }],
		             yAxes: [{
		               display: false,
		               ticks: {
		                 min: 0,
		                 stepSize: 2,
		                 fontSize: 14
		               }
		             }]
		           },
		           legendCallback: customLegend
		       },
		   });
		 };
		
		
		 // 3. 해당 지역의 유치원 국공립/사립 현황 그래프
		 let barChartData2 = {
		   labels: ['국공립', '사립'],
		   datasets: [{
		       data: [publicCnt[1], privateCnt[1]],
		       backgroundColor: ['#ffd700',  '#81c147'],
		       datalabels: {
		         labels: {
		           display: false
		         } 
		       }
		   }] 
		 };
		
		 let barChartDraw2 = function () {
		   let ctx = document.getElementById('barChartCanvas2').getContext('2d');
		   
		   window.barChart2 = new Chart(ctx, {
		       type: 'bar',
		       data: barChartData2,
		       options: {
		           responsive: false,
		           legend: {
		               display: false
		           },
		           scales: {
		             xAxes: [{
		               display: false,
		               barPercentage: 0.4,
		               
		             }],
		             yAxes: [{
		               display: false,
		               ticks: {
		                 min: 0,
		                 stepSize: 2,
		                 fontSize: 14
		               }
		             }]
		           },
		           legendCallback: customLegend
		       },
		   });
		 };
		
		
		 // 4. 주요 지역별 어린이집/유치원 현황 그래프
		 var locationN = /*[[${locationNCnt}]]*/{};
		 var locationK = /*[[${locationKCnt}]]*/{};
		 let barChartData3 = {
		   labels: ['서울', '인천', '경기', '강원', '충청', '전라', '경상'],
		   datasets: [
		     {
		       label: '어린이집',
		       data: [locationN[0], locationN[1], locationN[2], locationN[3], locationN[4], locationN[5], locationN[6]],
		       backgroundColor: '#ffc0cb',
		       datalabels: {
		         labels: {
		           display: false
		         } 
		       }
		     },
		     {
		       label: '유치원',
		       data: [locationK[0], locationK[1], locationK[2], locationK[3], locationK[4], locationK[5], locationK[6]],
		       backgroundColor: '#8977ad',
		       datalabels: {
		         labels: {
		           display: false
		         } 
		       }
		     }
		   ]  
		 };
		
		 let barChartDraw3 = function () {
		   let ctx = document.getElementById('barChartCanvas3').getContext('2d');
		   
		   window.barChart3 = new Chart(ctx, {
		       type: 'horizontalBar',
		       data: barChartData3,
		       options: {
		           indexAxis: 'y',
		           responsive: true,
		           legend: {
		               display: false
		           },
		           scales: {
		             xAxes: [{
		               display: false,
		               barPercentage: 0.5,
		               ticks: {
		                 beginAtZero: true
		               }
		             }],
		             yAxes: [{
		               display: true,
		               ticks: {
		                 min: 0,
		                 stepSize: 2,
		                 fontSize: 14
		               }
		             }]
		           },
		           legendCallback: customLegend2
		       },
		   });
		 };
		
		
		 // 범례 ver1
		 let customLegend = function (chart) {
		   let ul = document.createElement('ul');
		   let color = chart.data.datasets[0].backgroundColor;
		   let sum = chart.data.datasets[0].data[0] + chart.data.datasets[0].data[1];
		
		   chart.data.labels.forEach(function (label, index) {
		       ul.innerHTML += 
		         `<li>
		           <div>
		             <span class="circle" style="background-color: ${color[index]};"></span>
		             <span>${label}</span>
		           </div>
		           <div>
		             <span class="count">${chart.data.datasets[0].data[index]}개</span>
		             <span>(${Math.round((chart.data.datasets[0].data[index] / sum) * 100)}%)</span>
		           </div>
		         </li>`;
		   });
		   return ul.outerHTML;
		 };
		
		
		 // 범례 ver2
		 let customLegend2 = function (chart) {
		   let ul = document.createElement('ul');
		   let color = [chart.data.datasets[0].backgroundColor, chart.data.datasets[1].backgroundColor];
		
		   chart.data.datasets.forEach(function (label, index) {
		       ul.innerHTML += 
		         `<li>
		           <div>
		             <span class="circle" style="background-color: ${color[index]};"></span>
		             <span>${label.label}</span>
		           </div>
		         </li>`;
		   });
		   return ul.outerHTML;
		 };
		 
		 
		/* ========== 카카오 지도 ========== */
		// 지도에 표시된 마커 객체를 가지고 있을 배열입니다
		var markers = [];
		// 검색 결과
		var searchList = [
			/*[# th:each="num : ${#numbers.sequence(1,25)}"]*/
				  {
				    kind: '어',
				    no: /*[[${nursery[num].no}]]*/{},
				    type: /*[[${nursery[num].crtypename}]]*/{},
				    name: /*[[${nursery[num].crname}]]*/{},
				    address: /*[[${nursery[num].craddr}]]*/{},
				    image: null,
				  },
				  {
				    kind: '유',
				    no: /*[[${kinder[num].kinNo}]]*/{},
				    type: /*[[${kinder[num].establish}]]*/{},
				    name: /*[[${kinder[num].kindername}]]*/{},
				    address: /*[[${kinder[num].addr}]]*/{},
				    image: null,
					},
			/*[/]*/
			
		];
		 
		 var nurseryList = [
			/*[# th:each="num : ${#numbers.sequence(1,25)}"]*/
				  {
				    kind: '어',
				    no: /*[[${nursery[num].no}]]*/{},
				    type: /*[[${nursery[num].crtypename}]]*/{},
				    name: /*[[${nursery[num].crname}]]*/{},
				    address: /*[[${nursery[num].craddr}]]*/{},
				    image: null,
				  },
			/*[/]*/
			 
		 ];
		 
		 var kinderList = [
			/*[# th:each="num : ${#numbers.sequence(1,25)}"]*/
				  {
				    kind: '유',
				    no: /*[[${kinder[num].kinNo}]]*/{},
				    type: /*[[${kinder[num].establish}]]*/{},
				    name: /*[[${kinder[num].kindername}]]*/{},
				    address: /*[[${kinder[num].addr}]]*/{},
				    image: null,
					},
			/*[/]*/
			 
		 ];


		// 지도 생성
		var mapContainer = document.getElementById('kakao-map') 
		var mapOption = {
		  center: new kakao.maps.LatLng(37.5666805, 126.9784147), // 지도 중심좌표
		  level: 3 // 지도 확대 레벨
		};   
		var map = new kakao.maps.Map(mapContainer, mapOption); 


		// 각 객체의 주소값을 convertToLatLng() 함수의 매개변수로 넘기기
		searchList.forEach(convertToLatLng);


		// 지도를 재설정할 범위정보를 가지고 있을 LatLngBounds 객체를 생성
		var bounds = new kakao.maps.LatLngBounds();
		
		//주소를 좌표로 변환
		function convertToLatLng(item, index) {

		  //주소-좌표 변환 객체 생성
		  var geocoder = new kakao.maps.services.Geocoder();

		  //주소로 좌표 검색
		  geocoder.addressSearch(item.address, function(result, status) {

		    //정상적으로 검색이 완료됐으면
		    if (status === kakao.maps.services.Status.OK) {

		      // 좌표 생성
		      var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
		      
			  
		      //결과값으로 받은 위치를 마커로 표시
		      var marker = new kakao.maps.Marker({
		        position: coords,
		        clickable: true,
		      });
		      
		      // 마커 이미지 설정
		      var markerImage = null;
		      if(item.kind ==  '어') {
		    	  markerImage = new kakao.maps.MarkerImage(
		    			    'img/ukids/map/nursery-marker.svg', new kakao.maps.Size(31, 35), new kakao.maps.Point(13, 34));
		      } else {
		    	  markerImage = new kakao.maps.MarkerImage(
		    			    'img/ukids/map/kinder-marker.svg', new kakao.maps.Size(31, 35), new kakao.maps.Point(13, 34));
		      }
		      
		      marker.setImage(markerImage);
// 		      marker.setMap(map);

		      // 마커에 표시할 인포윈도우를 생성
		      var infowindow = new kakao.maps.InfoWindow({
		        content: 
		          `<a class="marker-box">
		            <span class="info-type">${item.type}</span>
		            <div>
		              <span class="info-name">${item.name}</span>
		            </div>
		            <span class="info-addr"><i class="ci-location"></i>${item.address}</span>
		          </a>`,
		        removable: true,
		      });

		      // 마커 클릭하면 인포뒤도우 표시
		      kakao.maps.event.addListener(marker, 'click', function() {
		        infowindow.open(map, marker);  
		      });

		      // 검색 결과에 맞게 지도 범위 재설정
		      bounds.extend(coords);
		      map.setBounds(bounds);
		      
		   	  // 생성된 마커를 배열에 추가합니다
		      markers.push(marker);
		      showMarkers();
		    }    
		  });
		}
		
		// 배열에 추가된 마커들을 지도에 표시하거나 삭제하는 함수입니다
		function setMarkers(map) {
		    for (var i = 0; i < markers.length; i++) {
		        markers[i].setMap(map);
		    }            
		}
		
		// "마커 보이기" 버튼을 클릭하면 호출되어 배열에 추가된 마커를 지도에 표시하는 함수입니다
		function showMarkers() {
		    setMarkers(map)    
		}

		// "마커 감추기" 버튼을 클릭하면 호출되어 배열에 추가된 마커를 지도에서 삭제하는 함수입니다
		function hideMarkers() {
		    setMarkers(null); 
			markers = [];
		}

		// 사이드바 목록 추가
		const sidebar = document.querySelector('#school-list .overflow-auto');
		const searchCount = document.querySelector('#school-list .product-title span');

		searchCount.innerHTML = searchList.length;

		searchList.forEach(setSidebar);
		
		function setSidebar(item, index) {
			let href = '';
			let alt = '';
			let src = '';
			let tag = '';
			
			var i = item.no % 30;
		  
			if (item.kind === '어') {
		    	href = `/nursery-detail?no=${item.no}&i=${i}`;
		    	alt = 'Nursery';
		    	src = `img/어린이집/nursery${i}.JPG`;
		    	tag = 'ns-tag';
		  	}
		  	if (item.kind === '유') {
		    	href = `/kinder-detail?no=${item.no}&i=${i}`;
		    	alt = 'Kindergarden';
		    	src = `img/유치원/kinder${i}.JPG`;
		    	tag = 'kg-tag';
		  	}

		  	sidebar.innerHTML += 
		  		`<div class="card product-card product-list px-3 py-2">
		    		<span class="tag ${tag} btn-wishlist btn-sm">${item.kind}</span>
		    		<div class="d-sm-flex align-items-center">
		      			<a class="product-list-thumb" href="${href}"><img src="${src}" alt="${alt}"></a>
		      			<div class="card-body py-2">
		        			<div class="product-price"><span class="text-accent"><small>${item.type}</small></span></div>
		        			<h3 class="product-title fs-base mt-1 mb-2"><a href="${href}">${item.name}</a></h3>
		        			<span class="product-meta d-block fs-xs pb-1"><i class="ci-location me-1"></i>${item.address}</span>
		      			</div>
		    		</div>
		  		</div>
		  		<div class="border-top pt-0 mt-0"></div>`
		}
		
		// 체크 박스
		
		$('.form-check-input').click(function() {
			let nsIschecked = $('#ns-check').is(':checked');
			let kgIschecked = $('#kg-check').is(':checked');
			hideMarkers();
			var showList = [];
			if(nsIschecked && kgIschecked) {
				showList = searchList;
			} else {
				if(nsIschecked && !kgIschecked) {
					showList = nurseryList;
					
				} else if(!nsIschecked && kgIschecked) {
					showList = kinderList;
				} else {
					showList = [];
				}
			}
			showList.forEach(convertToLatLng);
			searchCount.innerHTML = showList.length;
			sidebar.innerHTML = '';
			showList.forEach(setSidebar);
		});
    
    </script>
  </body>
</html>