<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>UKIDS | 유치원</title>
    <!-- SEO Meta Tags
    <meta name="description" content="Cartzilla - Bootstrap E-commerce Template">
    <meta name="keywords" content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
    <meta name="author" content="Createx Studio"> -->
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/ukids/logo.jpg}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/ukids/logo.jpg}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/ukids/logo.jpg}">
    <link rel="manifest" th:href="@{/site.webmanifest}">
    <link rel="mask-icon" color="#fe6a6a" th:href="@{/safari-pinned-tab.svg}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" th:href="@{/vendor/simplebar/dist/simplebar.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/vendor/tiny-slider/dist/tiny-slider.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/vendor/drift-zoom/dist/drift-basic.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/vendor/lightgallery.js/dist/css/lightgallery.min.css}"/>
    
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" th:href="@{/css/theme.min.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/kinder-nursery.css}">
    <link rel="stylesheet" th:href="@{/css/kinder-sidebar.css}">
    <!--해당 페이지 css-->

    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <style>
      @font-face {
      font-family: 'NanumSquareRound';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }
    *{
      font-family: 'NanumSquareRound';
    }
    </style>
  </head>
  
  <!-- Body-->
  <body class="handheld-toolbar-enabled">
    <!-- 로그인 모달 관련  -->
    <div th:fragment="modal" th:replace="~{common :: modal}"></div>
    
    <main class="page-wrapper" style="height: 2260px;">
      <!-- 헤더!!!!!! -->
      <header th:fragment="header" th:replace="~{common :: header}"></header>
      
      <section class="position-relative bg-dark bg-size-cover bg-position-center-x py-5 mb-4" id="headerimg1">
        <span class="position-absolute top-0 start-0 w-100 h-100" style="opacity: .65;"></span>
        <div class="container position-relative zindex-5 mb-3">
          <div class="order-lg-2 mb-3 mb-lg-0 pt-0 pb-4">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-light fw-bold fs-md flex-lg-nowrap justify-content-center justify-content-lg-end">
                <li class="breadcrumb-item"><a class="text-nowrap" th:href="@{/}"><i class="ci-home"></i>유키즈</a></li>
                <li class="breadcrumb-item text-nowrap text-pink" aria-current="page">유치원</li>
              </ol>
            </nav>
          </div>
        </div>
        <form th:action="@{/kinder-main}" method="GET">
          <div class="row justify-content-center pt-4 pb-4">
            <div class="col-lg-8">
              <h1 class="text-light"><b>유치원</b></h1>
              <div class="input-group input-group-lg flex-nowrap">
                <i class="position-absolute top-50 translate-middle-y text-muted fs-base ms-3">
                  <img th:src="@{/img/search(1).svg}" class="icon"></i>
                <input class="form-control" name="search" type="text" placeholder="유치원을 검색하세요." id="serch" th:value="${param.search}">&nbsp;&nbsp;
                <button class="btn btn-primary btn-lg fs-base" type="submit" id="buton">검색하기</button>
              </div>
            </div>
          </div>
        </form>
      </section>
      <div class="container pb-5 mb-2 mb-md-4 cgw1">
        <div class="row">
          <!-- Sidebar-->
          <form class="form888" th:action="@{/kinder-main}" method="GET">
            <aside class="col-lg-41 pt-31" id="aaside">
              <!-- Sidebar-->
              <!-- <div class="offcanvas offcanvas-collapse1 bg-white w-100 rounded-3 shadow-lg py-1" style="margin-top: 30px;"> -->
                <div>
                  <img class="img" th:src="@{/img/가랜드1.svg}" style="margin-bottom:-13px">
                </div>
                <div class="offcanvas-body py-grid-gutter px-lg-grid-gutter" id="category1">
                  <div class="ccategory">
                    <h3><b>카테고리</b></h3>
                  </div>
                  <div class="widget widget-filter pb-4" id="builder">
                    <h3 class="widget-title1"><b>설립유형</b></h3>
                    <ul class="widget-list widget-filter-list list-unstyled pt-1" style="max-height: 11rem;" data-simplebar data-simplebar-auto-hide="false">
                        <th:block th:if="${param.build == null}">
		                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
		                        <div class="form-check">
		                        
		                          <input class="form-check-input" name="build" type="checkbox" id="build1" value="공립">
		                          <label class="form-check-label widget-filter-item-text" for="build1">국공립</label>
		                        </div>
		                      </li>
		                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
		                        <div class="form-check">
		                          <input class="form-check-input" name="build" type="checkbox" id="build2" value="사립">
		                          <label class="form-check-label widget-filter-item-text" for="build2">사립</label>
		                        </div>
		                      </li>
                        </th:block>
                        <th:block th:if="${param.build != null}">
		                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
		                        <div class="form-check">
		                        
		                          <input class="form-check-input" name="build" type="checkbox" id="build1" value="공립" th:checked="${#strings.contains(param.build,'공립')} ? 'checked' : null ">
		                          <label class="form-check-label widget-filter-item-text" for="build1">국공립</label>
		                        </div>
		                      </li>
		                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
		                        <div class="form-check">
		                          <input class="form-check-input" name="build" type="checkbox" id="build2" value="사립" th:checked="${#strings.contains(param.build,'사립')} ? 'checked' : null ">
		                          <label class="form-check-label widget-filter-item-text" for="build2">사립</label>
		                        </div>
		                      </li>
                        </th:block>
                    </ul>
                  </div>
                  <div class="widget widget-filter pb-4" id="district">
                    <h3 class="widget-title1"><b>지역</b></h3>
                    <div class="form-inline">
                      <select class="form-select" name="city" id="city" onchange="cityChange()" style="border-radius: 10px; width: 120px; display: inline;">
                        <option value=" " th:selected="${param.city} == ' '">전체</option>
                        <option value="서울" th:selected="${param.city} == '서울'">서울</option>
                        <option value="부산" th:selected="${param.city} == '부산'">부산</option>
                        <option value="대구" th:selected="${param.city} == '대구'">대구</option>
                        <option value="인천" th:selected="${param.city} == '인천'">인천</option>
                        <option value="광주" th:selected="${param.city} == '광주'">광주</option>
                        <option value="대전" th:selected="${param.city} == '대전'">대전</option>
                        <option value="울산" th:selected="${param.city} == '울산'">울산</option>
                        <option value="세종특별" th:selected="${param.city} == '세종특별'">세종</option>
                        <option value="경기도" th:selected="${param.city} == '경기도'">경기도</option>
                        <option value="강원도" th:selected="${param.city} == '강원도'">강원도</option>
                        <option value="충청북도" th:selected="${param.city} == '충청북도'">충청북도</option>
                        <option value="충청남도" th:selected="${param.city} == '충청남도'">충청남도</option>
                        <option value="전라북도" th:selected="${param.city} == '전라북도'">전라북도</option>
                        <option value="전라남도" th:selected="${param.city} == '전라남도'">전라남도</option>
                        <option value="경상북도" th:selected="${param.city} == '경상북도'">경상북도</option>
                        <option value="경상남도" th:selected="${param.city} == '경상남도'">경상남도</option>
                        <option value="제주" th:selected="${param.city} == '제주'">제주도</option>
                      </select>&nbsp;
                      <select class="form-select" name="town" id="town" style="border-radius: 10px; width: 110px; display: inline;">
                        <option value=" ">전체</option>
                      </select>&nbsp;
                    </div>
                  </div>
                  <!-- Filter by Size-->
                  <div class="widget widget-filter pb-4" id="hakgup">
                    <h3 class="widget-title1"><b>학급현황</b></h3>
                    <ul class="widget-list widget-filter-list list-unstyled pt-1" style="max-height: 11rem;" data-simplebar data-simplebar-auto-hide="false">
	                    <th:block th:if="${param.classroom == null}">
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="classroom" type="checkbox" id="class1" value="class1">
	                          <label class="form-check-label widget-filter-item-text" for="class1">특수학급</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="classroom" type="checkbox" id="class2" value="class2">
	                          <label class="form-check-label widget-filter-item-text" for="class2">혼합학급</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="classroom" type="checkbox" id="class3" value="class3">
	                          <label class="form-check-label widget-filter-item-text" for="class3">만3세 학급</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="classroom" type="checkbox" id="class4" value="class4">
	                          <label class="form-check-label widget-filter-item-text" for="class4">만4세 학급</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="classroom" type="checkbox" id="class5" value="class5">
	                          <label class="form-check-label widget-filter-item-text" for="class5">만5세 학급</label>
	                        </div>
	                      </li>
	                    </th:block>
	                    <th:block th:if="${param.classroom != null}">
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="classroom" type="checkbox" id="class1" value="class1" th:checked="${#strings.contains(param.classroom,'class1')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="class1">특수학급</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="classroom" type="checkbox" id="class2" value="class2" th:checked="${#strings.contains(param.classroom,'class2')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="class2">혼합학급</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="classroom" type="checkbox" id="class3" value="class3" th:checked="${#strings.contains(param.classroom,'class3')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="class3">만3세 학급</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="classroom" type="checkbox" id="class4" value="class4" th:checked="${#strings.contains(param.classroom,'class4')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="class4">만4세 학급</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="classroom" type="checkbox" id="class5" value="class5" th:checked="${#strings.contains(param.classroom,'class5')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="class5">만5세 학급</label>
	                        </div>
	                      </li>
	                    </th:block>
                    </ul>
                  </div>
                  <div class="widget widget-filter pb-4" id="teacher">
                    <h3 class="widget-title1"><b>교사현황</b></h3>
                    <ul class="widget-list widget-filter-list list-unstyled pt-1" style="max-height: 11rem;" data-simplebar data-simplebar-auto-hide="false">
	                    <th:block th:if="${param.teacher == null}">
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="teacher" type="checkbox" id="teacher1" value="special">
	                          <label class="form-check-label widget-filter-item-text" for="teacher1">특수교사</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="teacher" type="checkbox" id="teacher2" value="health">
	                          <label class="form-check-label widget-filter-item-text" for="teacher2">보건교사</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="teacher" type="checkbox" id="teacher3" value="nutrition">
	                          <label class="form-check-label widget-filter-item-text" for="teacher3">영양교사</label>
	                        </div>
	                      </li>
	                    </th:block>
	                    <th:block th:if="${param.teacher != null}">
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="teacher" type="checkbox" id="teacher1" value="special" th:checked="${#strings.contains(param.teacher,'special')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="teacher1">특수교사</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="teacher" type="checkbox" id="teacher2" value="health" th:checked="${#strings.contains(param.teacher,'health')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="teacher2">보건교사</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="teacher" type="checkbox" id="teacher3" value="nutrition" th:checked="${#strings.contains(param.teacher,'nutrition')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="teacher3">영양교사</label>
	                        </div>
	                      </li>
	                    </th:block>
                    </ul>
                  </div>
                  <div class="widget widget-filter pb-4" id="service">
                    <h3 class="widget-title1"><b>제공서비스</b></h3>
                    <ul class="widget-list widget-filter-list list-unstyled pt-1" style="max-height: 11rem;" data-simplebar data-simplebar-auto-hide="false">
	                    <th:block th:if="${param.service == null}">
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="service" type="checkbox" id="bus" value="bus">
	                          <label class="form-check-label widget-filter-item-text" for="bus">통학 차량</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="service" type="checkbox" id="afterschool" value="afterschool">
	                          <label class="form-check-label widget-filter-item-text" for="afterschool">방과후 교실</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="service" type="checkbox" id="food" value="food">
	                          <label class="form-check-label widget-filter-item-text" for="food">급식</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="service" type="checkbox" id="play" value="play">
	                          <label class="form-check-label widget-filter-item-text" for="play">체육장</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="service" type="checkbox" id="cctv" value="cctv">
	                          <label class="form-check-label widget-filter-item-text" for="cctv">CCTV</label>
	                        </div>
	                      </li>
	                    </th:block>
	                    <th:block th:if="${param.service != null}">
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="service" type="checkbox" id="bus" value="bus" th:checked="${#strings.contains(param.service,'bus')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="bus">통학 차량</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="service" type="checkbox" id="afterschool" value="afterschool" th:checked="${#strings.contains(param.service,'afterschool')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="afterschool">방과후 교실</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="service" type="checkbox" id="food" value="food" th:checked="${#strings.contains(param.service,'food')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="food">급식</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="service" type="checkbox" id="play" value="play" th:checked="${#strings.contains(param.service,'play')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="play">체육장</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="service" type="checkbox" id="cctv" value="cctv" th:checked="${#strings.contains(param.service,'cctv')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="cctv">CCTV</label>
	                        </div>
	                      </li>
	                    </th:block>
                    </ul>
                  </div>
                  <div class="widget widget-filter pb-4 mt-4" id="security">
                    <h3 class="widget-title1"><b>위생관리 및 안전점검 현황</b></h3>
                    <ul class="widget-list widget-filter-list list-unstyled pt-1" style="max-height: 12rem;" data-simplebar data-simplebar-auto-hide="false">
	                    <th:block th:if="${param.facility} == null">
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="facility" type="checkbox" id="facility1" value="disinfect">
	                          <label class="form-check-label widget-filter-item-text" for="facility1">정기소독 관리 대상 시설</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="facility" type="checkbox" id="facility2" value="firesafe">
	                          <label class="form-check-label widget-filter-item-text" for="facility2">소방안전점검 여부</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="facility" type="checkbox" id="facility3" value="firetrain">
	                          <label class="form-check-label widget-filter-item-text" for="facility3">소방대피훈련 시행 시설</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="facility" type="checkbox" id="facility4" value="playsafe">
	                          <label class="form-check-label widget-filter-item-text" for="facility4">놀이시설안전검사 대상 시설</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="facility" type="checkbox" id="facility5" value="gas">
	                          <label class="form-check-label widget-filter-item-text" for="facility5">가스점검 완료 시설</label>
	                        </div>
	                      </li>
	                       <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="facility" type="checkbox" id="facility6" value="elect">
	                          <label class="form-check-label widget-filter-item-text" for="facility6">전기설비점검 완료 시설</label>
	                        </div>
	                      </li>
	                    </th:block>
	                    <th:block th:if="${param.facility} != null">
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="facility" type="checkbox" id="facility1" value="disinfect" th:checked="${#strings.contains(param.facility,'disinfect')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="facility1">정기소독 관리 대상 시설</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="facility" type="checkbox" id="facility2" value="firesafe" th:checked="${#strings.contains(param.facility,'firesafe')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="facility2">소방안전점검 여부</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="facility" type="checkbox" id="facility3" value="firetrain" th:checked="${#strings.contains(param.facility,'firetrain')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="facility3">소방대피훈련 시행 시설</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="facility" type="checkbox" id="facility4" value="playsafe" th:checked="${#strings.contains(param.facility,'playsafe')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="facility4">놀이시설안전검사 대상 시설</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="facility" type="checkbox" id="facility5" value="gas" th:checked="${#strings.contains(param.facility,'gas')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="facility5">가스점검 완료 시설</label>
	                        </div>
	                      </li>
	                       <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="facility" type="checkbox" id="facility6" value="elect" th:checked="${#strings.contains(param.facility,'elect')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="facility6">전기설비점검 완료 시설</label>
	                        </div>
	                      </li>
	                    </th:block>
                    </ul>
                  </div>
                </div>
              <!-- </div> -->
              <div id="hover">
                <button class="filter-btn" type="submit">
                  <i class="ci-search fw-bold me-2"></i><b>선택한 조건으로 검색</b>
                </button>
              </div>
            </aside>
          </form>
          <!-- Content  -->
          <section class="col-lg-8 pt-3" style="margin-left: 90px;">
            <!-- Products grid-->
            <div class="headtext">
              <b class="bold">검색 목록 [[${count}]]건</b>
              <a href="/compare-kinder" class="compare">
                <div class="compareIcon"><img src="img/back(1).svg"></div>&nbsp;&nbsp;<b>선택목록 비교하기</b>
              </a>
            </div>
            <div class="ddive">
            
	            <th:block th:if="${count == 0}">
	            	<h3 class="text-center">검색 결과가 없습니다.</h3>
	            </th:block>
	            
	            <th:block th:if="${list != null}">
	            	<th:block th:each="kinder : ${list}">
		              <div class="box777">
		                  <div class="photo777" style="background-image: url(img/유치원/kinder1.JPG);">
		                    <button class="button7" th:id="'compare' + ${kinder.kinNo}" value="false" th:onclick="|onClickCompare('compare${kinder.kinNo}')|">
		                      <i class="ci-bookmark"></i>
		                      <b>&nbsp;비교&nbsp;</b>
		                    </button>
		                    <button class="btn-wishlist1 btn-sm" th:id="'heart' + ${kinder.kinNo}" value="false" th:onclick="|onClickHeart('heart${kinder.kinNo}')|" style="position: relative; left: 150px;">
		                      <img src="img/suit-heart.svg" class="iimage">
		                    </button>
		                  </div>
		                  <div class="container777">
		                    <a class="sarip">&nbsp;&nbsp;[[${kinder.establish}]]&nbsp;&nbsp;</a>
		                    <div class="container888">
		                      <h3 class="product-title fs-sm" style="margin-top: 10px;" >
		                        <a th:href="|/kinder-detail?no=${kinder.kinNo}|"><b>[[${kinder.kindername}]]</b></a>
		                      </h3>
		                    </div>
		                    <div class="location"><i class="ci-location text-accent fw-bold"></i>&nbsp;[[${kinder.addr}]]</div>
		                  </div>
		              </div>
	            	</th:block>
	            </th:block>

            </div>
            <th:block th:if="${count != 0}">
	            <nav class="d-flex justify-content-between pt-2 mb-5" aria-label="Page navigation" style="width: 790px;">
	              <ul class="pagination" id="prev">
	              	<!-- 이전 페이지 -->
	                <li class="page-item"><a class="page-link" th:onclick="|movePage(${pageInfo.prevPage});|"><i class="ci-arrow-left me-2"></i>Prev</a></li>
	              </ul>
	              <ul class="pagination">
	                <li class="page-item d-sm-none"><span class="page-link page-link-static">1 / 5</span></li>
	                
	                <th:block th:each="num, status : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
	                	<th:block th:if="${status.current == pageInfo.currentPage}">
			                <li class="page-item d-none d-sm-block page" aria-current="page">
			                  <span class="page-link">[[${status.current}]]<span class="visually-hidden">(current)</span></span>
			                </li>
	                	</th:block>
	                	<th:block th:if="${status.current != pageInfo.currentPage}">
			                <li class="page-item d-none d-sm-block"><a class="page-link" th:onclick="|movePage(${status.current});|">[[${status.current}]]</a></li>
	                	</th:block>
	                </th:block>
	                
	              </ul>
	              <ul class="pagination" id="next">
	                <li class="page-item"><a class="page-link" th:onclick="|movePage(${pageInfo.nextPage});|" aria-label="Next">Next<i class="ci-arrow-right ms-2"></i></a></li>
	              </ul>
	            </nav>
            </th:block>
          </section>
        </div>
      </div>
    </main>
    <!-- Footer-->
    <footer th:fragment="footer" th:replace="~{common :: footer}"></footer>
    
    <!-- Toolbar for handheld devices (Default)-->
    <!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">   </i></a>
    <!-- Vendor scrits: js libraries and plugins-->
    <script th:src="@{/vendor/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/vendor/simplebar/dist/simplebar.min.js}"></script>
    <script th:src="@{/vendor/tiny-slider/dist/min/tiny-slider.js}"></script>
    <script th:src="@{/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js}"></script>
    <script th:src="@{/vendor/nouislider/dist/nouislider.min.js}"></script>
    <script th:src="@{/vendor/drift-zoom/dist/Drift.min.js}"></script>
    <script th:src="@{/vendor/lightgallery.js/dist/js/lightgallery.min.js}"></script>
    <script th:src="@{/vendor/lg-video.js/dist/lg-video.min.js}"></script>
    <script th:src="@{/vendor/flatpickr/dist/flatpickr.min.js}"></script>
    <script th:src="@{/vendor/flatpickr/dist/plugins/rangePlugin.js}"></script>
    <!-- Main theme script-->
    <script th:src="@{/js/theme.min.js}"></script>
    <script th:src="@{/js/address.js}"></script>
    <script th:src="@{/js/button-compare.js}"></script>
    <script th:src="@{/js/button-heart.js}"></script>
    
	<script type="text/javascript">
		var url_href = window.location.href;
	    var url = new URL(url_href); // URL 객체 선언
	    
	    $(function() {
			const urlParams = new URL(location.href).searchParams;
			var city = urlParams.get('city');
			if(city != '') {
				cityChange();
			}
		})
	    
		function movePage(page){
			url.searchParams.set("page", page);
			
			window.location.search = url.searchParams;
		};
	    
	</script>
  </body>
</html>




