<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>UKIDS | 유치원</title>
    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="img/ukids/logo.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="img/ukids/logo.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="img/ukids/logo.jpg">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="vendor/simplebar/dist/simplebar.min.css"/>
    <link rel="stylesheet" media="screen" href="vendor/tiny-slider/dist/tiny-slider.css"/>
    <link rel="stylesheet" media="screen" href="vendor/drift-zoom/dist/drift-basic.min.css"/>
    <link rel="stylesheet" media="screen" href="vendor/lightgallery.js/dist/css/lightgallery.min.css"/>
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="css/theme.min.css">
    <link rel="stylesheet" href="./css/kinder-detail.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/footer.css">
     <!-- 차트js-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
    <script src="./js/kinder-detail.js"></script>
    <!-- 달력 관련 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/ko.js"></script>
    <style>
      *{font-family: 'NanumSquareRound';}
    </style>
  </head>
  <!-- Body-->
  <body class="handheld-toolbar-enabled">
        <!-- 로그인 모달 관련  -->
        <div th:fragment="modal" th:replace="~{common :: modal}"></div>
        
    <main class="page-wrapper">

          <!-- 모달 관련(1:1채팅, 유치원 신청)-->
          <!-- 채팅 모달 -->
        <div id="chatModal" class="modal fade" tabindex="-1" role="dialog">
          <div class= "modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header" style="background-color: #fc6c93; margin: 0px;">
                <h4 class="modal-title" style="color: #ffffff;">[[${kinder.kindername}]]</h4>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              
              <div id="msgArea" class="py-2 px-3" style="height: 500px; overflow-y: auto;"></div>

              <div class="modal-footer">
                <input class="form-control" type="text" id="chatMsg" spellcheck="false">
                <button id="sendBtn" type="button" class="btn btn-primary btn-sm">전&emsp;송</button>
              </div>
            </div>
          </div>
        </div>
        
          <!-- 유치원 신청 모달 -->
          <div class="modal fade" id="enroll-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">

                <div class="modal-header" style="background-color: #fc6c93;">
                  <div style="width: 100%; text-align: center;">
                    <i class="ci-user me-2 mt-n1" style="font-size: 24px; color: #ffffff"></i><span style="font-size: 24px; letter-spacing: 2px; color: #ffffff;">입소신청</span>
                  </div>
                  <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body tab-content py-4">
                  <form action="/kinder-enroll" method="POST" onsubmit="return submitCheck();" class="needs-validation tab-pane fade show active" novalidate id="signin-tab">
                  	<input type="hidden" name="kinNo" th:value="${kinder.kinNo}">
	                <input type="hidden" name="i" th:value="${i}">
                    <label class="form-label fs-6">희망학급</label>
                    <div class="mb-3 fs-5">
                      <div class="form-check form-check-inline" id="classBox">
                        <input class="form-check-input radio-pink" type="radio" id="class3" name="classSort" required>
                        <label class="form-check-label" for="class3">3세반</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input radio-pink" type="radio" id="class4" name="classSort">
                        <label class="form-check-label" for="class4">4세반</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input radio-pink" type="radio" id="class5" name="classSort">
                        <label class="form-check-label" for="class5">5세반</label>
                      </div>
                    </div>
                    <div class="mb-3">
                      <!-- 달력 들어갈 자리-->
                      <!-- Date picker -->
                      <label class="form-label fs-6">희망날짜</label>
                      <div class="input-group">
                        <input name="hDate" id="hopeDate" class="form-control date-picker rounded pe-5" type="text" placeholder="희망하는 날짜를 입력해주세요" required data-datepicker-options='{"altInput": false, "altFormat": "F j, Y", "dateFormat": "Y-m-d", "monthSelectorType": "static", "minDate": "today", "locale": "ko"}'>
                      </div>
                      <span class="text-danger fs-sm" id="date-notice"></span>
                    </div>
                    <button id="enrollBtn" class="btn btn-primary d-block w-100" type="submit">신&nbsp;청&nbsp;하&nbsp;기</button>
                  </form>
                </div> <!-- modal body 끝-->
              </div>
            </div>
          </div>

      <!-- 헤더!!!!!! -->
      <header th:fragment="header" th:replace="~{common :: header}"></header>
      
      <!-- Page Title-->
      <div class="page-title-overlap pt-2" style="height: 350px;" id="background_div">
        <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
          <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-light fw-bold fs-md flex-lg-nowrap justify-content-center justify-content-lg-end">
                <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="ci-home"></i>유키즈</a></li>
                <li class="breadcrumb-item text-nowrap"><a href="/kinder-main">유치원</a></li>
                <li class="breadcrumb-item text-nowrap text-pink" aria-current="page" style="color: #fc6c93;">유치원 상세</li>
              </ol>
            </nav>
          </div>
          <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            
          </div>
        </div>
      </div>

      <!-- 어린이집 이름, 어린이집 이미지, 카카오 지도 부분-->
      <div class="container" style="margin-top: -250px;">

        <div class="bg-light shadow-lg rounded-3 px-4 py-3 mb-5">
          <div class="px-lg-3">
            <div class="row">
              <h1 style="margin-top: 25px; color:black"><img class="me-1" src="/img/ukids/kinder/gcicon.JPG" style="width: 50px; height: 40px;"> [[${kinder.kindername}]] <span id="establish">[[${kinder.establish}]]</span></h1>
              <hr style="margin-top: 10px; margin-left: 25px; width: 95%;">
              <div class="col rounded-3 mb-5 mt-3 mx-3" style="height: 400px; width: 500px;" id="kinderImg">
                <img class="rounded-3" th:src="|img/유치원/kinder${i}.JPG|" width="100%" height="100%">
              </div>
              <div class="col mt-3 rounded-3">
                <div class="rounded-3" id="map" style="width:100%;height:410px; z-index:0;"></div>
              </div>
            </div>
            <div class="row mt-2 mx-2" style="width: 100%;">
              <div class="col-9 rounded-3" style="height: 500px; background-color: #e6e6e6;">

                <div class="row">
                 <div class="col">
                  <ul class="list-unstyled" id="info_list">
                    <li class="mb-3"><h5 class="fw-bold">설립일</h5><div class="info_content" style="margin-left: 80px;">[[${edate}]]</div></li>
                    <li class="mb-3"><h5 class="fw-bold">개원일</h5><div class="info_content" style="margin-left: 80px;">[[${odate}]]</div></li>
                    <li class="mb-3"><h5 class="fw-bold">전화번호</h5><div class="info_content" style="margin-left: 62px;">[[${kinder.telno}]]</div></li>
                    <li class="mb-3"><h5 class="fw-bold">CCTV 설치 현황</h5><div class="info_content" style="width: 236px;">[[${kinder.cctv_ist_total}]]대</div></li>
                    <li class="mb-3"><h5 class="fw-bold">관할행정기관</h5><div class="info_content"  style="margin-left: 25px;">[[${kinder.officeedu}]]</div></li>
                    <li class="mb-3"><h5 class="fw-bold">주소</h5><div class="info_content" style="margin-left: 40px; width: 298px;">[[${kinder.addr}]]</div></li>
                  </ul>
                 </div>


                 <div class="col">
                  <ul class="list-unstyled" id="info_list2">
                    <li class="mb-3"><h5 class="fw-bold">대표자명</h5><div class="info_content2" style="width: 280px;">[[${kinder.rppnname}]]</div></li>
                    <li class="mb-3"><h5 class="fw-bold">원장명</h5><div class="info_content2" style="width: 300px;">[[${kinder.ldgrname}]]</div></li>
                    <li class="mb-3"><h5 class="fw-bold">운영시간</h5><div class="info_content2" style="width: 280px;">[[${kinder.opertime}]]</div></li>
                    <th:block th:if="${kinder.hpaddr == ''}">
	                    <li class="mb-3"><h5 class="fw-bold">홈페이지</h5><div class="info_content2" style="width: 280px;"><a><i class="ci-home fw-bold" id="home_icon"></i></a></div></li>
                    </th:block>
                    <th:block th:if="${kinder.hpaddr != ''}">
	                    <li class="mb-3"><h5 class="fw-bold">홈페이지</h5><div class="info_content2" style="width: 280px;"><a th:href="|${kinder.hpaddr}|"><i class="ci-home fw-bold" id="home_icon" style="color: #fc6c93"></i></a></div></li>
                    </th:block>
                    <li class="mb-3"><h5 class="fw-bold">제공 서비스</h5>
                      <span style="padding-left: 270px;">
                        <ul class="list-unstyled mx-2" id="service_icon">
                        <th:block th:if="${kinder.shclcnt} != 0">
	                          <li><div class="service-y"><img src="img/ukids/kinder/universal-access.svg"></div><span style="margin-left: 3px;">특수학급</span></li>
                        </th:block>
                        <th:block th:if="${kinder.shclcnt} == 0">
	                          <li><div class="service-n"><img src="img/ukids/kinder/universal-access2.svg"></div><span style="margin-left: 3px;">특수학급</span></li>
                        </th:block>
                        <th:block th:if="${kinder.afsc_pros_lsn_dcnt} != 0">
	                          <li><div class="service-y"><img src="img/ukids/kinder/brightness-high.svg"></div><span>방과후활동</span></li>
                        </th:block>
                        <th:block th:unless="${kinder.afsc_pros_lsn_dcnt} != 0">
	                          <li><div class="service-n"><img src="img/ukids/kinder/brightness-high2.svg"></div><span>방과후활동</span></li>
                        </th:block>
                        <th:block th:if="${kinder.vhcl_oprn_yn} == 'Y'">
	                          <li><div class="service-y"><img src="img/ukids/kinder/bus-front.svg"></div><span style="margin-left: 5px;">통학차량</span></li>
                        </th:block>
                        <th:block th:unless="${kinder.vhcl_oprn_yn} == 'Y'">
	                          <li><div class="service-n"><img src="img/ukids/kinder/bus-front2.svg"></div><span style="margin-left: 5px;">통학차량</span></li>
                        </th:block>
                        <th:block th:if="${kinder.mas_mspl_dclr_yn} == 'Y'">
	                          <li><div class="service-y"><img src="img/ukids/kinder/cup-straw.svg"></div><span style="margin-left: 18px;">급식</span></li>
                        </th:block>
                        <th:block th:unless="${kinder.mas_mspl_dclr_yn} == 'Y'">
	                          <li><div class="service-n"><img src="img/ukids/kinder/cup-straw2.svg"></div><span style="margin-left: 18px;">급식</span></li>
                        </th:block>
                        <th:block th:if="${kinder.phgrindrarea} != '㎡' and ${kinder.phgrindrarea} != '0㎡'">
	                          <li><div class="service-y"><img src="img/ukids/kinder/dribbble.svg"></div><span style="margin-left: 10px;">체육장</span></li>
                        </th:block>
                        <th:block th:unless="${kinder.phgrindrarea} != '㎡' and ${kinder.phgrindrarea} != '0㎡'">
	                          <li><div class="service-n"><img src="img/ukids/kinder/dribbble2.svg"></div><span style="margin-left: 10px;">체육장</span></li>
                        </th:block>
                        <th:block th:if="${kinder.cctv_ist_yn} == 'Y'">
	                          <li><div class="service-y"><img src="img/ukids/kinder/eye.svg"></div><span style="margin-left: 12px;">CCTV</span></li>
                        </th:block>
                        <th:block th:unless="${kinder.cctv_ist_yn} == 'Y'">
	                          <li><div class="service-n"><img src="img/ukids/kinder/eye2.svg"></div><span style="margin-left: 12px;">CCTV</span></li>
                        </th:block>
                        </ul>
                      </span>
                    </li>
                  </ul>
                 </div>
                </div>

              </div>
              <div class="col-3" id="function_container">
                <div class="row mb-3" id="row_1"><!-- Launch modal with srolling content -->
                
                	<th:block th:if="${session.loginMember == null}">
		                  <a onclick="cantDo();" id="modalLink">
		                    <button type="button" class="btn btn-outline-secondary shadow-lg" id="chatButton">
		                      <span>1:1 채팅</span>
		                    </button>
		                  </a>
                	</th:block>
                	<th:block th:unless="${session.loginMember == null}">
                		<th:block th:if="${session.loginMember.role == 'ROLE_T'}">
                			<th:block th:if="${session.loginMember.field == '유치원' && session.loginMember.fieldCd == kinder.kinderCode}">
			                  <a href="#chatModal" id="modalLink">
			                    <button type="button" class="btn btn-outline-secondary shadow-lg" data-bs-toggle="modal" data-bs-target="#chatModal" id="chatButton">
			                      <span>1:1 채팅</span>
			                    </button>
			                  </a>
                			</th:block>
                			<th:block th:unless="${session.loginMember.field == '유치원' && session.loginMember.fieldCd == kinder.kinderCode}">
			                  <a onclick="cantChat();" id="modalLink">
			                    <button type="button" class="btn btn-outline-secondary shadow-lg" id="chatButton">
			                      <span>1:1 채팅</span>
			                    </button>
			                  </a>
                			</th:block>
                		</th:block>
                		<th:block th:unless="${session.loginMember.role == 'ROLE_T'}">
		                  <a href="#chatModal" id="modalLink">
		                    <button type="button" class="btn btn-outline-secondary shadow-lg" data-bs-toggle="modal" data-bs-target="#chatModal" id="chatButton">
		                      <span>1:1 채팅</span>
		                    </button>
		                  </a>
                		</th:block>
                	</th:block>
                	
                </div>
                <div class="row mb-3" id="row_2">
                	<th:block th:if="${session.loginMember == null}">
	                	<button type="button" class="btn btn-primary d-block w-100" onclick="cantDo();"><span>입소(대기)신청</span></button>
                	</th:block>
                	<th:block th:unless="${session.loginMember == null}">
	                	<button type="button" class="btn btn-primary d-block w-100" data-bs-toggle="modal" data-bs-target="#enroll-modal"><span>입소(대기)신청</span></button>
                	</th:block>
                </div>
                <div class="row mx-2 mb-3" id="row_3">
                  <th:block th:if="${session.loginMember == null}">
	                  <button type="button" class="btn btn-secondary btn-shadow wishButton" name="wishButton" onclick="cantDo();">
	                    <i id="heart1" class="ci-heart"> 찜</i>
	                  </button>
                	</th:block>
                	<th:block th:unless="${session.loginMember == null}">
                		<th:block th:if="${wishCnt} == 0">
		                  <button type="button" class="btn btn-secondary btn-shadow wishButton" name="wishButton" id="wishButton" value="false">
		                    <i id="heart1" class="ci-heart"> 찜</i>
		                  </button>
                		</th:block>
                		<th:block th:unless="${wishCnt} == 0">
		                  <button type="button" class="btn btn-secondary btn-shadow wishButton" name="wishButton" id="wishButton" value="true">
		                    <i id="heart1" class="ci-heart-filled"> 찜</i>
		                  </button>
                		</th:block>
                	</th:block>
                	
					<th:block th:if="${compare == null}">
                		<button type="button" class="btn btn-secondary btn-shadow" name="compareButton" id="compareButton" value="false">
		                    <i class="ci-compare"> 비교</i>
		                  </button>
                	</th:block>
                	<th:block th:unless="${compare == null}">
	                	<th:block th:if="${#strings.contains(compare, kinder.kinNo)}">
		                  <button type="button" class="btn btn-secondary btn-shadow" name="compareButton" id="compareButton" value="true">
		                    <i id="compareIcon2" class="ci-compare fw-bolder" style="color:#fc6c93;"> 비교</i>
		                  </button>
	                	</th:block>
	                	<th:block th:unless="${#strings.contains(compare, kinder.kinNo)}">
		                  <button type="button" class="btn btn-secondary btn-shadow" name="compareButton" id="compareButton" value="false">
		                    <i class="ci-compare"> 비교</i>
		                  </button>
	                	</th:block>
                	</th:block>
                	
                </div>
                <div class="row mx-2 shadow-lg" id="row_4">
                  <div class="siren_box mx-0"><img src="./img/ukids/kinder/siren.png" height="35px" width="35px"><br>
                    <span style="color: black; font-size: 18px;">불편 사항 신고</span><br><br>
                    <span style="font-size: 13px;">어린이집에서 불편을 겪고 있다면 신고하세요.</span><br><br>
                    <span style="font-size:12px">해당 기관은 불편사항이 <span id="reportCnt">[[${claim}]]건</span> 접수된 기관입니다</span><br><br>
                    <span>
                      <a th:href="|/claim-main?type=유치원&no=${kinder.kinNo}|" style="color:  #f5104d;">불편사항보기 ></a>&nbsp;&nbsp;
                      <th:block th:if="${session.loginMember == null}">
	                      <a onclick="cantDo();" style="color: #f5104d; cursor: pointer;">신고하러가기 ></a>
                      </th:block>
                      <th:block th:unless="${session.loginMember == null}">
	                      <a th:href="|/claim-write?type=유치원&no=${kinder.kinNo}|" style="color: #f5104d;">신고하러가기 ></a>
                      </th:block>
                    </span>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- 그래프 시작 부-->
        <div class="container2 mx-0">
          <!-- 학급/아동-->
          <div class="row mx-0" id="graph1_box">
            <div class="row mx-0">
              <h1 class="fw-bold" style="display: inline-block;">학급/아동<img src="./img/ukids/kinder/line2.png" style="height: 50px; width: 1000px; margin-left: 7px;">
              </h1>
              <div class="col" id="box1" style="text-align: center;">
                <h3 style="margin-top: 30px;">총 학급수</h3><h4 style="color: #fea569; font-weight: bold;">[[${classCnt}]]개</h4>
                <div class="chart-div">
                  <canvas id="pieChartCanvas" width="300px" height="300px"></canvas>
                  <div id='legend-div' class="legend-div"></div>
              </div>

                  
              </div>
              <div class="col" id="box2" style="text-align: center;">
                <h3 style="margin-top: 30px;">총 아동수</h3><h4 style="color: #fea569; font-weight: bold;">[[${childCnt}]]명</h4>
                <div class="chart-div2">
                  <canvas id="pieChartCanvas2" width="300px" height="300px"></canvas>
                  <div id='legend-div2' class="legend-div2"></div>
              </div>
              </div>
              <div class="col" id="box3" style="text-align: center;">
                <h3 style="margin-top: 30px;">교사당/학급당 아동수</h3>
                <div class="chart-div3">
                  <canvas id="barChartCanvas" width="100px" height="250px"></canvas>
                  <div id='legend-div3' class="legend-div"></div>
              </div>
              <div>
                <ul class="explain-box">
                  <li>* 교사당 아동수 = 아동수 / 교사수</li>
                  <li>* 학급당 아동수 = 아동수 / 학급수</li>
                </ul>
              </div>
              </div>
            </div>

            
          </div>
          <!-- 교사현황-->
          <div class="row" id="graph2_box">
            <div class="row mx-0 mt-5">
              <h1 class="fw-bold" style="display: inline-block;">교사 현황<img src="./img/ukids/kinder/line2.png" style="height: 50px; width: 1000px; margin-left: 7px;">
              </h1>
              <div class="col" id="box4">
                <h3 class="mt-3" style="margin-left: 110px; display: inline-block;">교사 현황</h3>
                <div class="chart-div4">
                  <ul>
                      <li style="float: left;"><canvas id="pieChartCanvas4" width="250px" height="300px"></canvas></li>
                      <li><div id='legend-div4' style="margin-left: 100px;"></div></li>
                  </ul>
              </div>
              </div>
              <div class="col" id="box5">
                <h3 class="mt-3" style="margin-left: 60px; display: inline-block;">현 기관 근속 연수</h3>
                <div class="chart-div5">
                  <ul>
                      <li style="float: left;"><canvas id="pieChartCanvas5" width="250px" height="300px"></canvas></li>
                      <li><div id='legend-div5' style="margin-left: 100px; padding-top: 35px;"></div></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3 mx-2" id="explain-box2">
            <span>*총 교사수 = 교사 자격수의 합계</span>
            <span class="mt-2">*현 기관 근속 연수 = 수석교사, 보직교사, 교사, 특수교사, 보건교사, 영양교사에 한 함</span>
          </div>
            
          <!-- 위생관리 및 안전점검 -->
          <div class="row" id="safety_box">
            <div class="row mx-0 mt-5">
              <h1 class="fw-bold" style="display: inline-block;">위생관리 및 안전점검<img src="./img/ukids/kinder/line2.png" style="height: 50px; width: 800px; margin-left: 7px;">
              </h1>
              <div class="col mt-3">
                <ul id="safety_list" style="width: 600px;">
                  <li class="mb-4">
                  	<th:block th:if="${kinder.fxtm_dsnf_trgt_yn} == 'Y'">
	                    <img src="/img/ukids/kinder/medical-mask.png" width="100px" height="100px" class="d-black">
	                    <h3 style="display: inline-block; font-weight: 700;" class="mx-4">정기소독 관리 대상 시설</h3>
                  	</th:block>
                  	<th:block th:unless="${kinder.fxtm_dsnf_trgt_yn} == 'Y'">
	                    <img src="/img/ukids/kinder/medical-mask.png" width="100px" height="100px" class="d-black opacity-50">
	                    <h3 style="display: inline-block; font-weight: 700;" class="mx-4 opacity-50">정기소독 관리 대상 시설</h3>
                  	</th:block>
                  </li>
                  <li class="mb-4">
                  	<th:block th:if="${kinder.plyg_ck_yn} == 'Y'">
	                    <img src="/img/ukids/kinder/helmet.png" width="100px" height="100px" class="d-black">
	                    <h3 style="display: inline-block; font-weight: 700;" class="mx-4">놀이시설안전검사 대상 시설</h3>
                  	</th:block>
                  	<th:block th:unless="${kinder.plyg_ck_yn} == 'Y'">
	                    <img src="/img/ukids/kinder/helmet.png" width="100px" height="100px" class="d-black opacity-50">
	                    <h3 style="display: inline-block; font-weight: 700;" class="mx-4 opacity-50">놀이시설안전검사 대상 시설</h3>
                  	</th:block>
                  </li>
                  <li>
                  	<th:block th:if="${kinder.fire_avd_yn} == 'Y'">
	                    <img src="/img/ukids/kinder/fire-truck.png" width="100px" height="100px" class="d-black">
	                    <h3 style="display: inline-block; font-weight: 700;" class="mx-4">소방대피훈련 시행 시설</h3>
                  	</th:block>
                  	<th:block th:unless="${kinder.fire_avd_yn} == 'Y'">
	                    <img src="/img/ukids/kinder/fire-truck.png" width="100px" height="100px" class="d-black opacity-50">
	                    <h3 style="display: inline-block; font-weight: 700;" class="mx-4 opacity-50">소방대피훈련 시행 시설</h3>
                  	</th:block>
                  </li>
                </ul>
              </div>
              <div class="col mt-3">
                  <ul id="safety_list2">
                    <li class="mb-4">
	                  	<th:block th:if="${kinder.fire_safe_yn} == 'Y'">
	                      <img src="/img/ukids/kinder/fire-extinguisher.png" width="100px" height="100px" class="d-black">
	                      <h3 style="display: inline-block; font-weight: 800;" class="mx-4">소방안전점검 여부</h3>
	                  	</th:block>
	                  	<th:block th:unless="${kinder.fire_safe_yn} == 'Y'">
	                      <img src="/img/ukids/kinder/fire-extinguisher.png" width="100px" height="100px" class="d-black opacity-50">
	                      <h3 style="display: inline-block; font-weight: 800;" class="mx-4 opacity-50">소방안전점검 여부</h3>
	                  	</th:block>
                    </li>
                    <li class="mb-4">
	                  	<th:block th:if="${kinder.gas_ck_yn} == 'Y'">
	                      <img src="/img/ukids/kinder/fuel.png" width="100px" height="100px" class="d-black">
	                      <h3 style="display: inline-block; font-weight: 800;" class="mx-4">가스점검 완료 시설</h3>
	                  	</th:block>
	                  	<th:block th:unless="${kinder.gas_ck_yn} == 'Y'">
	                      <img src="/img/ukids/kinder/fuel.png" width="100px" height="100px" class="d-black opacity-50">
	                      <h3 style="display: inline-block; font-weight: 800;" class="mx-4 opacity-50">가스점검 완료 시설</h3>
	                  	</th:block>
                    </li>
                    <li>
	                  	<th:block th:if="${kinder.elect_ck_yn} == 'Y'">
	                      <img src="/img/ukids/kinder/plug.png" width="100px" height="100px" class="d-black">
	                      <h3 style="display: inline-block; font-weight: 800;" class="mx-4">전기설비점검 완료 시설</h3>
	                  	</th:block>
	                  	<th:block th:unless="${kinder.elect_ck_yn} == 'Y'">
	                      <img src="/img/ukids/kinder/plug.png" width="100px" height="100px" class="d-black opacity-50">
	                      <h3 style="display: inline-block; font-weight: 800;" class="mx-4 opacity-50">전기설비점검 완료 시설</h3>
	                  	</th:block>
                    </li>
                  </ul>
              </div>
            </div>

          </div>
        </div>

        <!-- 리뷰 -->
        <div class="review-container" style="margin-bottom: 50px; margin-top: 80px">
          <div class="row">
            <div class="col">
              <h3 class="fw-bold d-inline-block text-dark">리뷰 ([[${reviewCnt}]])<img src="./img/ukids/kinder/line2.png" style="height: 50px; width: 565px; margin-left: 7px;"></h3>

              <ul id="testbox" class="list-unstyled">
                <li>
                	<th:block th:if="${reviewCnt == 0}">
	                  <div style="width: 100%; text-align: center;">등록된 리뷰가 없습니다.</div>
                	</th:block>
                  <div class="reviewlist" th:if="${review != null}">
                    <th:block th:each="review : ${review}">
	                    <div id="reviewBox"class="product-review pb-4 mb-4 border-bottom reviewBox reviewlist" style="margin-left: 2%;">
	                      <!-- 작성자, 작성 시간-->
	                      <div class="d-flex mb-3">
	                        <div class="d-flex align-items-center me-4 pe-2">
	                          <div>
	                            <h6 class="fs-sm mb-0">[[${review.id}]]</h6><span class="fs-ms text-muted">[[${#dates.format(review.createDate, 'yyyy-MM-dd')}]]</span>
	                          </div>
	                        </div>
	                      </div>
	                      <!-- 리뷰 삭제 버튼-->
	                      <th:block th:if="${session.loginMember != null && (session.loginMember.id == review.id || session.loginMember.role == 'ROLE_ADMIN')}">
		                      <div id="reviewDel" class="d-block position-relative mb-3 mb-sm-0 me-sm-4 ms-sm-0 mx-auto" style="width: 12.5rem; float: right;">
		                        <button class="btn btn-icon btn-danger position-absolute top-0 end-0 py-0 px-1 m-2 trashbtn" th:onclick="deleteReview([[${review.no}]]);">
		                          <i class="ci-trash"></i>
		                        </button>
		                      </div>
	                      </th:block>
	                      <!-- 리뷰 내용-->
	                      <p class="fs-md mb-2" style="width: 600px;">[[${review.content}]]</p>
	                    </div>
                  	</th:block>
                  </div><!-- 리뷰리스트 끝-->
                </li>
              </ul>


              

              <!-- 더보기 버튼 -->
              <div class="mt-5" style="text-align: center;">
                <button class="btn btn-outline-pink" type="button" id="seeMore"><i class="ci-reload me-2"></i><span>댓글 더 보기</span></button>
              </div>
            </div>
  
            <div class="col-md-5 mt-2 pt-4 mt-md-0 pt-md-0">
              <div class="py-grid-gutter px-grid-gutter rounded-3" id="review-box1">
                <h3 class="h4 pb-2 fw-bold fs-3">리뷰쓰기</h3>
                <form class="needs-validation" action="/kinder-writeReview" method="POST" novalidate>
                  <div class="mb-3">
                  	<th:block th:unless="${session.loginMember == null}">
                    	<input type="hidden" name="id" th:value="${session.loginMember.id}">
                    </th:block>
                    <input type="hidden" name="kinNo" th:value="${kinder.kinNo}">
                    <input type="hidden" name="i" th:value="${i}">
                    <th:block th:if="${session.loginMember == null}">
	                    <textarea name="content"class="form-control fs-6" rows="18" required id="content" placeholder="로그인 후 리뷰를 작성할 수 있습니다." disabled></textarea>
                    </th:block>
                    <th:block th:unless="${session.loginMember == null}">
	                    <textarea name="content"class="form-control fs-6" rows="18" required id="content" placeholder="리뷰를 작성하세요." spellcheck="false"></textarea>
                    </th:block>
                    <div class="invalid-feedback">Please write a review!</div><small class="form-text text-muted d-block" style="text-align: right; font-size: 14px;">1000자 이내 입력하세요.</small>
                  </div>
				  <th:block th:if="${session.loginMember == null}">
	                  <button class="btn btn-primary btn-shadow d-block w-100 fs-4" id="reviewButton" type="submit" disabled>등&emsp;&emsp;록</button>
				  </th:block>
				  <th:block th:unless="${session.loginMember == null}">
	                  <button class="btn btn-primary btn-shadow d-block w-100 fs-4" id="reviewButton" type="submit">등&emsp;&emsp;록</button>
				  </th:block>
                </form>
              </div>
            </div>
            
          </div>
        </div>
      </div> <!-- 본문 끝 -->


     
 
    </main>
<!-- 푸터!!!!!!!!!!-->
<!-- Footer-->
<footer th:fragment="footer" th:replace="~{common :: footer}"></footer>

    <!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">   </i></a>
    <!-- Vendor scrits: js libraries and plugins-->
    <script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="vendor/tiny-slider/dist/min/tiny-slider.js"></script>
    <script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="vendor/drift-zoom/dist/Drift.min.js"></script>
    <script src="vendor/lightgallery.js/dist/js/lightgallery.min.js"></script>
    <script src="vendor/lg-video.js/dist/lg-video.min.js"></script>
    <!-- Main theme script-->
    <script src="js/theme.min.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=70757a654a9051c40ba7d774ed0ad701&libraries=services"></script>
    
    <script type="text/javascript" th:inline="javascript" th:if="${session.loginMember != null}">
       
	    $(document).ready(function() {
	   		const memberId = [[${session.loginMember.id}]];
	   		var role = '';
	   		if([[${session.loginMember.role}]] =='ROLE_USER') {
	   			role = '학부모';
	   		} else {
	   			role = '선생님';
	   		}
	   		
	   		$("#chatMsg").keyup(function(event) {
	   	        if (event.keyCode === 13) {
	   	            $("#sendBtn").click();
	   	        }
	   	    });
	   		
	   		$("#sendBtn").on("click", (e) => {
	      	    send();
	        });
	   		
	   		const websocket = new WebSocket("ws://localhost/kinder-chat");
	   		
	   		websocket.onmessage = onMessage;
	           
	        function send(){
	            let msg = document.getElementById("chatMsg");
	
	            console.log(memberId + ":" + msg.value);
	            websocket.send(memberId + ":" + msg.value + ":role:" + role);
	            msg.value = '';
	        }
	        
	        function onMessage(msg) {
	            var data = msg.data;
	            var sessionId = null;
	            //데이터를 보낸 사람
	            var message = null;
	            var chatName = null;
	            var arr = data.split(":");
	
	            for(var i=0; i<arr.length; i++){
	                console.log('arr[' + i + ']: ' + arr[i]);
	            }
	
	            var cur_session = memberId;
	
	            //현재 세션에 로그인 한 사람
	            console.log("cur_session : " + cur_session);
	            sessionId = arr[0];
	            message = arr[1];
	            chatName = arr[3];
	
	            console.log("sessionID : " + sessionId);
	            console.log("cur_session : " + cur_session);
	            console.log("chatName : " + chatName);
				
	            if(message != "") {
		            //로그인 한 클라이언트와 타 클라이언트를 분류하기 위함
		            if(sessionId == cur_session){
		                var str = "<div class='col-8 float-end'>";
		                str += "<div class='fs-sm text-end pe-1'>" + chatName + "</div>";
		                str += "<div class='alert' style='background-color: #FFE8EC; color: black;'>";
		                str += "<b>" + message + "</b>";
		                str += "</div></div>";
		                $("#msgArea").append(str);
		                $("#msgArea").stop().animate({ scrollTop: $('#msgArea')[0].scrollHeight }, 1000);
		            }
		            else{
		            	var str = "<div class='col-8 float-start'>";
		                str += "<div class='fs-sm text-start ps-1'>" + chatName + "</div>";
		                str += "<div class='alert' style='background-color: #F0F0F0; color: black;'>";
		                str += "<b>" + message + "</b>";
		                str += "</div></div>";
		                $("#msgArea").append(str).stop().animate({ scrollTop: $('#msgArea')[0].scrollHeight }, 1000);
		            }
	            }
	        }
	        
	        /* 찜 관련, 비교 관련 */
	        
	        var no = [[${kinder.kinNo}]];
	        var memberNo = [[${session.loginMember.memberNo}]];
			
	        var isHeartChecked = null;
	        $('#wishButton').click(function() {
	        	 if ($('#wishButton').val() == "false") {
	        		 isHeartChecked = true;
	        	 } else {
	        		 isHeartChecked = false;
	        	 }
	        	 console.log(isHeartChecked);

	          if (isHeartChecked == true) {
	        	$.ajax({
	        		type: "post",
	        		url: "/kinder-addWish",
	        		data: {no, memberNo},
	        		success:
	        			(data) => {
	        				console.log(data);
	        				if(data.add === true) {
	        					alert("해당 유치원이 찜목록에 추가되었습니다.");
	        					wishButton.innerHTML = '<i id="heart1" class="ci-heart-filled"> 찜</i>';
	        					$('#wishButton').attr("value", "true");
	        					
	        				} else {
	        					alert("찜목록 추가에 실패하였습니다.");
	        				}
	        			},
        			error:
	        			(e)=>{
    						console.log(e);	  
    	    			}
	        	});
	          } else {
	        	  $.ajax({
	        		type: "post",
	        		url: "/kinder-deleteWish",
	        		data: {no, memberNo},
	        		success:
	        			(data) => {
	        				console.log(data);
	        				if(data.remove === true) {
	        					alert("해당 유치원이 찜목록에서 삭제되었습니다.");
	        					wishButton.innerHTML = '<i id="heart1" class="ci-heart"> 찜</i>';
	        					$('#wishButton').attr("value", "false");
	        				} else {
	        					alert("찜목록 삭제에 실패하였습니다.");
	        				}
	        			},
	        		error:
	        			(e)=>{
    						console.log(e);	    				
    	    			}
		        });
	          }
	        });
	   	});
    </script>
    
<script th:inline="javascript">
var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = {
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };  

// 지도를 생성합니다    
var map = new kakao.maps.Map(mapContainer, mapOption); 

// 주소-좌표 변환 객체를 생성합니다
var geocoder = new kakao.maps.services.Geocoder();

var addr = [[${kinder.addr}]];
var kname = [[${kinder.kindername}]];

// 주소로 좌표를 검색합니다
geocoder.addressSearch(addr, function(result, status) {

    // 정상적으로 검색이 완료됐으면 
     if (status === kakao.maps.services.Status.OK) {

        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

        // 결과값으로 받은 위치를 마커로 표시합니다
        var marker = new kakao.maps.Marker({
            map: map,
            position: coords
        });

        // 인포윈도우로 장소에 대한 설명을 표시합니다
        var infowindow = new kakao.maps.InfoWindow({
            content: '<div style="width:150px;text-align:center;padding:6px 0;">' + kname + '</div>'
        });
        infowindow.open(map, marker);

        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        map.setCenter(coords);
    } 
});


/* 첫번째 그래프(총 학급수) */

var class3 = [[${kinder.clcnt3}]];
var class4 = [[${kinder.clcnt4}]];
var class5 = [[${kinder.clcnt5}]];
var class6 = [[${kinder.mixclcnt}]];
var class7 = [[${kinder.shclcnt}]];


let pieChartData = {
    labels: ['만 3세반', '만 4세반', '만 5세반', '혼합학급', '특수학급'],
    datasets: [{
        data: [class3, class4, class5, class6, class7],
        backgroundColor: ['rgb(255, 99, 132)',  'rgb(255, 205, 86)',  'rgb(54, 162, 235)', 'rgb(83, 235, 211)', 'rgb(193, 153, 211)'],
        datalabels: {
          labels: {
            value: {
              formatter: function(value, ctx) {
                var value = ctx.dataset.data[ctx.dataIndex];
                var persent = Math.round(value / (ctx.dataset.data[0] + ctx.dataset.data[1] + ctx.dataset.data[2] + ctx.dataset.data[3] + ctx.dataset.data[4]) * 100);
                return persent > 5 ? persent + ' %' : null;
              },
              color: '#fff',
              font: {
                size: 18
              }
            }
          }
        }
    }] 
};


let pieChartDraw = function () {
    let ctx = document.getElementById('pieChartCanvas').getContext('2d');
    
    window.pieChart = new Chart(ctx, {
        type: 'pie',
        data: pieChartData,
        options: {
            responsive: false,
            legend: {
                display: false
            },
            legendCallback: customLegend
        },
    });
};

let customLegend = function (chart) {
    let ul = document.createElement('ul');
    let color = chart.data.datasets[0].backgroundColor;
    let sum = chart.data.datasets[0].data[0] + chart.data.datasets[0].data[1] + chart.data.datasets[0].data[2] + chart.data.datasets[0].data[3] + chart.data.datasets[0].data[4];

    chart.data.labels.forEach(function (label, index) {
    	let val = chart.data.datasets[0].data[index];
    	
    	if(val == 0) {
    		ul.innerHTML += `<li style="color: gray;"><span style="background-color: gray; color: gray; opacity: 20%; display: inline-block; width: 15px; height: 15px;"></span>
   	        <div style="display: inline-block; margin-right: 20px; text-align: right;">${label}</div>
   	        <div style="display: inline-block; margin-right: 25px; text-align: right; width: 55px;">-</div>
   	        <div style="display: inline-block; text-align: right; width: 55px;">-</div></li>`;
    	} else {
    		ul.innerHTML += `<li><span style="background-color: ${color[index]}; display: inline-block; width: 15px; height: 15px;"></span>
   	        <div style="display: inline-block; margin-right: 20px; text-align: right;">${label}</div>
   	        <div style="display: inline-block; margin-right: 25px; text-align: right; width: 55px;">${chart.data.datasets[0].data[index]}개</div>
   	        <div style="display: inline-block; text-align: right; width: 55px;">${Math.round((chart.data.datasets[0].data[index] / sum) * 100)}%</div></li>`;
    	}
    });

    return ul.outerHTML;
};


/* 두번째 그래프(총 아동수) */

var child3 = [[${kinder.ppcnt3}]];
var child4 = [[${kinder.ppcnt4}]];
var child5 = [[${kinder.ppcnt5}]];
var child6 = [[${kinder.mixppcnt}]];
var child7 = [[${kinder.shppcnt}]];

let pieChartData2 = {
  labels: ['만 3세반', '만 4세반', '만 5세반', '혼합학급', '특수학급'],
  datasets: [{
      data: [child3, child4, child5, child6, child7],
      backgroundColor: ['rgb(255, 99, 132)',  'rgb(255, 205, 86)',  'rgb(54, 162, 235)', 'rgb(83, 235, 211)', 'rgb(193, 153, 211)'],
      datalabels: {
        labels: {
          value: {
            formatter: function(value, ctx) {
              var value = ctx.dataset.data[ctx.dataIndex];
              var persent = Math.round(value / (ctx.dataset.data[0] + ctx.dataset.data[1] + ctx.dataset.data[2] + ctx.dataset.data[3] + ctx.dataset.data[4]) * 100);
              return persent > 5 ? persent + ' %' : null;
            },
            color: '#fff',
            font: {
              size: 18
            }
          }
        }
      }
  }] 
};


let pieChartDraw2 = function () {
  let ctx = document.getElementById('pieChartCanvas2').getContext('2d');
  
  window.pieChart2 = new Chart(ctx, {
      type: 'pie',
      data: pieChartData2,
      options: {
          responsive: false,
          legend: {
              display: false
          },
          legendCallback: customLegend2
      },
  });
};

let customLegend2 = function (chart) {
  let ul2 = document.createElement('ul');
  let color = chart.data.datasets[0].backgroundColor;
  let sum = chart.data.datasets[0].data[0] + chart.data.datasets[0].data[1] + chart.data.datasets[0].data[2] + chart.data.datasets[0].data[3] + chart.data.datasets[0].data[4];

  chart.data.labels.forEach(function (label, index) {
	  let val = chart.data.datasets[0].data[index];
	  if(val == 0) {
	    ul2.innerHTML += `<li style="color: gray;"><span style="background-color: gray; color: gray; opacity: 20%; display: inline-block; width: 15px; height: 15px;"></span>
	    <div style="display: inline-block; margin-right: 20px; text-align: right;">${label}</div>
	    <div style="display: inline-block; margin-right: 25px; text-align: right; width: 55px;">-</div>
	    <div style="display: inline-block; text-align: right; width: 55px;">-</div></li>`;
	  } else {
	    ul2.innerHTML += `<li><span style="background-color: ${color[index]}; display: inline-block; width: 15px; height: 15px;"></span>
	    <div style="display: inline-block; margin-right: 20px; text-align: right;">${label}</div>
	    <div style="display: inline-block; margin-right: 25px; text-align: right; width: 55px;">${chart.data.datasets[0].data[index]}명</div>
	    <div style="display: inline-block; text-align: right; width: 55px;">${Math.round((chart.data.datasets[0].data[index] / sum) * 100)}%</div></li>`;
	  }
  });

  return ul2.outerHTML;
};

/* 
세번째 막대 그래프(교사당/학급당 아동수)
*/
var childTot = [[${kinder.ppcnt3}]] + [[${kinder.ppcnt4}]] + [[${kinder.ppcnt5}]] + [[${kinder.mixppcnt}]] + [[${kinder.shppcnt}]];
var teacherTot = [[${kinder.hdst_thcnt}]] + [[${kinder.asps_thcnt}]] + [[${kinder.gnrl_thcnt}]] + [[${kinder.spcn_thcnt}]] + [[${kinder.shcnt_thcnt}]];
var classTot = [[${kinder.clcnt3}]] + [[${kinder.clcnt4}]] + [[${kinder.clcnt5}]] + [[${kinder.mixclcnt}]] + [[${kinder.shclcnt}]];

var avg1 = Math.round(childTot / teacherTot);
var avg2 = Math.round(childTot / classTot);

let barChartData = {
  labels: ['교사당 아동수', '학급당 아동수'],
  datasets: [{
      data: [avg1, avg2],
      backgroundColor: ['rgb(252, 3, 78)',  'rgb(255, 205, 86)'],
      datalabels: {
        labels: {
          display: false
        } 
      }
  }] 
};


let barChartDraw = function () {
  let ctx = document.getElementById('barChartCanvas').getContext('2d');
  
  window.barChart = new Chart(ctx, {
      type: 'bar',
      data: barChartData,
      options: {
          responsive: false,
          legend: {
              display: false
          },
          scales: {
            xAxes: [{
              display: false
            }],
            yAxes: [{
              display: false,
              ticks: {
                min: 0,
                stepSize: 2,
                fontSize: 14
              }
            }]
          },
          legendCallback: customLegend3
      },
  });
};

let customLegend3 = function (chart) {
  let ul = document.createElement('ul');
  let color = chart.data.datasets[0].backgroundColor;

  chart.data.labels.forEach(function (label, index) {
      ul.innerHTML += `<li><span style="background-color: ${color[index]}; display: inline-block; width: 15px; height: 15px;"></span> ${label}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ${chart.data.datasets[0].data[index]}명</li>`;
  });

  return ul.outerHTML;
};

/* 4번째 그래프(교사현황) */

var teacher1 = [[${kinder.hdst_tchr_qacnt}]];
var teacher2 = [[${kinder.rgth_gd1_qacnt}]];
var teacher3 = [[${kinder.rgth_gd2_qacnt}]];
var teacher4 = [[${kinder.asth_qacnt}]];
var teacher5 = [[${kinder.spcn_thcnt}]];
var teacher6 = [[${kinder.ntcnt}]];
var teacher7 = [[${kinder.ntrt_thcnt}]];

let pieChartData4 = {
  labels: ['수석교사', '정교사1급', '정교사2급', '준교사', '특수교사', '보건교사', '영양교사'],
  datasets: [{
      data: [teacher1, teacher2, teacher3, teacher4, teacher5, teacher6, teacher7],
      backgroundColor: [
          'rgb(255, 99, 132)',  
          'rgb(255, 205, 86)',
          'rgb(83, 235, 211)',  
          'rgb(54, 162, 235)',
          'rgb(193, 153, 211)',
          'rgb(171, 223, 133)',
          'rgb(255, 249, 80)'],
      datalabels: {
        labels: {
          value: {
            formatter: function(value, ctx) {
              var value = ctx.dataset.data[ctx.dataIndex];
              var persent = Math.round(value / (ctx.dataset.data[0] + ctx.dataset.data[1] + ctx.dataset.data[2]) * 100);
              return persent > 5 ? persent + ' %' : null;
            },
            color: '#fff',
            font: {
              size: 16
            }
          }
        }
      }
  }] 
};


let pieChartDraw4 = function () {
  let ctx = document.getElementById('pieChartCanvas4').getContext('2d');
  
  window.pieChart4 = new Chart(ctx, {
      type: 'doughnut',
      data: pieChartData4,
      options: {
          responsive: false,
          legend: {
              display: false
          },
          legendCallback: customLegend4
      },
  });
};

let customLegend4 = function (chart) {
  let ul = document.createElement('ul');
  let color = chart.data.datasets[0].backgroundColor;
  let sum = chart.data.datasets[0].data[0] + chart.data.datasets[0].data[1] + chart.data.datasets[0].data[2] +
            chart.data.datasets[0].data[3] + chart.data.datasets[0].data[4] + chart.data.datasets[0].data[5] + 
            chart.data.datasets[0].data[6];


  chart.data.labels.forEach(function (label, index) {
      let val = chart.data.datasets[0].data[index]
      if (val == 0) {
          ul.innerHTML += `<li style="color: gray;"><span style="background-color: gray; color: gray; opacity: 20%; display: inline-block; width: 15px; height: 15px;"></span> ${label}<div style="display: inline-block; width: 180px; text-align: left; position: absolute; right: 970px;">&emsp;&emsp;&emsp;&emsp;-&emsp;&emsp;&emsp;&emsp;-</div></li>`;
      } else {
          ul.innerHTML += `<li><span style="background-color: ${color[index]}; display: inline-block; width: 15px; height: 15px;"></span> ${label}<div style="display: inline-block; width: 180px; text-align: left; position: absolute; right: 970px;">&emsp;&emsp;&emsp;&nbsp;${val}명&emsp;&emsp;&emsp;${Math.round((chart.data.datasets[0].data[index] / sum) * 100)}%</div></li>`;
      }
      
  });

  return ul.outerHTML;
};

/* 5번째 그래프(현 기관 근속 연수) */

var year1 = [[${kinder.yy1_undr_thcnt}]];
var year2 = [[${kinder.yy1_abv_yy2_undr_thcnt}]];
var year3 = [[${kinder.yy2_abv_yy4_undr_thcnt}]];
var year4 = [[${kinder.yy4_abv_yy6_undr_thcnt}]];
var year5 = [[${kinder.yy6_abv_thcnt}]];


let pieChartData5 = {
  labels: ['1년 미만', '1년~2년 미만', '2년~4년 미만', '4년~6년 미만', '6년 이상'],
  datasets: [{
      data: [year1, year2, year3, year4, year5],
      backgroundColor: [
          'rgb(255, 99, 132)',  
          'rgb(255, 205, 86)',
          'rgb(83, 235, 211)',  
          'rgb(54, 162, 235)',
          'rgb(193, 153, 211)'],
      datalabels: {
        labels: {
          value: {
            formatter: function(value, ctx) {
              var value = ctx.dataset.data[ctx.dataIndex];
              var persent = Math.round(value / (ctx.dataset.data[0] + ctx.dataset.data[1] + ctx.dataset.data[2] + ctx.dataset.data[3] + ctx.dataset.data[4]) * 100);
              return persent > 5 ? persent + ' %' : null;
            },
            color: '#fff',
            font: {
              size: 16
            }
          }
        }
      }
  }] 
};


let pieChartDraw5 = function () {
  let ctx = document.getElementById('pieChartCanvas5').getContext('2d');
  
  window.pieChart5 = new Chart(ctx, {
      type: 'doughnut',
      data: pieChartData5,
      options: {
          responsive: false,
          legend: {
              display: false
          },
          legendCallback: customLegend5
      },
  });
};

let customLegend5 = function (chart) {
  let ul = document.createElement('ul');
  let color = chart.data.datasets[0].backgroundColor;
  let sum = chart.data.datasets[0].data[0] + chart.data.datasets[0].data[1] + chart.data.datasets[0].data[2] +
  chart.data.datasets[0].data[3] + chart.data.datasets[0].data[4];

  chart.data.labels.forEach(function (label, index) {
      let val = chart.data.datasets[0].data[index]
      if (val == 0) {
          ul.innerHTML += `<li style="color: gray;"><span style="background-color: gray; color: gray; opacity: 20%; display: inline-block; width: 15px; height: 15px;"></span> ${label}<div style="display: inline-block; width: 180px; text-align: left; position: absolute; right: 370px;"">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;-&emsp;&emsp;&emsp;&emsp;-</div></li>`;
      } else {
          ul.innerHTML += `<li><span style="background-color: ${color[index]}; display: inline-block; width: 15px; height: 15px;"></span> ${label}<div style="display: inline-block; width: 150px; text-align: left; position: absolute; right: 370px;">&emsp;&emsp;&emsp;&nbsp;${val}명&emsp;&emsp;${Math.round((chart.data.datasets[0].data[index] / sum) * 100)}%</div></li>`;
      }
      
  });

  return ul.outerHTML;
};

// 비교 버튼
var no = [[${kinder.kinNo}]];
var isCompareChecked = null;
$('#compareButton').click(function() {
	if($('#compareButton').val() == "false") {
		isCompareChecked = true;
	} else {
		isCompareChecked = false;
	}
	console.log(isCompareChecked);	
	 if (isCompareChecked == true) {
		 $.ajax({
			 type: "post",
			 url: "/kinder-addCompare",
			 data: {no},
			 success:
				 (data) => {
     				console.log(data);
     				if(data.add === true) {
						 alert("해당 유치원이 비교목록에 추가되었습니다.");
						 $('#compareButton').html('<i id="compareIcon2" class="ci-compare fw-bolder" style="color:#fc6c93;"> 비교</i>');
						 $('#compareButton').attr("value", "true");
     					
     				} else {
     					alert("비교목록 추가에 실패하였습니다. \n(목록에 최대 4개까지 추가할 수 있습니다.)");
     				}
     			},
			error:
				(e) => {
					console.log(e);
				}
		 });
	 } else {
		 $.ajax({
			 type: "post",
			 url: "/kinder-deleteCompare",
			 data: {no},
			 success:
				 (data) => {
     				console.log(data);
     				if(data.remove === true) {
						 alert("해당 유치원이 비교목록에서 삭제되었습니다.");
						 $('#compareButton').html('<i id="compareIcon1" class="ci-compare"> 비교</i>');
						 $('#compareButton').attr("value", "false");
     					
     				} else {
     					alert("비교목록 삭제에 실패하였습니다.");
     				}
     			},
			error:
				(e) => {
					console.log(e);
				}
		 });
	 }

});

// 리뷰 삭제
function deleteReview(no) {
	var url = "/kinder-deleteReview?no=" + no + "&kinNo=" + [[${kinder.kinNo}]] + "&i=" + [[${i}]];
	if(confirm("댓글을 삭제 하시겠습니까?")) {
		location.replace(url);
	}
}

</script>
  </body>
</html>