<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<title>UKIDS | 대여 내역 조회</title>
<!-- SEO Meta Tags
    <meta name="description" content="Cartzilla - Bootstrap E-commerce Template">
    <meta name="keywords" content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
    <meta name="author" content="Createx Studio"> -->
  <!-- Viewport-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon and Touch Icons-->
  <link rel="apple-touch-icon" sizes="180x180" href="img/ukids/logo.jpg">
  <link rel="icon" type="image/png" sizes="32x32" href="img/ukids/logo.jpg">
  <link rel="icon" type="image/png" sizes="16x16" href="img/ukids/logo.jpg">
  <link rel="manifest" href="site.webmanifest">
  <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
  <link rel="stylesheet" media="screen" href="vendor/simplebar/dist/simplebar.min.css" />
  <link rel="stylesheet" media="screen" href="vendor/tiny-slider/dist/tiny-slider.css" />
  <link rel="stylesheet" media="screen" href="vendor/drift-zoom/dist/drift-basic.min.css" />
  <link rel="stylesheet" media="screen" href="vendor/lightgallery.js/dist/css/lightgallery.min.css" />
  <!-- Main Theme Styles + Bootstrap-->
  <link rel="stylesheet" media="screen" href="css/theme.min.css">
  <link rel="stylesheet" media="screen" href="css/cgw.css">
  <link rel="stylesheet" media="screen" href="css/header.css">
  <link rel="stylesheet" media="screen" href="css/footer.css">

<!--jquery-->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>

<!-- 폰트 -->
<style>
@font-face {
	font-family: 'NanumSquareRound';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'NanumSquareRound';
}
</style>

</head>

<!-- Body-->
<body class="handheld-toolbar-enabled">
	<!-- 로그인 모달 관련  -->
	<div th:fragment="modal" th:replace="~{common :: modal}"></div>

	<main class="page-wrapper" style="height: auto;">
		<!-- 헤더!!!!!! -->
		<header th:fragment="header" th:replace="~{common :: header}"></header>

		<!-- 헤더 끝 -->
		<!-- Page Title-->
		<div class="bg-position-top-center bg-repeat-0 bg-size-cover py-5 bg-dark-cgw">
			<div class="pt-0 pb-5">
				<div class="container pt-0  pt-lg-0">
					<div class="mb-3 mb-lg-0 pt-lg-0">
						<nav aria-label="breadcrumb">
							<ol
								class="breadcrumb breadcrumb-light fw-bold fs-md flex-lg-nowrap justify-content-center justify-content-lg-end">
								<li class="breadcrumb-item"><a class="text-nowrap"
									th:href="@{/}"><i class="ci-home"></i>유키즈</a></li>
								<li class="breadcrumb-item text-light">마이페이지</li>
								<li class="breadcrumb-item text-nowrap cgw3" aria-current="page">대여
									내역 조회</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div class="container pb-5 mb-2 mb-md-4 cgw1">
			<div class="row">
				<!-- Sidebar-->
				<aside class="col-lg-4 pt-4 pt-lg-0 pe-xl-5">
					<h1 class="h3 text-white cgw5">마이페이지</h1>
					<div class="bg-white rounded-3 shadow-lg pt-1 mb-5 mb-lg-0">
						<div
							class="d-md-flex justify-content-between align-items-center text-center text-md-start p-4">
							<div class="d-md-flex align-items-center">
								<div class="ps-md-3">
									<h3 class="fs-base mb-0">[[${session.loginMember.name}]]</h3>
									<span class="cgw3 fs-sm">[[${session.loginMember.email}]]</span>
								</div>
							</div>
							<a class="btn btn-primary d-lg-none mb-2 mt-3 mt-md-0"
								href="#account-menu" data-bs-toggle="collapse"
								aria-expanded="false"><i class="ci-menu me-2"></i>Account
								menu</a>
						</div>
						<div class="d-lg-block collapse" id="account-menu">
							<div class="bg-secondary px-4 py-3">
								<h3 class="fs-sm mb-0 text-muted">마이페이지</h3>
							</div>
							<ul class="list-unstyled mb-0">
								<li class="border-bottom mb-0"><a
									class="nav-link-style d-flex align-items-center px-4 py-3"
									th:href="@{/mypage}"><i class="ci-user opacity-60 me-2"></i>회원정보
										수정</a></li>
								<li class="border-bottom mb-0"><a
									class="nav-link-style d-flex align-items-center px-4 py-3"
									th:href="@{/mypage-2}"><i class="ci-edit opacity-60 me-2"></i>입소
										신청 조회<span class="fs-sm text-muted ms-auto">[[${admissionCount}]]</span></a></li>
								<li class="border-bottom mb-0"><a
									class="nav-link-style d-flex align-items-center px-4 py-3"
									th:href="@{/mypage-3}"><i class="ci-heart opacity-60 me-2"></i>찜<span
										class="fs-sm text-muted ms-auto">[[${wishCount}]]</span></a></li>
								<li class="border-bottom mb-0"><a
									class="nav-link-style d-flex align-items-center px-4 py-3"
									th:href="@{/mypage-4}"><i class="ci-edit opacity-60 me-2"></i>불편사항
										신고 조회<span class="fs-sm text-muted ms-auto">[[${claimCount}]]</span></a></li>
								<li class="border-bottom mb-0"><a
									class="nav-link-style d-flex align-items-center px-4 py-3"
									th:href="@{/mypage-5}"><i class="ci-document opacity-60 me-2"></i>내가
										쓴 게시글<span class="fs-sm text-muted ms-auto">[[${boardCount}]]</span></a></li>
								<li class="border-bottom mb-0">
									<div class="cgw3 d-flex align-items-center px-4 py-3">
										<i class="ci-bag opacity-60 me-2"></i>대여 내역 조회<span
											class="fs-sm text-muted ms-auto">[[${rentalCount}]]</span>
									</div>
								</li>
								<li class="border-bottom mb-0"><a
									class="nav-link-style d-flex align-items-center px-4 py-3"
									th:href="@{/mypage-7}"><i class="ci-cart opacity-60 me-2"></i>장바구니<span
										class="fs-sm text-muted ms-auto">[[${cartCount}]]</span></a></li>
								<li class="border-bottom mb-0">
									<div class="nav-link-style d-flex align-items-center px-4 py-2">
										<a class="fs-sm ms-auto btn btn-logout btn-sm" th:href="@{/logout}"><i
											class="ci-sign-out me-2"></i>로그아웃</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</aside>
				<!-- Content  -->
				<section class="col-lg-8">
					<!-- Toolbar-->
					<div class="d-none d-lg-flex justify-content-between align-items-center pb-4 cgw7 mb-lg-3">
						<h6 class="fs-change cgw4 mb-0 fw-bold" style="color: #fc6c93;">대여 내역 조회</h6>
					</div>
					
          <div class="table-responsive fs-md mb-4">
            <table class="table table-hover mb-0">
              <thead>
                <tr>
                  <th></th>
                  <th class="cgw8 cgw9">상품정보</th>
                  <th class="cgw8 cgw9">대여일자</th>
                  <th class="cgw8 cgw9">대여기간</th>
                  <th class="cgw8 cgw9">주문번호</th>
                  <th class="cgw8 cgw9">대여금액</th>
                  <th class="cgw8 cgw9">대여상태</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
				<th:block th:if="${paylist == null}">
					<tr>
						<td colspan="5">조회된 대여내역이 없습니다.</td>
					</tr>
				</th:block>
				<th:block th:each="pay,payState:${paylist}" th:with="cnt=0">
					<input type="hidden" th:value="${pay.toyList.size}" th:id="cntToyPay+${payState.index}">
					<th:block th:each="toyEach,toyEachState:${pay.toyList}">
	                <tr th:id="forPaging+${pay.cntList[toyEachState.index]}"  class="tr hidden">	                
	                	<input th:value="${pay.cntList[toyEachState.index]}" type="hidden">
	                  <td class="py-3 cgw9 cgw22"><a class="cgw4" href="#"><img class="cgw21" th:src="${toyEach.toyImg}"></a>
	                  </td>
	                  <td class="py-3 cgw9 cgw22"><a class="cgw4" href="#" style="display:inline-block;width:120px;overflow:hidden;text-overflow:ellipsis; white-space:nowrap;">
	                  [[${toyEach.toyNm1}]]</a></td>
	                  <td class="py-3 cgw9 cgw22">[[${pay.startDateList[toyEachState.index]}]]</td>
	                  <td class="py-3 cgw9 cgw22">[[${pay.startDateList[toyEachState.index]}]]<br>~[[${pay.endDateList[toyEachState.index]}]]</td>
	                  <td class="py-3 cgw9 cgw22">[[${pay.payNo}]]</td>
	                  <td class="py-3 cgw9 cgw22">[[${pay.price}]]</td>
	                  <td class="py-3 cgw9 cgw22">
		     		  
		     		  <!-- 대여상태 -->
		     		  
	                  </td>
	                </tr>
	                </th:block>
                </th:block>
                
              </tbody>
            </table>
          </div>
          


 			<!-- pagination -->
          <nav class="d-flex justify-content-between pt-2" aria-label="Page navigation">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#"><i class="ci-arrow-left me-2"></i>Prev</a></li>
            </ul>
            <ul class="pagination" id="innerTable">
<!--               <li class="page-item d-sm-none"><span class="page-link page-link-static">1 / 5</span></li>
              <li class="page-item page d-none d-sm-block" aria-current="page"><span class="page-link">1</span></li>
              <li class="page-item d-none d-sm-block"><a class="page-link" href="#">2</a></li> -->
            </ul>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#" aria-label="Next">Next<i
                    class="ci-arrow-right ms-2"></i></a></li>
            </ul>
          </nav>
        </section>
      </div>
    </div>
  </main>
  <!-- 푸터!!!!!!!!!!-->
	<!-- Footer-->
	<footer th:fragment="footer" th:replace="~{common :: footer}"></footer>


	<!-- Vendor scrits: js libraries and plugins-->
	<script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="vendor/simplebar/dist/simplebar.min.js"></script>
	<script src="vendor/tiny-slider/dist/min/tiny-slider.js"></script>
	<script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
	<script src="vendor/drift-zoom/dist/Drift.min.js"></script>
	<script src="vendor/lightgallery.js/dist/js/lightgallery.min.js"></script>
	<script src="vendor/lg-video.js/dist/lg-video.min.js"></script>

	<script src="vendor/flatpickr/dist/flatpickr.min.js"></script>
	<script src="vendor/flatpickr/dist/plugins/rangePlugin.js"></script>
	<!-- Main theme script-->
	<script src="js/theme.min.js"></script>
</body>

</html>
<script type="text/javascript" th:inline="javascript">
	
	//페이징
var payList =  /*[[${paylist}]]*/{};
console.log(payList);
var totalCount = 0;
for(var i=0; i<payList.length; i++){
	totalCount += Number($('#cntToyPay'+i).val());
}
var currentPage = 1;

$(document).ready(function(){
	var tag = "";
	if(totalCount <=6){
		tag += '<li class="page-item page d-none d-sm-block" aria-current="page"><span class="page-link">'+1+'</span></li>';

	}else{
		console.log(totalCount/6);
		for(i=1; i<(totalCount/6)+1; i++){
			if(i==currentPage){
				tag += '<li class="page-item page d-none d-sm-block" aria-current="page"><span class="page-link" onclick="movePage('+i+')">'+i+'</span></li>';
			}else{
				tag += '<li class="page-item d-none d-sm-block"><a class="page-link" href="#" onclick="movePage('+i+')">'+i+'</a></li>';
			}
			
		}
	}
	
	$("#innerTable").append(tag);
});


function movePage(page){
	
	$("#innerTable").empty();
	currentPage = page;
	var offset = (currentPage * 6)-5;
	console.log(offset);
	var tag = "";
	for(i=1; i<(totalCount/6)+1; i++){
		if(i<=5){
			if(i==currentPage){
				tag += '<li class="page-item page d-none d-sm-block" aria-current="page"><span class="page-link" onclick="movePage('+i+')">'+i+'</span></li>';
			}else{
				tag += '<li class="page-item d-none d-sm-block"><a class="page-link" href="#" onclick="movePage('+i+')">'+i+'</a></li>';
			}	
		}
	}
	$("#innerTable").append(tag);
	

	$('.tr').attr('class','tr hidden');
	for(var i=offset; i<=offset+5; i++){
		$('#forPaging'+i).removeClass('hidden')
	}
}

var offset = (currentPage * 6)-5;

$('.tr').attr('class','tr hidden');
for(var i=1; i<=offset+5; i++){
	$('#forPaging'+i).removeClass('hidden')
}

	
<!--------------------------------------------------------------------- -->
	
	
	/* function movePage(pageUrl){
		location.href = encodeURI(pageUrl);	
	}
	
	function rentalUpdate(payNo) {
		var url = "/mypage-rental-update?&payNo=" + payNo;
		if(confirm("정말로 반납을 하시겠습니까?")) {
			location.replace(url);
		}
	}
	
	function rentalDelete(payNo, toyNo) {
		var url = "/mypage-rental-delete?&payNo=" + payNo + "&toyNo=" + toyNo;
		if(confirm("정말로 대여를 취소 하시겠습니까?")) {
			location.replace(url);
		}
	} */
</script>
<style>
.hidden{
	display: none;
}
</style>