<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<title>UKIDS | 회원정보 수정</title>
<!-- SEO Meta Tags
    <meta name="description" content="Cartzilla - Bootstrap E-commerce Template">
    <meta name="keywords" content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
    <meta name="author" content="Createx Studio"> -->
  <!-- Viewport-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon and Touch Icons-->
  <link rel="apple-touch-icon" sizes="180x180" href="img/ukids/logo.jpg">
  <link rel="icon" type="image/png" sizes="32x32" href="img/ukids/logo.jpg">
  <link rel="icon" type="image/png" sizes="16x16" href="img/ukids/logo.jpg">
  <link rel="manifest" href="site.webmanifest">
  <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
  <link rel="stylesheet" media="screen" href="vendor/simplebar/dist/simplebar.min.css" />
  <link rel="stylesheet" media="screen" href="vendor/tiny-slider/dist/tiny-slider.css" />
  <link rel="stylesheet" media="screen" href="vendor/drift-zoom/dist/drift-basic.min.css" />
  <link rel="stylesheet" media="screen" href="vendor/lightgallery.js/dist/css/lightgallery.min.css" />
  <!-- Main Theme Styles + Bootstrap-->
  <link rel="stylesheet" media="screen" href="css/theme.min.css">
  <link rel="stylesheet" media="screen" href="css/cgw.css">
  <link rel="stylesheet" media="screen" href="css/header.css">
  <link rel="stylesheet" media="screen" href="css/footer.css">

<!--jquery-->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>

<!-- 폰트 -->
<style>
@font-face {
	font-family: 'NanumSquareRound';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'NanumSquareRound';
}
</style>

</head>

<!-- Body-->
<body class="handheld-toolbar-enabled">
	<!-- 로그인 모달 관련  -->
	<div th:fragment="modal" th:replace="~{common :: modal}"></div>

	<main class="page-wrapper" style="height: 2260px;">
		<!-- 헤더!!!!!! -->
		<header th:fragment="header" th:replace="~{common :: header}"></header>
		<!-- 헤더 끝 -->

		<!-- Page Title-->
		<div class="bg-position-top-center bg-repeat-0 bg-size-cover py-5 bg-dark-cgw">
			<div class="pt-0 pb-5">
				<div class="container pt-0  pt-lg-0">
					<div class="mb-3 mb-lg-0 pt-lg-0">
						<nav aria-label="breadcrumb">
							<ol
								class="breadcrumb breadcrumb-light fw-bold fs-md flex-lg-nowrap justify-content-center justify-content-lg-end">
								<li class="breadcrumb-item"><a class="text-nowrap"
									href="index.html"><i class="ci-home"></i>유키즈</a></li>
								<li class="breadcrumb-item text-light">마이페이지</li>
								<li class="breadcrumb-item text-nowrap cgw3" aria-current="page">회원정보
									수정</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div class="container pb-5 mb-2 mb-md-4 cgw1">
			<div class="row">
				<!-- Sidebar-->
				<aside class="col-lg-4 pt-4 pt-lg-0 pe-xl-5">
					<h1 class="h3 text-white cgw5">마이페이지</h1>
					<div class="bg-white rounded-3 shadow-lg pt-1 mb-5 mb-lg-0">
						<div
							class="d-md-flex justify-content-between align-items-center text-center text-md-start p-4">
							<div class="d-md-flex align-items-center">
								<div class="ps-md-3">
									<h3 class="fs-base mb-0">[[${session.loginMember.name}]]</h3>
									<span class="cgw3 fs-sm">[[${session.loginMember.email}]]</span>
								</div>
							</div>
							<a class="btn btn-primary d-lg-none mb-2 mt-3 mt-md-0"
								href="#account-menu" data-bs-toggle="collapse"
								aria-expanded="false"><i class="ci-menu me-2"></i>Account
								menu</a>
						</div>
						<div class="d-lg-block collapse" id="account-menu">
							<div class="bg-secondary px-4 py-3">
								<h3 class="fs-sm mb-0 text-muted">마이페이지</h3>
							</div>
							<ul class="list-unstyled mb-0">
								<li class="border-bottom mb-0">
									<div class="cgw3 d-flex align-items-center px-4 py-3">
										<i class="ci-user opacity-60 me-2"></i>회원정보 수정
									</div>
								</li>
								<li class="border-bottom mb-0"><a
									class="nav-link-style d-flex align-items-center px-4 py-3"
									th:href="@{/mypage2}"><i class="ci-edit opacity-60 me-2"></i>입소
										신청 조회<span class="fs-sm text-muted ms-auto">1</span></a></li>
								<li class="border-bottom mb-0"><a
									class="nav-link-style d-flex align-items-center px-4 py-3"
									th:href="@{/mypage3}"><i class="ci-heart opacity-60 me-2"></i>찜<span
										class="fs-sm text-muted ms-auto">3</span></a></li>
								<li class="border-bottom mb-0"><a
									class="nav-link-style d-flex align-items-center px-4 py-3"
									th:href="@{/mypage4}"><i class="ci-edit opacity-60 me-2"></i>불편사항
										신고 조회<span class="fs-sm text-muted ms-auto">3</span></a></li>
								<li class="border-bottom mb-0"><a
									class="nav-link-style d-flex align-items-center px-4 py-3"
									th:href="@{/mypage5}"><i class="ci-document opacity-60 me-2"></i>내가
										쓴 게시글<span class="fs-sm text-muted ms-auto">3</span></a></li>
								<li class="border-bottom mb-0"><a
									class="nav-link-style d-flex align-items-center px-4 py-3"
									th:href="@{/mypage6}"><i class="ci-bag opacity-60 me-2"></i>대여
										내역 조회<span class="fs-sm text-muted ms-auto">3</span></a></li>
								<li class="border-bottom mb-0"><a
									class="nav-link-style d-flex align-items-center px-4 py-3"
									th:href="@{/mypage7}"><i class="ci-cart opacity-60 me-2"></i>장바구니<span
										class="fs-sm text-muted ms-auto">3</span></a></li>
								<li class="border-bottom mb-0">
									<div class="nav-link-style d-flex align-items-center px-4 py-2">
										<a class="fs-sm ms-auto btn btn-logout btn-sm" href="#"><i
											class="ci-sign-out me-2"></i>로그아웃</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</aside>
				<!-- Content  -->
				<section class="col-lg-8">
					<!-- Toolbar-->
					<div
						class="d-none d-lg-flex justify-content-between align-items-center pb-4 cgw7 mb-lg-3">
						<h6 class="fs-change cgw4 mb-0 fw-bold" style="color: #fc6c93;">회원정보
							수정</h6>
					</div>
					<!-- Profile form-->
					<form id="enroll-container" action="/member/update" method="post">
						<div class="row gx-4 gy-3">
							<div class="col-sm-6">
								<label class="form-label" for="account-fn">아이디</label> <input
									class="form-control-cgw1" type="text" name="id" id="account-fn"
									th:value="${session.loginMember.id}" readonly required>
							</div>
							<div class="col-sm-6">
								<label class="form-label" for="account-ln">이름</label> <input
									class="form-control-cgw1" type="text" name="name" id="account-ln"
									th:value="${session.loginMember.name}"  required>
							</div>
							<div class="col-sm-6">
								<label class="form-label" for="account-pass">비밀번호</label>
								<div class="password-toggle">
									<input class="form-control" type="password" name="password" id="account-pass">
									<label class="password-toggle-btn"
										aria-label="Show/hide password"> <input
										class="password-toggle-check" type="checkbox"><span
										class="password-toggle-indicator"></span>
									</label>
								</div>
							</div>
							<div class="col-sm-6">
								<label class="form-label" for="account-confirm-pass">비밀번호
									확인</label>
								<div class="password-toggle">
									<input class="form-control" type="password"
										id="account-confirm-pass"> <label
										class="password-toggle-btn" aria-label="Show/hide password">
										<input class="password-toggle-check" type="checkbox"><span
										class="password-toggle-indicator"></span>
									</label>
								</div>
							</div>
							<div class="col-sm-6">
								<label class="form-label" for="account-email">이메일</label> <input
									class="form-control-cgw1" type="email" name="email" id="account-email"
									th:value="${session.loginMember.email}" required>
							</div>
							<div class="col-sm-6">
								<label class="form-label" for="account-phone">연락처</label> <input
									class="form-control-cgw1" type="text" name="phone" id="account-phone"
									th:value="${session.loginMember.phone}">
							</div>
							<div class="col-sm-6">
								<label class="form-label" for="account-address">주소</label>
								<div class="">
									<input class="form-control-postcode" type="text" name="postCode"
										id="addressPostcode" th:value="${session.loginMember.postCode}"> <input
										type="button" class="btn btn-primary-cgw2 btn-sm mx-4"
										value="우편번호 찾기" onclick="kakaopost()"> <input
										class="form-control-cgw1" type="text" name="address" id="addressBasic"
										th:value="${session.loginMember.address}"> <input
										class="form-control-cgw1" type="text" name="address2" id="addressDetail"
										th:value="${session.loginMember.address2}">
								</div>
							</div>
							<!--일반회원-->
							<th:block th:if="${session.loginMember.role == 'ROLE_USER'}">
							<div class="col-sm-6">
								<label class="form-label" for="account-phone">자녀 수</label><br>
								<input class="form-control-postcode" type="number" name="kidNum" min="0" max="10" 
									id="account-phone" th:value="${session.loginMember.kidNum}" required>&nbsp;&nbsp;&nbsp;명<br>
								<br> <label class="form-label" for="account-phone">자녀
									나이</label><br> <input class="form-check-input" type="checkbox" name="kidAge"
									th:checked="${#arrays.contains(session.loginMember.kidAge1, 0)  ? 'checked' : null}" id="subscribe_me">&nbsp; <label
									class="form-check-label" for="subscribe_me">0</label>&nbsp;&nbsp;&nbsp;
								<input class="form-check-input" type="checkbox"
									th:checked="${#arrays.contains(session.loginMember.kidAge1, 1)  ? 'checked' : null}" id="subscribe_me">&nbsp; <label
									class="form-check-label" for="subscribe_me">1</label>&nbsp;&nbsp;&nbsp;
								<input class="form-check-input" type="checkbox"
									th:checked="${#arrays.contains(session.loginMember.kidAge1, 2)  ? 'checked' : null}" id="subscribe_me">&nbsp; <label
									class="form-check-label" for="subscribe_me">2</label>&nbsp;&nbsp;&nbsp;
								<input class="form-check-input" type="checkbox"
									th:checked="${#arrays.contains(session.loginMember.kidAge1, 3)  ? 'checked' : null}" id="subscribe_me">&nbsp; <label
									class="form-check-label" for="subscribe_me">3</label>&nbsp;&nbsp;&nbsp;
								<input class="form-check-input" type="checkbox"
									th:checked="${#arrays.contains(session.loginMember.kidAge1, 4)  ? 'checked' : null}" id="subscribe_me">&nbsp; <label
									class="form-check-label" for="subscribe_me">4</label>&nbsp;&nbsp;&nbsp;
								<input class="form-check-input" type="checkbox"
									th:checked="${#arrays.contains(session.loginMember.kidAge1, 5)  ? 'checked' : null}" id="subscribe_me">&nbsp; <label
									class="form-check-label" for="subscribe_me">5</label>&nbsp;&nbsp;&nbsp;
								<input class="form-check-input" type="checkbox"
									th:checked="${#arrays.contains(session.loginMember.kidAge1, 6)  ? 'checked' : null}" id="subscribe_me">&nbsp; <label
									class="form-check-label" for="subscribe_me">6</label>
							</div>
							</th:block>
							<!--선생님-->
							<th:block th:if="${session.loginMember.role != 'ROLE_USER'}">
							<div class="col-sm-6">
								<th:block th:if="${session.loginMember.field == '유치원'}">
								<label class="form-label" for="checkout-country">소속</label> 
								<select class="form-select" name="field" id="checkout-country" th:value="${session.loginMember.field}">
									<option selected>유치원</option>
									<option>어린이집</option>
								</select><br> 
								</th:block>
								<th:block th:if="${session.loginMember.field == '어린이집'}">
								<label class="form-label" for="checkout-country">소속</label> 
								<select class="form-select" name="field" id="checkout-country" th:value="${session.loginMember.field}">
									<option>유치원</option>
									<option selected>어린이집</option>
								</select><br> 
								</th:block>
								<label class="form-label" for="account-phone">소속
									코드</label> <input class="form-control-cgw1" type="text" name="fieldCd"
									id="account-phone" th:value="${session.loginMember.fieldCd}">
							</div>
							</th:block>
							<div class="col-12">
								<hr class="mt-2 mb-3">
								<div
									class="d-flex flex-wrap justify-content-between align-items-center">
									<div class="form-check"></div>
									<input type="submit" class="btn btn-primary-cgw1 mt-3 mt-sm-0"
										value="회원정보 수정" >
								</div>
							</div>
						</div>
					</form>
				</section>
			</div>
		</div>
	</main>
	<!-- 푸터!!!!!!!!!!-->
	<!-- Footer-->
	<footer th:fragment="footer" th:replace="~{common :: footer}"></footer>


	<!-- Vendor scrits: js libraries and plugins-->
	<script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="vendor/simplebar/dist/simplebar.min.js"></script>
	<script src="vendor/tiny-slider/dist/min/tiny-slider.js"></script>
	<script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
	<script src="vendor/drift-zoom/dist/Drift.min.js"></script>
	<script src="vendor/lightgallery.js/dist/js/lightgallery.min.js"></script>
	<script src="vendor/lg-video.js/dist/lg-video.min.js"></script>

	<script src="vendor/flatpickr/dist/flatpickr.min.js"></script>
	<script src="vendor/flatpickr/dist/plugins/rangePlugin.js"></script>
	<!-- Main theme script-->
	<script src="js/theme.min.js"></script>
	<script
		src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script>
    function kakaopost() {
      new daum.Postcode({
        oncomplete: function (data) {
          // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

          // 각 주소의 노출 규칙에 따라 주소를 조합한다.
          // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
          var fullAddr = ''; // 최종 주소 변수
          var extraAddr = ''; // 조합형 주소 변수

          // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
          if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
            fullAddr = data.roadAddress;

          } else { // 사용자가 지번 주소를 선택했을 경우(J)
            fullAddr = data.jibunAddress;
          }

          // 사용자가 선택한 주소가 도로명 타입일때 조합한다.
          if (data.userSelectedType === 'R') {
            //법정동명이 있을 경우 추가한다.
            if (data.bname !== '') {
              extraAddr += data.bname;
            }
            // 건물명이 있을 경우 추가한다.
            if (data.buildingName !== '') {
              extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
            }
            // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
            fullAddr += (extraAddr !== '' ? ' (' + extraAddr + ')' : '');
          }

          // 우편번호와 주소 정보를 해당 필드에 넣는다.
          document.getElementById('addressPostcode').value = data.zonecode; //5자리 새우편번호 사용
          document.getElementById('addressBasic').value = fullAddr;

          // 커서를 상세주소 필드로 이동한다.
          document.getElementById('addressDetail').focus();
        }
      }).open();
    }
  </script>
	<script type="text/javascript">
    function profileModify() {
      var p1 = document.getElementById('account-pass').value;
      var p2 = document.getElementById('account-confirm-pass').value;
      if (p1 != p2) {
        alert("비밀번호가 일치 하지 않습니다");
        return false;
      } else {
        return true;
      }
    }
  </script>
</body>

</html>