<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<title>UKIDS | 불편사항 신고 조회</title>
<!-- SEO Meta Tags
    <meta name="description" content="Cartzilla - Bootstrap E-commerce Template">
    <meta name="keywords" content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
    <meta name="author" content="Createx Studio"> -->
  <!-- Viewport-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon and Touch Icons-->
  <link rel="apple-touch-icon" sizes="180x180" href="img/ukids/logo.jpg">
  <link rel="icon" type="image/png" sizes="32x32" href="img/ukids/logo.jpg">
  <link rel="icon" type="image/png" sizes="16x16" href="img/ukids/logo.jpg">
  <link rel="manifest" href="site.webmanifest">
  <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
  <link rel="stylesheet" media="screen" href="vendor/simplebar/dist/simplebar.min.css" />
  <link rel="stylesheet" media="screen" href="vendor/tiny-slider/dist/tiny-slider.css" />
  <link rel="stylesheet" media="screen" href="vendor/drift-zoom/dist/drift-basic.min.css" />
  <link rel="stylesheet" media="screen" href="vendor/lightgallery.js/dist/css/lightgallery.min.css" />
  <!-- Main Theme Styles + Bootstrap-->
  <link rel="stylesheet" media="screen" href="css/theme.min.css">
  <link rel="stylesheet" media="screen" href="css/cgw.css">
  <link rel="stylesheet" media="screen" href="css/header.css">
  <link rel="stylesheet" media="screen" href="css/footer.css">

<!--jquery-->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>

<!-- 폰트 -->
<style>
@font-face {
	font-family: 'NanumSquareRound';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'NanumSquareRound';
}
</style>

</head>

<!-- Body-->
<body class="handheld-toolbar-enabled">
	<!-- 로그인 모달 관련  -->
	<div th:fragment="modal" th:replace="~{common :: modal}"></div>

	<main class="page-wrapper" style="height: 2260px;">
		<!-- 헤더!!!!!! -->
		<header th:fragment="header" th:replace="~{common :: header}"></header>

		<!-- 헤더 끝 -->
		<!-- Page Title-->
		<div
			class="bg-position-top-center bg-repeat-0 bg-size-cover py-5 bg-dark-cgw">
			<div class="pt-0 pb-5">
				<div class="container pt-0  pt-lg-0">
					<div class="mb-3 mb-lg-0 pt-lg-0">
						<nav aria-label="breadcrumb">
							<ol
								class="breadcrumb breadcrumb-light fw-bold fs-md flex-lg-nowrap justify-content-center justify-content-lg-end">
								<li class="breadcrumb-item"><a class="text-nowrap"
									th:href="@{/}"><i class="ci-home"></i>유키즈</a></li>
								<li class="breadcrumb-item text-light">마이페이지</li>
								<li class="breadcrumb-item text-nowrap cgw3" aria-current="page">불편사항
									신고 조회</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div class="container pb-5 mb-2 mb-md-4 cgw1">
			<div class="row">
				<!-- Sidebar-->
				<aside class="col-lg-4 pt-4 pt-lg-0 pe-xl-5">
					<h1 class="h3 text-white cgw5">마이페이지</h1>
					<div class="bg-white rounded-3 shadow-lg pt-1 mb-5 mb-lg-0">
						<div
							class="d-md-flex justify-content-between align-items-center text-center text-md-start p-4">
							<div class="d-md-flex align-items-center">
								<div class="ps-md-3">
									<h3 class="fs-base mb-0">[[${session.loginMember.name}]]</h3>
									<span class="cgw3 fs-sm">[[${session.loginMember.email}]]</span>
								</div>
							</div>
							<a class="btn btn-primary d-lg-none mb-2 mt-3 mt-md-0"
								href="#account-menu" data-bs-toggle="collapse"
								aria-expanded="false"><i class="ci-menu me-2"></i>Account
								menu</a>
						</div>
						<div class="d-lg-block collapse" id="account-menu">
							<div class="bg-secondary px-4 py-3">
								<h3 class="fs-sm mb-0 text-muted">마이페이지</h3>
							</div>
							<ul class="list-unstyled mb-0">
				<th:block th:if="${session.loginMember.role == 'ROLE_USER'}">
                <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                    th:href="@{/mypage}"><i class="ci-user opacity-60 me-2"></i>회원정보 수정</a></li>
                <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                    th:href="@{/mypage-2}"><i class="ci-edit opacity-60 me-2"></i>입소 신청 조회<span
                      class="fs-sm text-muted ms-auto">[[${admissionCount}]]</span></a></li>
                <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                    th:href="@{/mypage-3}"><i class="ci-heart opacity-60 me-2"></i>찜<span
                      class="fs-sm text-muted ms-auto">[[${wishCount}]]</span></a></li>
                <li class="border-bottom mb-0">
                  <div class="cgw3 d-flex align-items-center px-4 py-3"><i class="ci-edit opacity-60 me-2"></i>불편사항 신고
                    조회<span class="fs-sm text-muted ms-auto">[[${claimCount}]]</span></div>
                </li>
                <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                    th:href="@{/mypage-5}"><i class="ci-document opacity-60 me-2"></i>내가 쓴 게시글<span
                      class="fs-sm text-muted ms-auto">[[${boardCount}]]</span></a></li>
                <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                    th:href="@{/mypage-6}"><i class="ci-bag opacity-60 me-2"></i>대여 내역 조회<span
                      class="fs-sm text-muted ms-auto">[[${rentalCount}]]</span></a></li>
                <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                    th:href="@{/mypage-7}"><i class="ci-cart opacity-60 me-2"></i>장바구니<span
                      class="fs-sm text-muted ms-auto">[[${cartCount}]]</span></a></li>
                <li class="border-bottom mb-0">
                  <div class="nav-link-style d-flex align-items-center px-4 py-2"><a
                      class="fs-sm ms-auto btn btn-logout btn-sm" th:href="@{/logout}"><i class="ci-sign-out me-2"></i>로그아웃</a>
                  </div>
                </li>
                </th:block>
				<th:block th:if="${session.loginMember.role == 'ROLE_T'}">
				 <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                    th:href="@{/mypage}"><i class="ci-user opacity-60 me-2"></i>회원정보 수정</a></li>
                    <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                    th:href="@{/mypage-2}"><i class="ci-edit opacity-60 me-2"></i>입소 신청 조회<span
                      class="fs-sm text-muted ms-auto"></span></a></li>
                <li class="border-bottom mb-0">
                  <div class="cgw3 d-flex align-items-center px-4 py-3"><i class="ci-edit opacity-60 me-2"></i>불편사항 신고
                    조회<span class="fs-sm text-muted ms-auto"></span></div>
                </li>
                <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                    th:href="@{/mypage-5}"><i class="ci-document opacity-60 me-2"></i>내가 쓴 게시글<span
                      class="fs-sm text-muted ms-auto"></span></a></li>
                <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                    th:href="@{/mypage-6}"><i class="ci-bag opacity-60 me-2"></i>대여 내역 조회<span
                      class="fs-sm text-muted ms-auto"></span></a></li>
                <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                    th:href="@{/mypage-7}"><i class="ci-cart opacity-60 me-2"></i>장바구니<span
                      class="fs-sm text-muted ms-auto"></span></a></li>
                <li class="border-bottom mb-0">
                  <div class="nav-link-style d-flex align-items-center px-4 py-2"><a
                      class="fs-sm ms-auto btn btn-logout btn-sm" th:href="@{/logout}"><i class="ci-sign-out me-2"></i>로그아웃</a>
                  </div>
                </li>
                </th:block>
                <th:block th:if="${session.loginMember.role == 'ROLE_ADMIN'}">
                <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                    th:href="@{/mypage}"><i class="ci-user opacity-60 me-2"></i>회원정보 수정</a></li>
                <li class="border-bottom mb-0">
                  <div class="cgw3 d-flex align-items-center px-4 py-3"><i class="ci-edit opacity-60 me-2"></i>불편사항 신고
                    조회<span class="fs-sm text-muted ms-auto"></span></div>
                </li>
                <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                    th:href="@{/mypage-5}"><i class="ci-document opacity-60 me-2"></i>내가 쓴 게시글<span
                      class="fs-sm text-muted ms-auto"></span></a></li>
                <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                    th:href="@{/mypage-6}"><i class="ci-bag opacity-60 me-2"></i>대여 내역 조회<span
                      class="fs-sm text-muted ms-auto"></span></a></li>
                <li class="border-bottom mb-0">
                  <div class="nav-link-style d-flex align-items-center px-4 py-2"><a
                      class="fs-sm ms-auto btn btn-logout btn-sm" th:href="@{/logout}"><i class="ci-sign-out me-2"></i>로그아웃</a>
                  </div>
                </li>
                </th:block>
              </ul>
						</div>
					</div>
				</aside>
				<!-- Content  -->
				<section class="col-lg-8">
					<!-- Toolbar-->
					<div
						class="d-none d-lg-flex justify-content-between align-items-center pb-4 cgw7 mb-lg-3">
						<h6 class="fs-change cgw4 mb-0 fw-bold" style="color: #fc6c93;">불편사항 신고 조회</h6>
					</div>
					<!-- 어린이집 불편사항신고조회 목록-->
					<th:block th:if="${session.loginMember.role == 'ROLE_USER'}">
					<div class="table-responsive fs-md mb-4">
					<h5 class="v-line ps-2">어린이집 불편사항 신고 조회 목록</h5> <br>
						<table class="table table-hover mb-0">
							<thead>
								<tr>
									<th class="cgw8 cgw9">번호</th>
									<th class="cgw8 cgw9">제목</th>
									<th class="cgw8 cgw9">작성일</th>
									<th class="cgw8 cgw9">신고접수상태</th>
									<th class="cgw8 cgw9"></th>
								</tr>
							</thead>
							<tbody>
								<th:block th:if="${nlist.size == 0}">
									<tr>
										<td colspan="5" class="cgw9">조회된 신청이 없습니다.</td>
									</tr>
								</th:block>
								<th:block th:if="${nlist.size != 0}">
								<tr th:each="nclaim, stat : ${nlist}">
									<td class="py-3 cgw9" th:text="|${stat.count}|"></td>
									<td class="py-3 cgw9">
										<a class="nav-link-style-cgw fw-medium cgw25" th:href="@{|/claim-view?type=어린이집&no=${nclaim.no}|}">[[${nclaim.title}]]</a>
									</td>
									<td class="py-3 cgw9" th:text="${#dates.format(nclaim.createDate, 'yyyy-MM-dd')}"></td>
									<td class="py-3 cgw9">
										<span th:if="${nclaim.confirm == 'N'}" class="cgw3">신고확인중</span>
										<span th:if="${nclaim.confirm == 'Y'}" class="cgw20">신고확인완료</span>
									</td>
									<th:block th:if="${nclaim.confirm == 'N'}">
									<td class="py-3 cgw9">
										<button class="badge-cgw3 bg-secondary-cgw1 m-0 cgw30" th:onclick="nclaimUpdate([[${nclaim.no}]]);">수정</button>&nbsp;&nbsp;
										<button class="badge bg-secondary m-0 cgw30" th:onclick="nclaimDelete([[${nclaim.knNo}]], [[${nclaim.no}]]);">삭제</button>
									</td>
									</th:block>
									<th:block th:if="${nclaim.confirm == 'Y'}">
									<td class="py-3 cgw9">
										<button class="badge bg-secondary m-0 cgw30" th:onclick="nclaimDelete([[${nclaim.knNo}]], [[${nclaim.no}]]);">삭제</button></a>
									</td>
									</th:block>
								</tr>
								</th:block>
							</tbody>
						</table>
					</div>
					
					<br>
 
		          <!-- pagination -->
		          <th:block th:if="${nlist.size != 0}">
		         <nav class="d-flex justify-content-between pt-2 cgw31" aria-label="Page navigation">
		            <ul class="pagination" id="prev">
		              <li class="page-item"><button class="page-link" th:onclick="|moveNPage('/mypage-4?nPage=${nPageInfo.prevPage}');|"><i class="ci-arrow-left me-2"></i>Prev</button></li>
		            </ul>
		            <ul class="pagination">
		              <li class="page-item d-sm-none"><span class="page-link page-link-static">1 / 5</span></li>
		              
		              <th:block th:each="num, status : ${#numbers.sequence(nPageInfo.startPage, nPageInfo.endPage)}">
			                	<th:block th:if="${status.current == nPageInfo.currentPage}">
					                <li class="page-item d-none d-sm-block page" aria-current="page">
					                  <span class="page-link">[[${status.current}]]<span class="visually-hidden">(current)</span></span>
					                </li>
			                	</th:block>
			                	<th:block th:if="${status.current != nPageInfo.currentPage}">
					                <li class="page-item d-none d-sm-block"><button class="page-link" th:onclick="|moveNPage('/mypage-4?nPage=${status.current}');|">[[${status.current}]]</button></li>
			                	</th:block>
			                </th:block>
		            </ul>
		            <ul class="pagination">
		              <li class="page-item"><button class="page-link" th:onclick="|moveNPage('/mypage-4?nPage=${nPageInfo.nextPage}');|" aria-label="Next">Next<i
		                    class="ci-arrow-right ms-2"></i></button></li>
		            </ul>
		          </nav>  
		          </th:block>
		          </th:block>
		          <br><br>
					
					<!-- 유치원 불편사항신고조회 목록-->
					<th:block th:if="${session.loginMember.role == 'ROLE_USER'}">
					<div class="table-responsive fs-md mb-4">
					<h5 class="v-line ps-2">유치원 불편사항 신고 조회 목록</h5> <br>
						<table class="table table-hover mb-0">
							<thead>
								<tr>
									<th class="cgw8 cgw9">번호</th>
									<th class="cgw8 cgw9">제목</th>
									<th class="cgw8 cgw9">작성일</th>
									<th class="cgw8 cgw9">신고접수상태</th>
									<th class="cgw8 cgw9"></th>
								</tr>
							</thead>
							<tbody>
								<th:block th:if="${klist.size == 0}">
									<tr>
										<td colspan="5" class="cgw9">조회된 신청이 없습니다.</td>
									</tr>
								</th:block>
								<th:block th:if="${klist.size != 0}">
								<tr th:each="kclaim, stat : ${klist}">
									<td class="py-3 cgw9" th:text="|${stat.count}|"></td>
									<td class="py-3 cgw9">
										<a class="nav-link-style-cgw fw-medium cgw25" th:href="@{|/claim-view?type=유치원&no=${kclaim.no}|}">[[${kclaim.title}]]</a>
									</td>
									<td class="py-3 cgw9" th:text="${#dates.format(kclaim.createDate, 'yyyy-MM-dd')}"></td>
									<td class="py-3 cgw9">
										<span th:if="${kclaim.confirm == 'N'}" class="cgw3">신고확인중</span>
										<span th:if="${kclaim.confirm == 'Y'}" class="cgw20">신고확인완료</span>
									</td>
									<th:block th:if="${kclaim.confirm == 'N'}">
									<td class="py-3 cgw9">
										<button class="badge-cgw3 bg-secondary-cgw1 m-0 cgw30" th:onclick="kclaimUpdate([[${kclaim.no}]]);">수정</button>&nbsp;&nbsp;
										<button class="badge bg-secondary m-0 cgw30" th:onclick="kclaimDelete([[${kclaim.knNo}]], [[${kclaim.no}]]);">삭제</button>
									</td>
									</th:block>
									<th:block th:if="${kclaim.confirm == 'Y'}">
									<td class="py-3 cgw9">
										<button class="badge bg-secondary m-0 cgw30" th:onclick="kclaimDelete([[${kclaim.knNo}]], [[${kclaim.no}]]);">삭제</button>
									</td>
									</th:block>
								</tr>
								</th:block>
							</tbody>
						</table>
					</div>
					<br>

					<!-- pagination -->
					<th:block th:if="${klist.size != 0}">
		          <nav class="d-flex justify-content-between pt-2 cgw31" aria-label="Page navigation">
		            <ul class="pagination" id="prev">
		              <li class="page-item"><button class="page-link" th:onclick="|moveKPage('/mypage-4?page=${kPageInfo.prevPage}');|"><i class="ci-arrow-left me-2"></i>Prev</button></li>
		            </ul>
		            <ul class="pagination">
		              <li class="page-item d-sm-none"><span class="page-link page-link-static">1 / 5</span></li>
		              <th:block th:each="num, status : ${#numbers.sequence(kPageInfo.startPage, kPageInfo.endPage)}">
			          	<th:block th:if="${status.current == kPageInfo.currentPage}">
					          <li class="page-item d-none d-sm-block page" aria-current="page">
					            <span class="page-link">[[${status.current}]]<span class="visually-hidden">(current)</span></span>
					          </li>
			            </th:block>
			            <th:block th:if="${status.current != kPageInfo.currentPage}">
					    	<li class="page-item d-none d-sm-block"><button class="page-link" th:onclick="|moveKPage('/mypage-4?kPage=${status.current}');|">[[${status.current}]]</button></li>
			            </th:block>
			           </th:block>
			         </ul>
			         <ul class="pagination">
			           <li class="page-item"><button class="page-link" th:onclick="|moveKPage('/mypage-4?page=${kPageInfo.prevPage}');|" aria-label="Next">Next<i
			           class="ci-arrow-right ms-2"></i></button></li>
			         </ul>
			        </nav>  
			        </th:block>
			        </th:block>
			        
			        
			        
			        
			        
			        
			        
			        
			        
			        
			        <!-- 어린이집 선생님 불편사항 신고 조회 -->
					<th:block th:if="${session.loginMember.role == 'ROLE_T'} and ${session.loginMember.field == '어린이집'}">
					<div class="table-responsive fs-md mb-4">
					<h5 class="v-line ps-2">불편사항 신고 조회 목록</h5> <br>
						<table class="table table-hover mb-0">
							<thead>
								<tr>
									<th class="cgw8 cgw9">번호</th>
									<th class="cgw8 cgw9">제목</th>
									<th class="cgw8 cgw9">어린이집명</th>
									<th class="cgw8 cgw9">작성일</th>
									<th class="cgw8 cgw9">신고접수상태</th>
									<th class="cgw8 cgw9"></th>
								</tr>
							</thead>
							<tbody>
								<th:block th:if="${tnlist.size == 0}">
									<tr>
										<td colspan="5" class="cgw9">조회된 신청이 없습니다.</td>
									</tr>
								</th:block>
								<th:block th:if="${tnlist.size != 0}">
								<tr th:each="nclaim, stat : ${tnlist}">
									<td class="py-3 cgw9" th:text="|${stat.count}|"></td>
									<td class="py-3 cgw9">
										<a class="nav-link-style-cgw fw-medium" th:href="@{|/claim-view?type=어린이집&no=${nclaim.no}|}">[[${nclaim.title}]]</a>
									</td>
									<td class="py-3 cgw9">
										<a class="cgw4" th:href="@{|/nursery-detail?no=${nclaim.knNo}&i=20|}">[[${nclaim.knName}]]</a>
									</td>
									<td class="py-3 cgw9" th:text="${#dates.format(nclaim.createDate, 'yyyy-MM-dd')}"></td>
									<td class="py-3 cgw9">
										<span th:if="${nclaim.confirm == 'N'}" class="cgw3">신고확인중</span>
										<span th:if="${nclaim.confirm == 'Y'}" class="cgw20">신고확인완료</span>
									</td>
									<th:block th:if="${nclaim.confirm == 'N'}">
									<td class="py-3 cgw9">
										<button class="badge-cgw3 bg-secondary-cgw1 m-0 cgw30" th:onclick="tnclaimUpdate([[${nclaim.no}]]);">확인</button>&nbsp;&nbsp;
									</td>
									</th:block>
									<th:block th:if="${nclaim.confirm == 'Y'}">
									<td class="py-3 cgw9">
									</td>
									</th:block>
								</tr>
								</th:block>
							</tbody>
						</table>
					</div>
					
					<br>
 
		          <!-- pagination -->
		          <th:block th:if="${tnlist.size != 0}">
		         <nav class="d-flex justify-content-between pt-2 cgw31" aria-label="Page navigation">
		            <ul class="pagination" id="prev">
		              <li class="page-item"><button class="page-link" th:onclick="|movetNPage('/mypage-4?tnPage=${tnPageInfo.prevPage}');|"><i class="ci-arrow-left me-2"></i>Prev</button></li>
		            </ul>
		            <ul class="pagination">
		              <li class="page-item d-sm-none"><span class="page-link page-link-static">1 / 5</span></li>
		              
		              <th:block th:each="num, status : ${#numbers.sequence(tnPageInfo.startPage, tnPageInfo.endPage)}">
			                	<th:block th:if="${status.current == tnPageInfo.currentPage}">
					                <li class="page-item d-none d-sm-block page" aria-current="page">
					                  <span class="page-link">[[${status.current}]]<span class="visually-hidden">(current)</span></span>
					                </li>
			                	</th:block>
			                	<th:block th:if="${status.current != tnPageInfo.currentPage}">
					                <li class="page-item d-none d-sm-block"><button class="page-link" th:onclick="|movetNPage('/mypage-4?tnPage=${status.current}');|">[[${status.current}]]</button></li>
			                	</th:block>
			                </th:block>
		            </ul>
		            <ul class="pagination">
		              <li class="page-item"><button class="page-link" th:onclick="|movetNPage('/mypage-4?tnPage=${tnPageInfo.nextPage}');|" aria-label="Next">Next<i
		                    class="ci-arrow-right ms-2"></i></button></li>
		            </ul>
		          </nav>  
		          <br>
		          </th:block>
		          </th:block>
		          
		          <!-- 유치원 선생님 불편사항 신고 조회 -->
					<th:block th:if="${session.loginMember.role == 'ROLE_T'} and ${session.loginMember.field == '유치원'}">
					<div class="table-responsive fs-md mb-4">
					<h5 class="v-line ps-2">불편사항 신고 조회 목록</h5> <br>
						<table class="table table-hover mb-0">
							<thead>
								<tr>
									<th class="cgw8 cgw9">번호</th>
									<th class="cgw8 cgw9">제목</th>
									<th class="cgw8 cgw9">어린이집명</th>
									<th class="cgw8 cgw9">작성일</th>
									<th class="cgw8 cgw9">신고접수상태</th>
									<th class="cgw8 cgw9"></th>
								</tr>
							</thead>
							<tbody>
								<th:block th:if="${tklist.size == 0}">
									<tr>
										<td colspan="5" class="cgw9">조회된 신청이 없습니다.</td>
									</tr>
								</th:block>
								<th:block th:if="${tklist.size != 0}">
								<tr th:each="nclaim, stat : ${tklist}">
									<td class="py-3 cgw9" th:text="|${stat.count}|"></td>
									<td class="py-3 cgw9">
										<a class="nav-link-style-cgw fw-medium" th:href="@{|/claim-view?type=어린이집&no=${nclaim.no}|}">[[${nclaim.title}]]</a>
									</td>
									<td class="py-3 cgw9">
										<a class="cgw4" th:href="@{|/nursery-detail?no=${nclaim.knNo}&i=20|}">[[${nclaim.knName}]]</a>
									</td>
									<td class="py-3 cgw9" th:text="${#dates.format(nclaim.createDate, 'yyyy-MM-dd')}"></td>
									<td class="py-3 cgw9">
										<span th:if="${nclaim.confirm == 'N'}" class="cgw3">신고확인중</span>
										<span th:if="${nclaim.confirm == 'Y'}" class="cgw20">신고확인완료</span>
									</td>
									<th:block th:if="${nclaim.confirm == 'N'}">
									<td class="py-3 cgw9">
										<button class="badge-cgw3 bg-secondary-cgw1 m-0 cgw30" th:onclick="tkclaimUpdate([[${nclaim.no}]]);">확인</button>&nbsp;&nbsp;
									</td>
									</th:block>
									<th:block th:if="${nclaim.confirm == 'Y'}">
									<td class="py-3 cgw9">
									</td>
									</th:block>
								</tr>
								</th:block>
							</tbody>
						</table>
					</div>
					
					<br>
 
		          <!-- pagination -->
		          <th:block th:if="${tklist.size != 0}">
		         <nav class="d-flex justify-content-between pt-2 cgw31" aria-label="Page navigation">
		            <ul class="pagination" id="prev">
		              <li class="page-item"><button class="page-link" th:onclick="|movetKPage('/mypage-4?tkPage=${tkPageInfo.prevPage}');|"><i class="ci-arrow-left me-2"></i>Prev</button></li>
		            </ul>
		            <ul class="pagination">
		              <li class="page-item d-sm-none"><span class="page-link page-link-static">1 / 5</span></li>
		              
		              <th:block th:each="num, status : ${#numbers.sequence(tkPageInfo.startPage, tkPageInfo.endPage)}">
			                	<th:block th:if="${status.current == tkPageInfo.currentPage}">
					                <li class="page-item d-none d-sm-block page" aria-current="page">
					                  <span class="page-link">[[${status.current}]]<span class="visually-hidden">(current)</span></span>
					                </li>
			                	</th:block>
			                	<th:block th:if="${status.current != tkPageInfo.currentPage}">
					                <li class="page-item d-none d-sm-block"><button class="page-link" th:onclick="|movetKPage('/mypage-4?tkPage=${status.current}');|">[[${status.current}]]</button></li>
			                	</th:block>
			                </th:block>
		            </ul>
		            <ul class="pagination">
		              <li class="page-item"><button class="page-link" th:onclick="|movetKPage('/mypage-4?tkPage=${tkPageInfo.nextPage}');|" aria-label="Next">Next<i
		                    class="ci-arrow-right ms-2"></i></button></li>
		            </ul>
		          </nav>  
		          <br>
		          </th:block>
		          </th:block>
		          
		          
		          
		          <!-- admin -->
		          <!-- 어린이집 불편사항신고조회 목록-->
					<th:block th:if="${session.loginMember.role == 'ROLE_ADMIN'}">
					<div class="table-responsive fs-md mb-4">
					<h5 class="v-line ps-2">어린이집 불편사항 신고 조회 목록</h5> <br>
						<table class="table table-hover mb-0">
							<thead>
								<tr>
									<th class="cgw8 cgw9">번호</th>
									<th class="cgw8 cgw9">제목</th>
									<th class="cgw8 cgw9">작성자</th>
									<th class="cgw8 cgw9">작성일</th>
									<th class="cgw8 cgw9">신고접수상태</th>
									<th class="cgw8 cgw9"></th>
								</tr>
							</thead>
							<tbody>
								<th:block th:if="${anlist.size == 0}">
									<tr>
										<td colspan="5" class="cgw9">조회된 신청이 없습니다.</td>
									</tr>
								</th:block>
								<th:block th:if="${anlist.size != 0}">
								<tr th:each="nclaim, stat : ${anlist}">
									<td class="py-3 cgw9">[[${nclaim.no}]]</td>
									<td class="py-3 cgw9">
										<a class="nav-link-style-cgw fw-medium cgw33" th:href="@{|/claim-view?type=어린이집&no=${nclaim.no}|}">[[${nclaim.title}]]</a>
									</td>
									<td class="py-3 cgw9">[[${nclaim.memberName}]]</td>
									<td class="py-3 cgw9" th:text="${#dates.format(nclaim.createDate, 'yyyy-MM-dd')}"></td>
									<td class="py-3 cgw9">
										<span th:if="${nclaim.confirm == 'N'}" class="cgw3">신고확인중</span>
										<span th:if="${nclaim.confirm == 'Y'}" class="cgw20">신고확인완료</span>
									</td>
									<th:block th:if="${nclaim.confirm == 'N'}">
									<td class="py-3 cgw9">
										<button class="badge-cgw3 bg-secondary-cgw1 m-0 cgw30" th:onclick="tnclaimUpdate([[${nclaim.no}]]);">확인</button>&nbsp;&nbsp;
										<button class="badge bg-secondary m-0 cgw30" th:onclick="nclaimDelete([[${nclaim.knNo}]], [[${nclaim.no}]]);">삭제</button>
									</td>
									</th:block>
									<th:block th:if="${nclaim.confirm == 'Y'}">
									<td class="py-3 cgw9">
										<button class="badge bg-secondary m-0 cgw30" th:onclick="nclaimDelete([[${nclaim.knNo}]], [[${nclaim.no}]]);">삭제</button>
									</td>
									</th:block>
								</tr>
								</th:block>
							</tbody>
						</table>
					</div>
					
					<br>
 
		          <!-- pagination -->
		          <th:block th:if="${anlist.size != 0}">
		         <nav class="d-flex justify-content-between pt-2 cgw31" aria-label="Page navigation">
		            <ul class="pagination" id="prev">
		              <li class="page-item"><button class="page-link" th:onclick="|moveaNPage('/mypage-4?anPage=${anPageInfo.prevPage}');|"><i class="ci-arrow-left me-2"></i>Prev</button></li>
		            </ul>
		            <ul class="pagination">
		              <li class="page-item d-sm-none"><span class="page-link page-link-static">1 / 5</span></li>
		              
		              <th:block th:each="num, status : ${#numbers.sequence(anPageInfo.startPage, anPageInfo.endPage)}">
			                	<th:block th:if="${status.current == anPageInfo.currentPage}">
					                <li class="page-item d-none d-sm-block page" aria-current="page">
					                  <span class="page-link">[[${status.current}]]<span class="visually-hidden">(current)</span></span>
					                </li>
			                	</th:block>
			                	<th:block th:if="${status.current != anPageInfo.currentPage}">
					                <li class="page-item d-none d-sm-block"><button class="page-link" th:onclick="|moveaNPage('/mypage-4?anPage=${status.current}');|">[[${status.current}]]</button></li>
			                	</th:block>
			                </th:block>
		            </ul>
		            <ul class="pagination">
		              <li class="page-item"><button class="page-link" th:onclick="|moveaNPage('/mypage-4?anPage=${anPageInfo.nextPage}');|" aria-label="Next">Next<i
		                    class="ci-arrow-right ms-2"></i></button></li>
		            </ul>
		          </nav>  
		          </th:block>
		          </th:block>
		          <br><br>
					
					<!-- 유치원 불편사항신고조회 목록-->
					<th:block th:if="${session.loginMember.role == 'ROLE_ADMIN'}">
					<div class="table-responsive fs-md mb-4">
					<h5 class="v-line ps-2">어린이집 불편사항 신고 조회 목록</h5> <br>
						<table class="table table-hover mb-0">
							<thead>
								<tr>
									<th class="cgw8 cgw9">번호</th>
									<th class="cgw8 cgw9">제목</th>
									<th class="cgw8 cgw9">작성자</th>
									<th class="cgw8 cgw9">작성일</th>
									<th class="cgw8 cgw9">신고접수상태</th>
									<th class="cgw8 cgw9"></th>
								</tr>
							</thead>
							<tbody>
								<th:block th:if="${aklist.size == 0}">
									<tr>
										<td colspan="5" class="cgw9">조회된 신청이 없습니다.</td>
									</tr>
								</th:block>
								<th:block th:if="${aklist.size != 0}">
								<tr th:each="nclaim, stat : ${aklist}">
									<td class="py-3 cgw9">[[${nclaim.no}]]</td>
									<td class="py-3 cgw9">
										<a class="nav-link-style-cgw fw-medium cgw33" th:href="@{|/claim-view?type=어린이집&no=${nclaim.no}|}">[[${nclaim.title}]]</a>
									</td>
									<td class="py-3 cgw9">[[${nclaim.memberName}]]</td>
									<td class="py-3 cgw9" th:text="${#dates.format(nclaim.createDate, 'yyyy-MM-dd')}"></td>
									<td class="py-3 cgw9">
										<span th:if="${nclaim.confirm == 'N'}" class="cgw3">신고확인중</span>
										<span th:if="${nclaim.confirm == 'Y'}" class="cgw20">신고확인완료</span>
									</td>
									<th:block th:if="${nclaim.confirm == 'N'}">
									<td class="py-3 cgw9">
										<button class="badge-cgw3 bg-secondary-cgw1 m-0 cgw30" th:onclick="tkclaimUpdate([[${nclaim.no}]]);">확인</button>&nbsp;&nbsp;
										<button class="badge bg-secondary m-0 cgw30" th:onclick="kclaimDelete([[${nclaim.knNo}]], [[${nclaim.no}]]);">삭제</button>
									</td>
									</th:block>
									<th:block th:if="${nclaim.confirm == 'Y'}">
									<td class="py-3 cgw9">
										<button class="badge bg-secondary m-0 cgw30" th:onclick="kclaimDelete([[${nclaim.knNo}]], [[${nclaim.no}]]);">삭제</button>
									</td>
									</th:block>
								</tr>
								</th:block>
							</tbody>
						</table>
					</div>
					
					<br>
 
		          <!-- pagination -->
		          <th:block th:if="${aklist.size != 0}">
		         <nav class="d-flex justify-content-between pt-2 cgw31" aria-label="Page navigation">
		            <ul class="pagination" id="prev">
		              <li class="page-item"><button class="page-link" th:onclick="|moveaKPage('/mypage-4?akPage=${akPageInfo.prevPage}');|"><i class="ci-arrow-left me-2"></i>Prev</button></li>
		            </ul>
		            <ul class="pagination">
		              <li class="page-item d-sm-none"><span class="page-link page-link-static">1 / 5</span></li>
		              
		              <th:block th:each="num, status : ${#numbers.sequence(akPageInfo.startPage, akPageInfo.endPage)}">
			                	<th:block th:if="${status.current == akPageInfo.currentPage}">
					                <li class="page-item d-none d-sm-block page" aria-current="page">
					                  <span class="page-link">[[${status.current}]]<span class="visually-hidden">(current)</span></span>
					                </li>
			                	</th:block>
			                	<th:block th:if="${status.current != akPageInfo.currentPage}">
					                <li class="page-item d-none d-sm-block"><button class="page-link" th:onclick="|moveaKPage('/mypage-4?akPage=${status.current}');|">[[${status.current}]]</button></li>
			                	</th:block>
			                </th:block>
		            </ul>
		            <ul class="pagination">
		              <li class="page-item"><button class="page-link" th:onclick="|moveaKPage('/mypage-4?akPage=${akPageInfo.nextPage}');|" aria-label="Next">Next<i
		                    class="ci-arrow-right ms-2"></i></button></li>
		            </ul>
		          </nav>  
		          </th:block>
		          </th:block>
		          <br><br>
		          
		          
		          
		        
		          
		          
				</section>
			</div>
		</div>
	</main>
	<!-- 푸터!!!!!!!!!!-->
	<!-- Footer-->
	<footer th:fragment="footer" th:replace="~{common :: footer}"></footer>



	<!-- Toolbar for handheld devices (Default)-->
	<!-- Back To Top Button-->
	<!-- Vendor scrits: js libraries and plugins-->
	<script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="vendor/simplebar/dist/simplebar.min.js"></script>
	<script src="vendor/tiny-slider/dist/min/tiny-slider.js"></script>
	<script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
	<script src="vendor/drift-zoom/dist/Drift.min.js"></script>
	<script src="vendor/lightgallery.js/dist/js/lightgallery.min.js"></script>
	<script src="vendor/lg-video.js/dist/lg-video.min.js"></script>

	<script src="vendor/flatpickr/dist/flatpickr.min.js"></script>
	<script src="vendor/flatpickr/dist/plugins/rangePlugin.js"></script>
	<!-- Main theme script-->
	<script src="js/theme.min.js"></script>
	<script type="text/javascript">
		nPage = '[[${nPageInfo.currentPage}]]'; 
	    kPage = '[[${kPageInfo.currentPage}]]';
		tnPage = '[[${tnPageInfo.currentPage}]]';
	    tkPage = '[[${tkPageInfo.currentPage}]]';
	    anPage = '[[${anPageInfo.currentPage}]]';
	    akPage = '[[${akPageInfo.currentPage}]]';
		function moveNPage(pageUrl){
			pageUrl += '&nPage=' + nPage 
			location.href = encodeURI(pageUrl);	
		}
		function moveKPage(pageUrl){
			pageUrl += '&kPage=' + kPage 
			location.href = encodeURI(pageUrl);	
		}
		function movetNPage(pageUrl){
			pageUrl += '&tnPage=' + tnPage 
			location.href = encodeURI(pageUrl);	
		}
		function movetKPage(pageUrl){
			pageUrl += '&tkPage=' + tkPage 
			location.href = encodeURI(pageUrl);	
		}
		function moveaNPage(pageUrl){
			pageUrl += '&anPage=' + anPage 
			location.href = encodeURI(pageUrl);	
		}
		function moveaKPage(pageUrl){
			pageUrl += '&akPage=' + akPage 
			location.href = encodeURI(pageUrl);	
		}
		function nclaimUpdate(no) {
    		location.href = "/claim-update?type=어린이집" + "&no=" + no;
    	}
		function kclaimUpdate(no) {
    		location.href = "/claim-update?type=유치원" + "&no=" + no;
    	}
		function tnclaimUpdate(no) {
    		var url = "/updateTNurseryWish?no=" + no;
			if(confirm("정말로 확인하셨습니까?")) {
				location.replace(url);
			}
    	}
		function tkclaimUpdate(no) {
    		var url = "/updateTKinderClaim?no=" + no;
			if(confirm("정말로 확인하셨습니까?")) {
				location.replace(url);
			}
    	}
		function nclaimDelete(knNo, no) {
    		var url = "/mypage-claim-delete?type=어린이집" + "&no=" + no + "&knNo=" + knNo;
    		if(confirm("정말로 불편사항 신고글을 삭제 하시겠습니까?")) {
    			location.replace(url);
    		}
    	}
		function kclaimDelete(knNo, no) {
    		var url = "/mypage-claim-delete?type=유치원" + "&no=" + no + "&knNo=" + knNo;
    		if(confirm("정말로 불편사항 신고글을 삭제 하시겠습니까?")) {
    			location.replace(url);
    		}
    	}
		
		
    	
	    
	    
	</script>
</body>

</html>