<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>UKIDS | 회원정보 수정</title>
	<!-- Viewport-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicon and Touch Icons-->
	<link rel="apple-touch-icon" sizes="180x180" href="img/ukids/logo.jpg">
	<link rel="icon" type="image/png" sizes="32x32" href="img/ukids/logo.jpg">
	<link rel="icon" type="image/png" sizes="16x16" href="img/ukids/logo.jpg">
	<link rel="manifest" href="site.webmanifest">
	<link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">
	<!-- Vendor Styles including: Font Icons, Plugins, etc.-->
	<link rel="stylesheet" media="screen" href="vendor/simplebar/dist/simplebar.min.css" />
	<link rel="stylesheet" media="screen" href="vendor/tiny-slider/dist/tiny-slider.css" />
	<link rel="stylesheet" media="screen" href="vendor/drift-zoom/dist/drift-basic.min.css" />
	<link rel="stylesheet" media="screen" href="vendor/lightgallery.js/dist/css/lightgallery.min.css" />
	<!-- Main Theme Styles + Bootstrap-->
	<link rel="stylesheet" media="screen" href="css/theme.min.css">
	<link rel="stylesheet" media="screen" href="css/cgw.css">
	<link rel="stylesheet" media="screen" href="css/header.css">
	<link rel="stylesheet" media="screen" href="css/footer.css">
	
	<!--jquery-->
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	
	<!-- 폰트 -->
	<style>
	@font-face {
		font-family: 'NanumSquareRound';
		src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}
	
	* {
		font-family: 'NanumSquareRound';
	}
	</style>

</head>

<!-- Body-->
<body class="handheld-toolbar-enabled">
	<!-- 로그인 모달 관련  -->
	<div th:fragment="modal" th:replace="~{common :: modal}"></div>

	<main class="page-wrapper" style="height: 2260px;">
		<!-- 헤더!!!!!! -->
		<header th:fragment="header" th:replace="~{common :: header}"></header>
		<!-- 헤더 끝 -->
		<!-- Page Title-->
		<div
			class="bg-position-top-center bg-repeat-0 bg-size-cover py-5 bg-dark-cgw">
			<div class="pt-0 pb-5">
				<div class="container pt-0  pt-lg-0">
					<div class="mb-3 mb-lg-0 pt-lg-0">
						<nav aria-label="breadcrumb">
							<ol
								class="breadcrumb breadcrumb-light fw-bold fs-md flex-lg-nowrap justify-content-center justify-content-lg-end">
								<li class="breadcrumb-item"><a class="text-nowrap"
									th:href="@{/}"><i class="ci-home"></i>유키즈</a></li>
								<li class="breadcrumb-item text-light">마이페이지</li>
								<li class="breadcrumb-item text-nowrap cgw3" aria-current="page">입소
									신청 조회</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div class="container pb-5 mb-2 mb-md-4 cgw1">
			<div class="row">
				<!-- Sidebar-->
				<aside class="col-lg-4 pt-4 pt-lg-0 pe-xl-5">
					<h1 class="h3 text-white cgw5">마이페이지</h1>
					<div class="bg-white rounded-3 shadow-lg pt-1 mb-5 mb-lg-0">
						<div
							class="d-md-flex justify-content-between align-items-center text-center text-md-start p-4">
							<div class="d-md-flex align-items-center">
								<div class="ps-md-3">
									<h3 class="fs-base mb-0">[[${session.loginMember.name}]]</h3>
									<span class="cgw3 fs-sm">[[${session.loginMember.email}]]</span>
								</div>
							</div>
							<a class="btn btn-primary d-lg-none mb-2 mt-3 mt-md-0"
								href="#account-menu" data-bs-toggle="collapse"
								aria-expanded="false"><i class="ci-menu me-2"></i>Account
								menu</a>
						</div>
						<div class="d-lg-block collapse" id="account-menu">
							<div class="bg-secondary px-4 py-3">
								<h3 class="fs-sm mb-0 text-muted">마이페이지</h3>
							</div>
							<ul class="list-unstyled mb-0">
				 <th:block th:if="${session.loginMember.role == 'ROLE_USER'}">
                <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                    th:href="@{/mypage}"><i class="ci-user opacity-60 me-2"></i>회원정보 수정</a></li>
                <li class="border-bottom mb-0">
                  <div class="cgw3 d-flex align-items-center px-4 py-3"><i class="ci-edit opacity-60 me-2"></i>입소 신청
                    조회<span class="fs-sm text-muted ms-auto">[[${admissionCount}]]</span></div>
                </li>
                <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                    th:href="@{/mypage-3}"><i class="ci-heart opacity-60 me-2"></i>찜<span
                      class="fs-sm text-muted ms-auto">[[${wishCount}]]</span></a></li>
                <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                    th:href="@{/mypage-4}"><i class="ci-edit opacity-60 me-2"></i>불편사항 신고 조회<span
                      class="fs-sm text-muted ms-auto">[[${claimCount}]]</span></a></li>
                <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                    th:href="@{/mypage-5}"><i class="ci-document opacity-60 me-2"></i>내가 쓴 게시글<span
                      class="fs-sm text-muted ms-auto">[[${boardCount}]]</span></a></li>
                <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                    th:href="@{/mypage-6}"><i class="ci-bag opacity-60 me-2"></i>대여 내역 조회<span
                      class="fs-sm text-muted ms-auto">[[${rentalCount}]]</span></a></li>
                <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                    th:href="@{/mypage-7}"><i class="ci-cart opacity-60 me-2"></i>장바구니<span
                      class="fs-sm text-muted ms-auto">[[${cartCount}]]</span></a></li>
                <li class="border-bottom mb-0">
                  <div class="nav-link-style d-flex align-items-center px-4 py-2"><a
                      class="fs-sm ms-auto btn btn-logout btn-sm" th:href="@{/logout}"><i class="ci-sign-out me-2"></i>로그아웃</a>
                  </div>
                </li>
                 </th:block>
				 <th:block th:if="${session.loginMember.role == 'ROLE_T'}">
                <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                    th:href="@{/mypage}"><i class="ci-user opacity-60 me-2"></i>회원정보 수정</a></li>
                     <li class="border-bottom mb-0">
                  <div class="cgw3 d-flex align-items-center px-4 py-3"><i class="ci-edit opacity-60 me-2"></i>입소 신청
                    조회<span class="fs-sm text-muted ms-auto"></span></div>
                </li>
                <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                    th:href="@{/mypage-4}"><i class="ci-edit opacity-60 me-2"></i>불편사항 신고 조회<span
                      class="fs-sm text-muted ms-auto"></span></a></li>
                <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                    th:href="@{/mypage-5}"><i class="ci-document opacity-60 me-2"></i>내가 쓴 게시글<span
                      class="fs-sm text-muted ms-auto"></span></a></li>
                <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                    th:href="@{/mypage-6}"><i class="ci-bag opacity-60 me-2"></i>대여 내역 조회<span
                      class="fs-sm text-muted ms-auto"></span></a></li>
                <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                    th:href="@{/mypage-7}"><i class="ci-cart opacity-60 me-2"></i>장바구니<span
                      class="fs-sm text-muted ms-auto"></span></a></li>
                <li class="border-bottom mb-0">
                  <div class="nav-link-style d-flex align-items-center px-4 py-2"><a
                      class="fs-sm ms-auto btn btn-logout btn-sm" th:href="@{/logout}"><i class="ci-sign-out me-2"></i>로그아웃</a>
                  </div>
                </li>
                 </th:block>
                  <th:block th:if="${session.loginMember.role == 'ROLE_ADMIN'}">
                <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                    th:href="@{/mypage}"><i class="ci-user opacity-60 me-2"></i>회원정보 수정</a></li>
                <li class="border-bottom mb-0">
                  <div class="cgw3 d-flex align-items-center px-4 py-3"><i class="ci-edit opacity-60 me-2"></i>입소 신청
                    조회<span class="fs-sm text-muted ms-auto"></span></div>
                </li>
                <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                    th:href="@{/mypage-3}"><i class="ci-heart opacity-60 me-2"></i>찜<span
                      class="fs-sm text-muted ms-auto"></span></a></li>
                <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                    th:href="@{/mypage-4}"><i class="ci-edit opacity-60 me-2"></i>불편사항 신고 조회<span
                      class="fs-sm text-muted ms-auto"></span></a></li>
                <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                    th:href="@{/mypage-5}"><i class="ci-document opacity-60 me-2"></i>내가 쓴 게시글<span
                      class="fs-sm text-muted ms-auto"></span></a></li>
                <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                    th:href="@{/mypage-6}"><i class="ci-bag opacity-60 me-2"></i>대여 내역 조회<span
                      class="fs-sm text-muted ms-auto"></span></a></li>
                <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                    th:href="@{/mypage-7}"><i class="ci-cart opacity-60 me-2"></i>장바구니<span
                      class="fs-sm text-muted ms-auto"></span></a></li>
                <li class="border-bottom mb-0">
                  <div class="nav-link-style d-flex align-items-center px-4 py-2"><a
                      class="fs-sm ms-auto btn btn-logout btn-sm" th:href="@{/logout}"><i class="ci-sign-out me-2"></i>로그아웃</a>
                  </div>
                </li>
                 </th:block>
              </ul>
						</div>
					</div>
				</aside>
				<!-- Content  -->
				<section class="col-lg-8">
					<!-- Toolbar-->
					<div class="d-none d-lg-flex justify-content-between align-items-center pb-4 cgw7 mb-lg-3">
						<h6 class="fs-change cgw4 mb-0 fw-bold" style="color: #fc6c93;">입소 신청 조회</h6>
					</div>
					<!-- 어린이집 입소 신청 목록-->
					<!-- <form id="enroll-container" action="/member/update" method="post"> -->
					<th:block th:if="${session.loginMember.role == 'ROLE_USER'}">
					<div class="table-responsive fs-md mb-4">
						<h5 class="v-line ps-2">어린이집 입소 신청 목록</h5>
						<br>
						<table class="table table-hover mb-0" id="addNList">
							<thead>
								<tr>
									<th class="cgw8 cgw9">번호</th>
									<th class="cgw8 cgw9">어린이집명</th>
									<th class="cgw8 cgw9">신청일자</th>
									<th class="cgw8 cgw9">입소희망 예정일</th>
									<th class="cgw8 cgw9">신청 상태</th>
								</tr>
							</thead>
							<tbody id="nListBody">
								<th:block th:if="${nlist.size == 0}">
									<tr>
										<td colspan="5" class="cgw9">조회된 신청이 없습니다.</td>
									</tr>
								</th:block>
								<th:block th:if="${nlist.size != 0}">
								<tr th:each="nadmission, stat : ${nlist}">
									<td class="py-3 cgw9" th:text="|${stat.count}|"></td>
									<td class="py-3 cgw9"><a
										class="nav-link-style-cgw fw-medium cgw26"
										th:href="@{|/nursery-detail?&no=${nadmission.nuNo}&i=${stat.index}|}">[[${nadmission.crname}]]</a></td>
									<td class="py-3 cgw9" th:text="${#dates.format(nadmission.enrollDate, 'yyyy-MM-dd')}"></td>
									<td class="py-3 cgw9" th:text="${#dates.format(nadmission.hopeDate, 'yyyy-MM-dd')}"></td>
									<td class="py-3 cgw9">
										<span th:if="${nadmission.status == 'Y'}" class="badge bg-success m-0">입소확정</span>
										<span th:if="${nadmission.status == 'N'}" class="badge bg-danger m-0">신청실패</span>
										<span th:if="${nadmission.status == 'W'}" class="badge bg-info m-0">대기중</span>
									</td>
									<td class="py-3 cgw9">
										<th:block th:if="${nadmission.status != 'Y'}">
										<button type="button" class="cgw30 badge-cgw1 bg-secondary-cgw1 m-0" th:onclick="deleteNAdmission([[${nadmission.no}]]);">
											<span>입소신청취소</span>
										</button>
										</th:block>
										<th:block th:if="${nadmission.status == 'Y'}">
										<span class="badge-cgw2 bg-secondary m-0">입소변경불가</span>
										</th:block>
									</td>
								</tr>
								
								</th:block>
							</tbody>
						</table>
					</div>
					<div class="text-end">
						<button class="btn btn-primary-cgw2" onclick="getNAdmissionList()" id="addBtn">더보기</button>
						<script type="text/javascript">
						
						function getNAdmissionList(){
							  var startNum = $("#nListBody tr").length
							  var limit = 4;
							  var addListHtml="";
							  console.log("startNum", startNum);

							  $.ajax({
							    url: "/mypage-2",
							    contentType: "application/json; charset=utf-8",
							    dataType:'json',
							    processData: false, //데이터를 쿼리 문자열로 변환하는 jQuery 형식 방지
							    success : function(data) {
						            alert('ttt');

							    	if(data.code==1){
							            var nAdmission = data.nlist;
							            var timehtml = $("#nListBody").html();
										
							            var max = nAdmission.length-startNum;
							            var min = max-limit;
							            if(min<=0){
							              min= 0;
							              $("#addBtn").hide();
							            }
							            var i = 1;
							            alert('ttt');
					
							            //alert("nAdmission.length: "+nAdmission.length+" /max :"+max+" /min: "+ min);

							            for(var i=max-1; i>=min; i--){
							                  timehtml+="<td class='py-3 cgw9' th:text='|" + i + "|''></td>";
							                  timehtml+='<td class="py-3 cgw9">'
							                  timehtml+='<a class="nav-link-style-cgw fw-medium cgw26" th:href="@{|/nursery-detail?&no=' + nAdmission[i].nuNo + '&i=' + i + '|}">' + nAdmission[i].crName + '</a>'
							                  timehtml+='</td>'
							                  timehtml+='<td class="py-3 cgw9" th:text="' + nAdmission[i].enrollDate + '"></td>'
							                  timehtml+='<td class="py-3 cgw9" th:text="' + nAdmission[i].hopeDate + '"></td>'
							                  timehtml+='<td class="py-3 cgw9">'
							                  if (nAdmission[i].status == 'Y') {
							                	  timehtml+='<span class="badge bg-success m-0">입소확정</span>'
							                  } else if (nAdmission[i].status == 'N') {
							                	  timehtml+='<span class="badge bg-danger m-0">신청실패</span>'
							                  } else if (nAdmission[i].status == 'W') {
							                	  timehtml+='<span class="badge bg-info m-0">대기중</span>'
							                  }
							                  timehtml+='</td>'
							                  timehtml+='<td class="py-3 cgw9">'
							                  if (nAdmission[i].status != 'Y') {
							                	  timehtml+='<button type="button" class="cgw30 badge-cgw1 bg-secondary-cgw1 m-0" th:onclick="deleteNAdmission(' + nAdmission[i].no + ');">'
								                  timehtml+='<span>입소신청취소</span>'
								                  timehtml+='</button>'
							                  } else if (nAdmission[i].status == 'Y') {
							                	  timehtml+='<span class="badge-cgw2 bg-secondary m-0">입소취소불가</span>'
							                  }
							                  timehtml+='</td>'
							                  i++;
							            }//for
							            i = 0;
							            alert("result : " + timehtml);
							            $("#nListBody").html(timehtml);
							            
							        }else{
							          alert(data.code);
							        }
							    },error:function(e){
							      alert(data.code);
							      alert(data.message);
							    }
							  });
							}
						</script>
					</div>
					<!-- </form> -->
					<br>
					<br>
					<!-- 유치원 목록-->
					<!-- <form id="enroll-container" action="/member/update" method="post"> -->
					<div class="table-responsive fs-md mb-4">
						<h5 class="v-line ps-2">유치원 입소 신청 목록</h5>
						<br>
						<table class="table table-hover mb-0">
							<thead>
								<tr>
									<th class="cgw8 cgw9">번호</th>
									<th class="cgw8 cgw9">유치원명</th>
									<th class="cgw8 cgw9">신청일자</th>
									<th class="cgw8 cgw9">입소희망 예정일</th>
									<th class="cgw8 cgw9s">신청 상태</th>
									
								</tr>
							</thead>
							<tbody>
								<th:block th:if="${klist.size == 0}">
									<tr>
										<td colspan="5" class="cgw9">조회된 신청이 없습니다.</td>
									</tr>
								</th:block>
								<th:block th:if="${klist.size != 0}">
								<tr th:each="kadmission, stat : ${klist}">
									<td class="py-3 cgw9" th:text="|${stat.count}|"></td>
									<td class="py-3 cgw9"><a class="nav-link-style-cgw fw-medium cgw26"
										th:href="@{|/kinder-detail?&no=${kadmission.kinNo}&i=${stat.count}|}">[[${kadmission.kinderName}]]</a></td>
									<td class="py-3 cgw9" th:text="${#dates.format(kadmission.enrollDate, 'yyyy-MM-dd')}"></td>
									<td class="py-3 cgw9" th:text="${#dates.format(kadmission.hopeDate, 'yyyy-MM-dd')}"></td>
									<td class="py-3 cgw9">
										<span th:if="${kadmission.status == 'Y'}" class="badge bg-success m-0">입소확정</span>
										<span th:if="${kadmission.status == 'N'}" class="badge bg-danger m-0">신청실패</span>
										<span th:if="${kadmission.status == 'W'}" class="badge bg-info m-0">대기중</span>
									</td>
									<td class="py-3 cgw9">
										<th:block th:if="${kadmission.status != 'Y'}">
										<button type="button" class="cgw30 badge-cgw1 bg-secondary-cgw1 m-0" th:onclick="deleteKAdmission([[${kadmission.no}]]);">
											<span>입소신청취소</span>
										</button>
										</th:block>
										<th:block th:if="${kadmission.status == 'Y'}">
										<span class="badge-cgw2 bg-secondary m-0">입소취소불가</span>
										</th:block>
									</td>
								</tr>
								</th:block>
							</tbody>
						</table>
					</div>
					<div class="text-end">
						<button class="btn btn-primary-cgw2" data-bs-toggle="modal"
							data-bs-target="#open-ticket">더보기</button>
					</div>
					</th:block>





					<!-- 어린이집 선생님 -->
					<th:block th:if="${session.loginMember.role == 'ROLE_T'}">
					<th:block th:if="${session.loginMember.field == '어린이집'}">
					<div class="table-responsive fs-md mb-4">
						<h5 class="v-line ps-2">입소 신청 목록</h5>
						<br>
						<table class="table table-hover mb-0" id="addNList">
							<thead>
								<tr>
									<th class="cgw8 cgw9">번호</th>
									<th class="cgw8 cgw9">어린이집명</th>
									<th class="cgw8 cgw9">신청일자</th>
									<th class="cgw8 cgw9">입소희망 예정일</th>
									<th class="cgw8 cgw9">신청 상태</th>
								</tr>
							</thead>
							<tbody>
								<th:block th:if="${tnlist.size == 0}">
									<tr>
										<td colspan="5" class="cgw9">조회된 신청이 없습니다.</td>
									</tr>
								</th:block>
								<th:block th:if="${tnlist.size != 0}">
								<tr th:each="nadmission, stat : ${tnlist}">
									<td class="py-3 cgw9" th:text="|${stat.count}|"></td>
									<td class="py-3 cgw9"><a
										class="nav-link-style-cgw fw-medium cgw26"
										th:href="@{|/nursery-detail?&no=${nadmission.nuNo}&i=${stat.index}|}">[[${nadmission.crname}]]</a></td>
									<td class="py-3 cgw9" th:text="${#dates.format(nadmission.enrollDate, 'yyyy-MM-dd')}"></td>
									<td class="py-3 cgw9" th:text="${#dates.format(nadmission.hopeDate, 'yyyy-MM-dd')}"></td>
									<td class="py-3 cgw9">
										<span th:if="${nadmission.status == 'Y'}" class="badge bg-success m-0">입소확정</span>
										<span th:if="${nadmission.status == 'N'}" class="badge bg-danger m-0">신청실패</span>
										<span th:if="${nadmission.status == 'W'}" class="badge bg-info m-0">대기중</span>
									</td>
									<td class="py-3 cgw9">
										<th:block th:if="${nadmission.status == 'W'}">
										<button class="badge-cgw3 bg-secondary-cgw1 m-0 cgw30" th:onclick="updateTNurseryAdmissionY([[${nadmission.no}]]);">수락</button>&nbsp;
										<button class="badge bg-secondary m-0 cgw30" th:onclick="updateTNurseryAdmissionN([[${nadmission.no}]]);">거절</button>
										</th:block>
										<th:block th:if="${nadmission.status != 'W'}">
										<span class="badge-cgw2 bg-secondary m-0">입소취소불가</span>
										</th:block>
									</td>
								</tr>
								 
						          <br>
						        </th:block>
							</tbody>
						</table>
					
					
					<th:block th:if="${tklist.size != 0}">
						         <nav class="d-flex justify-content-between pt-2 cgw31" aria-label="Page navigation">
						            <ul class="pagination" id="prev">
						              <li class="page-item"><button class="page-link" th:onclick="|movetKPage('/mypage-2?tkPage=${tkPageInfo.prevPage}');|"><i class="ci-arrow-left me-2"></i>Prev</button></li>
						            </ul>
						            <ul class="pagination">
						              <li class="page-item d-sm-none"><span class="page-link page-link-static">1 / 5</span></li>
						              
						              <th:block th:each="num, status : ${#numbers.sequence(tkPageInfo.startPage, tkPageInfo.endPage)}">
							                	<th:block th:if="${status.current == tkPageInfo.currentPage}">
									                <li class="page-item d-none d-sm-block page" aria-current="page">
									                  <span class="page-link">[[${status.current}]]<span class="visually-hidden">(current)</span></span>
									                </li>
							                	</th:block>
							                	<th:block th:if="${status.current != tkPageInfo.currentPage}">
									                <li class="page-item d-none d-sm-block"><button class="page-link" th:onclick="|movetKPage('/mypage-4?tkPage=${status.current}');|">[[${status.current}]]</button></li>
							                	</th:block>
							                </th:block>
						            </ul>
						            <ul class="pagination">
						              <li class="page-item"><button class="page-link" th:onclick="|movetKPage('/mypage-2?tkPage=${tkPageInfo.nextPage}');|" aria-label="Next">Next<i
						                    class="ci-arrow-right ms-2"></i></button></li>
						            </ul>
						          </nav>  
					</th:block>
					</div>
					</th:block>
					</th:block>
					
					
					
					<!-- 유치원 선생님 -->
					<th:block th:if="${session.loginMember.role == 'ROLE_T'}">
					<th:block th:if="${session.loginMember.field == '유치원'}">
					<div class="table-responsive fs-md mb-4">
						<h5 class="v-line ps-2">입소 신청 목록</h5>
						<br>
						<table class="table table-hover mb-0" id="addNList">
							<thead>
								<tr>
									<th class="cgw8 cgw9">번호</th>
									<th class="cgw8 cgw9">어린이집명</th>
									<th class="cgw8 cgw9">신청일자</th>
									<th class="cgw8 cgw9">입소희망 예정일</th>
									<th class="cgw8 cgw9">신청 상태</th>
								</tr>
							</thead>
							<tbody>
								<th:block th:if="${tklist.size == 0}">
									<tr>
										<td colspan="5" class="cgw9">조회된 신청이 없습니다.</td>
									</tr>
								</th:block>
								<th:block th:if="${tklist.size != 0}">
								<tr th:each="kadmission, stat : ${tklist}">
									<td class="py-3 cgw9" th:text="|${stat.count}|"></td>
									<td class="py-3 cgw9"><a class="nav-link-style-cgw fw-medium cgw26"
										th:href="@{|/kinder-detail?&no=${kadmission.kinNo}&i=${stat.count}|}">[[${kadmission.kinderName}]]</a></td>
									<td class="py-3 cgw9" th:text="${#dates.format(kadmission.enrollDate, 'yyyy-MM-dd')}"></td>
									<td class="py-3 cgw9" th:text="${#dates.format(kadmission.hopeDate, 'yyyy-MM-dd')}"></td>
									<td class="py-3 cgw9">
										<span th:if="${kadmission.status == 'Y'}" class="badge bg-success m-0">입소확정</span>
										<span th:if="${kadmission.status == 'N'}" class="badge bg-danger m-0">신청실패</span>
										<span th:if="${kadmission.status == 'W'}" class="badge bg-info m-0">대기중</span>
									</td>
									<td class="py-3 cgw9">
										<th:block th:if="${kadmission.status == 'W'}">
										<button class="badge-cgw3 bg-secondary-cgw1 m-0 cgw30" th:onclick="updateTKinderAdmissionY([[${kadmission.no}]]);">수락</button>&nbsp;
										<button class="badge bg-secondary m-0 cgw30" th:onclick="updateTKinderAdmissionN([[${kadmission.no}]]);">거절</button>
										</th:block>
										<th:block th:if="${kadmission.status != 'W'}">
										<span class="badge-cgw2 bg-secondary m-0">입소취소불가</span>
										</th:block>
									</td>
								</tr>
								 
						          <br>
						        </th:block>
							</tbody>
						</table>
					
					
					<th:block th:if="${tklist.size != 0}">
						         <nav class="d-flex justify-content-between pt-2 cgw31" aria-label="Page navigation">
						            <ul class="pagination" id="prev">
						              <li class="page-item"><button class="page-link" th:onclick="|movetKPage('/mypage-2?tkPage=${tkPageInfo.prevPage}');|"><i class="ci-arrow-left me-2"></i>Prev</button></li>
						            </ul>
						            <ul class="pagination">
						              <li class="page-item d-sm-none"><span class="page-link page-link-static">1 / 5</span></li>
						              
						              <th:block th:each="num, status : ${#numbers.sequence(tkPageInfo.startPage, tkPageInfo.endPage)}">
							                	<th:block th:if="${status.current == tkPageInfo.currentPage}">
									                <li class="page-item d-none d-sm-block page" aria-current="page">
									                  <span class="page-link">[[${status.current}]]<span class="visually-hidden">(current)</span></span>
									                </li>
							                	</th:block>
							                	<th:block th:if="${status.current != tkPageInfo.currentPage}">
									                <li class="page-item d-none d-sm-block"><button class="page-link" th:onclick="|movetKPage('/mypage-4?tkPage=${status.current}');|">[[${status.current}]]</button></li>
							                	</th:block>
							                </th:block>
						            </ul>
						            <ul class="pagination">
						              <li class="page-item"><button class="page-link" th:onclick="|movetKPage('/mypage-2?tkPage=${tkPageInfo.nextPage}');|" aria-label="Next">Next<i
						                    class="ci-arrow-right ms-2"></i></button></li>
						            </ul>
						          </nav>  
					</th:block>
					</div>
					</th:block>
					</th:block>


				</section>
			</div>
		</div>
	</main>
	<!-- 푸터!!!!!!!!!!-->
	<!-- Footer-->
	<footer th:fragment="footer" th:replace="~{common :: footer}"></footer>




	<!-- Toolbar for handheld devices (Default)-->
	<!-- Back To Top Button-->
	<!-- Vendor scrits: js libraries and plugins-->
	<script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="vendor/simplebar/dist/simplebar.min.js"></script>
	<script src="vendor/tiny-slider/dist/min/tiny-slider.js"></script>
	<script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
	<script src="vendor/drift-zoom/dist/Drift.min.js"></script>
	<script src="vendor/lightgallery.js/dist/js/lightgallery.min.js"></script>
	<script src="vendor/lg-video.js/dist/lg-video.min.js"></script>

	<script src="vendor/flatpickr/dist/flatpickr.min.js"></script>
	<script src="vendor/flatpickr/dist/plugins/rangePlugin.js"></script>
	<!-- Main theme script-->
	<script src="js/theme.min.js"></script>
	<script>
		function deleteNAdmission(no){
			var url = "/deleteNAdmission?no=" + no;
			if(confirm("정말로 취소를 하시겠습니까?")) {
				location.replace(url);
			}
		}
	
		function deleteKAdmission(no){
			var url = "/deleteKAdmission?no=" + no;
			if(confirm("정말로 취소를 하시겠습니까?")) {
				location.replace(url);
			}
		}
		
		function updateTNurseryAdmissionY(no) {
    		var url = "/updateTNurseryAdmissionY?no=" + no;
			if(confirm("정말로 입소를 수락하시겠습니까?")) {
				location.replace(url);
			}
    	}
		
		function updateTNurseryAdmissionN(no) {
    		var url = "/updateTNurseryAdmissionN?no=" + no;
			if(confirm("정말로 입소를 거절하시겠습니까?")) {
				location.replace(url);
			}
    	}
		
		function updateTKinderAdmissionY(no) {
    		var url = "/updateTKinderAdmissionY?no=" + no;
			if(confirm("정말로 입소를 수락하시겠습니까?")) {
				location.replace(url);
			}
    	}
		
		function updateTKinderAdmissionN(no) {
    		var url = "/updateTKinderAdmissionN?no=" + no;
			if(confirm("정말로 입소를 거절하시겠습니까?")) {
				location.replace(url);
			}
    	}
		
		tnPage = '[[${tnPageInfo.currentPage}]]';
		function movetNPage(pageUrl){
			pageUrl += '&tnPage=' + tnPage 
			location.href = encodeURI(pageUrl);	
		}
		
		tkPage = '[[${tkPageInfo.currentPage}]]';
		function movetKPage(pageUrl){
			pageUrl += '&tkPage=' + tkPage 
			location.href = encodeURI(pageUrl);	
		}
	</script>
</body>

</html>