
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>유키즈 | 주요뉴스</title>
    <!-- SEO Meta Tags
    <meta name="description" content="Cartzilla - Bootstrap E-commerce Template">
    <meta name="keywords" content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
    <meta name="author" content="Createx Studio"> -->
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="img/ukids/logo.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="img/ukids/logo.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="img/ukids/logo.jpg">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="vendor/simplebar/dist/simplebar.min.css"/>
    <link rel="stylesheet" media="screen" href="vendor/tiny-slider/dist/tiny-slider.css"/>
    <link rel="stylesheet" media="screen" href="vendor/drift-zoom/dist/drift-basic.min.css"/>
    <link rel="stylesheet" media="screen" href="vendor/lightgallery.js/dist/css/lightgallery.min.css"/>
    
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="css/theme.min.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/community.css">

    <!--해당 페이지 css-->

    
    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <!-- 폰트 -->
    <style>
    @font-face {
      font-family: 'NanumSquareRound';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }

    *{
      font-family: 'NanumSquareRound';
    }
    </style>

  </head>

  <!-- Body-->
  <body class="handheld-toolbar-enabled">

    <!-- 로그인 모달 관련  -->
    <div th:fragment="modal" th:replace="~{common :: modal}"></div>

    <main class="page-wrapper">

      <!-- 헤더!!!!!! -->
      <header th:fragment="header" th:replace="~{common :: header}"></header>



      <section class="position-relative bg-dark bg-size-cover bg-position-center py-5 mb-4" style="background-image: url(img/ukids/news/news11.jpg); height: 300px;"><span class="position-absolute top-0 start-0 w-100 h-100 bg-darker" style="opacity: .65;"></span>
        <div class="container position-relative zindex-5 mb-3">
          <div class="order-lg-2 mb-3 mb-lg-0 pt-0 pb-4">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-light fw-bold fs-md flex-lg-nowrap justify-content-center justify-content-lg-end">
                <li class="breadcrumb-item"><a class="text-nowrap" th:href="@{/index}"><i class="ci-home"></i>유키즈</a></li>
                <li class="breadcrumb-item text-nowrap text-pink" id="tc" aria-current="page">주요뉴스</li>
              </ol>
            </nav>
          </div>
          <div class="row justify-content-center pt-4 pb-4">
            <div class="col-lg-8">
              <h1 class="text-light text-center">주요 뉴스</h1>
              
              
            </div>
          </div>
        </div>
      </section>

    <!-- 구분선 이미지-->
    <div class="container-sm mt-5 mb-5 d-flex">
      <h1 class="fw-bold ms-3">주요뉴스</h1>
    <img class="box7 align-content-center" src="./img/ukids/view/2.PNG">
    </div>

    

      

    <!-- 게시판-->
  
  <div class="container-sm shadow mb-5">
<div class="table-responsive">
  
  <div class=" mt-3 mb-2" >
   <!--  <div class="mb-1  ma2">
        <div class="text-center">
          <form action="/news" id="newsForm" name="title">
          <input type="button" class="btn3 ms-2 me-2 fs-5 p-1" value="어린이">
          <input type="button" class="btn3 ms-2 me-2 fs-5 p-1" value="유치원">
          <input type="button" class="btn3 ms-2 me-2 fs-5 p-1" value="어린이집">
          <input type="button" class="btn3 ms-2 me-2 fs-5 p-1" value="아동">
          <input type="button" class="btn3 ms-2 me-2 fs-5 p-1" value="육아">
        </form>
        </div> -->
      </div>
        
    
  </div>
  <!-- 검색창 끝-->
  <table class="table mb-3" style="color: #FC6C93;">
    <thead>
      <tr>
        <th class="col-1 fs-5 text-center">번호</th>
        <th class="col-1 text-center"></th>
        <th class=" fs-5 text-center">제목</th>
        <th class="col-2 fs-5 text-center">작성일</th>
        
      </tr>
    </thead>
    <tbody>
	 <th:block th:each="news : ${list}">
      <tr>
        <th scope="row" class="text-center">[[${news.nNo}]]</th>
        <th scope="" class="text-center"></th>
        <td class="fs-6"><a style="color: black;" th:href="${news.originallink}">[[${news.title}]]</a></td>
        <td class="text-center" th:text="${#dates.format(news.pubDate, 'yyyy-MM-dd')}"></td>
      </tr>
      </th:block>
      
    </tbody>
  </table>
  
</div>



 <!-- 게시판 끝-->




    
    
  </main>

  <!-- 푸터!!!!!!!!!!-->
  <!-- Footer-->
  <footer th:fragment="footer" th:replace="~{common :: footer}"></footer>
  
  
  <!-- Toolbar for handheld devices (Default)-->
  <div class="handheld-toolbar">
    <div class="d-table table-layout-fixed w-100"><a class="d-table-cell handheld-toolbar-item" href="account-wishlist.html"><span class="handheld-toolbar-icon"><i class="ci-heart"></i></span><span class="handheld-toolbar-label">Wishlist</span></a><a class="d-table-cell handheld-toolbar-item" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" onclick="window.scrollTo(0, 0)"><span class="handheld-toolbar-icon"><i class="ci-menu"></i></span><span class="handheld-toolbar-label">Menu</span></a><a class="d-table-cell handheld-toolbar-item" href="shop-cart.html"><span class="handheld-toolbar-icon"><i class="ci-cart"></i><span class="badge bg-primary rounded-pill ms-1">4</span></span><span class="handheld-toolbar-label">$265.00</span></a></div>
  </div>
  <!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">   </i></a>
  <!-- Vendor scrits: js libraries and plugins-->
  <script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/simplebar/dist/simplebar.min.js"></script>
  <script src="vendor/tiny-slider/dist/min/tiny-slider.js"></script>
  <script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
  <script src="vendor/drift-zoom/dist/Drift.min.js"></script>
  <script src="vendor/lightgallery.js/dist/js/lightgallery.min.js"></script>
  <script src="vendor/lg-video.js/dist/lg-video.min.js"></script>
  
  <!-- Main theme script-->
  <script src="js/theme.min.js"></script>
  </body>
  </html>

