<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="utf-8">
    <title>UKIDS | 어린이집</title>
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="img/ukids/logo.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="img/ukids/logo.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="img/ukids/logo.jpg">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="vendor/simplebar/dist/simplebar.min.css"/>
    <link rel="stylesheet" media="screen" href="vendor/tiny-slider/dist/tiny-slider.css"/>
    <link rel="stylesheet" media="screen" href="vendor/drift-zoom/dist/drift-basic.min.css"/>
    <link rel="stylesheet" media="screen" href="vendor/lightgallery.js/dist/css/lightgallery.min.css"/>
    
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="css/theme.min.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/kinder-nursery.css">
    <link rel="stylesheet" href="css/nursery-sidebar.css">
    <link rel="stylesheet" href="css/kinder-sidebar.css">
    <!--해당 페이지 css-->

    
    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <style>
      @font-face {
      font-family: 'NanumSquareRound';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }
    *{
      font-family: 'NanumSquareRound';
    }
    </style>
  </head>
  <!-- Body-->
  <body class="handheld-toolbar-enabled">
    <!-- 로그인 모달 관련  -->
    <div th:fragment="modal" th:replace="~{common :: modal}"></div>
    
    <main class="page-wrapper" style="height: 2260px;">
      <!-- 헤더!!!!!! -->
      <header th:fragment="header" th:replace="~{common :: header}"></header>
      
      <section class="position-relative bg-dark bg-size-cover bg-position-center py-5 mb-4" id="headerimg" style="background-image: url(/img/ukids/배경2.jpg);">
        <span class="position-absolute top-0 start-0 w-100 h-100" style="opacity: .65;"></span>
        <div class="container position-relative zindex-5 mb-3">
          <div class="order-lg-2 mb-3 mb-lg-0 pt-0 pb-4">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-light fw-bold fs-md flex-lg-nowrap justify-content-center justify-content-lg-end">
                <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="ci-home"></i>유키즈</a></li>
                <li class="breadcrumb-item text-nowrap text-pink" aria-current="page">어린이집</li>
              </ol>
            </nav>
          </div>
        </div>
        <form class="form777" action="/nursery-main" method="GET">
          <div class="row justify-content-center pt-4 pb-4">
            <div class="col-lg-8">
              <h1 class="text-light"><b>어린이집</b></h1>
              <div class="input-group input-group-lg flex-nowrap">
                <i class="position-absolute top-50 translate-middle-y text-muted fs-base ms-3">
                  <img src="img/search(1).svg" class="icon">
                </i>
                <input class="form-control" name="search" type="text" placeholder="어린이집을 검색하세요." id="serch" th:value="${param.search}">&nbsp;&nbsp;
                <button class="btn btn-primary btn-lg fs-base" type="submit" id="buton">검색하기</button>
              </div>
            </div>
          </div>
        </form>
      </section>
      <div class="container pb-5 mb-2 mb-md-4 cgw1">
        <div class="row">
          <!-- Sidebar-->
          <form class="form888" action="/nursery-main" method="GET">
            <aside class="col-lg-41 pt-31" id="aaside">
              <!-- Sidebar-->
              <!-- <div class="offcanvas offcanvas-collapse bg-none w-100 rounded-3 shadow-lg" style="margin-top: 30px; margin-right: 10px; box-shadow: 2px 2px 2px 2px gainsboro;"> -->
                <div>
                  <img class="img" src="img/가랜드1.svg" style="margin-bottom:-13px">
                </div>
                <div class="offcanvas-body py-grid-gutter px-lg-grid-gutter" id="category">
                  <div class="ccategory">
                    <h3><b>카테고리</b></h3>
                  </div>
                  <div class="widget widget-filter pb-4" id="builder">
                    <h3 class="widget-title1"><b>설립유형</b></h3>
                    <ul class="widget-list widget-filter-list list-unstyled pt-1" style="max-height: 11rem;" data-simplebar data-simplebar-auto-hide="false">
	                    <th:block th:if="${param.build == null}">
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="build" type="checkbox" id="build1" value="public">
	                          <label class="form-check-label widget-filter-item-text" for="build1">국공립</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="build" type="checkbox" id="build2" value="private">
	                          <label class="form-check-label widget-filter-item-text" for="build2">사립</label>
	                        </div>
	                      </li>
	                    </th:block>
	                    <th:block th:if="${param.build != null}">
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="build" type="checkbox" id="build1" value="공립" th:checked="${#strings.contains(param.build,'공립')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="build1">국공립</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="build" type="checkbox" id="build2" value="민간" th:checked="${#strings.contains(param.build,'민간')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="build2">사립</label>
	                        </div>
	                      </li>
	                    </th:block>
                    </ul>
                  </div>
                  <div class="widget widget-filter pb-4" id="district">
                    <h3 class="widget-title1"><b>지역</b></h3>
                    <div class="form-inline">
                      <select class="form-select" name="city" id="city" onchange="cityChange()" style="border-radius: 10px; width: 240px; display: inline;">
                        <option value=" " th:selected="${#strings.equals(param.city, ' ')}">전체</option>
                        <option value="서울" th:selected="${#strings.equals(param.city, '서울')}">서울특별시</option>
                        <option value="부산" th:selected="${#strings.equals(param.city, '부산')}">부산광역시</option>
                        <option value="대구" th:selected="${#strings.equals(param.city, '대구')}">대구광역시</option>
                        <option value="인천" th:selected="${#strings.equals(param.city, '인천')}">인천광역시</option>
                        <option value="광주" th:selected="${#strings.equals(param.city, '광주')}">광주광역시</option>
                        <option value="대전" th:selected="${#strings.equals(param.city, '대전')}">대전광역시</option>
                        <option value="울산" th:selected="${#strings.equals(param.city, '울산')}">울산광역시</option>
                        <option value="세종특별" th:selected="${#strings.equals(param.city, '세종특별')}">세종특별자치시</option>
                        <option value="경기도" th:selected="${#strings.equals(param.city, '경기도')}">경기도</option>
                        <option value="강원도" th:selected="${#strings.equals(param.city, '강원도')}">강원도</option>
                        <option value="충청북도" th:selected="${#strings.equals(param.city, '충청북도')}">충청북도</option>
                        <option value="충청남도" th:selected="${#strings.equals(param.city, '충청남도')}">충청남도</option>
                        <option value="전라북도" th:selected="${#strings.equals(param.city, '전라북도')}">전라북도</option>
                        <option value="전라남도" th:selected="${#strings.equals(param.city, '전라남도')}">전라남도</option>
                        <option value="경상북도" th:selected="${#strings.equals(param.city, '경상북도')}">경상북도</option>
                        <option value="경상남도" th:selected="${#strings.equals(param.city, '경상남도')}">경상남도</option>
                        <option value="제주" th:selected="${#strings.equals(param.city, '제주')}">제주특별자치도</option>
                      </select>&nbsp;
                      <select class="form-select mt-2" name="town" id="town" style="border-radius: 10px; width: 240px; display: inline;">
                        <option value=" ">전체</option>
                      </select>&nbsp;
                    </div>
                  </div>
                  <!-- Filter by Size-->
                  <div class="widget widget-filter pb-4" id="hakgup">
                    <h3 class="widget-title1"><b>학급현황</b></h3>
                    <ul class="widget-list widget-filter-list list-unstyled pt-1" style="max-height: 20rem;" data-simplebar data-simplebar-auto-hide="false">
	                    <th:block th:if="${param.classroom == null}">
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="classroom" type="checkbox" id="class1" value="class1">
	                          <label class="form-check-label widget-filter-item-text" for="class1">특수학급</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="classroom" type="checkbox" id="class2" value="class2">
	                          <label class="form-check-label widget-filter-item-text" for="class2">영아 혼합(0~2세)</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="classroom" type="checkbox" id="class3" value="class3">
	                          <label class="form-check-label widget-filter-item-text" for="class3">유아혼합(만3~5세)</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="classroom" type="checkbox" id="class4" value="class4">
	                          <label class="form-check-label widget-filter-item-text" for="class4">만0세 학급</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="classroom" type="checkbox" id="class5" value="class5">
	                          <label class="form-check-label widget-filter-item-text" for="class5">만1세 학급</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="classroom" type="checkbox" id="class6" value="class6">
	                          <label class="form-check-label widget-filter-item-text" for="class6">만2세 학급</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="classroom" type="checkbox" id="class7" value="class7">
	                          <label class="form-check-label widget-filter-item-text" for="class7">만3세 학급</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="classroom" type="checkbox" id="class8" value="class8">
	                          <label class="form-check-label widget-filter-item-text" for="class8">만4세 학급</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="classroom" type="checkbox" id="class9" value="class9">
	                          <label class="form-check-label widget-filter-item-text" for="class9">만5세 학급</label>
	                        </div>
	                      </li>
	                    </th:block>
	                    <th:block th:if="${param.classroom != null}">
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="classroom" type="checkbox" id="class1" value="class1" th:checked="${#strings.contains(param.classroom,'class1')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="class1">특수학급</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="classroom" type="checkbox" id="class2" value="class2" th:checked="${#strings.contains(param.classroom,'class2')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="class2">영아 혼합(0~2세)</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="classroom" type="checkbox" id="class3" value="class3" th:checked="${#strings.contains(param.classroom,'class3')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="class3">유아혼합(만3~5세)</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="classroom" type="checkbox" id="class4" value="class4" th:checked="${#strings.contains(param.classroom,'class4')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="class4">만0세 학급</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="classroom" type="checkbox" id="class5" value="class5" th:checked="${#strings.contains(param.classroom,'class5')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="class5">만1세 학급</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="classroom" type="checkbox" id="class6" value="class6" th:checked="${#strings.contains(param.classroom,'class6')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="class6">만2세 학급</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="classroom" type="checkbox" id="class7" value="class7" th:checked="${#strings.contains(param.classroom,'class7')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="class7">만3세 학급</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="classroom" type="checkbox" id="class8" value="class8" th:checked="${#strings.contains(param.classroom,'class8')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="class8">만4세 학급</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="classroom" type="checkbox" id="class9" value="class9" th:checked="${#strings.contains(param.classroom,'class9')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="class9">만5세 학급</label>
	                        </div>
	                      </li>
	                    </th:block>
                    </ul>
                  </div>
                  <div class="widget widget-filter pb-4" id="teacher">
                    <h3 class="widget-title1"><b>교사현황</b></h3>
                    <ul class="widget-list widget-filter-list list-unstyled pt-1" style="max-height: 11rem;" data-simplebar data-simplebar-auto-hide="false">
	                    <th:block th:if="${param.teacher == null}">
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="teacher" type="checkbox" id="teacher1" value="care">
	                          <label class="form-check-label widget-filter-item-text" for="teacher1">보육교사</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="teacher" type="checkbox" id="teacher2" value="special">
	                          <label class="form-check-label widget-filter-item-text" for="teacher2">특수교사</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="teacher" type="checkbox" id="teacher3" value="cure">
	                          <label class="form-check-label widget-filter-item-text" for="teacher3">치료교사</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="teacher" type="checkbox" id="teacher4" value="nutrition">
	                          <label class="form-check-label widget-filter-item-text" for="teacher4">영양사/조리원</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="teacher" type="checkbox" id="teacher5" value="nurse">
	                          <label class="form-check-label widget-filter-item-text" for="teacher5">간호사/간호조무사</label>
	                        </div>
	                      </li>
	                    </th:block>
	                    <th:block th:if="${param.teacher != null}">
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="teacher" type="checkbox" id="teacher1" value="care" th:checked="${#strings.contains(param.teacher,'care')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="teacher1">보육교사</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="teacher" type="checkbox" id="teacher2" value="special" th:checked="${#strings.contains(param.teacher,'special')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="teacher2">특수교사</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="teacher" type="checkbox" id="teacher3" value="cure" th:checked="${#strings.contains(param.teacher,'cure')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="teacher3">치료교사</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="teacher" type="checkbox" id="teacher4" value="nutrition" th:checked="${#strings.contains(param.teacher,'nutrition')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="teacher4">영양사/조리원</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="teacher" type="checkbox" id="teacher5" value="nurse" th:checked="${#strings.contains(param.teacher,'nurse')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="teacher5">간호사/간호조무사</label>
	                        </div>
	                      </li>
	                    </th:block>
                    </ul>
                  </div>
                  <div class="widget widget-filter pb-3" id="service">
                    <h3 class="widget-title1"><b>제공서비스</b></h3>
                    <ul class="widget-list widget-filter-list list-unstyled pt-1" style="max-height: 11rem;" data-simplebar data-simplebar-auto-hide="false">
	                    <th:block th:if="${param.service == null}">
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="service" type="checkbox" id="bus" value="bus">
	                          <label class="form-check-label widget-filter-item-text" for="bus">통학 차량</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="service" type="checkbox" id="afterschool" value="afterschool">
	                          <label class="form-check-label widget-filter-item-text" for="afterschool">방과후 교실</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="service" type="checkbox" id="food" value="food">
	                          <label class="form-check-label widget-filter-item-text" for="food">급식</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="service" type="checkbox" id="play" value="play">
	                          <label class="form-check-label widget-filter-item-text" for="play">체육장</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="service" type="checkbox" id="cctv" value="cctv">
	                          <label class="form-check-label widget-filter-item-text" for="cctv">CCTV</label>
	                        </div>
	                      </li>
	                    </th:block>
	                    <th:block th:if="${param.service != null}">
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="service" type="checkbox" id="bus" value="bus" th:checked="${#strings.contains(param.service,'bus')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="bus">통학 차량</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="service" type="checkbox" id="afterschool" value="afterschool" th:checked="${#strings.contains(param.service,'afterschool')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="afterschool">방과후 교실</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="service" type="checkbox" id="food" value="food" th:checked="${#strings.contains(param.service,'food')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="food">급식</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="service" type="checkbox" id="play" value="play" th:checked="${#strings.contains(param.service,'play')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="play">체육장</label>
	                        </div>
	                      </li>
	                      <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
	                        <div class="form-check">
	                          <input class="form-check-input" name="service" type="checkbox" id="cctv" value="cctv" th:checked="${#strings.contains(param.service,'cctv')} ? 'checked' : null ">
	                          <label class="form-check-label widget-filter-item-text" for="cctv">CCTV</label>
	                        </div>
	                      </li>
	                    </th:block>
                    </ul>
                  </div>
                </div>
              <!-- </div> -->
              <div id="hover">
                <button class="filter-btn" type="submit">
                  <i class="ci-search fw-bold me-2"></i><b>선택한 조건으로 검색</b>
                </button>
              </div>
            </aside>
          </form>
          <!-- &nbsp;&nbsp;<b>선택목록 비교하기 -->
          <!-- Content  -->
          <section class="col-lg-8 pt-3" style="margin-left: 90px;">
            <!-- Products grid-->
            <div class="headtext">
              <b class="bold">검색 목록 <span th:text="${#numbers.formatInteger(count, 3, 'COMMA')}"></span>건</b>
              <a href="/compare-nursery" class="compare">
                <div class="compareIcon"><img src="img/back(1).svg"></div>&nbsp;&nbsp;<b>선택목록 비교하기</b>
              </a>
            </div>
            <div class="ddive">
            	<th:block th:if="${count == 0}">
	            	<h3 class="text-center">검색 결과가 없습니다.</h3>
	            </th:block>
	            
	            <th:block th:if="${list != null}">
		            	<th:block th:each="nursery, status : ${list}">
				              <div class="box777">
				                <div class="photo777">
				                  <img class="photo" th:src="|img/어린이집/nursery${img[status.index]}.JPG|">
				                  <th:block th:if="${compare == null}">
					                  <button class="button7" th:id="'compare' + ${nursery.no}" value="false" th:onclick="|onClickCompare(${nursery.no})|">
					                    <i class="ci-bookmark fw-bold mt-1"></i>
					                    <b>&nbsp;비교&nbsp;</b>
					                  </button>
				                  </th:block>
				                  <th:block th:unless="${compare == null}">
					                  	<th:block th:if="${#strings.contains(compare, nursery.no)}">
						                  <button class="button7-fill" th:id="'compare' + ${nursery.no}" value="true" th:onclick="|onClickCompare(${nursery.no})|">
						                    <i class="ci-bookmark fw-bold mt-1"></i>
						                    <b>&nbsp;비교&nbsp;</b>
						                  </button>
					                  	</th:block>
					                  	<th:block th:unless="${#strings.contains(compare, nursery.no)}">
						                  <button class="button7" th:id="'compare' + ${nursery.no}" value="false" th:onclick="|onClickCompare(${nursery.no})|">
						                    <i class="ci-bookmark fw-bold mt-1"></i>
						                    <b>&nbsp;비교&nbsp;</b>
						                  </button>
					                  	</th:block>
				                  </th:block>
				                  <th:block th:if="${session.loginMember == null}">
				                    <button class="btn-wishlist1 btn-sm" onclick="cantDo();">
				                      <i id="heart" class="ci-heart fw-bold text-danger"></i>
				                    </button>
				                  </th:block>
				                  <th:block th:unless="${session.loginMember == null}">
			                    	<th:block th:if="${#strings.contains(wish, nursery.no)}">
					                    <button class="btn-wishlist1 btn-sm" th:id="'heart' + ${nursery.no}" value="true" th:onclick="|onClickHeart(${nursery.no})|">
					                      <i id="heart" class="ci-heart-filled"></i>
					                    </button>
			                    	</th:block>
			                    	<th:block th:unless="${#strings.contains(wish, nursery.no)}">
					                    <button class="btn-wishlist1 btn-sm" th:id="'heart' + ${nursery.no}" value="false" th:onclick="|onClickHeart(${nursery.no})|">
					                      <i id="heart" class="ci-heart fw-bold text-danger"></i>
					                    </button>
			                    	</th:block>
			                    </th:block>
				                </div>
				                <div class="container777">
				                  <a class="sarip fw-bold">&nbsp;&nbsp;[[${nursery.crtypename}]]&nbsp;&nbsp;</a>
				                  <div class="container888">
				                    <h3 class="product-title fs-lg" style="margin-top: 10px;">
				                      <a th:href="|/nursery-detail?no=${nursery.no}&i=${img[status.index]}|"><b>[[${nursery.crname}]]</b></a>
				                    </h3>
				                  </div>
				                  <div class="location"><i class="ci-location text-accent fw-bold"></i>&nbsp;[[${nursery.craddr}]]</div>
				                </div>
				              </div>
		            	</th:block>
	            </th:block>

            </div>
            
            <!-- Pagination-->
            <th:block th:if="${count != 0}">
	            <nav class="d-flex justify-content-between pt-2 mb-5" aria-label="Page navigation" style="width: 790px;">
	              <ul class="pagination" id="prev">
	              	<!-- 이전 페이지 -->
	                <li class="page-item"><a class="page-link" th:onclick="|movePage(${pageInfo.prevPage});|"><i class="ci-arrow-left me-2"></i>Prev</a></li>
	              </ul>
	              <ul class="pagination">
	                <li class="page-item d-sm-none"><span class="page-link page-link-static">1 / 5</span></li>
	                
	                <th:block th:each="num, status : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
	                	<th:block th:if="${status.current == pageInfo.currentPage}">
			                <li class="page-item d-none d-sm-block page" aria-current="page">
			                  <span class="page-link">[[${status.current}]]<span class="visually-hidden">(current)</span></span>
			                </li>
	                	</th:block>
	                	<th:block th:if="${status.current != pageInfo.currentPage}">
			                <li class="page-item d-none d-sm-block"><a class="page-link" th:onclick="|movePage(${status.current});|">[[${status.current}]]</a></li>
	                	</th:block>
	                </th:block>
	                
	              </ul>
	              <ul class="pagination" id="next">
	                <li class="page-item"><a class="page-link" th:onclick="|movePage(${pageInfo.nextPage});|" aria-label="Next">Next<i class="ci-arrow-right ms-2"></i></a></li>
	              </ul>
	            </nav>
            </th:block>
          </section>
        </div>
      </div>
    </main>
    <!-- Footer-->
    <footer th:fragment="footer" th:replace="~{common :: footer}"></footer>
    
    <!-- Toolbar for handheld devices (Default)-->
	<!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">   </i></a>    
    
    <!-- Vendor scrits: js libraries and plugins-->
    <script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="vendor/tiny-slider/dist/min/tiny-slider.js"></script>
    <script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="vendor/nouislider/dist/nouislider.min.js"></script>
    <script src="vendor/drift-zoom/dist/Drift.min.js"></script>
    <script src="vendor/lightgallery.js/dist/js/lightgallery.min.js"></script>
    <script src="vendor/lg-video.js/dist/lg-video.min.js"></script>
    <script src="vendor/flatpickr/dist/flatpickr.min.js"></script>
    <script src="vendor/flatpickr/dist/plugins/rangePlugin.js"></script>
    <!-- Main theme script-->
    <script src="js/theme.min.js"></script>
    <script src="js/address.js"></script>
    <script type="text/javascript" th:inline="javascript" th:if="${session.loginMember != null}">
    	var memberNo = [[${session.loginMember.memberNo}]];
	    function onClickHeart(id) {
			var no = id;
			id = '#heart' + id;
			var heartValue = null;
			
			if($(id).val() == "false") {
				heartValue = true;
			} else {
				heartValue = false;
			}
			console.log(no);
			if(heartValue == true) {
				$.ajax({
	        		type: "post",
	        		url: "/nursery-addWish",
	        		data: {no, memberNo},
	        		success:
	        			(data) => {
	        				console.log(data);
	        				if(data.add === true) {
	        					alert("해당 어린이집이 찜목록에 추가되었습니다.");
	        					$(id).html('<i id="heart" class="ci-heart-filled"></i>');
	        					$(id).attr("value", "true");
	        					
	        				} else {
	        					alert("찜목록 추가에 실패하였습니다.");
	        				}
	        			},
        			error:
	        			(e)=>{
    						console.log(e);	  
    	    			}
	        	});
			} else {
				$.ajax({
	        		type: "post",
	        		url: "/nursery-deleteWish",
	        		data: {no, memberNo},
	        		success:
	        			(data) => {
	        				console.log(data);
	        				if(data.remove === true) {
	        					alert("해당 어린이집이 찜목록에서 삭제되었습니다.");
	        					$(id).html('<i id="heart" class="ci-heart fw-bold text-danger"></i>');
	        					$(id).attr("value", "false");
	        				} else {
	        					alert("찜목록 삭제에 실패하였습니다.");
	        				}
	        			},
	        		error:
	        			(e)=>{
    						console.log(e);	    				
    	    			}
		        });
			}
		}
    </script>
    <script type="text/javascript">
		var url_href = window.location.href;
	    var url = new URL(url_href); // URL 객체 선언
	    
	    $(function() {
			const urlParams = new URL(location.href).searchParams;
			var city = urlParams.get('city');
			if(city != '') {
				cityChange();
			}
		})
	    
		function movePage(page){
			url.searchParams.set("page", page);
			
			window.location.search = url.searchParams;
		};
		
		function onClickCompare(id) {
			var no = id;
			id = '#compare' + id;
		    var compareValue = null;
		    
		    if($(id).val() == "false") {
		    	compareValue = true;
			} else {
				compareValue = false;
			}
		    
		    if(compareValue == true) {
		    	$.ajax({
					 type: "post",
					 url: "/nursery-addCompare",
					 data: {no},
					 success:
						 (data) => {
		     				console.log(data);
		     				if(data.add === true) {
								 alert("해당 어린이집이 비교목록에 추가되었습니다.");
								 $(id).attr('class', 'button7-fill');
							     $(id).attr("value", "true");
		     					
		     				} else {
		     					alert("비교목록 추가에 실패하였습니다. \n(목록에 최대 4개까지 추가할 수 있습니다.)");
		     				}
		     			},
					error:
						(e) => {
							console.log(e);
						}
				 });
		    } else {
		    	 $.ajax({
					 type: "post",
					 url: "/nursery-deleteCompare",
					 data: {no},
					 success:
						 (data) => {
		     				console.log(data);
		     				if(data.remove === true) {
								 alert("해당 어린이집이 비교목록에서 삭제되었습니다.");
								 $(id).attr('class', 'button7');
							     $(id).attr("value", "false");
		     					
		     				} else {
		     					alert("비교목록 삭제에 실패하였습니다.");
		     				}
		     			},
					error:
						(e) => {
							console.log(e);
						}
				 });
		    	
		    }
		  }
	</script>
  </body>
</html>