<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>UKIDS | 어린이집</title>
    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="img/ukids/logo.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="img/ukids/logo.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="img/ukids/logo.jpg">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="vendor/simplebar/dist/simplebar.min.css"/>
    <link rel="stylesheet" media="screen" href="vendor/tiny-slider/dist/tiny-slider.css"/>
    <link rel="stylesheet" media="screen" href="vendor/drift-zoom/dist/drift-basic.min.css"/>
    <link rel="stylesheet" media="screen" href="vendor/lightgallery.js/dist/css/lightgallery.min.css"/>
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="css/theme.min.css">
    <link rel="stylesheet" href="./css/nursery-detail.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/footer.css">
     <!-- 차트js-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
    <script src="./js/nursery-detail.js"></script>
    <!-- 달력 관련 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/ko.js"></script>
    <style>
      *{font-family: 'NanumSquareRound';}
    </style>
  </head>
  <!-- Body-->
  <body class="handheld-toolbar-enabled">
    <!-- 로그인 모달 관련  -->
    <div th:fragment="modal" th:replace="~{common :: modal}"></div>
    
    <main class="page-wrapper">

          <!-- 모달 관련(1:1채팅, 어린이집 신청)-->
          <!-- 채팅 모달 -->
        <div id="chatModal" class="modal fade" tabindex="-1" role="dialog">
          <div class= "modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header" style="background-color: #fc6c93; margin: 0px;">
                <h4 class="modal-title" style="color: #ffffff;">[[${nursery.crname}]]</h4>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div class="modal-body" style="height: 500px;">
                <div id="msgArea" class="col" style="height: 450px"></div>
              </div>

              <div class="modal-footer">
                <input class="form-control" type="text" id="chatMsg">
                <button id="sendBtn" type="button" class="btn btn-primary btn-sm">전&emsp;송</button>
              </div>

            </div>
          </div>
        </div>
        
          <!-- 유치원 신청 모달 -->
          <div class="modal fade" id="enroll-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">

                <div class="modal-header" style="background-color: #fc6c93;">
                  <div style="width: 100%; text-align: center;">
                    <i class="ci-user me-2 fs-xl text-light" style="margin-top: 4px;"></i><span class="fs-xl text-light" style="letter-spacing: 2px;">입소신청</span>
                  </div>
                  <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body tab-content py-4">
                  <form action="/nursery-enroll" method="POST" onsubmit="return submitCheck();" class="needs-validation tab-pane fade show active" novalidate id="signin-tab">
	                  <input type="hidden" name="nuNo" th:value="${nursery.no}">
	                  <input type="hidden" name="i" th:value="${i}">
                    <label class="form-label fs-6">희망학급</label>
                    <div class="mb-3 fs-5">
                      <div class="form-check form-check-inline" id="classBox">
                        <input class="form-check-input radio-pink" type="radio" id="class0" name="classSort" required>
                        <label class="form-check-label" for="class0">만0세반</label>
                      </div>
                      <div class="form-check form-check-inline" id="classBox">
                        <input class="form-check-input radio-pink" type="radio" id="class1" name="classSort">
                        <label class="form-check-label" for="class1">만1세반</label>
                      </div>
                      <div class="form-check form-check-inline" id="classBox">
                        <input class="form-check-input radio-pink" type="radio" id="class2" name="classSort">
                        <label class="form-check-label" for="class2">만2세반</label>
                      </div><br>
                      <div class="form-check form-check-inline" id="classBox">
                        <input class="form-check-input radio-pink" type="radio" id="class3" name="classSort">
                        <label class="form-check-label" for="class3">만3세반</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input radio-pink" type="radio" id="class4" name="classSort">
                        <label class="form-check-label" for="class4">만4세반</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input radio-pink" type="radio" id="class5" name="classSort">
                        <label class="form-check-label" for="class5">만5세반</label>
                      </div>
                    </div>
                    <div class="mb-3">
                      <!-- 달력 들어갈 자리-->
                      <!-- Date picker -->
                      <label class="form-label fs-6">희망날짜</label>
                      <div class="input-group">
                        <input name="hDate" id="hopeDate" class="form-control date-picker rounded pe-5" type="text" placeholder="희망하는 날짜를 입력해주세요" data-datepicker-options='{"altInput": false, "altFormat": "F j, Y", "dateFormat": "Y-m-d", "monthSelectorType": "static", "minDate": "today", "locale": "ko"}'>
                      </div>
                      <span class="text-danger fs-sm" id="date-notice"></span>
                    </div>
                    <button id="enrollBtn" class="btn btn-primary d-block w-100" type="submit">신&nbsp;청&nbsp;하&nbsp;기</button>
                  </form>
                </div> <!-- modal body 끝-->
              </div>
            </div>
          </div>

      <!-- 헤더!!!!!! -->
      <header th:fragment="header" th:replace="~{common :: header}"></header>
      
      <!-- Page Title-->
      <div class="page-title-overlap pt-2" style="height: 350px;" id="background_div">
        <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
          <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-light fw-bold fs-md flex-lg-nowrap justify-content-center justify-content-lg-end">
                <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="ci-home"></i>유키즈</a></li>
                <li class="breadcrumb-item"><a href="/nursery-main">어린이집</a></li>
                <li class="breadcrumb-item text-nowrap text-pink" aria-current="page" style="color: #fc6c93;">어린이집 상세</li>
              </ol>
            </nav>
          </div>
          <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            
          </div>
        </div>
      </div>

      <!-- 어린이집 이름, 어린이집 이미지, 카카오 지도 부분-->
      <div class="container" style="margin-top: -250px;">

        <div class="bg-light shadow-lg rounded-3 px-4 py-3 mb-5">
          <div class="px-lg-3">
            <div class="row">
              <h1 style="margin-top: 25px; color:black"><img class="me-1" src="/img/ukids/nursery/gcicon.JPG" style="width: 50px; height: 40px;"> [[${nursery.crname}]] <span id="establish">[[${nursery.crtypename}]]</span></h1>
              <hr style="margin-top: 10px; margin-left: 25px; width: 95%;">
              <div class="col rounded-3 mb-5 mt-3 mx-3" style="height: 400px; width: 500px;" id="kinderImg">
                <img class="rounded-3" th:src="|img/ukids/어린이집/nursery${i}.JPG|" width="100%" height="100%">
              </div>
              <div class="col mt-3 rounded-3">
                <div class="rounded-3" id="map" style="width:100%;height:410px; z-index:0;"></div>
              </div>
            </div>
            <div class="row mt-2 mx-2" style="width: 100%;">
              <div class="col-9 rounded-3" style="height: 500px; background-color: #e6e6e6;">

                <div class="row">
                 <div class="col">
                  <ul class="list-unstyled" id="info_list">
                    <!-- <li class="mb-3"><h5 class="fw-bold">설립일</h5><div class="info_content" style="margin-left: 80px;">2011-05-27</div></li> -->
                    <li class="mb-3"><h5 class="fw-bold">개원일</h5><div class="info_content" style="margin-left: 80px;">[[${nursery.crcnfmdt}]]</div></li>
                    <li class="mb-3"><h5 class="fw-bold">전화번호</h5><div class="info_content" style="margin-left: 62px;">[[${nursery.crtelno}]]</div></li>
                    <li class="mb-3"><h5 class="fw-bold">팩스번호</h5><div class="info_content" style="margin-left: 62px;">[[${nursery.crfaxno}]]</div></li>
                    <li class="mb-3"><h5 class="fw-bold">CCTV 설치 현황</h5><div class="info_content" style="width: 236px;">[[${nursery.cctvinstlcnt}]]대</div></li>
                    <li class="mb-3"><h5 class="fw-bold">보육실수</h5><div class="info_content"  style="margin-left: 60px;">[[${nursery.nrtrroomcnt}]]개</div></li>
                    <li class="mb-3"><h5 class="fw-bold">주소</h5><div class="info_content" style="margin-left: 40px; width: 298px;">[[${nursery.craddr}]]</div></li>
                  </ul>
                 </div>


                 <div class="col">
                  <ul class="list-unstyled" id="info_list2">
                    <li class="mb-3"><h5 class="fw-bold">대표자명</h5><div class="info_content2" style="width: 280px;">[[${nursery.Crrepname}]]</div></li>
                    <li class="mb-3"><h5 class="fw-bold">운영시간</h5><div class="info_content2" style="width: 300px;">08시30분 ~ 19시30분</div></li>
                    <th:block th:if="${nursery.crhome == ''}">
	                    <li class="mb-3"><h5 class="fw-bold">홈페이지</h5><div class="info_content2" style="width: 280px;"><a><i class="ci-home fw-bold" id="home_icon"></i></a></div></li>
                    </th:block>
                    <th:block th:if="${nursery.crhome != ''}">
	                    <li class="mb-3"><h5 class="fw-bold">홈페이지</h5><div class="info_content2" style="width: 280px;"><a th:href="|${nursery.crhome}|"><i class="ci-home fw-bold" id="home_icon" style="color: #fc6c93"></i></a></div></li>
                    </th:block>
                    <li class="mb-3"><h5 class="fw-bold">제공 서비스</h5>
                      <span style="padding-left: 270px;">
                        <ul class="list-unstyled mx-2" id="service_icon">
                        <th:block th:if="${nursery.class_cnt_sp} != 0">
	                          <li><div class="service-y"><img src="img/ukids/kinder/universal-access.svg"></div><span style="margin-left: 3px;">특수학급</span></li>
                        </th:block>
                        <th:block th:if="${nursery.class_cnt_sp} == 0">
	                          <li><div class="service-n"><img src="img/ukids/kinder/universal-access2.svg"></div><span style="margin-left: 3px;">특수학급</span></li>
                        </th:block>
                        <th:block th:if="${#strings.contains(nursery.crspec,'방과후')}">
	                          <li><div class="service-y"><img src="img/ukids/kinder/brightness-high.svg"></div><span>방과후활동</span></li>
                        </th:block>
                        <th:block th:unless="${#strings.contains(nursery.crspec,'방과후')}">
	                          <li><div class="service-n"><img src="img/ukids/kinder/brightness-high2.svg"></div><span>방과후활동</span></li>
                        </th:block>
                        <th:block th:if="${nursery.crcargbname} == '운영'">
	                          <li><div class="service-y"><img src="img/ukids/kinder/bus-front.svg"></div><span style="margin-left: 5px;">통학차량</span></li>
                        </th:block>
                        <th:block th:if="${nursery.crcargbname} != '운영'">
	                          <li><div class="service-n"><img src="img/ukids/kinder/bus-front2.svg"></div><span style="margin-left: 5px;">통학차량</span></li>
                        </th:block>
                        <th:block th:if="${nursery.em_cnt_a7} != 0">
	                          <li><div class="service-y"><img src="img/ukids/kinder/cup-straw.svg"></div><span style="margin-left: 18px;">급식</span></li>
                        </th:block>
                        <th:block th:unless="${nursery.em_cnt_a7} != 0">
	                          <li><div class="service-n"><img src="img/ukids/kinder/cup-straw2.svg"></div><span style="margin-left: 18px;">급식</span></li>
                        </th:block>
                        <th:block th:if="${nursery.plgrdco} != 0">
	                          <li><div class="service-y"><img src="img/ukids/kinder/dribbble.svg"></div><span style="margin-left: 10px;">체육장</span></li>
                        </th:block>
                        <th:block th:unless="${nursery.plgrdco} != 0">
	                          <li><div class="service-n"><img src="img/ukids/kinder/dribbble2.svg"></div><span style="margin-left: 10px;">체육장</span></li>
                        </th:block>
                        <th:block th:if="${nursery.cctvinstlcnt} != 0">
	                          <li><div class="service-y"><img src="img/ukids/kinder/eye.svg"></div><span style="margin-left: 12px;">CCTV</span></li>
                        </th:block>
                        <th:block th:if="${nursery.cctvinstlcnt} == 0">
	                          <li><div class="service-n"><img src="img/ukids/kinder/eye2.svg"></div><span style="margin-left: 12px;">CCTV</span></li>
                        </th:block>
                        </ul>
                      </span>
                    </li>
                  </ul>
                 </div>
                </div>

              </div>
              <div class="col-3" id="function_container">
                <div class="row mb-3" id="row_1"><!-- Launch modal with srolling content -->
                
	                  <th:block th:if="${session.loginMember == null}">
		                  <a onclick="cantDo();" id="modalLink">
		                    <button type="button" class="btn btn-outline-secondary shadow-lg" id="chatButton">
		                      <span>1:1 채팅</span>
		                    </button>
		                  </a>
                	</th:block>
                	
                	<th:block th:unless="${session.loginMember == null}">
		                  <th:block th:if="${session.loginMember.role == 'ROLE_T'}">
                			<th:block th:if="${session.loginMember.field == '어린이집' && session.loginMember.fieldCd == nursery.stcode}">
			                  <a href="#chatModal" onclick="doChat();" id="modalLink">
			                    <button type="button" class="btn btn-outline-secondary shadow-lg" data-bs-toggle="modal" data-bs-target="#chatModal" id="chatButton">
			                      <span>1:1 채팅</span>
			                    </button>
			                  </a>
                			</th:block>
                			<th:block th:unless="${session.loginMember.field == '어린이집' && session.loginMember.fieldCd == nursery.stcode}">
			                  <a onclick="cantChat();" id="modalLink">
			                    <button type="button" class="btn btn-outline-secondary shadow-lg" id="chatButton">
			                      <span>1:1 채팅</span>
			                    </button>
			                  </a>
                			</th:block>
                		</th:block>
                		<th:block th:unless="${session.loginMember.role == 'ROLE_T'}">
		                  <a href="#chatModal" onclick="doChat();" id="modalLink">
		                    <button type="button" class="btn btn-outline-secondary shadow-lg" data-bs-toggle="modal" data-bs-target="#chatModal" id="chatButton">
		                      <span>1:1 채팅</span>
		                    </button>
		                  </a>
                		</th:block>
                	</th:block>

                </div>
                <div class="row mb-3" id="row_2">
                	<th:block th:if="${session.loginMember == null}">
	                	<button type="button" class="btn btn-primary d-block w-100" onclick="cantDo();"><span>입소(대기)신청</span></button>
                	</th:block>
                	<th:block th:unless="${session.loginMember == null}">
	                	<button type="button" class="btn btn-primary d-block w-100" data-bs-toggle="modal" data-bs-target="#enroll-modal"><span>입소(대기)신청</span></button>
                	</th:block>
                </div>
                <div class="row mx-2 mb-3" id="row_3">
                	<th:block th:if="${session.loginMember == null}">
	                  <button type="button" class="btn btn-secondary btn-shadow wishButton" name="wishButton" onclick="cantDo();">
	                    <i id="heart1" class="ci-heart"> 찜</i>
	                  </button>
                	</th:block>
                	<th:block th:unless="${session.loginMember == null}">
	                  <button type="button" class="btn btn-secondary btn-shadow wishButton" name="wishButton" id="wishButton">
	                    <i id="heart1" class="ci-heart"> 찜</i>
	                  </button>
                	</th:block>
					
                  <button type="button" class="btn btn-secondary btn-shadow" name="compareButton" id="compareButton">
                    <i class="ci-compare"> 비교</i>
                  </button>
                </div>
                <div class="row mx-2 shadow-lg" id="row_4">
                  <div class="siren_box mx-0"><img src="./img/ukids/kinder/siren.png" height="35px" width="35px"><br>
                    <span style="color: black; font-size: 18px;">불편 사항 신고</span><br><br>
                    <span style="font-size: 13px;">어린이집에서 불편을 겪고 있다면 신고하세요.</span><br><br>
                    <span style="font-size:12px">해당 기관은 불편사항이 <span id="reportCnt">[[${claim}]]건</span> 접수된 기관입니다</span><br><br>
                    <span>
                      <a th:href="|/claim-main?type=어린이집&no=${nursery.no}|" style="color:  #f5104d;">불편사항보기 ></a>&nbsp;&nbsp;
                      <th:block th:if="${session.loginMember == null}">
	                      <a onclick="cantDo();" style="color: #f5104d; cursor: pointer;">신고하러가기 ></a>
                      </th:block>
                      <th:block th:unless="${session.loginMember == null}">
	                      <a th:href="|/claim-write?type=어린이집&no=${nursery.no}|" style="color: #f5104d;">신고하러가기 ></a>
                      </th:block>
                    </span>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- 그래프 시작 부-->
        <div class="container2 mx-0">
          <!-- 학급/아동-->
          <div class="row mx-0" id="graph1_box">
            <div class="row mx-0">
              <h1 class="fw-bold" style="display: inline-block;">학급/아동<img src="/img/ukids/kinder/line2.png" style="height: 50px; width: 1000px; margin-left: 7px;">
              </h1>
              <div class="col" id="box1" style="text-align: center;">
                <h3 style="margin-top: 30px;">총 학급수</h3><h4 style="color: #fea569; font-weight: bold;">[[${classCnt}]]개</h4>
                <div class="chart-div">
                  <canvas id="pieChartCanvas" width="300px" height="300px"></canvas>
                  <div id='legend-div' class="legend-div"></div>
              </div>

                  
              </div>
              <div class="col" id="box2" style="text-align: center;">
                <h3 style="margin-top: 30px;">총 아동수</h3><h4 style="color: #fea569; font-weight: bold;">[[${childCnt}]]명</h4>
                <div class="chart-div2">
                  <canvas id="pieChartCanvas2" width="300px" height="300px"></canvas>
                  <div id='legend-div2' class="legend-div2"></div>
              </div>
              </div>
              <div class="col" id="box3" style="text-align: center;">
                <h3 style="margin-top: 30px;">교사당/학급당 아동수</h3>
                <div class="chart-div3">
                  <canvas id="barChartCanvas" width="100px" height="250px"></canvas>
                  <div id='legend-div3' class="legend-div"></div>
              </div>
              <div>
                <ul class="explain-box">
                  <li>* 교사당 아동수 = 아동수 / 교사수</li>
                  <li>* 학급당 아동수 = 아동수 / 학급수</li>
                </ul>
              </div>
              </div>
            </div>

            
          </div>
          <!-- 교사현황-->
          <div class="row" id="graph2_box">
            <div class="row mx-0 mt-5">
              <h1 class="fw-bold" style="display: inline-block;">교사 현황 및 시설 현황<img src="./img/ukids/kinder/line2.png" style="height: 50px; width: 800px; margin-left: 7px;">
              </h1>
              <div class="col" id="box4">
                <h3 class="mt-3" style="margin-left: 110px; display: inline-block;">교사 현황</h3>
                <div class="chart-div4">
                  <ul>
                      <li style="float: left;"><canvas id="pieChartCanvas4" width="250px" height="300px"></canvas></li>
                      <li><div id='legend-div4' style="margin-left: 100px;"></div></li>
                  </ul>
              </div>
              </div>
              <!-- 시설 현황 -->
              <div class="col" id="box5" style="margin-left: 100px;">
                <h3 class="mt-3" style="margin-left: 60px; display: inline-block;">시설 현황</h3>
                <div class="chart-div5">
                  <ul>
                      <li style="float: left;"><canvas id="barChartCanvas2" width="150px" height="250px" style="padding-top: 20px;"></canvas></li>
                      <li><div id='legend-div5' style="margin-left: 25px; padding-top: 50px;"></div></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row mx-2 py-0" id="explain-box2">
            <span>*총 교사수 = 원장, 보육교사, 특수교사, 치료교사, 영양사, 간호사, 간호조무사 수의 합계</span>
            <!-- <span class="mt-2">*현 기관 근속 연수 = 보육교사, 특수교사, 치료교사에 한 함</span> -->
          </div>
            
        </div>

        <!-- 리뷰 -->
        <div class="review-container" style="margin-bottom: 50px;">
          <div class="row">
            <div class="col">
              <h3 class="fw-bold d-inline-block text-dark">리뷰 ([[${reviewCnt}]])<img src="./img/ukids/kinder/line2.png" style="height: 50px; width: 565px; margin-left: 7px;"></h3>

              <ul id="testbox" class="list-unstyled">
                <li>
                	<th:block th:if="${reviewCnt == 0}">
	                  <div style="width: 100%; text-align: center;">등록된 리뷰가 없습니다.</div>
                	</th:block>
                  <div class="reviewlist" th:if="${review != null}">
                  	<th:block th:each="review : ${review}">
	                    <div id="reviewBox"class="product-review pb-4 mb-4 border-bottom reviewBox reviewlist" style="margin-left: 2%;">
	                      <!-- 작성자, 작성 시간-->
	                      <div class="d-flex mb-3">
	                        <div class="d-flex align-items-center me-4 pe-2">
	                          <div>
	                            <h6 class="fs-sm mb-0">[[${review.id}]]</h6><span class="fs-ms text-muted">[[${#dates.format(review.createDate, 'yyyy-MM-dd')}]]</span>
	                          </div>
	                        </div>
	                      </div>
	                      <!-- 리뷰 삭제 버튼-->
	                      <th:block th:if="${session.loginMember != null && (session.loginMember.id == review.id || session.loginMember.role == 'ROLE_ADMIN')}">
		                      <div id="reviewDel" class="d-block position-relative mb-3 mb-sm-0 me-sm-4 ms-sm-0 mx-auto" style="width: 12.5rem; float: right;">
		                        <button class="btn btn-icon btn-danger position-absolute top-0 end-0 py-0 px-1 m-2 trashbtn" th:onclick="deleteReview([[${review.no}]]);">
		                          <i class="ci-trash"></i>
		                        </button>
		                      </div>
	                      </th:block>
	                      <!-- 리뷰 내용-->
	                      <p class="fs-md mb-2" style="width: 600px;">[[${review.content}]]</p>
	                    </div>
                  	</th:block>
                  </div><!-- 리뷰리스트 끝-->
                </li>
              </ul>

              <!-- 더보기 버튼 -->
              <div class="mt-5" style="text-align: center;">
                <button class="btn btn-outline-pink" type="button" id="seeMore"><i class="ci-reload me-2"></i><span>댓글 더 보기</span></button>
              </div>
            </div>
  
            <div class="col-md-5 mt-2 pt-4 mt-md-0 pt-md-0">
              <div class="py-grid-gutter px-grid-gutter rounded-3" id="review-box1">
                <h3 class="h4 pb-2 fw-bold fs-3">리뷰쓰기</h3>
                <form class="needs-validation" action="/nursery-writeReview" method="POST" novalidate>
                  <div class="mb-3">
                  	<th:block th:unless="${session.loginMember == null}">
                    	<input type="hidden" name="id" th:value="${session.loginMember.id}">
                    </th:block>
                    <input type="hidden" name="nuNo" th:value="${nursery.no}">
                    <input type="hidden" name="i" th:value="${i}">
                    <th:block th:if="${session.loginMember == null}">
	                    <textarea name="content"class="form-control fs-6" rows="18" required id="content" placeholder="로그인 후 리뷰를 작성할 수 있습니다." disabled></textarea>
                    </th:block>
                    <th:block th:unless="${session.loginMember == null}">
	                    <textarea name="content"class="form-control fs-6" rows="18" required id="content" placeholder="리뷰를 작성하세요."></textarea>
                    </th:block>
                    <div class="invalid-feedback">Please write a review!</div><small class="form-text text-muted d-block" style="text-align: right; font-size: 14px;">1000자 이내 입력하세요.</small>
                  </div>
				  <th:block th:if="${session.loginMember == null}">
	                  <button class="btn btn-primary btn-shadow d-block w-100 fs-4" id="reviewButton" type="submit" disabled>등&emsp;&emsp;록</button>
				  </th:block>
				  <th:block th:unless="${session.loginMember == null}">
	                  <button class="btn btn-primary btn-shadow d-block w-100 fs-4" id="reviewButton" type="submit">등&emsp;&emsp;록</button>
				  </th:block>
                </form>
              </div>
            </div>
            
          </div>
        </div>
      </div> <!-- 본문 끝 -->
	

     
 
    </main>
<!-- 푸터!!!!!!!!!!-->
<footer th:fragment="footer" th:replace="~{common :: footer}"></footer>
<!-- Footer-->
    <!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">   </i></a>
    <!-- Vendor scrits: js libraries and plugins-->
    <script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="vendor/tiny-slider/dist/min/tiny-slider.js"></script>
    <script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="vendor/drift-zoom/dist/Drift.min.js"></script>
    <script src="vendor/lightgallery.js/dist/js/lightgallery.min.js"></script>
    <script src="vendor/lg-video.js/dist/lg-video.min.js"></script>
    <!-- Main theme script-->
    <script src="js/theme.min.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=70757a654a9051c40ba7d774ed0ad701&libraries=services"></script>
    <script type="text/javascript" th:inline="javascript" th:if="${session.loginMember != null}">
      
       	$(document).ready(function() {
       		const memberId = [[${session.loginMember.id}]];
       		
       		$("#sendBtn").on("click", (e) => {
                   send();
               });
       		
       		const websocket = new WebSocket("ws://localhost/nursery-chat");
       		
       		websocket.onmessage = onMessage;
               websocket.onopen = onOpen;
               websocket.onclose = onClose;
               
               function send(){

                   let msg = document.getElementById("chatMsg");

                   console.log(memberId + ":" + msg.value);
                   websocket.send(memberId + ":" + msg.value);
                   msg.value = '';
               }
               
               function onMessage(msg) {
                   var data = msg.data;
                   var sessionId = null;
                   //데이터를 보낸 사람
                   var message = null;
                   var arr = data.split(":");

                   for(var i=0; i<arr.length; i++){
                       console.log('arr[' + i + ']: ' + arr[i]);
                   }

                   var cur_session = memberId;

                   //현재 세션에 로그인 한 사람
                   console.log("cur_session : " + cur_session);
                   sessionId = arr[0];
                   message = arr[1];

                   console.log("sessionID : " + sessionId);
                   console.log("cur_session : " + cur_session);

                   //로그인 한 클라이언트와 타 클라이언트를 분류하기 위함
                   if(sessionId == cur_session){
                       var str = "<div class='col-8 float-end'>";
                       str += "<div class='alert' style='background-color: #FFE8EC; color: black;'>";
                       str += "<b>" + message + "</b>";
                       str += "</div></div>";
                       $("#msgArea").append(str);
                   }
                   else{
                       var str = "<div class='col-8 float-start'>";
                       str += "<div class='alert' style='background-color: #F0F0F0 color: black;'>";
                       str += "<b>" + message + "</b>";
                       str += "</div></div>";
                       $("#msgArea").append(str);
                   }
               }
       	})
	
     </script>
    
<script th:inline="javascript">
var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = {
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };  

// 지도를 생성합니다    
var map = new kakao.maps.Map(mapContainer, mapOption); 

// 주소-좌표 변환 객체를 생성합니다
var geocoder = new kakao.maps.services.Geocoder();

var addr = [[${nursery.craddr}]];
var nname = [[${nursery.crname}]];

// 주소로 좌표를 검색합니다
geocoder.addressSearch(addr, function(result, status) {

    // 정상적으로 검색이 완료됐으면 
     if (status === kakao.maps.services.Status.OK) {

        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

        // 결과값으로 받은 위치를 마커로 표시합니다
        var marker = new kakao.maps.Marker({
            map: map,
            position: coords
        });

        // 인포윈도우로 장소에 대한 설명을 표시합니다
        var infowindow = new kakao.maps.InfoWindow({
            content: '<div style="width:150px;text-align:center;padding:6px 0;">' + nname + '</div>'
        });
        infowindow.open(map, marker);

        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        map.setCenter(coords);
    } 
}); 


// 차트

  /* 첫번째 그래프(총 학급수) */
  
var class0 = [[${nursery.class_cnt_00}]];
var class1 = [[${nursery.class_cnt_01}]];
var class2 = [[${nursery.class_cnt_02}]];
var class3 = [[${nursery.class_cnt_03}]];
var class4 = [[${nursery.class_cnt_04}]];
var class5 = [[${nursery.class_cnt_05}]];
let pieChartData = {
    labels: ['만 0세반', '만 1세반', '만 2세반', '만 3세반', '만 4세반', '만 5세반'],
    datasets: [{
        data: [class0, class1, class2, class3, class4, class5],
        backgroundColor: ['rgb(252, 3, 78)', 'rgb(83, 235, 211)', 'rgb(193, 153, 211)', 'rgb(255, 99, 132)',  'rgb(255, 205, 86)',  'rgb(54, 162, 235)'],
        datalabels: {
          labels: {
            value: {
              formatter: function(value, ctx) {
                var value = ctx.dataset.data[ctx.dataIndex];
                var persent = Math.round(value / (ctx.dataset.data[0] + ctx.dataset.data[1] + ctx.dataset.data[2] + ctx.dataset.data[3] + ctx.dataset.data[4] + ctx.dataset.data[5]) * 100);
                return persent > 5 ? persent + ' %' : null;
              },
              color: '#fff',
              font: {
                size: 18
              }
            }
          }
        }
    }] 
};


let pieChartDraw = function () {
    let ctx = document.getElementById('pieChartCanvas').getContext('2d');
    
    window.pieChart = new Chart(ctx, {
        type: 'pie',
        data: pieChartData,
        options: {
            responsive: false,
            legend: {
                display: false
            },
            legendCallback: customLegend
        },
    });
};

let customLegend = function (chart) {
    let ul = document.createElement('ul');
    let color = chart.data.datasets[0].backgroundColor;
    let sum = chart.data.datasets[0].data[0] + chart.data.datasets[0].data[1] + chart.data.datasets[0].data[2] + chart.data.datasets[0].data[3] + chart.data.datasets[0].data[4] + chart.data.datasets[0].data[5];

    chart.data.labels.forEach(function (label, index) {
    	let val = chart.data.datasets[0].data[index];
    	if(val == 0) {
	        ul.innerHTML += `<li style="color: gray;"><span style="background-color: gray; color: gray; opacity: 20%; display: inline-block; width: 15px; height: 15px;"></span>
	        <div style="display: inline-block; margin-right: 20px; text-align: right;">${label}</div>
	        <div style="display: inline-block; margin-right: 25px; text-align: right; width: 55px;">-</div>
	        <div style="display: inline-block; text-align: right; width: 55px;">-</div></li>`;
    	} else {
	        ul.innerHTML += `<li><span style="background-color: ${color[index]}; display: inline-block; width: 15px; height: 15px;"></span>
	        <div style="display: inline-block; margin-right: 20px; text-align: right;">${label}</div>
	        <div style="display: inline-block; margin-right: 25px; text-align: right; width: 55px;">${chart.data.datasets[0].data[index]}개</div>
	        <div style="display: inline-block; text-align: right; width: 55px;">${Math.round((chart.data.datasets[0].data[index] / sum) * 100)}%</div></li>`;
    	}
    });

    return ul.outerHTML;
};


/* 두번째 그래프(총 아동수) */
 
var child0 = [[${nursery.child_cnt_00}]];
var child1 = [[${nursery.child_cnt_01}]];
var child2 = [[${nursery.child_cnt_02}]];
var child3 = [[${nursery.child_cnt_03}]];
var child4 = [[${nursery.child_cnt_04}]];
var child5 = [[${nursery.child_cnt_05}]];
let pieChartData2 = {
  labels: ['만 0세반', '만 1세반', '만 2세반', '만 3세반', '만 4세반', '만 5세반'],
  datasets: [{
      data: [child0, child1, child2, child3, child4, child5],
      backgroundColor: ['rgb(252, 3, 78)', 'rgb(83, 235, 211)', 'rgb(193, 153, 211)', 'rgb(255, 99, 132)',  'rgb(255, 205, 86)',  'rgb(54, 162, 235)'],
      datalabels: {
        labels: {
          value: {
            formatter: function(value, ctx) {
              var value = ctx.dataset.data[ctx.dataIndex];
              var persent = Math.round(value / (ctx.dataset.data[0] + ctx.dataset.data[1] + ctx.dataset.data[2] + ctx.dataset.data[3] + ctx.dataset.data[4] + ctx.dataset.data[5]) * 100);
              return persent > 5 ? persent + ' %' : null;
            },
            color: '#fff',
            font: {
              size: 18
            }
          }
        }
      }
  }] 
};


let pieChartDraw2 = function () {
  let ctx = document.getElementById('pieChartCanvas2').getContext('2d');
  
  window.pieChart2 = new Chart(ctx, {
      type: 'pie',
      data: pieChartData2,
      options: {
          responsive: false,
          legend: {
              display: false
          },
          legendCallback: customLegend2
      },
  });
};

let customLegend2 = function (chart) {
  let ul2 = document.createElement('ul');
  let color = chart.data.datasets[0].backgroundColor;
  let sum = chart.data.datasets[0].data[0] + chart.data.datasets[0].data[1] + chart.data.datasets[0].data[2] + chart.data.datasets[0].data[3] + chart.data.datasets[0].data[4] + chart.data.datasets[0].data[5];

  chart.data.labels.forEach(function (label, index) {
	  let val = chart.data.datasets[0].data[index];
	  if(val == 0) {
	    ul2.innerHTML += `<li style="color: gray;"><span style="background-color: gray; color: gray; opacity: 20%; display: inline-block; width: 15px; height: 15px;"></span>
	    <div style="display: inline-block; margin-right: 20px; text-align: right;">${label}</div>
	    <div style="display: inline-block; margin-right: 25px; text-align: right; width: 55px;">-</div>
	    <div style="display: inline-block; text-align: right; width: 55px;">-</div></li>`;
	  } else {
	    ul2.innerHTML += `<li><span style="background-color: ${color[index]}; display: inline-block; width: 15px; height: 15px;"></span>
	    <div style="display: inline-block; margin-right: 20px; text-align: right;">${label}</div>
	    <div style="display: inline-block; margin-right: 25px; text-align: right; width: 55px;">${chart.data.datasets[0].data[index]}명</div>
	    <div style="display: inline-block; text-align: right; width: 55px;">${Math.round((chart.data.datasets[0].data[index] / sum) * 100)}%</div></li>`;
	  }
  });

  return ul2.outerHTML;
};

/* 
세번째 막대 그래프(교사당/학급당 아동수)
*/

var childTot = [[${nursery.child_cnt_tot}]]
var teacherTot = [[${nursery.em_cnt_tot}]]
var classTot = [[${nursery.class_cnt_tot}]]

var avg1 = Math.round(childTot / teacherTot);
var avg2 = Math.round(childTot / classTot);

let barChartData = {
  labels: ['교사당 아동수', '학급당 아동수'],
  datasets: [{
      data: [avg1, avg2],
      backgroundColor: ['rgb(252, 3, 78)',  'rgb(255, 205, 86)'],
      datalabels: {
        labels: {
          display: false
        } 
      }
  }] 
};


let barChartDraw = function () {
  let ctx = document.getElementById('barChartCanvas').getContext('2d');
  
  window.barChart = new Chart(ctx, {
      type: 'bar',
      data: barChartData,
      options: {
          responsive: false,
          legend: {
              display: false
          },
          scales: {
            xAxes: [{
              display: false
            }],
            yAxes: [{
              display: false,
              ticks: {
                min: 0,
                stepSize: 2,
                fontSize: 14
              }
            }]
          },
          legendCallback: customLegend3
      },
  });
};

let customLegend3 = function (chart) {
  let ul = document.createElement('ul');
  let color = chart.data.datasets[0].backgroundColor;

  chart.data.labels.forEach(function (label, index) {
      ul.innerHTML += `<li><span style="background-color: ${color[index]}; display: inline-block; width: 15px; height: 15px;"></span> ${label}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ${chart.data.datasets[0].data[index]}명</li>`;
  });

  return ul.outerHTML;
};

/* 4번째 그래프(교사현황) */
var superior = [[${nursery.em_cnt_a1}]];
var care = [[${nursery.em_cnt_a2}]];
var special = [[${nursery.em_cnt_a3}]];
var cure = [[${nursery.em_cnt_a4}]];
var nutrition = [[${nursery.em_cnt_a5}]];
var nurse = [[${nursery.em_cnt_a6}]];
var food = [[${nursery.em_cnt_a7}]];
let pieChartData4 = {
  labels: ['원장', '보육교사', '특수교사', '치료교사', '영양사', '간호사', '조리원'],
  datasets: [{
      data: [superior, care, special, cure, nutrition, nurse, food],
      backgroundColor: [
          'rgb(255, 99, 132)',  
          'rgb(255, 205, 86)',
          'rgb(83, 235, 211)',  
          'rgb(54, 162, 235)',
          'rgb(193, 153, 211)',
          'rgb(171, 223, 133)',
          'rgb(255, 249, 80)'],
      datalabels: {
        labels: {
          value: {
            formatter: function(value, ctx) {
              var value = ctx.dataset.data[ctx.dataIndex];
              var persent = Math.round(value / (ctx.dataset.data[0] + ctx.dataset.data[1] + ctx.dataset.data[2] + ctx.dataset.data[3] + ctx.dataset.data[4] + ctx.dataset.data[5] + ctx.dataset.data[6]) * 100);
              return persent > 5 ? persent + ' %' : null;
            },
            color: '#fff',
            font: {
              size: 16
            }
          }
        }
      }
  }] 
};


let pieChartDraw4 = function () {
  let ctx = document.getElementById('pieChartCanvas4').getContext('2d');
  
  window.pieChart4 = new Chart(ctx, {
      type: 'doughnut',
      data: pieChartData4,
      options: {
          responsive: false,
          legend: {
              display: false
          },
          legendCallback: customLegend4
      },
  });
};

let customLegend4 = function (chart) {
  let ul = document.createElement('ul');
  let color = chart.data.datasets[0].backgroundColor;
  let sum = chart.data.datasets[0].data[0] + chart.data.datasets[0].data[1] + chart.data.datasets[0].data[2] +
            chart.data.datasets[0].data[3] + chart.data.datasets[0].data[4] + chart.data.datasets[0].data[5] + 
            chart.data.datasets[0].data[6];


  chart.data.labels.forEach(function (label, index) {
      let val = chart.data.datasets[0].data[index];
      let percent = Math.round((chart.data.datasets[0].data[index] / sum) * 100);

      if (val == 0) {
          ul.innerHTML += `<li style="color: gray;">
          <span style="background-color: gray; color: gray; opacity: 20%; display: inline-block; width: 15px; height: 15px;"></span>
          <div style="display: inline-block; text-align: left; width: 75px;">${label}</div>
          <div style="display: inline-block; width: 45px; margin-right: 15px; text-align: right;">-</div>
          <div style="display: inline-block; width: 45px; text-align: right;">-</div>
          </li>`;
      } else {
          ul.innerHTML += `<li>
          <span style="background-color: ${color[index]}; display: inline-block; width: 15px; height: 15px;"></span> 
          <div style="display: inline-block; text-align: left; width: 75px">${label}</div>
          <div style="display: inline-block; width: 45px; margin-right: 15px; text-align: right;">${val}명</div>
          <div style="display: inline-block; width: 45px; text-align: right;">${percent}%</div>
          </li>`;
      }
      
  });

  return ul.outerHTML;
};

/* 
5번째 막대 그래프(시설 현황)
*/
var classroom = [[${nursery.nrtrroomcnt}]];
var play = [[${nursery.plgrdco}]];
var cctv = [[${nursery.cctvinstlcnt}]];
let barChartData2 = {
  labels: ['보육실수', '놀이터수', 'CCTV수'],
  datasets: [{
      data: [classroom, play, cctv],
      backgroundColor: ['rgb(252, 3, 78)',  'rgb(255, 205, 86)', 'rgb(54, 162, 235)'],
      datalabels: {
        labels: {
          display: false
        } 
      }
  }] 
};


let barChartDraw2 = function () {
  let ctx = document.getElementById('barChartCanvas2').getContext('2d');
  
  window.barChart2 = new Chart(ctx, {
      type: 'bar',
      data: barChartData2,
      options: {
          responsive: false,
          legend: {
              display: false
          },
          scales: {
            xAxes: [{
              display: false
            }],
            yAxes: [{
              display: false,
              ticks: {
                min: 0,
                stepSize: 2,
                fontSize: 14
              }
            }]
          },
          legendCallback: customLegend5
      },
  });
};

let customLegend5 = function (chart) {
  let ul = document.createElement('ul');
  let color = chart.data.datasets[0].backgroundColor;

  chart.data.labels.forEach(function (label, index) {
    let value = chart.data.datasets[0].data[index];
    if(value == 0) {
      ul.innerHTML += `<li style="color: gray;">
      <span style="background-color: gray; color: gray; opacity: 20%; display: inline-block; width: 15px; height: 15px;"></span>
       <div style="display: inline-block; width: 60px; margin-right: 5px">${label}</div>
       <div style="display: inline-block; width: 50px; text-align: right;">-</div>
       </li>`;
    } else {
      ul.innerHTML += `<li>
      <span style="background-color: ${color[index]}; display: inline-block; width: 15px; height: 15px;"></span>
       <div style="display: inline-block; width: 60px; margin-right: 5px">${label}</div>
       <div style="display: inline-block; width: 50px; text-align: right;">${value}개</div>
       </li>`;
    }
  });

  return ul.outerHTML;
};

// 댓글 삭제
function deleteReview(no) {
	var url = "/nursery-deleteReview?no=" + no + "&nuNo=" + [[${nursery.no}]] + "&i=" + [[${i}]];
	if(confirm("댓글을 삭제 하시겠습니까?")) {
		location.replace(url);
	}
}

</script>
  </body>
</html>