<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>UKIDS</title>
    <!-- SEO Meta Tags
    <meta name="description" content="Cartzilla - Bootstrap E-commerce Template">
    <meta name="keywords" content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
    <meta name="author" content="Createx Studio"> -->
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="img/ukids/logo.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="img/ukids/logo.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="img/ukids/logo.jpg">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="vendor/simplebar/dist/simplebar.min.css"/>
    <link rel="stylesheet" media="screen" href="vendor/tiny-slider/dist/tiny-slider.css"/>
    <link rel="stylesheet" media="screen" href="vendor/drift-zoom/dist/drift-basic.min.css"/>
    <link rel="stylesheet" media="screen" href="vendor/lightgallery.js/dist/css/lightgallery.min.css"/>
    
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="css/theme.min.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/toy-main.css">

    <!--해당 페이지 css-->

    
    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <!-- 폰트 -->
    <style>
    @font-face {
      font-family: 'NanumSquareRound';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }

    *{
      font-family: 'NanumSquareRound';
    }
    </style>

  </head>

  <!-- Body-->
  <body class="handheld-toolbar-enabled">

    <!-- 로그인 모달 관련  -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header bg-secondary">
            <ul class="nav nav-tabs card-header-tabs" role="tablist">
              <li class="nav-item"><a class="nav-link fw-medium active logincolor" href="#signin-tab" data-bs-toggle="tab" role="tab" aria-selected="true"><i class="ci-user me-2 mt-n1"></i>일반회원 로그인</a></li>
              <li class="nav-item"><a class="nav-link fw-medium logincolor" href="#signup-tab" data-bs-toggle="tab" role="tab" aria-selected="false"><i class="ci-book me-2 mt-n1"></i>선생님 로그인</a></li>
            </ul>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body tab-content py-4">
            <form class="needs-validation tab-pane fade show active" autocomplete="off" novalidate id="signin-tab">
              <div class="mb-3">
                <label class="form-label" for="si-email">아이디</label>
                <input class="form-control" type="email" id="si-email" placeholder="아이디를 입력해주세요." required>
              </div>
              <div class="mb-3">
                <label class="form-label" for="si-password">비밀번호</label>
                <div class="password-toggle">
                  <input class="form-control" type="password" id="si-password" required>
                  <label class="password-toggle-btn" aria-label="Show/hide password">
                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                  </label>
                </div>
              </div>
              <div class="mb-3 d-flex flex-wrap justify-content-between">
                <div class="form-check mb-2">
                  <input class="form-check-input" type="checkbox" id="si-remember">
                  <label class="form-check-label" for="si-remember">아이디를 기억하시겠습니까?</label>
                </div><a class="fs-sm login" href="#">비밀번호 찾기</a>
              </div>
              <a href="#"><img class="cgw16 cgw17 cgw18" src="img/ukids/8.png"></a>
              <button class="btn btn-login btn-shadow d-block cgw17 cgw10" type="submit">로그인</button>
            </form>
            <form class="needs-validation tab-pane fade" autocomplete="off" novalidate id="signup-tab">
              <div class="mb-3">
                <label class="form-label" for="si-email">아이디</label>
                <input class="form-control" type="email" id="si-email" placeholder="아이디를 입력해주세요." required>
              </div>
              <div class="mb-3">
                <label class="form-label" for="si-password">비밀번호</label>
                <div class="password-toggle">
                  <input class="form-control" type="password" id="si-password" required>
                  <label class="password-toggle-btn" aria-label="Show/hide password">
                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                  </label>
                </div>
              </div>
              <div class="mb-3 d-flex flex-wrap justify-content-between">
                <div class="form-check mb-2">
                  <input class="form-check-input" type="checkbox" id="si-remember">
                  <label class="form-check-label" for="si-remember">아이디를 기억하시겠습니까?</label>
                </div><a class="fs-sm login" href="#">비밀번호 찾기</a>
              </div>
              <a href="#"><img class="cgw16 cgw17 cgw18" src="img/ukids/9.png"></a>
              <button class="btn btn-login btn-shadow d-block cgw17 cgw10" type="submit">로그인</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <main class="page-wrapper">

      <!-- 헤더!!!!!! -->
      <header class="navbar navbar-expand-lg navbar-light shadow-sm">
        <div class="container">

          <!-- Brand -->
          <a class="navbar-brand d-none d-lg-block order-lg-1" href="index.html">
            <img width="65" src="img/ukids/logo.jpg" alt="ukids"/>
          </a>

          <!-- Toolbar -->
          <div class="navbar-toolbar d-flex align-items-center order-lg-3">

            <!-- 로그인 전!!!!!!!! -->

            <a href="#signin-modal" data-bs-toggle="modal">
              <button type="button" class="btn btn-primary rounded-pill" id="sign">
                <i class="ci-locked"></i>
                <span>로그인</span>
              </button>
            </a>
            <a href="join.html">
              <button type="button" class="btn btn-primary rounded-pill" id="sign">
                <i class="ci-user me-2"></i>
                <span class="jointext">회원가입</span>
              </button>
            </a>

            <!-- 로그인 후!!!!!!!!!!!! -->

            <!-- <a class="navbar-tool ms-1 ms-lg-0 me-n1 me-lg-2" href="mypage.html">
              <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-user"></i></div>
              <div class="navbar-tool-text ms-n3"><small>안녕하세요,유키즈님</small><p class="mypg">마이페이지</p></div>
            </a>
            
            <a class="navbar-tool ms-3" href="index.html">
              <div class="navbar-tool-icon-box bg-secondary">
                <i class="ci-unlocked" style="font-size: large; padding-top: 13px;"></i>
              </div>
            </a> -->

            <a class="navbar-tool ms-3" href="mypage3.html">
              <div class="navbar-tool-icon-box bg-secondary">
                <i class="navbar-tool-icon ci-cart"></i>
              </div>
            </a>
            
          </div>

          <!-- 메뉴 -->
          <div class="collapse navbar-collapse me-auto order-lg-2" id="navbarCollapse">
            <hr class="d-lg-none my-3">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" id="nav1">어린이집/유치원</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item hmenu" href="nursery-main.html" >어린이집</a></li>
                  <li><a class="dropdown-item hmenu" href="kinder-main.html">유치원</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" id="nav2">아동관련시설</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item hmenu" href="welfare-main.html" >아동복지시설</a></li>
                  <li><a class="dropdown-item hmenu" href="playground.html">놀이시설</a></li>
                  <li><a class="dropdown-item hmenu" href="hospital-main.html">병원</a></li>

                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" id="nav3" href="toy-main.html" >장난감대여</a></li>
              <li class="nav-item"><a class="nav-link" id="nav4" href="book.html">추천도서</a></li>
              <li class="nav-item"><a class="nav-link" id="nav5" href="news.html">주요뉴스</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" id="nav6">커뮤니티</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item hmenu" href="notice.html" >공지사항</a></li>
                  <li><a class="dropdown-item hmenu" href="community.html ">자유게시판</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </header>



    <section class="bg-darker bg-size-cover bg-position-center heyjude py-3"
      style="background-image: url(img/ukids/toy-main/toyma.png);">
      <div class="container py-md-4">


        <div class="d-lg-flex justify-content-between pb-3">
          <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                <li class="breadcrumb-item"><a class="text-nowrap fs-6" href="index.html"><i class="ci-home"></i>유키즈</a>
                </li>
                <li class="breadcrumb-item text-nowrap fs-6"><a id="tc" href="toy-main.html">장난감 대여목록</a>
                </li>
              </ol>
            </nav>
          </div>
          <div class="order-lg-1 pe-lg-4 text-center text-lg-start">

          </div>
        </div>



        <h1 class="text-light text-center text-lg-start py-3 fw-bold">장난감 대여</h1>
      </div>
    </section>


    <div class="container-sm ">
      <!-- Toolbar-->
      <div class="bg-light shadow-lg rounded-3 p-4 mt-n5 mb-4 border border-3 border-danger">
        <form action="#">
          <div class="row gy-3 gx-4">

            <div class="container col-10">
              <div class="input-group">
                <input class="form-control pe-5 rounded" type="text" placeholder="장난감을 검색해 주세요"><i
                  class="ci-search position-absolute top-50 end-0 translate-middle-y zindex-5 me-3 " type="submit"></i>

              </div>
            </div>

          </div>

          <div class="container row g-4 pt-4">
            <hr>

            <div class="container col-lg-12 ">
              <!-- Categories-->
              <div class="rounded-3 p-3 mt-n5 mb-4 pb-0">
                <div class="card-body px-4 pb-0 mt-1">
                  <div class="widget">


                    <div class="d-inline-block    ms-5">
                      <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" id="원목교구/가베">
                        <label class="form-check-label fs-6" for="원목교구/가베">원목교구/가베</label>
                      </div>
                      <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" id="감각발달완구">
                        <label class="form-check-label fs-6" for="감각발달완구">감각발달완구</label>
                      </div>
                      <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" id="대형/공간놀이기구">
                        <label class="form-check-label fs-6" for="대형/공간놀이기구">대형/공간놀이기구</label>
                      </div>
                      <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" id="블록">
                        <label class="form-check-label fs-6" for="블록">블록</label>
                      </div>
                      <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" id="스포츠완구">
                        <label class="form-check-label fs-6" for="스포츠완구">스포츠완구</label>
                      </div>
                    </div>

                    <div class="d-inline-block    ms-5">
                      <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" id="봉제인형/곰인형">
                        <label class="form-check-label fs-6" for="봉제인형/곰인형">봉제인형/곰인형</label>
                      </div>
                      <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" id="캐릭터/패션인형">
                        <label class="form-check-label fs-6" for="캐릭터/패션인형">캐릭터/패션인형</label>
                      </div>
                      <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" id="미술/공작">
                        <label class="form-check-label fs-6" for="미술/공작">미술/공작</label>
                      </div>
                      <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" id="보드게임">
                        <label class="form-check-label fs-6" for="보드게임">보드게임</label>
                      </div>
                      <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" id="퍼즐">
                        <label class="form-check-label fs-6" for="퍼즐">퍼즐</label>
                      </div>
                    </div>


                    <div class="d-inline-block   ms-5">
                      <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" id="캐릭터카드">
                        <label class="form-check-label fs-6" for="캐릭터카드">캐릭터카드</label>
                      </div>
                      <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" id="역할놀이/소꿉놀이">
                        <label class="form-check-label fs-6" for="역할놀이/소꿉놀이">역할놀이/소꿉놀이</label>
                      </div>
                      <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" id="로봇">
                        <label class="form-check-label fs-6" for="로봇">로봇</label>
                      </div>
                      <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" id="작동완구">
                        <label class="form-check-label fs-6" for="작동완구">작동완구</label>
                      </div>
                      <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" id="무선모형/RC완구">
                        <label class="form-check-label fs-6" for="무선모형/RC완구">무선모형/RC완구</label>
                      </div>
                    </div>

                    <div class="d-inline-block   ms-5">
                      <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" id="모형/프라모델">
                        <label class="form-check-label fs-6" for="모형/프라모델">모형/프라모델</label>
                      </div>
                      <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" id="건담">
                        <label class="form-check-label fs-6" for="건담">건담</label>
                      </div>
                      <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" id="피규어">
                        <label class="form-check-label fs-6" for="피규어">피규어</label>
                      </div>
                      <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" id="브랜드완구">
                        <label class="form-check-label fs-6" for="브랜드완구">브랜드완구</label>
                      </div>
                      <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" id="승용완구">
                        <label class="form-check-label fs-6" for="승용완구">승용완구</label>
                      </div>
                    </div>


                    <div class="d-inline-block   ms-5 ">
                      <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" id="과학/실험교구">
                        <label class="form-check-label fs-6" for="과학/실험교구">과학/실험교구</label>
                      </div>
                      <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" id="음악/악기놀이">
                        <label class="form-check-label fs-6" for="음악/악기놀이">음악/악기놀이</label>
                      </div>
                      <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" id="언어/숫자놀이">
                        <label class="form-check-label fs-6" for="언어/숫자놀이">언어/숫자놀이</label>
                      </div>
                      <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" id="장난감/정리용품">
                        <label class="form-check-label fs-6" for="장난감/정리용품">장난감/정리용품</label>
                      </div>
                      <div class="form-check mb-2" style="visibility:hidden">
                        <input class="form-check-input" type="checkbox" id="">
                        <label class="form-check-label fs-6" for=""></label>
                      </div>
                    </div>
        </form>


      </div>
    </div>
    </div>
    </div>


    </div>
    </div>
    </div>



    <!-- Items grid-->
    <section class="container py-4 py-sm-1">
      <div class="row pt-3 pt-sm-0">
        <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card product-card h-100 border-0 shadow pb-2"
            href="toy-detail.html"><img class="card-img-top" src="img/ukids/toy-main/toy1.JPG">
            <div class="card-body  pt-3 pb-4">
              <div class="card-body p-0 h-75">
                <h3 class="h5 mb-2">페어리루비즈아트18000 비즈공예 유아장난감</h3>
              </div>
              <div class="d-flex flex-wrap justify-content-between align-items-center">
                <div class=" me-2"><span class="fs-5 ms-1 fw-bold geul2">대여가능</span></div>
                <div class="t rounded-1 py-1 px-2 geul">1600원</div>
              </div>
            </div>
          </a></div>
        <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card product-card h-100 border-0 shadow pb-2"
            href="toy-detail.html"><img class="card-img-top" src="img/ukids/toy-main/toy2.JPG">

            <div class="card-body  pt-3 pb-4">
              <div class="card-body p-0 h-75">
                <h3 class="h5 mb-2">종이 날씨판</h3>
              </div>
              <div class="d-flex flex-wrap justify-content-between align-items-center">
                <div class=" me-2"><span class="fs-5 ms-1 fw-bold geul2">대여가능</span></div>
                <div class=" rounded-1 py-1 px-2 geul">1600원</div>
              </div>
            </div>
          </a></div>
        <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card product-card h-100 border-0 shadow pb-2"
            href="toy-detail.html"><img class="card-img-top" src="img/ukids/toy-main/toy4.JPG">

            <div class="card-body  pt-3 pb-4">
              <div class="card-body p-0 h-75">
                <h3 class="h5 mb-2">뽀로로 토이북 탈것 놀이 에디의 변신 자동차</h3>
              </div>
              <div class="d-flex flex-wrap justify-content-between align-items-center">
                <div class=" me-2"><span class="fs-5 ms-1 fw-bold geul2">대여가능</span></div>
                <div class=" rounded-1 py-1 px-2 geul">1600원</div>
              </div>
            </div>
          </a></div>
        <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card product-card h-100 border-0 shadow pb-2"
            href="toy-detail.html"><img class="card-img-top" src="img/ukids/toy-main/toy3.JPG">

            <div class="card-body  pt-3 pb-4">
              <div class="card-body p-0 h-75">
                <h3 class="h5 mb-2">코코몽 생일케이크 장난감 완구놀이 선물</h3>
              </div>
              <div class="d-flex flex-wrap justify-content-between align-items-center">
                <div class=" me-2"><span class="fs-5 ms-1 fw-bold geul2">대여가능</span></div>
                <div class=" rounded-1 py-1 px-2 geul">1600원</div>
              </div>
            </div>
          </a></div>
        <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card product-card h-100 border-0 shadow pb-2"
            href="toy-detail.html"><img class="card-img-top" src="img/ukids/toy-main/toy1.JPG">
            <div class="card-body  pt-3 pb-4">
              <div class="card-body p-0 h-75">
                <h3 class="h5 mb-2">페어리루비즈아트18000 비즈공예 유아장난감</h3>
              </div>
              <div class="d-flex flex-wrap justify-content-between align-items-center">
                <div class=" me-2"><span class="fs-5 ms-1 fw-bold geul2">대여가능</span></div>
                <div class="t rounded-1 py-1 px-2 geul">1600원</div>
              </div>
            </div>
          </a></div>
        <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card product-card h-100 border-0 shadow pb-2"
            href="toy-detail.html"><img class="card-img-top" src="img/ukids/toy-main/toy2.JPG">

            <div class="card-body  pt-3 pb-4">
              <div class="card-body p-0 h-75">
                <h3 class="h5 mb-2 ">종이 날씨판</h3>
              </div>
              <div class="d-flex flex-wrap justify-content-between align-items-center">
                <div class=" me-2"><span class="fs-5 ms-1 fw-bold geul2">대여가능</span></div>
                <div class=" rounded-1 py-1 px-2 geul">1600원</div>
              </div>
            </div>
          </a></div>
        <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card product-card h-100 border-0 shadow pb-2"
            href="toy-detail.html"><img class="card-img-top" src="img/ukids/toy-main/toy4.JPG">

            <div class="card-body  pt-3 pb-4">
              <div class="card-body p-0 h-75">
                <h3 class="h5 mb-2">뽀로로 토이북 탈것 놀이 에디의 변신 자동차</h3>
              </div>
              <div class="d-flex flex-wrap justify-content-between align-items-center">
                <div class=" me-2"><span class="fs-5 ms-1 fw-bold geul2">대여가능</span></div>
                <div class=" rounded-1 py-1 px-2 geul">1600원</div>
              </div>
            </div>
          </a></div>
        <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card product-card h-100 border-0 shadow pb-2"
            href="toy-detail.html"><img class="card-img-top" src="img/ukids/toy-main/toy3.JPG">

            <div class="card-body  pt-3 pb-4">
              <div class="card-body p-0 h-75">
                <h3 class="h5 mb-2">코코몽 생일케이크 장난감 완구놀이 선물</h3>
              </div>
              <div class="d-flex flex-wrap justify-content-between align-items-center">
                <div class=" me-2"><span class="fs-5 ms-1 fw-bold geul2">대여가능</span></div>
                <div class=" rounded-1 py-1 px-2 geul">1600원</div>
              </div>
            </div>
          </a></div>
        <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card product-card h-100 border-0 shadow pb-2"
            href="toy-detail.html"><img class="card-img-top" src="img/ukids/toy-main/toy3.JPG">

            <div class="card-body  pt-3 pb-4">
              <div class="card-body p-0 h-75">
                <h3 class="h5 mb-2">코코몽 생일케이크 장난감 완구놀이 선물</h3>
              </div>
              <div class="d-flex flex-wrap justify-content-between align-items-center">
                <div class=" me-2"><span class="fs-5 ms-1 fw-bold geul2">대여가능</span></div>
                <div class=" rounded-1 py-1 px-2 geul">1600원</div>
              </div>
            </div>
          </a></div>

      </div>

    </section>


    

    <div class="container-sm">
      <!-- Pagination-->
      <nav class="d-flex justify-content-between pt-2 mb-5" aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#"><i class="ci-arrow-left me-2"></i>Prev</a></li>
        </ul>
        <ul class="pagination">
          <li class="page-item d-sm-none"><span class="page-link page-link-static">1 / 5</span></li>
          <li class="page-item d-none d-sm-block page" aria-current="page"><span class="page-link">1<span
                class="visually-hidden">(current)</span></span></li>
          <li class="page-item d-none d-sm-block"><a class="page-link" href="#">2</a></li>
          <li class="page-item d-none d-sm-block"><a class="page-link" href="#">3</a></li>
          <li class="page-item d-none d-sm-block"><a class="page-link" href="#">4</a></li>
          <li class="page-item d-none d-sm-block"><a class="page-link" href="#">5</a></li>
        </ul>
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#" aria-label="Next">Next<i
                class="ci-arrow-right ms-2"></i></a></li>
        </ul>
      </nav>
    </div>
    </div>
    <br>
  </main>

  <!-- 푸터!!!!!!!!!!-->
  <!-- Footer-->
  <footer class="footer pt-5" id="footercolor" >
    <div class="px-lg-3 pt-2 pb-4" id="footercolor">
      <div class="mx-auto px-3" style="max-width: 80rem;">
        <div class="row">
          <div class="col-xl-2 col-lg-3 col-sm-4 pb-2 mb-4">
            <div class="mt-n1"><a class="d-inline-block align-middle" href="index.html"><img class="d-block mb-4" src="img/ukids/logo.jpg" width="117" alt="Cartzilla"></a></div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-4">
            <div class="widget widget-links widget-light pb-2 mb-4">
              <h3 class="widget-title text-dark" id="cate2">카테고리</h3>
              <ul class="widget-list">
                <li class="widget-list-item"><a class="widget-list-link" id="cate" href="kinder-main.html">어린이집/유치원</a></li>
                <li class="widget-list-item"><a class="widget-list-link" id="cate" href="welfare-main.html">아동관련시설</a></li>
                <li class="widget-list-item"><a class="widget-list-link" id="cate" href="toy-main.html">장난감대여</a></li>
                <li class="widget-list-item"><a class="widget-list-link" id="cate" href="book.html">추천도서</a></li>
                <li class="widget-list-item"><a class="widget-list-link" id="cate" href="news.html">주요뉴스</a></li>
                <li class="widget-list-item"><a class="widget-list-link" id="cate" href="community.html">커뮤니티</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-4">
            <div class="widget widget-links widget-light pb-2 mb-4">
              <h3 class="widget-title text-dark" id="cate2">유키즈</h3>
              <ul class="widget-list">
                <li class="widget-list-item"><a class="widget-list-link" id="cate" href="#">02-123-4567</a></li>
                <li class="widget-list-item"><a class="widget-list-link" id="cate" href="#">ukids05@multi.com</a></li>
              </ul>
            </div>
            <div class="widget widget-light pb-2 mb-4">
              <h3 class="widget-title text-dark" id="cate2">팔로우</h3><a class="btn-social bs-dark bs-twitter me-2 mb-2" href="#"><i class="ci-twitter"></i></a><a class="btn-social bs-dark bs-facebook me-2 mb-2" href="#"><i class="ci-facebook"></i></a><a class="btn-social bs-dark bs-instagram me-2 mb-2" href="#"><i class="ci-instagram"></i></a><a class="btn-social bs-dark bs-youtube me-2 mb-2" href="#"><i class="ci-youtube"></i></a>
            </div>
          </div>
          <div class="col-xl-4 col-sm-8">
            <div class="widget pb-2 mb-4">
              <h3 class="widget-title text-dark pb-1" id="cate2">구독하기</h3>
              <form class="subscription-form validate" action="https://studio.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;amp;id=29ca296126" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                <div class="input-group flex-nowrap"><i class="ci-mail position-absolute top-50 translate-middle-y text-muted fs-base ms-3"></i>
                  <input class="form-control rounded-start" type="email" name="EMAIL" placeholder="이메일을 입력해주세요." required>
                  <button class="btn btn-primary" type="submit" name="subscribe" id="sub">구 &nbsp&nbsp독</button>
                </div>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input class="subscription-form-antispam" type="text" name="b_c7103e2c981361a6639545bd5_29ca296126" tabindex="-1">
                </div>
                <div class="form-text text-dark opacity-50" >유키즈의 소식을 구독해보세요.</div>
                <div class="subscription-status"></div>
              </form>
            </div>
            <div class="widget pb-2 mb-4">
              <h3 class="widget-title text-dark pb-1" id="cate2">다운로드</h3>
              <div class="d-flex flex-wrap">
                <div class="me-2 mb-2"><a class="btn-market btn-apple" href="#" role="button"><span class="btn-market-subtitle">Download on the</span><span class="btn-market-title">App Store</span></a></div>
                <div class="mb-2"><a class="btn-market btn-google" href="#" role="button"><span class="btn-market-subtitle">Download on the</span><span class="btn-market-title">Google Play</span></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="px-lg-3 py-3" id="footerunder">
      <div class="d-sm-flex justify-content-between align-items-center mx-auto px-3" style="max-width: 80rem;">
        <div class="fs-xs text-light opacity-50 text-center text-sm-start py-3">© All rights reserved. Made by <a class="text-light" href="index.html" target="_blank" rel="noopener">ukids</a></div>
        <div class="py-3"><img class="d-block mx-auto mx-sm-start" src="img/cards-alt.png" width="187" alt="Payment methods"></div>
      </div>
    </div>
  </footer>
  
  
  <!-- Toolbar for handheld devices (Default)-->
  <div class="handheld-toolbar">
    <div class="d-table table-layout-fixed w-100"><a class="d-table-cell handheld-toolbar-item" href="account-wishlist.html"><span class="handheld-toolbar-icon"><i class="ci-heart"></i></span><span class="handheld-toolbar-label">Wishlist</span></a><a class="d-table-cell handheld-toolbar-item" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" onclick="window.scrollTo(0, 0)"><span class="handheld-toolbar-icon"><i class="ci-menu"></i></span><span class="handheld-toolbar-label">Menu</span></a><a class="d-table-cell handheld-toolbar-item" href="shop-cart.html"><span class="handheld-toolbar-icon"><i class="ci-cart"></i><span class="badge bg-primary rounded-pill ms-1">4</span></span><span class="handheld-toolbar-label">$265.00</span></a></div>
  </div>
  <!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">   </i></a>
  <!-- Vendor scrits: js libraries and plugins-->
  <script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/simplebar/dist/simplebar.min.js"></script>
  <script src="vendor/tiny-slider/dist/min/tiny-slider.js"></script>
  <script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
  <script src="vendor/drift-zoom/dist/Drift.min.js"></script>
  <script src="vendor/lightgallery.js/dist/js/lightgallery.min.js"></script>
  <script src="vendor/lg-video.js/dist/lg-video.min.js"></script>
  
  <!-- Main theme script-->
  <script src="js/theme.min.js"></script>
  </body>
  </html>