<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>UKIDS | 글수정</title>
    <!-- SEO Meta Tags
    <meta name="description" content="Cartzilla - Bootstrap E-commerce Template">
    <meta name="keywords" content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
    <meta name="author" content="Createx Studio"> -->
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="img/ukids/logo.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="img/ukids/logo.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="img/ukids/logo.jpg">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="vendor/simplebar/dist/simplebar.min.css"/>
    <link rel="stylesheet" media="screen" href="vendor/tiny-slider/dist/tiny-slider.css"/>
    <link rel="stylesheet" media="screen" href="vendor/drift-zoom/dist/drift-basic.min.css"/>
    <link rel="stylesheet" media="screen" href="vendor/lightgallery.js/dist/css/lightgallery.min.css"/>
    
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="/css/theme.min.css">
    <link rel="stylesheet" media="screen" href="/css/header.css">
    <link rel="stylesheet" media="screen" href="/css/footer.css">
    <link rel="stylesheet" media="screen" href="/css/write-comm.css">

    <!--해당 페이지 css-->

    
    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <!-- 폰트 -->
    <style>
    @font-face {
      font-family: 'NanumSquareRound';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }

    *{
      font-family: 'NanumSquareRound';
    }
    </style>

  </head>

  <!-- Body-->
  <body class="handheld-toolbar-enabled">

    <!-- 로그인 모달 관련  -->
    <div th:fragment="modal" th:replace="~{common :: modal}"></div>

    <main class="page-wrapper">

      <!-- 헤더!!!!!! -->
      <header th:fragment="header" th:replace="~{common :: header}"></header>


    <!-- 대문-->
    <section class="position-relative bg-dark bg-size-cover bg-position-center py-5 mb-4" style="background-image: url(/img/ukids/notice/bo1.jpg); height: 300px;"><span class="position-absolute top-0 start-0 w-100 h-100 bg-darker" style="opacity: .65;"></span>
      <div class="container position-relative zindex-5 mb-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-0 pb-4">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-light fw-bold fs-md flex-lg-nowrap justify-content-center justify-content-lg-end">
              <li class="breadcrumb-item"><a class="text-nowrap" href="index.html"><i class="ci-home"></i>유키즈</a></li>
              <li class="breadcrumb-item text-nowrap text-pink" id="tc" aria-current="page">글수정</li>
            </ol>
          </nav>
        </div>
        <div class="row justify-content-center pt-4 pb-4">
          <div class="col-lg-8">
            <h1 class="text-light text-center">글수정</h1>
           
            
          </div>
        </div>
      </div>
    </section>

    <!-- 구분선 이미지-->
    <div class="container-sm mt-4 mb-3">
      <img src="/img/ukids/notice/1.png">
    </div>

    <div class="container-sm mb-4">
      <h1 class="text-center fw-bold">글수정</h1>
    </div>


    <!-- 게시판-->
    <div class="container-sm ps-0 pe-0  rounded ">
      <div class="m-3 pt-3 pb-2 shadow-lg">
        <form action="/community/update" method="post" enctype="multipart/form-data">
        <input type="hidden" name="type" th:value="${type}">
        <input type="hidden" name="boardNo" th:value="${board.boardNo}">
          <table class="table " style="border-color: white;">
            <thead>
              <tr>
                <th class="col2-1 align-middle text-center">구분</th>
                <th class="col-5 text-center">
                  <select class="form-select" id="select-input">
                    <option>자유게시판</option>
                    <option>공지사항</option>
                  </select>
                </th>
              </tr>
              <tr>
                <th class="col2-1 align-middle text-center">작성자</th>
                <th class="col-5 text-center">
                <input class="form-control" type="text" name="id" th:value="${session.loginMember.id}" readonly>
                </th>
              </tr>
              <tr>
                <th class="col2-1 align-middle text-center">제목</th>
                <th class="col-5 text-center">
                <input class="form-control" type="text" name="title" id="text-input" th:value="${board.title}">
                </th>
              </tr>
              <tr>
                <th class=" align-middle text-center">첨부파일</th>
                <th class="col-5 text-center"><input class="form-control" type="file" name="upfile" id="file-input"></th>
                <th:block th:if="${board.originalFileName != null}"><br>
							현재 업로드 파일 :
							<a>
								[[${board.originalFileName}]]
							</a>
						</th:block>
                
              </tr>
              <tr>
                <th class=" align-middle text-center">내용</th>
                <td class="col-5 text-center">
                <textarea  class="form-control hei" id="textarea-input" rows="5" name="content" placeholder="내용을 입력해 주세요.">[[${board.content}]]</textarea>
                </td>
              </tr>
            </thead>
          </table>
          <div class="container-sm text-center mb-4">
            <input class="btn bbtn3 bbtn-primary me-2" type="submit" value="수 정">
            <a class="btn btn-outline-primary moc ms-2 ps-3 pe-3" th:href="|/community/${type}|" role="button">목록으로</a>
          </div>
        </form>
      </div>
    </div>


    <!-- 게시판 끝-->


    <br>
  </main>

  <!-- 푸터!!!!!!!!!!-->
  <footer th:fragment="footer" th:replace="~{common :: footer}"></footer>
	 
    <!-- Toolbar for handheld devices (NFT Marketplace)-->
    <div class="handheld-toolbar">
      <div class="d-table table-layout-fixed w-100"><a class="d-none handheld-toolbar-item" href="#vendor-sidebar" data-bs-toggle="offcanvas"><span class="handheld-toolbar-icon"><i class="ci-sign-in"></i></span><span class="handheld-toolbar-label">Sidebar</span></a><a class="d-table-cell handheld-toolbar-item" href="#signin-modal" data-bs-toggle="modal"><span class="handheld-toolbar-icon"><i class="ci-user"></i></span><span class="handheld-toolbar-label">Account</span></a><a class="d-table-cell handheld-toolbar-item" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" onclick="window.scrollTo(0, 0)"><span class="handheld-toolbar-icon"><i class="ci-menu"></i></span><span class="handheld-toolbar-label">Menu</span></a><a class="d-table-cell handheld-toolbar-item" href="nft-connect-wallet.html"><span class="handheld-toolbar-icon"><i class="ci-wallet"></i></span><span class="handheld-toolbar-label text-nowrap">Connect wallet</span></a>
      </div>
    </div>
    <!-- Back To Top Button-->
    <a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">   </i></a>
    
    <!-- Vendor scrits: js libraries and plugins-->
    <script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="/vendor/tiny-slider/dist/min/tiny-slider.js"></script>
    <script src="/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="/vendor/chartist/dist/chartist.min.js"></script>
    <!-- Main theme script-->
    <script src="js/theme.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>