<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>UKIDS | 자유게시판</title>
    <!-- SEO Meta Tags
    <meta name="description" content="Cartzilla - Bootstrap E-commerce Template">
    <meta name="keywords" content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
    <meta name="author" content="Createx Studio"> -->
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/ukids/logo.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/ukids/logo.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/ukids/logo.jpg">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="/vendor/simplebar/dist/simplebar.min.css"/>
    <link rel="stylesheet" media="screen" href="/vendor/tiny-slider/dist/tiny-slider.css"/>
    <link rel="stylesheet" media="screen" href="/vendor/drift-zoom/dist/drift-basic.min.css"/>
    <link rel="stylesheet" media="screen" href="/vendor/lightgallery.js/dist/css/lightgallery.min.css"/>
    
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="/css/theme.min.css">
    <link rel="stylesheet" media="screen" href="/css/header.css">
    <link rel="stylesheet" media="screen" href="/css/footer.css">
    <link rel="stylesheet" media="screen" href="/css/view.css">

    <!--해당 페이지 css-->

    
    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <!-- 폰트 -->
    <style>
    @font-face {
      font-family: 'NanumSquareRound';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }

    *{
      font-family: 'NanumSquareRound';
    }
    </style>

  </head>

  <!-- Body-->
  <body class="handheld-toolbar-enabled">
  
  	<!-- 로그인 모달 관련  -->
    <div th:fragment="modal" th:replace="~{common :: modal}"></div>
    
    <main class="page-wrapper">
    	<!-- 헤더!!!!!! -->
      <header th:fragment="header" th:replace="~{common :: header}"></header>
      
      <!-- 대문-->
    <section class="position-relative bg-dark bg-size-cover bg-position-center py-5 mb-4" style="background-image: url(/img/ukids/notice/bo1.jpg); height: 300px;"><span class="position-absolute top-0 start-0 w-100 h-100 bg-darker" style="opacity: .65;"></span>
      <div class="container position-relative zindex-5 mb-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-0 pb-4">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-light fw-bold fs-md flex-lg-nowrap justify-content-center justify-content-lg-end">
              <li class="breadcrumb-item"><a class="text-nowrap" th:href="@{/}"><i class="ci-home"></i>유키즈</a></li>
              <li class="breadcrumb-item"><a class="text-nowrap" href="notice.html">자유게시판</a></li>
              <li class="breadcrumb-item text-nowrap text-pink" id="tc" aria-current="page">상세보기</li>
            </ol>
          </nav>
        </div>
        <div class="row justify-content-center pt-4 pb-4">
          <div class="col-lg-8">
            <h1 class="text-light text-center">자유게시판</h1>
          </div>
        </div>
      </div>
    </section>
    
    <!-- 구분선 이미지-->
    <div class="container-sm mt-4 mb-5">
      <img src="/img/ukids/notice/1.png">
    </div>
    
    <!-- 게시판-->
    <div class="container-sm box shadow rounded ">
    	<div class="m-3">
    		<!--  상세보기-->
        	<div class="container-sm">
        		<div class="row">
        			<div class="p-3">
        				<div class="mt-3 mb-3">
                  			<h3>[[${board.title}]]</h3>
                		</div>
                		<span class="mamamoo">조회</span><span class="ms-1 me-1">[[${board.readcount}]]</span>
                		<span class="ms-2">[[${#dates.format(board.createDate ,'yyyy/MM/dd')}]]</span>
        			</div>
        			<hr class="ta">
        		</div>
        		<div style="text-align: right; margin: 20px">
        			
        			<th:block th:if="${board.originalFileName != null}">
						<a th:href="|javascript:fileDownload('${board.originalFileName}','${board.renamedFileName}')|" style="color: black;">
							<img src="/images/file.png" width="20" height="20"/>
							[[${board.originalFileName}]]				
						</a>
						<img alt="" style="width: 300px" th:src="|/board/file/${board.renamedFileName}|">
						<script>
							function fileDownload(oriname, rename) {
								const url = "/board/fileDown";
							
								let oName = encodeURIComponent(oriname);
								let rName = encodeURIComponent(rename);
							
								location.assign(url + "?oriname=" + oName + "&rename=" + rName);
							}
						</script>	
					</th:block>
					<th:block th:if="${board.originalFileName == null}">
						<span> - </span>
					</th:block>
        		</div>
        		<div class="mt-2 box4">
        			<span class="container-sm">[[${board.content}]]</span>
        		</div>
        		<div class="text-end mt-3" th:if="${session.loginMember != null}">
        			<button class="bbtn2 btn-outline-ppink" type="button" id="btnUpdate">수 정</button>
        			<button class="bbtn2 btn-outline-ppink" type="button" id="btnDelete">삭 제</button>
        			<button class="bbtn2 btn-outline-ppink" type="button" ><i class="ci-thumb-up-filled"></i></button>
        		</div>
        		<br>
        		<div class="container-sm mt-3 mb-2">
        			<table>
        				<tr>
        					<th><b class="fs-3 ms-4">댓 글</b></th>
        					<td><img class="box2" src="/img/ukids/view/2.PNG"></td>
        				</tr>
        			</table>
        		</div>
        	</div>
    	</div>
    	<!-- 상세보기 끝-->
    	
    	<!-- 댓글-->
    	<div class="container-sm">
    		<form action="/reply" method="post">
              <table>
                <tr>
                  <th><textarea class="box3 form-control" name="content" id="replyContent" placeholder=" 내용을 입력해주세요." required="required"></textarea></th>
                  <th><button class="bbtn2 btn-outline-ppink ms-2" type="submit">등 록</button></th>
                </tr>
              </table>
          	</form>
            <br>
            <div style="text-align: center">
            	<a class="bbtn2 btn-outline-ppink " href="notice.html">글목록</a>
            </div>
            <br>
    	</div>
    </div>
    <br><br>
    </main>
  
  	<!-- 풋터 -->
	<footer th:fragment="footer" th:replace="~{common :: footer}"></footer>
    <!-- Toolbar for handheld devices (NFT Marketplace)-->
    <div class="handheld-toolbar">
      <div class="d-table table-layout-fixed w-100">
      <a class="d-none handheld-toolbar-item" href="#vendor-sidebar" data-bs-toggle="offcanvas">
      <span class="handheld-toolbar-icon">
      <i class="ci-sign-in"></i>
      </span>
      <span class="handheld-toolbar-label">Sidebar</span>
      </a>
      <a class="d-table-cell handheld-toolbar-item" href="#signin-modal" data-bs-toggle="modal"><span class="handheld-toolbar-icon"><i class="ci-user"></i></span><span class="handheld-toolbar-label">Account</span></a><a class="d-table-cell handheld-toolbar-item" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" onclick="window.scrollTo(0, 0)"><span class="handheld-toolbar-icon"><i class="ci-menu"></i></span><span class="handheld-toolbar-label">Menu</span></a><a class="d-table-cell handheld-toolbar-item" href="nft-connect-wallet.html"><span class="handheld-toolbar-icon"><i class="ci-wallet"></i></span><span class="handheld-toolbar-label text-nowrap">Connect wallet</span></a>
      </div>
    </div>
    <!-- Back To Top Button-->
    <a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">   </i></a>
    
    <!-- Vendor scrits: js libraries and plugins-->
    <script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="/vendor/tiny-slider/dist/min/tiny-slider.js"></script>
    <script src="/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="/vendor/chartist/dist/chartist.min.js"></script>
    <!-- Main theme script-->
    <script src="js/theme.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>

<script>
	$(document).ready(() => {
		$("#btnUpdate").on("click", (e) => {
			location.href = "/community/update?no=[[${board.boardNo}]]&type=[[${type}]]";
		});
		
		$("#btnDelete").on("click", (e) => {
			if(confirm("정말로 게시글을 삭제 하시겠습니까?")) {
				location.replace("/community/delete?boardNo=[[${board.boardNo}]]&type=[[${type}]]");
			}
		});
	});
	
	function deleteReply(replyNo, boardNo){
		var url = "/replyDel?replyNo=";
		var requestURL = url + replyNo +"&boardNo=" + boardNo;
		location.replace(requestURL);
	}
</script>