<!DOCTYPE html> 
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>UKIDS | 아동복지시설</title>
    <!-- SEO Meta Tags
    <meta name="description" content="Cartzilla - Bootstrap E-commerce Template">
    <meta name="keywords" content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
    <meta name="author" content="Createx Studio"> -->
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/ukids/logo.jpg}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/ukids/logo.jpg}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/ukids/logo.jpg}">
    <link rel="manifest" th:href="@{/site.webmanifest}">
    <link rel="mask-icon" color="#fe6a6a" th:href="@{/safari-pinned-tab.svg}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" th:href="@{/vendor/simplebar/dist/simplebar.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/vendor/tiny-slider/dist/tiny-slider.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/vendor/drift-zoom/dist/drift-basic.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/vendor/lightgallery.js/dist/css/lightgallery.min.css}"/>
    
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" th:href="@{/css/theme.min.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/welfare-detail.css}">
    
    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <!-- 폰트 -->
    <style>
    @font-face {
      font-family: 'NanumSquareRound';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }

    *{
      font-family: 'NanumSquareRound';
    }
    </style>

  </head>

  <!-- Body-->
  <body class="handheld-toolbar-enabled">

    <!-- 로그인 모달 관련  -->
    <div th:fragment="modal" th:replace="~{common :: modal}"></div>
    
    <main class="page-wrapper">

      <!-- 헤더!!!!!! -->
      <header th:fragment="header" th:replace="~{common :: header}"></header>

      <!-- 아동복지시설 상세 시작!!!!!!! -->
      <!-- Page Title-->
      <section class="position-relative bg-dark bg-size-cover bg-position-center-x py-5 mb-4" id="mainImg">
        <div class="container position-relative zindex-5 mb-3">
          <div class="order-lg-2 mb-3 mb-lg-0 pt-0 pb-4">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-light fw-bold fs-md flex-lg-nowrap justify-content-center justify-content-lg-end">
                <li class="breadcrumb-item"><a class="text-nowrap" th:href="@{/}"><i class="ci-home"></i>유키즈</a></li>
                <li class="breadcrumb-item text-nowrap"><a th:href="@{/welfare-main}">아동복지시설</a></li>
                <li class="breadcrumb-item text-nowrap active" aria-current="page" style="color: #fc6c93;">아동복지시설 상세보기</li>
              </ol>
            </nav>
          </div>
          <div class="order-lg-1 pe-lg-4 text-center text-lg-start" >
            <h1 class="h1 text-light fw-bold " style="margin-top: 110px; margin-left: 70px;">아동복지시설</h1>
          </div>
        </div>
      </section>



      <!-- Shadow box-->
      <section class="container mb-5 pb-5">
        <div class="bg-light shadow-lg rounded-3 overflow-hidden">
          <div class="row">
            <!-- 상제정보!!!!!!-->

              <div class="pt-4 px-4 pe-lg-0 ps-xl-5">
                <!-- Product gallery-->
                <div class="gallery">
                  <h4 class="weltitle fw-bold"><img class="wfIcon" src="img/ukids/welfareIcon.png">[[${welfare.fcltNm}]]</h4>
                  <div class="welfarebox">
                    <a class="gallery-item rounded-3 mb-grid-gutter" href="img/ukids/seoul-welfare.jpg">
                      <img class="wfImg" src="img/ukids/seoul-welfare.jpg" alt="Gallery preview">
                      <span class="gallery-item-caption">[[${welfare.fcltNm}]]</span>
                    </a>
                  </div>
                  <div class="row">
                    <div class="col-sm-6 mx-1 underdiv">
                      <div style="display: flex;"><h4 class="location fw-bold">찾아오시는 곳</h4><img class="line"src="img/ukids/2.PNG"></div>
                      <div id="map"></div>
                        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0784c083b85732bbc3f69c5259d72e38&libraries=services,clusterer,drawing"></script>
                        <script th:inline="javascript">
                        	/*<![CDATA[*/
                        	var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                              mapOption = {
                                  center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                                  level: 3 // 지도의 확대 레벨
                              };  
                          
                          // 지도를 생성합니다    
                          var map = new kakao.maps.Map(mapContainer, mapOption); 
                          
                          // 주소-좌표 변환 객체를 생성합니다
                          var geocoder = new kakao.maps.services.Geocoder();
                          
                          // 주소로 좌표를 검색합니다
                          var addr = /*[[${welfare.fcltAddr} + ' ' + ${welfare.fcltDtl_1Addr}]]*/;
                          geocoder.addressSearch(addr, function(result, status) {
                          
                              // 정상적으로 검색이 완료됐으면 
                              if (status === kakao.maps.services.Status.OK) {
                          
                                var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
                        
                                // 결과값으로 받은 위치를 마커로 표시합니다
                                var marker = new kakao.maps.Marker({
                                    map: map,
                                    position: coords
                                });
                        
                                var name = /*[[${welfare.fcltNm}]]*/;
                                var content = `<div class="info-title">${name}</div>`;

                                // 커스텀 오버레이가 표시될 위치입니다 
                                var position = new kakao.maps.LatLng(result[0].y, result[0].x);

                                // 커스텀 오버레이를 생성합니다
                                var customOverlay = new kakao.maps.CustomOverlay({
                                    position: position,
                                    content: content   
                                });

                                // 커스텀 오버레이를 지도에 표시합니다
                                customOverlay.setMap(map);
                        
                                // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                                map.setCenter(coords);
                              } 
                          });
                          /*]]>*/
                        </script>
                    </div>

                    <div class="col-sm-6 underdiv" style="width:510px">
                      <div style="display: flex; margin-bottom: 2px;"><h4 class="location fw-bold">상세정보</h4><img class="line2"src="img/ukids/2.PNG"></div>
                      <div class="detailInfo">
                      
                      		<!-- 
                      		성남시 다함께돌봄센터 22호점(더샵판교포레스트11단지 어린이식당)
                      		경기도 평택시 비전2로 317, 주민공동시설동 2층 (죽백동, 평택소사벌 반도유보라 아이비파크 (2단지))
                      		 -->
                      
                      		<dl>
	                          <div>
	                            <dt><i class="ci-store"></i>시설명</dt>
	                            <dd>[[${welfare.fcltNm}]]</dd>
	                          </div>
	                          <div>
	                            <dt><i class="ci-user"></i>대표자</dt>
	                            <dd>[[${welfare.rprsNm}]]</dd>
	                          </div>
	                          <div>
	                            <dt><i class="ci-list"></i>설립일자</dt>
	                            <dd>[[${formattedEstbDe}]]</dd>
	                          </div>
	                          <div>
	                            <dt><i class="ci-home"></i>홈페이지</dt>
	                           	<th:block th:if="${welfare.homepageAddr == '-'}">
						                    <dd><i class="ci-home fs-lg" style="color: #8f8f8f;"></i></dd>
					                    </th:block>
					                    <th:block th:if="${welfare.homepageAddr != '-'}">
						                    <dd><a th:href="|${welfare.homepageAddr}|"><i class="ci-home fs-lg" style="color: #fc6c93;"></i></a></dd>
					                    </th:block>
	                          </div>
	                          <div>
	                            <dt><i class="ci-mail"></i>이메일</dt>
	                            <dd>[[${welfare.fcltMailAddr}]]</dd>
	                          </div>
	                          <div>
	                            <dt><i class="ci-phone"></i>전화번호</dt>
	                            <dd>[[${welfare.fcltTelNo}]]</dd>
	                          </div>
	                          <div>
	                            <dt><i class="ci-location"></i>주소</dt>
	                            <dd>[[${welfare.fcltAddr} + ' ' + ${welfare.fcltDtl_1Addr}]]</dd>
	                          </div>
	                        </dl>

												<!--  
                         <ul class="icons">
                           <li><i class="ci-store" style="color: #fc6c93; margin-right: 10px;"></i></li>
                           <li><i class="ci-user" style="color: #fc6c93; margin-right: 10px;"></i></li>
                           <li><i class="ci-list" style="color: #fc6c93; margin-right: 10px;"></i></li>
                           <li><i class="ci-home" style="color: #fc6c93; margin-right: 10px;"></i></li>
                           <li><i class="ci-mail" style="color: #fc6c93; margin-right: 10px;"></i></li>
                           <li><i class="ci-location" style="color: #fc6c93; margin-right: 10px;"></i></li>
                           <li><i class="ci-phone" style="color: #fc6c93; margin-right: 10px;"></i></li>
                         </ul>

                         <ul class="wel-details">
                           <li>시설명</li>
                           <li>대표자</li>
                           <li>설립일자</li>
                           <li>홈페이지</li>
                           <li>이메일</li>
                           <li>전화번호</li>
                           <li>주소</li>
                         </ul>
                         
                         <ul class="wel-details2">
                           <li>성남시 다함께돌봄센터 22호점(더샵판교포레스트11단지 어린이식당)</li>
                           <li>[[${welfare.rprsNm}]]</li>
                           <li>[[${formattedEstbDe}]]</li>
                           <th:block th:if="${welfare.homepageAddr == '-'}">
					                    <li><i class="ci-home fs-lg" style="color: #8f8f8f;"></i></li>
				                    </th:block>
				                    <th:block th:if="${welfare.homepageAddr != '-'}">
					                    <li><a th:href="|${welfare.homepageAddr}|"><i class="ci-home fs-lg" style="color: #fc6c93;"></i></a></li>
				                    </th:block>
                           <li>[[${welfare.fcltMailAddr}]]</li>
                           <li>[[${welfare.fcltTelNo}]]</li>
                           <li class="haddr">경기도 평택시 비전2로 317, 주민공동시설동 2층 (죽백동, 평택소사벌 반도유보라 아이비파크 (2단지))</li>
                         </ul>
                         -->
                          
                      </div>
                    </div>
                  </div>
                </div>
              </div> 


							<!-- 근처 아동복지시설 -->
              <div class="container" style="width: 95%; margin-bottom: 6%;">
                <div  style="display: flex; margin-bottom: 25px;">
                  <h4 class="location fw-bold">근처 아동복지시설</h4><img class="line3" src="img/ukids/2x2.png">
                </div>
                <div class="tns-carousel tns-controls-static tns-controls-outside">
                  <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 2, &quot;controls&quot;: true, &quot;nav&quot;: false, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;500&quot;:{&quot;items&quot;:2, &quot;gutter&quot;: 18},&quot;768&quot;:{&quot;items&quot;:3, &quot;gutter&quot;: 20}, &quot;1100&quot;:{&quot;items&quot;:4, &quot;gutter&quot;: 30}}}">
                    <!-- Product-->
                    <th:block th:if="${nearWelfareList != null}">
                    	<th:block th:each="nearWelfare : ${nearWelfareList}">
                    		<div>
		                      <div class="card product-card card-static welcard">
		                        <a class="card-img-top d-block overflow-hidden" th:href=@{|/welfare-detail?no=${nearWelfare.cwNo}|}><img class="near" src="img/ukids/wel1.jpg" alt="Product"></a>
		                        <div class="card-body nearwelfare py-2">
		                          <h3 class="product-title fs-lg fw-bold toyname"><a href="welfare-detail.html">[[${nearWelfare.fcltNm}]]</a></h3>
		                          <div class="product-price"><i class="ci-phone ic"></i><span class="timelocation">[[${nearWelfare.fcltTelNo}]]</span></div>
		                          <!--
		                          <div class="product-price"><i class="ci-time ic"></i><span class="timelocation">08:30 ~ 17:30</span></div>
		                          -->
		                          <div class="product-price mb-2"><i class="ci-location ic"></i><span class="timelocation">[[${nearWelfare.fcltAddr} + ' ' + ${nearWelfare.fcltDtl_1Addr}]]</span></div>       
		                        </div>
		                      </div>
		                    </div>
                    	</th:block>
                    </th:block>
                    
                  </div>
                </div>
              </div>

          </div>
        </div>
      </section>
      

    </main>

    <!-- 푸터!!!!!!!!!!-->
    <!-- Footer-->
    <footer class="footer pt-5" id="footercolor" >
      <div class="px-lg-3 pt-2 pb-4" id="footercolor">
        <div class="mx-auto px-3" style="max-width: 80rem;">
          <div class="row">
            <div class="col-xl-2 col-lg-3 col-sm-4 pb-2 mb-4">
              <div class="mt-n1"><a class="d-inline-block align-middle" href="index.html"><img class="d-block mb-4" src="img/ukids/logo.jpg" width="117" alt="Cartzilla"></a></div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-4">
              <div class="widget widget-links widget-light pb-2 mb-4">
                <h3 class="widget-title text-dark" id="cate2">카테고리</h3>
                <ul class="widget-list">
                  <li class="widget-list-item"><a class="widget-list-link" id="cate" href="kinder-main.html">어린이집/유치원</a></li>
                  <li class="widget-list-item"><a class="widget-list-link" id="cate" href="welfare-main.html">아동관련시설</a></li>
                  <li class="widget-list-item"><a class="widget-list-link" id="cate" href="toy-main.html">장난감대여</a></li>
                  <li class="widget-list-item"><a class="widget-list-link" id="cate" href="book.html">추천도서</a></li>
                  <li class="widget-list-item"><a class="widget-list-link" id="cate" href="news.html">주요뉴스</a></li>
                  <li class="widget-list-item"><a class="widget-list-link" id="cate" href="community.html">커뮤니티</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-4">
              <div class="widget widget-links widget-light pb-2 mb-4">
                <h3 class="widget-title text-dark" id="cate2">유키즈</h3>
                <ul class="widget-list">
                  <li class="widget-list-item"><a class="widget-list-link" id="cate" href="#">02-123-4567</a></li>
                  <li class="widget-list-item"><a class="widget-list-link" id="cate" href="#">ukids05@multi.com</a></li>
                </ul>
              </div>
              <div class="widget widget-light pb-2 mb-4">
                <h3 class="widget-title text-dark" id="cate2">팔로우</h3><a class="btn-social bs-dark bs-twitter me-2 mb-2" href="#"><i class="ci-twitter"></i></a><a class="btn-social bs-dark bs-facebook me-2 mb-2" href="#"><i class="ci-facebook"></i></a><a class="btn-social bs-dark bs-instagram me-2 mb-2" href="#"><i class="ci-instagram"></i></a><a class="btn-social bs-dark bs-youtube me-2 mb-2" href="#"><i class="ci-youtube"></i></a>
              </div>
            </div>
            <div class="col-xl-4 col-sm-8">
              <div class="widget pb-2 mb-4">
                <h3 class="widget-title text-dark pb-1" id="cate2">구독하기</h3>
                <form class="subscription-form validate" action="https://studio.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;amp;id=29ca296126" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                  <div class="input-group flex-nowrap"><i class="ci-mail position-absolute top-50 translate-middle-y text-muted fs-base ms-3"></i>
                    <input class="form-control rounded-start" type="email" name="EMAIL" placeholder="이메일을 입력해주세요." required>
                    <button class="btn btn-primary" type="submit" name="subscribe" id="sub">구 &nbsp&nbsp독</button>
                  </div>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input class="subscription-form-antispam" type="text" name="b_c7103e2c981361a6639545bd5_29ca296126" tabindex="-1">
                  </div>
                  <div class="form-text text-dark opacity-50" >유키즈의 소식을 구독해보세요.</div>
                  <div class="subscription-status"></div>
                </form>
              </div>
              <div class="widget pb-2 mb-4">
                <h3 class="widget-title text-dark pb-1" id="cate2">다운로드</h3>
                <div class="d-flex flex-wrap">
                  <div class="me-2 mb-2"><a class="btn-market btn-apple" href="#" role="button"><span class="btn-market-subtitle">Download on the</span><span class="btn-market-title">App Store</span></a></div>
                  <div class="mb-2"><a class="btn-market btn-google" href="#" role="button"><span class="btn-market-subtitle">Download on the</span><span class="btn-market-title">Google Play</span></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="px-lg-3 py-3" id="footerunder">
        <div class="d-sm-flex justify-content-between align-items-center mx-auto px-3" style="max-width: 80rem;">
          <div class="fs-xs text-light opacity-50 text-center text-sm-start py-3">© All rights reserved. Made by <a class="text-light" href="index.html" target="_blank" rel="noopener">ukids</a></div>
          <div class="py-3"><img class="d-block mx-auto mx-sm-start" src="img/cards-alt.png" width="187" alt="Payment methods"></div>
        </div>
      </div>
    </footer>
    
    
    <!-- Toolbar for handheld devices (Default)-->
    <div class="handheld-toolbar">
      <div class="d-table table-layout-fixed w-100"><a class="d-table-cell handheld-toolbar-item" href="account-wishlist.html"><span class="handheld-toolbar-icon"><i class="ci-heart"></i></span><span class="handheld-toolbar-label">Wishlist</span></a><a class="d-table-cell handheld-toolbar-item" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" onclick="window.scrollTo(0, 0)"><span class="handheld-toolbar-icon"><i class="ci-menu"></i></span><span class="handheld-toolbar-label">Menu</span></a><a class="d-table-cell handheld-toolbar-item" href="shop-cart.html"><span class="handheld-toolbar-icon"><i class="ci-cart"></i><span class="badge bg-primary rounded-pill ms-1">4</span></span><span class="handheld-toolbar-label">$265.00</span></a></div>
    </div>
    <!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">   </i></a>
    <!-- Vendor scrits: js libraries and plugins-->
    <script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="vendor/tiny-slider/dist/min/tiny-slider.js"></script>
    <script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="vendor/drift-zoom/dist/Drift.min.js"></script>
    <script src="vendor/lightgallery.js/dist/js/lightgallery.min.js"></script>
    <script src="vendor/lg-video.js/dist/lg-video.min.js"></script>
    
    <!-- Main theme script-->
    <script src="js/theme.min.js"></script>
    </body>
    </html>