<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.multi.ukids.welfare.model.mapper.WelfareMapper">

	<select id="selectMainWelfareList" resultType="Welfare" parameterType="map">
		SELECT
			cwNo, fcltCd, fcltNm, fcltEngNm, rprsNm, homepageAddr,
			fcltMailAddr, fcltZipcd, fcltAddr, fcltDtl_1Addr,
			fcltTelNo, faxNo, estbDe, cprNm, cfbNm
		FROM WELFARE
		WHERE 1 = 1
		<if test="city != null">
			AND fcltAddr LIKE '%${city}%'
		</if>
		<if test="town != null">
			AND fcltAddr LIKE '%${town}%'
		</if>
		ORDER BY cwNo DESC LIMIT 5
	</select>

	<select id="selectWelfareList" resultType="Welfare" parameterType="map">
		SELECT
			cwNo, fcltCd, fcltNm, fcltEngNm, rprsNm, homepageAddr,
			fcltMailAddr, fcltZipcd, fcltAddr, fcltDtl_1Addr,
			fcltTelNo, faxNo, estbDe, cprNm, cfbNm
		FROM WELFARE
		WHERE 1 = 1
		<if test="searchValue != null">
			AND fcltNm LIKE '%${searchValue}%'
		</if>
		<if test="city != null">
			AND fcltAddr LIKE '%${city}%'
		</if>
		<if test="town != null">
			AND fcltAddr LIKE '%${town}%'
		</if>
		ORDER BY cwNo DESC LIMIT ${limit} OFFSET ${offset}
	</select>
	
	<select id="selectWelfareCount" resultType="int" parameterType="map">
		SELECT COUNT(cwNo) FROM WELFARE
		WHERE 1 = 1
		<if test="searchValue != null">
			AND fcltNm LIKE '%${searchValue}%'
		</if>
		<if test="city != null">
			AND fcltAddr LIKE '%${city}%'
		</if>
		<if test="town != null">
			AND fcltAddr LIKE '%${town}%'
		</if>
	</select>
	
	<select id="selectWelfareByNo" resultType="Welfare" parameterType="int">
		SELECT
			cwNo, fcltCd, fcltNm, fcltEngNm, rprsNm, homepageAddr,
			fcltMailAddr, fcltZipcd, fcltAddr, fcltDtl_1Addr,
			fcltTelNo, faxNo, estbDe, cprNm, cfbNm
		FROM WELFARE
		WHERE cwNo = #{cwNo}
	</select>
	
	<select id="selectNearWelfareList" resultType="Welfare" parameterType="Welfare">
		SELECT
			cwNo, fcltCd, fcltNm, fcltEngNm, rprsNm, homepageAddr,
			fcltMailAddr, fcltZipcd, fcltAddr, fcltDtl_1Addr,
			fcltTelNo, faxNo, estbDe, cprNm, cfbNm
		FROM WELFARE
		WHERE LEFT(fcltZipcd, 3) = LEFT(#{fcltZipcd}, 3) AND cwNo != #{cwNo}
		ORDER BY cwNo DESC LIMIT 9
	</select>

</mapper>