<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.multi.ukids.mypage.model.mapper.MypageMapper">


	<!-- ===============================mypage2=============================== -->
 	<select id="selectKAdmissionList" resultType="KAdmission" parameterType="map">
		SELECT
			K.kinNo, K.kindername, A.no, A.hopeDate, A.enrollDate, A.status, A.memberNo 
		FROM KINDER K
		LEFT OUTER JOIN K_ADMISSION A ON (K.kinNo = A.kinNo)
		LEFT OUTER JOIN MEMBER M ON (A.memberNo = M.memberNo)
		where A.memberNo = #{memberNo}
		ORDER BY kinNo DESC LIMIT ${limit} OFFSET ${offset}	
	</select>
	
	<select id="selectKAdmissionCount" resultType="int" parameterType="map">
		SELECT
			COUNT(*)
		FROM KINDER K
		LEFT OUTER JOIN K_ADMISSION A ON (K.kinNo = A.kinNo)
		LEFT OUTER JOIN MEMBER M ON (A.memberNo = M.memberNo)
		WHERE 1=1
		AND A.memberNo = #{memberNo}
	</select> 
	
	<delete id="deleteKAdmission" parameterType="KAdmission">
		DELETE FROM K_ADMISSION WHERE no = #{no}
	</delete>
	
	<select id="selectNAdmissionList" resultType="NAdmission" parameterType="map">
		SELECT
			A.nuNo, N.crname, A.no, A.hopeDate, A.enrollDate, A.status, A.memberNo 
		FROM NURSERY N 
		LEFT OUTER JOIN N_ADMISSION A ON (N.no = A.nuNo)
		LEFT OUTER JOIN MEMBER M ON (A.memberNo = M.memberNo)
		where A.memberNo = #{memberNo}
		ORDER BY A.nuNo DESC LIMIT ${limit} OFFSET ${offset}	
	</select>
	
	<select id="selectNAdmissionCount" resultType="int" parameterType="map">
		SELECT
			COUNT(*)
		FROM NURSERY N
		LEFT OUTER JOIN N_ADMISSION A ON (N.no = A.nuNo)
		LEFT OUTER JOIN MEMBER M ON (A.memberNo = M.memberNo)
		WHERE 1=1
		AND A.memberNo = #{memberNo}
	</select> 
	
	<delete id="deleteNAdmission" parameterType="NAdmission">
		DELETE FROM N_ADMISSION WHERE no = #{no}
	</delete>

	<!-- ===============================mypage3=============================== -->
	
	<select id="selectKinderWishList" resultType="Wish" parameterType="map">
		SELECT
			K.kinNo AS 'knNo', K.kindername AS 'knName', W.no, W.memberNo, K.addr AS 'knAddr'    
		FROM KINDER K
		LEFT OUTER JOIN K_WISH W ON (K.kinNo = W.kinNo)
		LEFT OUTER JOIN MEMBER M ON (W.memberNo = M.memberNo)
		where W.memberNo = #{memberNo}
		ORDER BY kinNo DESC LIMIT ${limit} OFFSET ${offset}	
	</select> 
	
	<select id="selectKinderWishCount" resultType="int" parameterType="map">
		SELECT
			COUNT(W.no)
		FROM KINDER K
		LEFT OUTER JOIN K_WISH W ON (K.kinNo = W.kinNo)
		LEFT OUTER JOIN MEMBER M ON (W.memberNo = M.memberNo)
		WHERE 1=1
		AND W.memberNo = #{memberNo}
	</select> 
	
	<delete id="deleteKinderWish" parameterType="Wish">
		DELETE FROM K_WISH WHERE no = #{no}
	</delete>
	
	<select id="selectNurseryWishList" resultType="Wish" parameterType="map">
		SELECT
			W.nuNo AS 'knNo', N.crname AS 'knName', W.no,W.memberNo, N.craddr AS 'knAddr'   
		FROM NURSERY N
		LEFT OUTER JOIN N_WISH W ON (N.no = W.nuNo)
		LEFT OUTER JOIN MEMBER M ON (W.memberNo = M.memberNo)
		where W.memberNo = #{memberNo}
		ORDER BY W.nuNo DESC LIMIT ${limit} OFFSET ${offset}	
	</select> 
	
	<select id="selectNurseryWishCount" resultType="int" parameterType="map">
		SELECT
			COUNT(W.no)
		FROM NURSERY N
		LEFT OUTER JOIN N_WISH W ON (N.no = W.nuNo)
		LEFT OUTER JOIN MEMBER M ON (W.memberNo = M.memberNo)
		WHERE 1=1
		AND W.memberNo = #{memberNo}
	</select> 
	
	<delete id="deleteNurseryWish" parameterType="Wish">
		DELETE FROM N_WISH WHERE no = #{no}
	</delete> 
	
	<resultMap type="Cart" id="CartResultMap">
		<id 	property="no"			column="NO"/>
		<result property="toyNo" 		column="TOYNO"/>
		<result property="memberNo" 	column="MEMBERNO"/>
		<result property="startDate" 	column="STARTDATE"/>
		<result property="endDate" 		column="ENDDATE"/>
						
	</resultMap>
	
	
	<!-- ===============================mypage7=============================== -->
	<select id="selectCartList" resultType="Cart" parameterType="map">
		SELECT
			C.NO, T.TOYNM1, T.TOYIMG, T.TOYPAY, C.TOYNO, C.MEMBERNO, C.STARTDATE, C.ENDDATE
		FROM TOY T
		LEFT OUTER JOIN CART C ON (T.TOYNO = C.TOYNO)
		LEFT OUTER JOIN MEMBER M ON (C.MEMBERNO = M.MEMBERNO)
		WHERE C.MEMBERNO = #{memberNo}
		ORDER BY C.TOYNO DESC LIMIT ${limit} OFFSET ${offset}	
	</select>
	<select id="selectCartCount" parameterType="map" resultType="int">
		SELECT
			COUNT(C.NO)
		FROM CART C
		LEFT OUTER JOIN TOY T ON (C.TOYNO = T.TOYNO)
		LEFT OUTER JOIN MEMBER M ON (C.MEMBERNO = M.MEMBERNO)
		WHERE 1=1
		AND C.MEMBERNO = #{memberNo}
	</select>
	
	<select id="selectCartByNo" parameterType="int" resultType="Cart">
		SELECT
			C.NO, C.TOYNO, C.MEMBERNO, C.STARTDATE, C.ENDDATE, 
			T.TOYNM1, T.TOYIMG, T.TOYPAY 
		FROM CART C
		LEFT OUTER JOIN TOY T ON (C.TOYNO = T.TOYNO)
		LEFT OUTER JOIN MEMBER M ON (C.MEMBERNO = M.MEMBERNO)
		WHERE C.NO = #{no}
	</select>
	
	<insert id="insertCart" parameterType="Cart">
		INSERT INTO CART(
			NO, TOYNO, MEMBERNO, STARTDATE, ENDDATE
		) VALUES (
			0, #{no}, #{toyNo}, #{memberNo}, #{startDate}, #{endDate} 
		)
	</insert>
	
	<update id="updateCart" parameterType="Cart">
		UPDATE CART
		SET
			STARTDATE=#{startDate},
			ENDDATE=#{endDate}
		WHERE
			NO = #{no}
	</update>
	
	<delete id="deleteCart" parameterType="Cart">
		DELETE FROM CART WHERE NO = #{no}
	</delete>
	
	
	
</mapper>